body,#kt_footer{background:#575756!important;}
.header-fixed.subheader-fixed .subheader,.header{background:#575756!important;border-top:none!important;}
h1, h1 .text-dark,.breadcrumb-item a,.breadcrumb-item,._xfoCo,a:hover{color:#fff!important;}
.table td {border-top:none!important;}
.text-dark-75,.text-dark-50,.table,h3.card-title span.text-dark,a,.form-group label,.card-title,.form-control,.nav-text{color: #e6e3db !important;}
.card,.dropzone{background:#706f6f!important;color:#fff!important;}
.form-control{background-color:#706f6f!important;}
.btn.btn-light-danger{color:#F64E60!important;}
.btn.btn-light-danger:hover{color:#fff!important;}
