{% if currencies|length > 1 %}
  <div class="widget-header">
    <div class="dropdown" style="display: inline-block;">
      <a href="javascript:;" title="{{ text_currency }}" class="nav-link dropdown-toggle" data-toggle="dropdown">
          {% for currency in currencies %}
            {% if currency.symbol_left and currency.code == code %} <strong>{{ currency.title }}</strong>
            {% elseif currency.symbol_right and currency.code == code %} <strong>{{ currency.title }}</strong> {% endif %}
          {% endfor %}
      </a>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency" style="min-width:0;">
        <ul class="dropdown-menu small dropdown-menu-right">
          {% for currency in currencies %}
            {% if currency.symbol_left %}
              <li>
                <a class="currency-select dropdown-item"type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</a>
              </li>
            {% else %}
              <li>
                <a class="currency-select dropdown-item"type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
      </form>
    </div>
  </div>
{% endif %}
