<footer class="section-footer bg-white border-top">
    <div class="container">
        <section class="footer-top padding-y">
            <div class="row">
                <aside class="col-md-4">
                    <article class="mr-3 ml-3">
                        <img src="image/{{ logo }}" class="logo-footer">
                        <p class="mt-3">{{ description }}</p>
                        <div>
                            {% if socialmedia_facebook %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_facebook }}"><i class="fab fa-facebook-f"></i></a>{% endif %}
                            {% if socialmedia_twitter %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
                            {% if socialmedia_instagram %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_instagram }}"><i class="fab fa-instagram"></i></a>{% endif %}
                            {% if socialmedia_telegram %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_telegram }}"><i class="fab fa-telegram"></i></a>{% endif %}
                            {% if socialmedia_snapchat %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_snapchat }}"><i class="fab fa-snapchat"></i></a>{% endif %}
                            {% if socialmedia_whatsapp %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_whatsapp }}"><i class="fab fa-whatsapp"></i></a>{% endif %}
                            {% if socialmedia_youtube %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_youtube }}"><i class="fab fa-youtube"></i></a>{% endif %}
                            {% if socialmedia_pinterest %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_pinterest }}"><i class="fab fa-pinterest"></i></a>{% endif %}
                            {% if socialmedia_vimeo %}<a class="btn btn-icon btn-outline-primary" target="_blank" href="{{ socialmedia_vimeo }}"><i class="fab fa-vimeo"></i></a>{% endif %}
                        </div>
                        <div class="mt-3 d-flex">
                        {% if config_show_commercial_register and config_commercial_register != '' %}
                                <h6 class="pr-1 pl-1">{{ text_commercial_register }} : {{ config_commercial_register }}</h6>
                        {% endif %}
                        {% if config_show_tax_number and config_tax_number != '' %}
                                <h6 class="pr-1 pl-1"> | &nbsp;{{ text_tax_number }} : {{ config_tax_number }}</h6>
                        {% endif %}
                        </div>
                    </article>
                </aside>
                {% if informations %}
                <aside class="col-sm-3 col-md-2 text-center">
                    <h6 class="title">{{ text_information }}</h6>
                    <ul class="list-unstyled">
                        {% for information in informations %}
                            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>
                {% endif %}
                <aside class="col-sm-3 col-md-2 text-center">
                    <h6 class="title">{{ text_service }}</h6>
                    <ul class="list-unstyled">
                        <li> <a href="{{ contact }}">{{ text_contact }}</a></li>
                        <li> <a href="{{ return }}">{{ text_return }}</a></li>
                        <li> <a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3 col-md-2 text-center">
                    <h6 class="title">{{ text_extra }}</h6>
                    <ul class="list-unstyled">
                        <li> <a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                        <li> <a href="{{ voucher }}">{{ text_voucher }}</a></li>
                        <li> <a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                        <li> <a href="{{ special }}">{{ text_special }}</a></li>
                        {% if check_packages %}
                            <li> <a href="{{ packages_link }}">{{ packages_title }}</a></li>
                        {% endif %}
                    </ul>
                </aside>
                <aside class="col-sm-2 col-md-2 text-center">
                    {% if socialmedia_maroof %}<a href="{{ socialmedia_maroof }}" target="_blank"><img class="mb-3" src="https://cdn-lna.b-cdn.net/img/maarouf.png" width="80%"/></a>{% endif %}
                    <a href="#" class="d-block mb-2"><img src="https://cdn-lna.b-cdn.net/img/appstore.png" height="40"></a>
                    <a href="#" class="d-block mb-2"><img src="https://cdn-lna.b-cdn.net/img/appstore.png" height="40"></a>
                    <div class="text-center d-block _imPay pb-2">
                        <img src="https://cdn-lna.b-cdn.net/img/applepay.png"/>
                        <img src="https://cdn-lna.b-cdn.net/img/mada.png"/>
                        <img src="https://cdn-lna.b-cdn.net/img/MasterCard.png"/>
                        <img src="https://cdn-lna.b-cdn.net/img/paypal.png"/>
                        <img src="https://cdn-lna.b-cdn.net/img/Stc.png"/>
                        <img src="https://cdn-lna.b-cdn.net/img/Visa.png"/>
                    </div>
                </aside>
            </div><div class="text-center pt-3 border-top">{{ powered }}</div>
        </section>
    </div>
</footer>
<script src="https://files.lnasa.space/view/theme/theme-1/javascript/_xC.js" type="application/javascript"></script>
{% for script in scripts %}<script src="{{ script }}" type="text/javascript"></script>{% endfor %}</body></html>