{% if languages|length > 1 %}
  <div class="widget-header">
    <div class="dropdown" style="display: inline-block;">
      <a class="icon icon-sm" href="{{ account }}" title="{{ text_account }}" class="nav-link dropdown-toggle" data-toggle="dropdown">
        <div class="icon-area">
          {% for language in languages %}
            {% if language.code == code %}
              <img src="http://files.lnasa.space/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" width="25px">
            {% endif %}
          {% endfor %}
        </div>
      </a>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language" style="min-width:0;">
      <ul class="dropdown-menu small dropdown-menu-right">
        {% for language in languages %}
          <li>
            <a class="dropdown-item language-select" type="button" name="{{ language.code }}"><img src="http://files.lnasa.space/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</a>
          </li>
        {% endfor %}
      </ul>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
      </form>
    </div>
  </div>
{% endif %}
