{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ol>
    </div>
</section>
<style>
    .pricing-table .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }

    .pricing-table .block-heading h2 {
        color: var(--psF);
    }

    .pricing-table .block-heading p {
        text-align: center;
        max-width: 420px;
        margin: auto;
        opacity: 0.7;
    }

    .pricing-table .heading {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .pricing-table .item {
        background-color: #ffffff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        border-top: 2px solid #5ea4f3;
        padding: 30px;
        overflow: hidden;
        position: relative;
    }

    .pricing-table .col-md-5:not(:last-child) .item {
        margin-bottom: 30px;
    }

    .pricing-table .item button {
        font-weight: 600;
    }

    .pricing-table .ribbon {
        width: 160px;
        height: 32px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
        background: #4dbe3b;
        transform: rotate(45deg);
        position: absolute;
        right: -42px;
        top: 20px;
        padding-top: 7px;
    }

    .pricing-table .item p {
        text-align: center;
        margin-top: 20px;
        opacity: 0.7;
    }

    .pricing-table .features {
        font-weight: 400;
        text-align: center;
        margin: 5px;
    }


    .pricing-table .price h4 {
        margin: 15px 0;
        font-size: 45px;
        text-align: center;
        color: #2288f9;
    }

    .pricing-table .buy-now button {
        text-align: center;
        margin: auto;
        font-weight: 600;
        padding: 9px 0;
    }
</style>
<section class="pricing-table">
    <div class="container">
        <div class="block-heading">
            <h2>{{ packages_title }}</h2>
            <p>{{ packages_description }}</p>
        </div>
        <div class="row justify-content-md-center m-3">
            {% for package in packages %}
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    {% set button = 'outline-primary' %}
                    {% if package.recommended %}
                        <div class="ribbon">{{ text_recommended }}</div>
                        {% set button = 'primary' %}
                    {% endif %}
                    <div class="heading">
                        <h3>{{ package.title }}</h3>
                    </div>
                    <div class="features">
                        {{ package.description }}
                    </div>
                    <div class="price">
                        <h4>{{ package.price }}</h4>
                    </div>
                    <a href="{{ package.link }}" class="btn btn-block btn-{{ button }}">{{ text_buy_now }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{{ footer }}