{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ol>
    </div>
</section>
<section class="section-content padding-y">
    <div class="card mx-auto border" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4 text-center">
                <h4 class="card-title">{{ package.title }}</h4>
                <h6>{{ package.description }}</h6>
            </header>
            <div id="msg"></div>
            {% if package.inputs_data %}
            <form id="_p">
                <input type="hidden" name="_token" value="{{ _token }}">
                {% for input_name in package.inputs_data %}
                <div class="form-group">
                    <label>{{ input_name }}</label>
                    <input type="text" name="inputs[{{ input_name|replace({' ':'_'}) }}]" required class="form-control" placeholder="{{ input_name }}">
                </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> {{ text_buy_now }} </button>
                </div>
            </form>
                <script>
                    $('#_p').submit(function(e){
                        e.preventDefault();
                        $.post('index.php?route=common/packages/addInvoice&id={{ package.id }}',$(this).serialize(),function(data){
                           $('#msg').html(data);
                        });
                    });
                </script>
                {% else %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="_buy"> {{ text_buy_now }} </button>
                    <script>
                        $('#_buy').click(function(){
                            $.post('index.php?route=common/packages/addInvoice&id={{ package.id }}',{'_token':'{{ _token }}'},function(data){
                                $('#msg').html(data);
                            });
                        });
                    </script>
                </div>
            {% endif %}
        </article>
    </div>
    <br><br>
</section>
{{ footer }}