{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
    <div id="common-success" class="container">
      <div class="row justify-content-md-center m-3">
        <div id="content" class="text-center">{{ content_top }}
          <h1><i class="fa fa-check-circle fa-2x text-success"></i></h1>
          {{ text_message }}
          <div class="buttons">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
          {{ content_bottom }}</div>
        </div>
    </div>
</section>
{{ footer }}