{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
    <div id="product-product" class="container">
      <div class="row">
        {% set class = 'col-sm-12' %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="card mb-5">
	            <div class="row no-gutters">
	            {% if column_left or column_right %}
                {% set class = 'col-sm-6' %}
                {% else %}
                {% set class = 'col-sm-8' %}
                {% endif %}
        		<aside class="{{ class }}">
                    <article class="gallery-wrap thumbnails">
                      {% if thumb or images %}
                        {% if thumb %}
                    	<div class="img-big-wrap">
                            <a href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
                        {% endif %}
                        {% if images %}
                    	<div class="thumbs-wrap mt-4">
                        {% for image in images %}
                            <a class="item-thumb" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
                        {% endfor %}
                        </div>
                        {% endif %}
                      {% endif %}
                    </article>
                    <article class="product-tabs">
                        <ul class="nav nav-tabs nav-tabs-line nav-bolder nav-tabs-line-2x mb-5">
                            <li class="nav-item"><a href="#tab-description" data-toggle="tab" class="nav-link active">{{ tab_description }}</a></li>
                            {% if attribute_groups %}
                            <li class="nav-item"><a href="#tab-specification" data-toggle="tab" class="nav-link">{{ tab_attribute }}</a></li>
                            {% endif %}
                            {% if review_status %}
                            <li class="nav-item"><a href="#tab-review" data-toggle="tab" class="nav-link">{{ tab_review }}</a></li>
                            {% endif %}
                         </ul>
                        <div class="tab-content m-3">
                            <div class="tab-pane active" id="tab-description">{{ description }}</div>
                            {% if attribute_groups %}
                            <div class="tab-pane" id="tab-specification">
                              <table class="table table-bordered">
                                {% for attribute_group in attribute_groups %}
                                <thead>
                                  <tr>
                                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for attribute in attribute_group.attribute %}
                                <tr>
                                  <td>{{ attribute.name }}</td>
                                  <td>{{ attribute.text }}</td>
                                </tr>
                                {% endfor %}
                                  </tbody>
                                {% endfor %}
                              </table>
                            </div>
                            {% endif %}
                            {% if review_status %}
                            <div class="tab-pane" id="tab-review">
                              <form class="form-horizontal" id="form-review">
                                <div id="review"></div>
                                <h2>{{ text_write }}</h2>
                                {% if review_guest %}
                                <div class="form-group required">
                                  <div class="col-sm-12">
                                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <div class="col-sm-12">
                                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                    <div class="help-block">{{ text_note }}</div>
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <div class="col-sm-12">
                                    <label class="control-label">{{ entry_rating }}</label>
                                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                                    <input type="radio" name="rating" value="1" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="2" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="3" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="4" />
                                    &nbsp;
                                    <input type="radio" name="rating" value="5" />
                                    &nbsp;{{ entry_good }}</div>
                                </div>
                                {{ captcha }}
                                <div class="buttons clearfix">
                                  <div class="pull-right">
                                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                                  </div>
                                </div>
                                {% else %}
                                {{ text_login }}
                                {% endif %}
                              </form>
                            </div>
                            {% endif %} </div>
                    </article>
        		</aside>
                {% if column_left or column_right %}
                {% set class = 'col-sm-6' %}
                {% else %}
                {% set class = 'col-sm-4' %}
                {% endif %}
        		<main class="{{ class }} border-left">
                    <article class="content-body product-info-aside">
        		        <div class="btn-group float-right">
                            <button type="button" data-toggle="tooltip" class="btn btn-primary" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
                            <button type="button" data-toggle="tooltip" class="btn btn-info" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
                        </div>
                        <h2 class="title mt-3">{{ heading_title }}</h2>
                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                {% if rating %}
        						<li style="width:{{ ((rating/5)*100)|round }}%" class="stars-active"> 
            	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/stars-active.svg" alt="{{ rating }}" />
        						</li>
            				    {% endif %}
        						<li>
            	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/starts-disable.svg" />
        						</li>
                            </ul>
                            <small class="label-rating text-muted">{{ reviews }}</small>
                            <small class="label-rating text-link"> <i class="fa fa-book"></i> <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a> </small>
                        </div>
                        <div class="mb-3">
                        {% if price %}
                            {% if not special %}
                                <var class="price h4">{{ price }}</var>
                            {% else %}
                                <var class="price h4">{{ special }}</var> <del class="price-old">{{ price }}</del>
                            {% endif %}
                            {% if tax %}
                                <span class="text-muted">{{ text_tax }} {{ tax }}</span>
                            {% endif %}
                        {% endif %}
                        {% if points %}
                            <p class="text-muted mt-1">{{ text_points }} 400</p>
                        {% endif %}
                        </div>
                        
                        {% if discounts %}
                        <hr>
        				<ul class="list-bullet">
                            {% for discount in discounts %}
        					<li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        <hr>    
                        <dl class="row mt-3">
    
                          <dt class="col-sm-4">{{ text_manufacturer }}</dt>
                          <dd class="col-sm-8"><a href="{{ manufacturers }}">{{ manufacturer }}</a></dd>
    
                          <dt class="col-sm-4">{{ text_model }}</dt>
                          <dd class="col-sm-8">{{ model }}</dd>
    
                          {% if reward %}
                          <dt class="col-sm-4">{{ text_reward }}</dt>
                          <dd class="col-sm-8">{{ reward }}</dd>                      
                          {% endif %}
    
                          <dt class="col-sm-4">{{ text_stock }}</dt>
                          <dd class="col-sm-8">{{ stock }}</dd>
                        
                        </dl>
        
                    	<div class="form-row  mt-4">
                          <div id="product"> {% if options %}
                            <h3>{{ text_option }}</h3>
                            {% for option in options %}
                            {% if option.type == 'select' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                                <option value="">{{ text_select }}</option>
                                {% for option_value in option.product_option_value %}
                                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                {% if option_value.price %}
                                ({{ option_value.price_prefix }}{{ option_value.price }})
                                {% endif %} </option>
                                {% endfor %}
                              </select>
                            </div>
                            {% endif %}
                            {% if option.type == 'radio' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label">{{ option.name }}</label>
                              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                    {{ option_value.name }}
                                    {% if option_value.price %}
                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                    {% endif %} </label>
                                </div>
                                {% endfor %} </div>
                            </div>
                            {% endif %}
                            {% if option.type == 'checkbox' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label">{{ option.name }}</label>
                              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                    {{ option_value.name }}
                                    {% if option_value.price %}
                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                    {% endif %} </label>
                                </div>
                                {% endfor %} </div>
                            </div>
                            {% endif %}
                            {% if option.type == 'text' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
                            </div>
                            {% endif %}
                            {% if option.type == 'textarea' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                            </div>
                            {% endif %}
                            {% if option.type == 'file' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label">{{ option.name }}</label>
                              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-info btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                            </div>
                            {% endif %}
                            {% if option.type == 'date' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                              <div class="input-group date">
                                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                </span></div>
                            </div>
                            {% endif %}
                            {% if option.type == 'datetime' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                              <div class="input-group datetime">
                                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                </span></div>
                            </div>
                            {% endif %}
                            {% if option.type == 'time' %}
                            <div class="form-group{% if option.required %} required {% endif %}">
                              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                              <div class="input-group time">
                                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                </span></div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if recurrings %}
                            <hr>
                            <h3>{{ text_payment_recurring }}</h3>
                            <div class="form-group required">
                              <select name="recurring_id" class="form-control">
                                <option value="">{{ text_select }}</option>
                                {% for recurring in recurrings %}
                                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                                {% endfor %}
                              </select>
                              <div class="help-block" id="recurring-description"></div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                              <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                              <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
                              <input type="hidden" name="product_id" value="{{ product_id }}" />
                              <br />
                              <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
                            </div>
                            {% if minimum > 1 %}
                            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                            {% endif %}</div>
            
                    	</div> <!-- row.// -->
                        <hr>
                    	<div class="label-rating addthis_inline_share_toolbox"></div>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57e82e357a6ab7bc"></script>
        
                    </article> <!-- product-info-aside .// -->
        		</main> <!-- col.// -->
        		</div>
        	</div> <!-- row.// -->
            {% if products %}
            <h3>{{ text_related }}</h3>
            <div class="row"> {% set i = 0 %}
            {% for product in products %}
            {% if column_left and column_right %}
            {% set class = 'col-xs-8 col-sm-6' %}
            {% elseif column_left or column_right %}
            {% set class = 'col-xs-6 col-md-4' %}
            {% else %}
            {% set class = 'col-xs-6 col-sm-3' %}
            {% endif %}
            <div class="{{ class }}">
            	<div class="product-thumb transition">
            		<div class="card card-product-grid">
            		    <a href="{{ product.href }}" class="img-wrap"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
            			<figcaption class="info-wrap">
            				<div>
            					<a href="{{ product.href }}" class="text-muted">{{ product.name }}</a>
                            	<p class="title">{{ product.description }}</p>
            				</div>
                            <ul class="rating-stars mt-1">
                                {% if product.rating %}
        						<li style="width:{{ ((product.rating/5)*100)|round }}%" class="stars-active"> 
            	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/stars-active.svg" alt="{{ product.rating }}" />
        						</li>
            				    {% endif %}
        						<li>
            	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/starts-disable.svg" />
        						</li>
                            </ul>
                            {% if product.price %}
                            <div class="price mt-2">
                              {% if not product.special %}
                              {{ product.price }}
                              {% else %}
                              <span class="price-new">{{ product.special }}</span> <del class="price-old">{{ product.price }}</del>
                              {% endif %}
                              {#{% if product.tax %}#}
                              {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                              {#{% endif %}#}
                            </div>
                            {% endif %}    
            			</figcaption>
                        <div class="card-footer text-muted">
                            <div class="button-group pull-right w-100 text-center">
                               <button class="btn btn-light" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="d-none d-lg-inline">{{ button_cart }}</span></button>
                               <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                               <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                            </div>
                        </div>
            		</div>
            	</div>

            </div>
            {% if column_left and column_right and (i + 1) % 2 == 0 %}
            <div class="clearfix visible-md visible-sm"></div>
            {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
            <div class="clearfix visible-md"></div>
            {% elseif (i + 1) % 4 == 0 %}
            <div class="clearfix visible-md"></div>
            {% endif %}
            {% set i = i + 1 %}
            {% endfor %} </div>
            {% endif %}
            {% if tags %}
            <p>{{ text_tags }}
            {% for i in 0..tags|length %}
            {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
            {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
            {% endfor %} </p>
            {% endif %}
            {{ content_bottom }}</div>
            </div>
    
    </div> <!-- container .//  -->
</section>

<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart-total').html(json['total']);

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script>
{{ footer }}
