<nav class="navbar visible-xs" id="seller-menus">
  <div class="navbar-header">
  	<span id="seller-category" class="visible-xs">{{ text_seller_menus }}</span>
    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".seller-menus"><i class="fa fa-bars"></i></button>
  </div>
  <div class="collapse navbar-collapse seller-menus">
    <ul class="nav navbar-nav">
    	<li><a href="{{ seller_dashboard }}"><i class="fa fa-tachometer"></i> {{ text_dashboard }}</a></li>
      <li><a href="{{ seller_profile }}"><i class="fa fa-user"></i> {{ text_profile }}</a></li>
      <li><a href="{{ seller_product }}"><i class="fa fa-briefcase"></i> {{ text_product }}</a></li>
      <li><a href="{{ seller_orders }}"><i class="fa fa-shopping-cart"></i> {{ text_orders }}</a></li>
      <li><a href="{{ seller_reviews }}"><i class="fa fa-comments"></i> {{ text_reviews }}</a></li>
      <li><a href="{{ seller_commission }}"><i class="fa fa-money"></i> {{ text_commission }}</a></li>
      <li><a href="{{ seller_payment }}"><i class="fa fa-dollar"></i> {{ text_payment }}</a></li>
      <li><a href="{{ seller_information_section }}"><i class="fa fa-tag"></i> {{ text_information_section }}</a></li>
      <li><a href="{{ seller_store_info }}"><i class="fa fa-info-circle"></i> {{ text_store_information }}</a></li>
      <li><a href="{{ seller_store_setting }}"><i class="fa fa-cog"></i> {{ text_store_setting }}</a></li>
      <li><a href="{{ seller_visit_store }}"><i class="fa fa-external-link"></i> {{ text_visit_store }}</a></li>
      <li><a href="{{ seller_enquiries }}"><i class="fa fa-question-circle"></i> {{ text_enquiries }}</a></li>
    </ul>
  </div>
</nav>