<div class="social">
    <ul class="list-unstyled">
      {% if socialmedia_facebook %}
      <li class="facebook"><a href="{{ socialmedia_facebook }}"><i class="fa fa-facebook"></i></a></li>
      {% endif %}
      {% if socialmedia_twitter %}
      <li><a href="{{ socialmedia_twitter }}"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if socialmedia_instagram %}
      <li><a href="{{ socialmedia_instagram }}"><i class="fa fa-instagram"></i></a></li>
      {% endif %}
      {% if socialmedia_snapchat %}
      <li><a href="{{ socialmedia_snapchat }}"><i class="fa fa-snapchat"></i></a></li>
      {% endif %}
      {% if socialmedia_telegram %}
      <li><a href="{{ socialmedia_telegram }}"><i class="fa fa-telegram"></i></a></li>
      {% endif %}
      {% if socialmedia_whatsapp %}
      <li><a href="{{ socialmedia_whatsapp }}"><i class="fa fa-whatsapp"></i></a></li>
      {% endif %}
      {% if socialmedia_youtube %}
      <li><a href="{{ socialmedia_youtube }}"><i class="fa fa-youtube"></i></a></li>
      {% endif %}
      {% if socialmedia_pinterest %}
      <li><a href="{{ socialmedia_pinterest }}"><i class="fa fa-pinterest"></i></a></li>
      {% endif %}
      {% if socialmedia_vimeo %}
      <li><a href="{{ socialmedia_vimeo }}"><i class="fa fa-vimeo"></i></a></li>
      {% endif %}
   </ul>
</div>