<div class="buttons">
  <div class="pull-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stcpay">{{ button_confirm }}</button>
  </div>
</div>
<!-- STCPAY MODAL -->
<div class="modal fade" id="stcpay" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >الدفع عن طريق StcPay</h5>
      </div>
      <div class="modal-body">
        <div id="stcmsg"></div>
        <br><br>
        <div id="stcnum" class="text-center">
          <input type="number"  placeholder="من فضلك ادخل رقم جوال  الخاص  بمحفظة  StcPay" class="form-control text-center" id="num">
          <br>
          <button class="btn btn-info checknum"><i class="fa fa-sms"></i> ارسال كود التفعيل </button>
          <button class="btn btn-danger closem">&times;</button>
        </div>
        <div id="checkcode" style="display:none;">
          <input type="number" placeholder="ادخل كود التاكيد المكون من 4 ارقام " class="form-control text-center" id="code">
          <br>
          <button class="btn btn-info checkcode"><i class="fa fa-money-check-alt"></i>ادفع</button>
          <button class="btn btn-danger closem">&times;</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.checknum').click(function(){
    $('#stcmsg').html('');
    $.post('index.php?route=extension/payment/stcpay/Stcpay',{num:$('#num').val()},function (data){
      if(data.replace(/(\r\n|\n|\r)/gm, "") == '1'){
        $('#stcmsg').html('<div class="alert alert-info"> من فضلك ادخل كود التفعيل  </div>');     
        $('#stcnum').remove();
        $('#checkcode').show();
      }else{
        $('#stcmsg').html(data);
      }
    });
  });
  $('.checkcode').click(function(){
    $('#stcmsg').html('');
    $.post('index.php?route=extension/payment/stcpay/confitmStcpay',{code:$('#code').val()},function (data){
      $('#stcmsg').html(data);
    });
  });
  $('.closem').click(function(){location.reload();});
</script>
