{#<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search hidden-lg hidden-md hidden-sm"></i><span class="hidden-xs">Search</span></button>
  </span>
</div>#}
<style>
    .d-search i {
    font-size: 18px;
}
</style>
<li class="dropdown header-btns desktop-search inline-block">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	<div class="d-search">
				{#<button>#}
	    			<i class="fa fa-search"></i>
				{#</button>#}
			</div>
		</a>
          <div class="dropdown-menu my-search" style="  margin-right: -875%;    margin-top: 44%;">
           <div id="search" class="input-group">
  <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>
          </div>
        </li>