{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ back_to_order }}" class="btn btn-default" data-toggle="tooltip" title="{{ text_back_to_order }}"><i class="fas fa-reply"></i></a>
        {% if is_shipment  ==  1 %}
            <a href="{{ print_label_url }}" data-toggle="tooltip" title="{{ text_print_label }}" class="btn btn-primary" target="_blank"><i class="fas fa-print"></i></a>
            {% if can_be_canceled is not empty and can_be_canceled == 1 %}
            <button id="cancel-shipment-order" data-toggle="tooltip" title="{{ text_cancel_sipment }}" class="btn btn-danger"><i class="fas fa-times"></i></button>
            {% endif %}
        {% endif %}
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if eRRORS and  eRRORS is not empty %}
    <div class="alert alert-danger alert-dismissible">
      <h4 class="alert-heading"><i class="fas fa-exclamation-circle"></i> {{ text_error_heading }}</h4>
        {% for val in eRRORS %}
            <p>{{ val }}</p>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <form enctype="multipart/form-data" action="" method="post" id="clex_shipment" novalidate="novalidate" class="form-horizontal">
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-truck"></i> {{ text_shipment_details }}</h3>
      </div>
      <div class="card-body">
        {% if is_shipment %}
            <h5 class="mb-5">{{ text_shipping_submitted_message }}</h5>
            <h5><b>Consignment Id:</b> {{ consignment_id }}</h5>
            <h5><b>{{ text_shipment_status }}</b> <u class="bg-light">{{ read_shipment.code }}: {{ read_shipment.detail }}</u></h5>
            <h5><b>{{ text_created_date }}</b> {{ read_shipment.time }}</h5>
        {% else %}
            <table class="table table-bordered" id="shipping_form_table_id">
                <tr>
                    <td width="50%">
                        <fieldset id="clex_shipment_creation_sender_info">
                            <legend>{{ text_sender_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td>{{ entry_consignor }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignor }}" name="consignor" class="form-control">
                                        {% if error_consignor %}
                                        <div class="text-danger">{{ error_consignor }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_consignor_email }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignor_email }}" name="consignor_email" class="form-control">
                                        {% if error_consignor_email %}
                                        <div class="text-danger">{{ error_consignor_email }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_origin_city }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ origin_city }}" name="origin_city" class="form-control">
                                        {% if error_origin_city %}
                                        <div class="text-danger">{{ error_origin_city }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_origin_area_new }}</td>
                                    <td>
                                        <input type="text" value="{{ origin_area_new }}" name="origin_area_new" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_street_name }}</td>
                                    <td>
                                        <input type="text" value="{{ consignor_street_name }}" name="consignor_street_name" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_building_name }}</td>
                                    <td>
                                        <input type="text" value="{{ consignor_building_name }}" name="consignor_building_name" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_address_house_appartment }}</td>
                                    <td>
                                        <input type="text" value="{{ consignor_address_house_appartment }}" name="consignor_address_house_appartment" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_address_landmark }}</td>
                                    <td>
                                        <input type="text" value="{{ consignor_address_landmark }}" name="consignor_address_landmark" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_country_code }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignor_country_code }}" name="consignor_country_code" class="form-control">
                                        <span class="form-text text-muted">{{ help_country_code }}</span>
                                        {% if error_consignor_country_code %}
                                        <div class="text-danger">{{ error_consignor_country_code }}</div>
                                        {% endif %}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_phone }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignor_phone }}" name="consignor_phone" class="form-control">
                                        <span class="form-text text-muted">{{ help_phone }}</span>
                                        {% if error_consignor_phone %}
                                        <div class="text-danger">{{ error_consignor_phone }}</div>
                                        {% endif %}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_alternate_country_code }}</td>
                                    <td>
                                        <input type="text" value="{{ consignor_alternate_country_code }}" name="consignor_alternate_country_code" class="form-control">
                                        <span class="form-text text-muted">{{ help_country_code }}</span>
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignor_alternate_phone }}</td>
                                    <td>
                                        <input type="text" value="{{ consignor_alternate_phone }}" name="consignor_alternate_phone" class="form-control">
                                        <span class="form-text text-muted">{{ help_phone }}</span>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                    <td width="50%">
                        <fieldset id="clex_shipment_creation_receiver_info">
                            <legend>{{ text_receiver_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td>{{ entry_consignee }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignee }}" name="consignee" class="form-control">
                                        {% if error_consignee %}
                                        <div class="text-danger">{{ error_consignee }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_consignee_email }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignee_email }}" name="consignee_email" class="form-control">
                                        {% if error_consignee_email %}
                                        <div class="text-danger">{{ error_consignee_email }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_destination_city }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ destination_city }}" name="destination_city" class="form-control">
                                        {% if error_destination_city %}
                                        <div class="text-danger">{{ error_destination_city }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_destination_area_new }}</td>
                                    <td>
                                        <input type="text" value="{{ destination_area_new }}" name="destination_area_new" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_street_name }}</td>
                                    <td>
                                        <input type="text" value="{{ consignee_street_name }}" name="consignee_street_name" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_building_name }}</td>
                                    <td>
                                        <input type="text" value="{{ consignee_building_name }}" name="consignee_building_name" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_address_house_appartment }}</td>
                                    <td>
                                        <input type="text" value="{{ consignee_address_house_appartment }}" name="consignee_address_house_appartment" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_address_landmark }}</td>
                                    <td>
                                        <input type="text" value="{{ consignee_address_landmark }}" name="consignee_address_landmark" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_country_code }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignee_country_code }}" name="consignee_country_code" class="form-control">
                                        <span class="form-text text-muted">{{ help_country_code }}</span>
                                        {% if error_consignee_country_code %}
                                        <div class="text-danger">{{ error_consignee_country_code }}</div>
                                        {% endif %}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_phone }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ consignee_phone }}" name="consignee_phone" class="form-control">
                                        <span class="form-text text-muted">{{ help_phone }}</span>
                                        {% if error_consignee_phone %}
                                        <div class="text-danger">{{ error_consignee_phone }}</div>
                                        {% endif %}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_alternate_country_code }}</td>
                                    <td>
                                        <input type="text" value="{{ consignee_alternate_country_code }}" name="consignee_alternate_country_code" class="form-control">
                                        <span class="form-text text-muted">{{ help_country_code }}</span>
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_consignee_alternate_phone }}</td>
                                    <td>
                                        <input type="text" value="{{ consignee_alternate_phone }}" name="consignee_alternate_phone" class="form-control">
                                        <span class="form-text text-muted">{{ help_phone }}</span>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <fieldset id="clex_shipment_creation_shipment_info">
                            <legend>{{ text_shipment_information }}</legend>
                            <table class="table" width="100%">
                                <tr>
                                    <td width="50%"><table class="table" id="shipment_infromation">
                                        <tr>
                                            <td width="50%">{{ entry_shipment_reference_number }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="text" value="{{ shipment_reference_number }}" name="shipment_reference_number" id="reference" class="form-control">
                                                {% if error_shipment_reference_number %}
                                                <div class="text-danger">{{ error_shipment_reference_number }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_shipment_type }} <span class="text-danger">*</span></td>
                                            <td>
                                                <select name="shipment_type" id="input-shipment-type" class="form-control">
                                                    {% for ishipment_type in shipment_types %}
                                                    {% if ishipment_type.value == shipment_type %}
                                                    <option value="{{ ishipment_type.value }}" selected="selected">{{ ishipment_type.text }}</option>
                                                    {% else %}
                                                    <option value="{{ ishipment_type.value }}">{{ ishipment_type.text }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error_shipment_type %}
                                                <div class="text-danger">{{ error_shipment_type }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_billing_type }} <span class="text-danger">*</span></td>
                                            <td>
                                                <select name="billing_type" id="input-billing-type" class="form-control">
                                                    {% for ibilling_type in billing_types %}
                                                    {% if ibilling_type.value == billing_type %}
                                                    <option value="{{ ibilling_type.value }}" selected="selected">{{ ibilling_type.text }}</option>
                                                    {% else %}
                                                    <option value="{{ ibilling_type.value }}">{{ ibilling_type.text }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error_billing_type %}
                                                <div class="text-danger">{{ error_billing_type }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr style="display: {% if (billing_type != '' and billing_type != 'COD') %}none;{% endif %}" id="tr-cod-value">
                                            <td>{{ entry_collect_amount }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="number" value="{{ collect_amount }}" name="collect_amount" id="collect_cash_amount" class="form-control">
                                                {% if error_collect_amount %}
                                                <div class="text-danger">{{ error_collect_amount }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_primary_service }} <span class="text-danger">*</span></td>
                                            <td>
                                                <select name="primary_service" id="input-primary-service" class="form-control">
                                                    {% for iprimary_service in primary_services %}
                                                    {% if iprimary_service.value == primary_service %}
                                                    <option value="{{ iprimary_service.value }}" selected="selected">{{ iprimary_service.text }}</option>
                                                    {% else %}
                                                    <option value="{{ iprimary_service.value }}">{{ iprimary_service.text }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error_primary_service %}
                                                <div class="text-danger">{{ error_primary_service }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_secondary_service }} <span class="text-danger">*</span></td>
                                            <td>
                                                <div class="checkbox-list">
                                                {% for isecondary_service in secondary_services %}
                                                    <label class="checkbox"> 
                                                    {% if isecondary_service.value in secondary_service %}
                                                        <input type="checkbox" name="secondary_service[]" value="{{ isecondary_service.value }}" checked="checked" />
                                                        <span></span>
                                                        {{ isecondary_service.text }}
                                                    {% else %}
                                                        <input type="checkbox" name="secondary_service[]" value="{{ isecondary_service.value }}" />
                                                        <span></span>
                                                        {{ isecondary_service.text }}
                                                    {% endif %}
                                                    </label>
                                                {% endfor %}
                                                </div>
                                                {% if error_secondary_service %}
                                                <div class="text-danger">{{ error_secondary_service }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_item_value }}</td>
                                            <td>
                                                <input type="text" value="{{ total }}" name="item_value" class="form-control" disabled="disabled">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_commodity_description }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="text" value="{{ commodity_description }}" name="commodity_description" class="form-control">
                                                {% if error_commodity_description %}
                                                <div class="text-danger">{{ error_commodity_description }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table></td>
                                    <td width="50%" valign="top" style="vertical-align: top;">
                                        <table id="clex_items_table" class="table">
                                            <tr>
                                                <th class="clex_item_name">{{ text_product_item_name }}</th>
                                                <th class="clex_item_qty">{{ text_product_quantity }}</th>
                                            </tr>
                                            {% set qty = 0 %}
                                            {% for op in order_products %}
                                                <tr class="clex_item_tobe_shipped">
                                                    <td class="clex_item_name">{{ op.comment }}</td>
                                                    <td class="clex_item_qty">{{ op.quantity }}</td>
                                                </tr>
                                                {% set qty = qty + op.quantity %}
                                            {% endfor %}
                                            <tr>
                                                <td style="font-weight: bold;background: none repeat scroll 0% 0% rgb(224, 224, 224);">{{ text_no_of_products_shipped }}</td>
                                                <td><span id="items_tobe_shipped_number">{{ qty }}</span> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="shipment-pieces-field">
                            <fieldset>
                            <legend>{{ text_shipment_pieces }}</legend>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td width="22%">{{ entry_weight_actual }}</td>
                                    <td width="22%">{{ entry_volumetric_width }}</td>
                                    <td width="22%">{{ entry_volumetric_height }}</td>
                                    <td width="22%">{{ entry_volumetric_depth }}</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                
                                {% set shipment_pieces_row = 0 %}
                                {% for shipment_piece in shipment_pieces %}
                                <tr id="shipment-piece-row{{ shipment_pieces_row }}">
                                    <td><input type="number" name="shipment_piece[{{ shipment_pieces_row }}][weight_actual]" value="{{ shipment_piece.weight_actual }}" class="form-control" /></td>
                                    <td><input type="number" name="shipment_piece[{{ shipment_pieces_row }}][volumetric_width]" value="{{ shipment_piece.volumetric_width }}" class="form-control" /></td>
                                    <td><input type="number" name="shipment_piece[{{ shipment_pieces_row }}][volumetric_height]" value="{{ shipment_piece.volumetric_height }}" class="form-control" /></td>
                                    <td><input type="number" name="shipment_piece[{{ shipment_pieces_row }}][volumetric_depth]" value="{{ shipment_piece.volumetric_depth }}" class="form-control" /></td>
                                    <td class="text-left"><button onclick="$('#shipment-piece-row{{ shipment_pieces_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>
                                </tr>
                                {% set shipment_pieces_row = shipment_pieces_row + 1 %}
                                {% endfor %}

                                </tbody>

                                <tfoot>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="text-left"><button type="button" onclick="addShipmentPiece();" data-toggle="tooltip" title="{{ button_custom_field_value_add }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></button></td>
                                </tr>
                                </tfoot>
                            </table>
                            {% if error_shipment_piece %}
                            <div class="text-danger">{{ error_shipment_piece }}</div>
                            {% endif %}                            
                            </fieldset>
                        </div>                    
                    </td>
                <tr>
                    <td colspan="2">
                        <div class="form-group checkbox-inline">
                            {% if not is_shipment %}
                                <a class="btn btn-info mr-5" onclick=" $('#clex_shipment').submit();" id="clex_shipment_creation_submit_id">{{ text_button_create_shipment }}</a>
                                <label class="checkbox">
                                    <input type="checkbox" value="yes" name="clex_email_customer">
                                    <span></span>
                                    {{ text_checkbox_notify_customer }}
                                </label>
                            {% endif %}
                        <div>
                    </td>
                </tr>
            </table>
        {% endif %}
      </div>
    </div>
    </form>
   </div>
</div>
<script type="text/javascript"><!--
$(function() {
    $('#input-billing-type').change(function(){
        if($(this).val() == 'COD') {
            $('#tr-cod-value').show(); 
        } else {
            $('#tr-cod-value').hide(); 
        } 
    });
});
var shipment_pieces_row = {{ shipment_pieces_row }};
function addShipmentPiece() {
    html  = '<tr id="shipment-piece-row' + shipment_pieces_row + '">';
    html += '  <td><input type="number" name="shipment_piece[' + shipment_pieces_row + '][weight_actual]" value="" class="form-control" /></td>';
    html += '  <td><input type="number" name="shipment_piece[' + shipment_pieces_row + '][volumetric_width]" value="" class="form-control" /></td>';
    html += '  <td><input type="number" name="shipment_piece[' + shipment_pieces_row + '][volumetric_height]" value="" class="form-control" /></td>';
    html += '  <td><input type="number" name="shipment_piece[' + shipment_pieces_row + '][volumetric_depth]" value="" class="form-control" /></td>';
    html += '  <td class="text-left"><button type="button" onclick="$(\'#shipment-piece-row' + shipment_pieces_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#shipment-pieces-field tbody').append(html);
    shipment_pieces_row++;
}
//--></script>
{{ footer }}