<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000;">
<div style="width: 680px;"><a href="{{ store_url }}" title="{{ store_name }}"><img src="{{ logo }}" alt="{{ store_name }}" style="margin-bottom: 20px; border: none;" /></a>
    <p>{{ clex_text_order_id }}</p>
    <p>{{ clex_text_date_added }}</p>
    <p>{{ clex_text_order_status }}</p>
    <p>{{ clex_text_link }}</p>
    <p>{{ comment }}</p>
</div>
</body>
</html>