 {% if socialmedia_facebook %}
      <li class="facebook"><a href="{{ socialmedia_facebook }}"><i class="fab text-white pl-1 pr-1 fa-facebook"></i></a></li>
      {% endif %}
      {% if socialmedia_twitter %}
      <li><a href="{{ socialmedia_twitter }}"><i class="fab text-white pl-1 pr-1 fa-twitter"></i></a></li>
      {% endif %}
      {% if socialmedia_instagram %}
      <li><a href="{{ socialmedia_instagram }}"><i class="fab text-white pl-1 pr-1 fa-instagram"></i></a></li>
      {% endif %}
      {% if socialmedia_snapchat %}
      <li><a href="{{ socialmedia_snapchat }}"><i class="fab text-white pl-1 pr-1 fa-snapchat"></i></a></li>
      {% endif %}
      {% if socialmedia_telegram %}
      <li><a href="{{ socialmedia_telegram }}"><i class="fab text-white pl-1 pr-1 fa-telegram"></i></a></li>
      {% endif %}
      {% if socialmedia_whatsapp %}
      <li><a href="{{ socialmedia_whatsapp }}"><i class="fab text-white pl-1 pr-1 fa-whatsapp"></i></a></li>
      {% endif %}
      {% if socialmedia_youtube %}
      <li><a href="{{ socialmedia_youtube }}"><i class="fab text-white pl-1 pr-1 fa-youtube"></i></a></li>
      {% endif %}
      {% if socialmedia_pinterest %}
      <li><a href="{{ socialmedia_pinterest }}"><i class="fab text-white pl-1 pr-1 fa-pinterest"></i></a></li>
      {% endif %}
      {% if socialmedia_vimeo %}
      <li><a href="{{ socialmedia_vimeo }}"><i class="fab text-white pl-1 pr-1 fa-vimeo"></i></a></li>
 {% endif %}
