{#


<style>
:root {
  --base_store:{{ base_color_store }};
}
</style>

{% if direction=='rtl' %} <link href="https://files.lnasa.space/view/theme/default/stylesheet/rtl.css" rel="stylesheet"> {% endif %}
 #}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="max-age=604800">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <link href="" rel="shortcut icon" type="image/x-icon">
  <script src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/js/jquery-2.0.0.min.js" type="text/javascript"></script>
  <script src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  <link href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/css/ui.css" rel="stylesheet" type="text/css">
  <link href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)">
  <script src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/js/script.js" type="text/javascript"></script><style type="text/css">
    :root #top-leaderboard,:root .widget.ad-box{ display: none !important; }</style>
  <script src="https://files.lnasa.space/view/javascript/webiarch/product-slider-zoom/jquery.elevatezoom.js" type="text/javascript"></script>
  <script src="https://files.lnasa.space/view/javascript/webiarch/blog/lightbox-2.6.min.js" type="text/javascript"></script>
  <link href="https://files.lnasa.space/view/javascript/webiarch/blog/lightbox.css" rel="stylesheet" type="text/css" />
  <script src="https://files.lnasa.space/view/javascript/webiarch/custom.js" type="text/javascript"></script>
  <script src="https://files.lnasa.space/view/javascript/common.js" type="text/javascript"></script>

  <script type="text/javascript" src="https://files.lnasa.space/view/javascript/lazyload/jquery.lazyload.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('img.lazy-load').lazyload({
        effect: "fadeIn",
        effectspeed: 1000,
        threshold: 100,
        placeholder : "https://files.lnasa.space/view/javascript/lazyload/loading.gif"
      });
    });
  </script>
  {% for style in styles %}
    <link href="{{ style.href|replace({'catalog': 'https://files.lnasa.space'}) }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script|replace({'catalog': 'https://files.lnasa.space'}) }}" type="text/javascript"></script>
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<!--
{% if header_noteice %}
  <div class="container-fluid store_background">
    <div class="container text-center" id="rHM">
      <h3 style="color:#fff;margin-top: 1%;font-size: large;"> {{  header_noteice }} </h3>
      <style>#menu .btn-navbar{top:32px!important;}</style>
    </div>
  </div>
  <script type="text/javascript">$('#close_hn').click(function(){$('#rHM').remove();});</script>
{% endif %}
-->
<body>
<header class="section-header">
  <nav class="navbar navbar-dark navbar-expand p-0 bg-primary">
    <div class="container">
      <ul class="navbar-nav d-none d-md-flex mr-auto">
        {{ header_left }}
      </ul>
      {{ language }}
      {{ currency }}
    </div>
  </nav>
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-6">
          {% if logo %}
           <a href="{{ home }}" class="brand-wrap">
             <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="logo" /></a>
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
        <div class="col-lg-6 col-12 col-sm-12">{{ search }}</div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="widgets-wrap float-md-right">
            {{ cart }}
            <div class="widget-header icontext">
              <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}" class="icon icon-sm"><i class="fa fa-heart"></i></a>
              <a href="" class="icon icon-sm"><i class="fa fa-user"></i></a>
              <div class="text">
                <span class="text-muted">Welcome!</span>
                <div>
                  <a href="">Sign in</a> |
                  <a href=""> Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
{{ menu }}
