{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}        
      
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-address" class="container">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
	<main id="content" class="{{ class }}">
    {{ content_top }}

		<a href="{{ add }}" class="btn btn-light mb-3"> <i class="fa fa-plus"></i> {{ button_new_address }}</a>
		
        {% if addresses %}
        <div class="row">
            {% for result in addresses %}
            <div class="col-md-6">
                <article class="box mb-4">
                    <p>{{ result.address }}</p>
                    <a href="{{ result.update }}" class="btn btn-light"><i class="fa fa-pencil"></i></a> <a href="{{ result.delete }}" class="btn btn-light"><i class="text-danger fa fa-trash"></i></a>
                </article>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>{{ text_empty }}</p>
        {% endif %}

      {{ content_bottom }}</main>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}