{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-forgotten" class="container">
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
    <div class="card mx-auto" style="max-width: 380px; margin-top:40px;">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ heading_title }}</h4>
          <p>{{ text_email }}</p>
          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="input-email">{{ entry_email }}</label>
                <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              </div>
            </fieldset>
            <div class="buttons clearfix">
              <div class="pull-left"><a href="{{ back }}" class="btn btn-default border">{{ button_back }}</a></div>
              <div class="pull-right">
                <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
</section>
{{ footer }}