{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
    <div id="account-login" class="container">
        {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
        {% endif %}
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
        {% endif %}
    	<div class="card mx-auto" style="max-width: 380px; margin-top:40px;">
          <div class="card-body">
              <h4 class="card-title mb-4">{{ text_returning_customer }}</h4>
              <p>{{ text_i_am_returning_customer }}</p>
              <form action="{{ action }}" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                      <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                  </div>
                  <div class="form-group">
                  	 <a href="{{ forgotten }}" class="float-right">{{ text_forgotten }}</a>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="{{ button_login }}" class="btn btn-primary btn-block" />
                  </div>

              </form>
          </div>
        </div>
        <p class="text-center mt-4">{{ text_dont_have_account }} <a href="{{ register }}">{{ text_register }}</a></p>
        <br><br>
    </div>
</section>
{{ footer }}