{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-newsletter" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <main id="content" class="{{ class }} acpage">{{ content_top }}
		<article class="card">
			<div class="card-body">
              <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_newsletter }}</label>
                    <div class="col-sm-10">
                      {% if newsletter %}
                      <label class="radio-inline">
                        <input type="radio" name="newsletter" value="1" checked="checked" />
                        {{ text_yes }} </label>
                      <label class="radio-inline">
                        <input type="radio" name="newsletter" value="0" />
                        {{ text_no }}</label>
                      {% else %}
                      <label class="radio-inline">
                        <input type="radio" name="newsletter" value="1" />
                        {{ text_yes }} </label>
                      <label class="radio-inline">
                        <input type="radio" name="newsletter" value="0" checked="checked" />
                        {{ text_no }}</label>
                      {% endif %}
                    </div>
                  </div>
                </fieldset>
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
                  </div>
                </div>
              </form>
            </div>
        </article>
      {{ content_bottom }}</main>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}