{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}        
      
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-order" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
   {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <main id="content" class="{{ class }} acpage">{{ content_top }}
      {% if orders %}
           {% for order in orders %}
                <article class="card mb-4">
            		<header class="card-header">
                        {% if order.track %} <a target="_blank" href="{{ order.track }}" data-toggle="tooltip" title="Track Order" class="btn btn-primary pull-right"><i class="fa fa-paper-plane-o"></i></a>{% endif %} <a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info pull-right"><i class="fa fa-eye"></i></a>
            			<h5>{{ column_order_id }} #{{ order.order_id }}</h5>
            		</header>                            
                	<div class="card-body row no-gutters">
                		<div class="col">
                			<strong>{{ column_customer }}:</strong> <br>{{ order.name }}
                		</div>
                		<div class="col">
                			<strong>{{ column_product }}:</strong> <br>{{ order.products }}
                		</div>
                		<div class="col">
                			<strong>{{ column_total }}</strong> <br>{{ order.total }}
                		</div>
                		<div class="col">
                			<strong>{{ column_date_added }}:</strong> <br> {{ order.date_added }}
                		</div>
                	</div>
                    {% if order.seller_products %}
                    <div class="table-responsive">
                        <table class="table table-hover mp-orderproducts">
                          <thead>
                            <tr>
                              <th>{{ column_product_name }}</th>
                              <th>{{ column_store_name }}</th>
                              <th>{{ column_mpseller_order_status }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for seller_product in order.seller_products %}
                            <tr>
                              <td>
                                {% for product_name in seller_product.products %}
                                {% if seller_product.products|length > 1 %}
                                <span class="orderproduct-row">{{ product_name }}</span>
                                {% else %}
                                <span>{{ product_name }}</span>
                                {% endif %}
                                {% endfor %}
                              </td>
                              <td>
                                {% if seller_product.sold_by_type == 'admin' %}
                                <label class="label label-danger">{{ seller_product.store_name }}</label>
                                {% else %}
                                {{ seller_product.store_name }}
                                {% endif %}
                              </td>
                              <td>{{ seller_product.order_status }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                    {% endif %}
                </article>
           {% endfor %}
      {% else %}
  		<article class="card">
			<div class="card-body"> 
              <p>{{ text_empty }}</p>
            </div>
        </article>
      {% endif %}
      {{ content_bottom }}</main>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}
