{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}        
      
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-recurring" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <main id="content" class="{{ class }} acpage">{{ content_top }}
    	<article class="card">
			<div class="card-body">    
              {% if recurrings %}
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-right">{{ column_order_recurring_id }}</td>
                      <td class="text-left">{{ column_product }}</td>
                      <td class="text-left">{{ column_status }}</td>
                      <td class="text-left">{{ column_date_added }}</td>
                      <td class="text-right"></td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% for recurring in recurrings %}
                  <tr>
                    <td class="text-right">#{{ recurring.order_recurring_id }}</td>
                    <td class="text-left">{{ recurring.product }}</td>
                    <td class="text-left">{{ recurring.status }}</td>
                    <td class="text-left">{{ recurring.date_added }}</td>
                    <td class="text-right"><a href="{{ recurring.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
                  </tr>
                  {% endfor %}
                  
                  </tbody>
                </table>
              </div>
              <div class="text-right">{{ pagination }}</div>
              {% else %}
              <p>{{ text_empty }}</p>
              {% endif %}
            </div>
        </article>
      {{ content_bottom }}</main>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}