{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}        
      
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-wishlist" class="container">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <main id="content" class="{{ class }} acpage">{{ content_top }}
		<article class="card">
			<div class="card-body">    
              {% if products %}
      	    	<div class="row">
                {% for product in products %}
				<div class="col-md-6">
					<figure class="itemside mb-4">
					    {% if product.thumb %}
						<div class="aside">
						    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="border img-md" /></a>
                        </div>
						{% endif %}
						<figcaption class="info">
							<a href="{{ product.href }}" class="title">{{ product.name }}</a>
							{% if product.price %}
                              <p class="price mb-2"> 
                                {% if not product.special %}
                                    {{ product.price }}
                                {% else %} 
                                    <b>{{ product.special }}</b> <s>{{ product.price }}</s> 
                                {% endif %} 
                              </p>
                            {% endif %}
                            <button type="button" onclick="cart.add('{{ product.product_id }}');" class="btn btn-secondary btn-sm"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
                            <a href="{{ product.remove }}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title=" {{ button_remove }}"><i class="fa fa-times"></i></a>
						</figcaption>
					</figure>
				</div>
				{% endfor %}
				</div>
              {% else %}
                  <p>{{ text_empty }}</p>
              {% endif %}
            </div>
        </article>
      {{ content_bottom }}</main>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}