{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-account" class="container">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
	<main id="content" class="{{ class }}">
        {{ content_top }}
		<article class="card mb-3">
			<div class="card-body">
				<figure class="icontext">
						<div class="icon mr-3">
						    <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
						</div>
						<div class="text">
							<strong>{{ customer_info['firstname'] }} {{ customer_info['lastname'] }}</strong> <br> 
							<p class="mb-2"> {{ customer_info['email'] }}  </p> 
							<a href="{{ edit }}" class="btn btn-light btn-sm">{{ text_edit }}</a>
						</div>
				</figure>
			</div>
		</article>
		<article class="card mb-3">
			<div class="card-body">
             <h2 class="achead">{{ text_my_account }}</h2>
              <ul class="list-unstyled accolor">
                <li><a href="{{ edit }}">{{ text_edit }}</a></li>
                <li><a href="{{ password }}">{{ text_password }}</a></li>
                <li><a href="{{ address }}">{{ text_address }}</a></li>
                <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
              </ul>
              {% if credit_cards %}
              <h2 class="achead">{{ text_credit_card }}</h2>
              <ul class="list-unstyled accolor">
                {% for credit_card in credit_cards %}
                <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
              <h2 class="achead">{{ text_my_orders }}</h2>
              <ul class="list-unstyled accolor">
                <li><a href="{{ order }}">{{ text_order }}</a></li>
                <li><a href="{{ download }}">{{ text_download }}</a></li>
                {% if reward %}
                <li><a href="{{ reward }}">{{ text_reward }}</a></li>
                {% endif %}
                <li><a href="{{ return }}">{{ text_return }}</a></li>
                <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                <li><a href="{{ recurring }}">{{ text_recurring }}</a></li>
              </ul>
              <h2 class="achead">{{ text_my_affiliate }}</h2>
              <ul class="list-unstyled accolor">
                {% if not tracking %}
                <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>
                {% else %}
                <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>
                <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>
                {% endif %}
              </ul>
              <h2 class="achead">{{ text_my_newsletter }}</h2>
              <ul class="list-unstyled accolor">
                <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
              </ul>
              {% if mpmultivendor_status %}
        
        	  <h2 class="secondary-title">{{ text_customer_seller }}</h2>
        	  <ul class="list-unstyled">
        	  	<li><a href="{{ seller_enquiries }}">{{ text_seller_enquiries }}</a></li>
        	  </ul>
        
              <h2 class="secondary-title">{{ text_seller_panel }}</h2>
              <ul class="list-unstyled">
              	{% if has_seller_profile %}
                <li><a href="{{ seller_dashboard }}">{{ text_seller_dashboard }}</a></li>
        		{% elseif applyseller_page is not empty %}
                <li><a href="{{ seller_store_info }}">{{ text_enabled_seller }}</a></li>
                {% endif %}
              </ul>
              {% endif %}
			</div>
		</article>
		{{ content_bottom }}
	</main>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}