{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-download" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <main id="content" class="{{ class }} acpage">{{ content_top }}
		<article class="card">
			<div class="card-body">        
              {% if downloads %}
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-right">{{ column_order_id }}</td>
                      <td class="text-left">{{ column_name }}</td>
                      <td class="text-left">{{ column_size }}</td>
                      <td class="text-left">{{ column_date_added }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% for download in downloads %}
                  <tr>
                    <td class="text-right">{{ download.order_id }}</td>
                    <td class="text-left">{{ download.name }}</td>
                    <td class="text-left">{{ download.size }}</td>
                    <td class="text-left">{{ download.date_added }}</td>
                    <td><a href="{{ download.href }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-primary"><i class="fa fa-cloud-download"></i></a></td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  
                </table>
              </div>
              <div class="row">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ results }}</div>
              </div>
              {% else %}
              <p>{{ text_empty }}</p>
              {% endif %}
            </div>
        </article>
      {{ content_bottom }}</main>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}