{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% set last_heading_text = '' %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% set last_heading_text = breadcrumb.text %}
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-pagetop">
<div class="container">
	<h2 class="title-page">{{ last_heading_text }}</h2>
</div>
</section>
<section class="section-content bg-white padding-y">
<div id="account-password" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} acpage">{{ content_top }}
		<article class="card mb-3">
			<div class="card-body">    
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <fieldset>
                      {#<legend>{{ text_password }}</legend>#}
                      <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
                        <div class="col-sm-10">
                          <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                          {% if error_password %}
                          <div class="text-danger">{{ error_password }}</div>
                          {% endif %}
                        </div>
                      </div>
                      <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>
                        <div class="col-sm-10">
                          <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                          {% if error_confirm %}
                          <div class="text-danger">{{ error_confirm }}</div>
                          {% endif %}
                        </div>
                      </div>
                    </fieldset>
                    <div class="buttons clearfix">
                      {#<div class="pull-left"><a href="{{ back }}" class="btn btn-default border">{{ button_back }}</a></div>#}
                      <div class="pull-right">
                        <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
                      </div>
                    </div>
                </form>
            </div>
        </article>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}