{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
    <div id="account-register" class="container">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
        {% endif %}
    	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">{{ text_signup_heading }}</h4></header>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset id="account">
                    <legend class="lead">{{ text_your_details }}</legend>
                    <div class="form-group required" style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
                        <label class="control-label">{{ entry_customer_group }}</label>
                        {% for customer_group in customer_groups %}
                          {% if customer_group.customer_group_id == customer_group_id %}
                        	<label class="custom-control custom-radio">
                        	  <input class="custom-control-input" type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked="checked" />
                        	  <span class="custom-control-label">{{ customer_group.name }}</span>
                        	</label>
                          {% else %}
                        	<label class="custom-control custom-radio">
                        	  <input class="custom-control-input" type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
                        	  <span class="custom-control-label">{{ customer_group.name }}</span>
                        	</label>
                          {% endif %}
                        {% endfor %}
                    </div>
    				<div class="form-row">
    					<div class="col form-group">
                            <label for="input-firstname">{{ entry_firstname }}</label>
                            <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
                            {% if error_firstname %}
                            <small class="form-text text-danger">{{ error_firstname }}</small>
                            {% endif %}
    					</div>
    					<div class="col form-group">
                            <label for="input-lastname">{{ entry_lastname }}</label>
                            <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
                            {% if error_lastname %}
                            <small class="form-text text-danger">{{ error_lastname }}</small>
                            {% endif %}
                        </div>
    				</div>
    				<div class="form-group">
    					<label for="input-email">{{ entry_email }}</label>
                        <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                        {% if error_email %}
                        <small class="form-text text-danger">{{ error_email }}</small>
                        {% endif %}
    				</div>
    				<div class="form-group">
                        <label for="input-telephone">{{ entry_telephone }}</label>
                        <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
                        {% if error_telephone %}
                        <small class="form-text text-danger">{{ error_telephone }}</small>
                        {% endif %}
    				</div>
                    {% for custom_field in custom_fields %}
                    {% if custom_field.type == 'select' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                      <label class="control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                      <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">
                        <option value="">{{ text_select }}</option>
                        {% for custom_field_value in custom_field.custom_field_value %}
                            {% if register_custom_field[custom_field.location][custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                            <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                            {% else %}
                            <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if custom_field.type == 'radio' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                        <label>{{ custom_field.name }}</label>
                        {% for custom_field_value in custom_field.custom_field_value %}
                          {% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                        	<label class="custom-control custom-radio">
                        	  <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                        	  <span class="custom-control-label">{{ custom_field_value.name }}</span>
                        	</label>
                          {% else %}
                        	<label class="custom-control custom-radio">
                        	  <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
                        	  <span class="custom-control-label">{{ custom_field_value.name }}</span>
                        	</label>
                          {% endif %}
                        {% endfor %}
                        {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if custom_field.type == 'checkbox' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label>{{ custom_field.name }}</label>
                      {% for custom_field_value in custom_field.custom_field_value %}
                          <label class="custom-control custom-checkbox">
                              {% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id] %}
                                <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}"  class="custom-control-input" checked="checked" />
                                <div class="custom-control-label">{{ custom_field_value.name }}</div>
                              {% else %}
                                <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}"  class="custom-control-input" />
                                <div class="custom-control-label">{{ custom_field_value.name }}</div>
                              {% endif %}
                          </label>
                        {% endfor %}
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if custom_field.type == 'text' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                      <label for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                      <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if custom_field.type == 'textarea' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                      <label for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                      <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if custom_field.type == 'file' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                      <label>{{ custom_field.name }}</label>
                      <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                      <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}  {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}" />
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if custom_field.type == 'date' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                      <div class="input-group date">
                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                        </span>
                      </div>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if custom_field.type == 'time' %}
                    <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                      <label for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                      <div class="input-group time">
                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                        </span>
                      </div>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <small class="form-text text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</small>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </fieldset>
                <fieldset>
                    <legend class="lead pt-3">{{ text_your_password }}</legend>
    				<div class="form-row">
                      <div class="col form-group">
                        <label for="input-password">{{ entry_password }}</label>
                        <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                        {% if error_password %}
                        <small class="form-text text-danger">{{ error_password }}</small>
                        {% endif %}
                      </div>
                      <div class="col form-group">
                        <label for="input-confirm">{{ entry_confirm }}</label>
                        <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                        {% if error_confirm %}
                        <small class="form-text text-danger">{{ error_confirm }}</small>
                        {% endif %}
                      </div>
                    </div>
                </fieldset>
                <fieldset>
                  <legend class="lead pt-3">{{ text_newsletter }}</legend>
                  <div class="form-group">
                    <label>{{ entry_newsletter }}</label>
    			    {% if newsletter %}
    				<label class="custom-control custom-radio custom-control-inline">
    				    <input class="custom-control-input" type="radio" name="newsletter" value="1" checked="checked" />
    					<span class="custom-control-label">{{ text_yes }}</span>
    				</label>
    				<label class="custom-control custom-radio custom-control-inline">
    				    <input class="custom-control-input" type="radio" name="newsletter" value="0" />
    					<span class="custom-control-label">{{ text_no }}</span>
    				</label>
    				{% else %}
    				<label class="custom-control custom-radio custom-control-inline">
    				    <input class="custom-control-input" type="radio" name="newsletter" value="1" />
    					<span class="custom-control-label">{{ text_yes }}</span>
    				</label>
    				<label class="custom-control custom-radio custom-control-inline">
    				    <input class="custom-control-input" type="radio" name="newsletter" value="0" checked="checked" />
    					<span class="custom-control-label">{{ text_no }}</span>
    				</label>
                    {% endif %}
          		  </div>
                </fieldset>
                {{ captcha }}
    		    <div class="form-group">
                    <input type="submit" value="{{ button_continue }}" class="btn btn-primary btn-block" />
    		    </div>
                {% if text_agree %}
    		    <div class="form-group"> 
    	            <label class="custom-control custom-checkbox"> 
                        {% if agree %}
                        <input type="checkbox" name="agree" value="1" class="custom-control-input" checked="checked" />
                        {% else %}
                        <input type="checkbox" name="agree" value="1" class="custom-control-input" />
                        {% endif %}
    	                <div class="custom-control-label">{{ text_agree }}</div> 
    	            </label>
    	        </div>
    	        {% endif %}
    		</form>
    	   </article>
        </div>
        <p class="text-center mt-4">{{ text_have_an_account }} <a href="{{ login }}">{{ text_login }}</a></p>
        <br><br>

    </div>
</section>
<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
{{ footer }} 