{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a type="button" href="{{ pos_url }}" target="_blank" data-toggle="tooltip" title="Open POS Panel" class="btn btn-primary">{{ link_goto_pos }}</a>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">        
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-custom bg-primary card-stretch gutter-b">
                            <div class="card-body">
                                <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">{{ total_orders }}</span>
                                <span class="font-weight-bold text-white">{{ text_total_order }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-custom bg-info card-stretch gutter-b">
                            <div class="card-body">
                                <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">{{ total_sales }}</span>
                                <span class="font-weight-bold text-white">{{ text_total_sales }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-custom bg-success card-stretch gutter-b">
                            <div class="card-body">
                                <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">{{ total_cash }}</span>
                                <span class="font-weight-bold text-white">{{ text_total_cash }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-5">
                        <div id="chart_div"></div>
                    </div>
                </div>
                <div class="row mb-5 mt-5">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>#</th>
                                <th>{{ col_customer }}</th>
                                <th>{{ col_total }}</th>
                                <th>{{ col_created }}</th>
                            </tr>
                            {% for order  in last_orders %}
                                <tr>
                                    <td><a href="{{ order.edit }}">{{ order.order_id }}</a></td>
                                    <td>{{ order.customer }}</td>
                                    <td>{{ order.total }}</td>
                                    <td><time class="timeago" datetime="{{ order.created_at }}">{{ order.created_at }}</time></td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ print_barcode_link }}" class="card card-custom bg-primary bg-hover-state-primary card-stretch gutter-b">
                            <div class="card-body">
                                <span class="svg-icon svg-icon-white svg-icon-2x"><!--begin::Svg Icon--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M13,5 L15,5 L15,20 L13,20 L13,5 Z M5,5 L5,20 L3,20 C2.44771525,20 2,19.5522847 2,19 L2,6 C2,5.44771525 2.44771525,5 3,5 L5,5 Z M16,5 L18,5 L18,20 L16,20 L16,5 Z M20,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,19 C22,19.5522847 21.5522847,20 21,20 L20,20 L20,5 Z" fill="#000000"/>
                                        <polygon fill="#000000" opacity="0.3" points="9 5 9 20 7 20 7 5"/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
                                <div class="text-inverse-primary font-weight-bolder font-size-h5 mb-2 mt-5">{{ menu_products }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ transaction_link }}" class="card card-custom bg-primary bg-hover-state-primary card-stretch gutter-b">
                            <div class="card-body">
                                <span class="svg-icon svg-icon-white svg-icon-2x"><!--begin::Svg Icon--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z" fill="#000000" opacity="0.3" transform="translate(11.500000, 12.000000) rotate(-345.000000) translate(-11.500000, -12.000000) "/>
                                        <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z M11.5,14 C12.6045695,14 13.5,13.1045695 13.5,12 C13.5,10.8954305 12.6045695,10 11.5,10 C10.3954305,10 9.5,10.8954305 9.5,12 C9.5,13.1045695 10.3954305,14 11.5,14 Z" fill="#000000"/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
                                <div class="text-inverse-primary font-weight-bolder font-size-h5 mb-2 mt-5">{{ menu_cash }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ cashdrawer_link }}" class="card card-custom bg-primary bg-hover-state-primary card-stretch gutter-b">
                            <div class="card-body">
                                <span class="svg-icon svg-icon-white svg-icon-2x"><!--begin::Svg Icon--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M14,9 L14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 L10,9 L8,9 L8,8 C8,5.790861 9.790861,4 12,4 C14.209139,4 16,5.790861 16,8 L16,9 L14,9 Z M14,9 L14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 L10,9 L8,9 L8,8 C8,5.790861 9.790861,4 12,4 C14.209139,4 16,5.790861 16,8 L16,9 L14,9 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                        <path d="M6.84712709,9 L17.1528729,9 C17.6417121,9 18.0589022,9.35341304 18.1392668,9.83560101 L19.611867,18.671202 C19.7934571,19.7607427 19.0574178,20.7911977 17.9678771,20.9727878 C17.8592143,20.9908983 17.7492409,21 17.6390792,21 L6.36092084,21 C5.25635134,21 4.36092084,20.1045695 4.36092084,19 C4.36092084,18.8898383 4.37002252,18.7798649 4.388133,18.671202 L5.86073316,9.83560101 C5.94109783,9.35341304 6.35828794,9 6.84712709,9 Z" fill="#000000"/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
                                <div class="text-inverse-primary font-weight-bolder font-size-h5 mb-2 mt-5">{{ menu_registers }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ setting_link }}" class="card card-custom bg-primary bg-hover-state-primary card-stretch gutter-b">
                            <div class="card-body">
                                <span class="svg-icon svg-icon-white svg-icon-2x"><!--begin::Svg Icon--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
                                <div class="text-inverse-primary font-weight-bolder font-size-h5 mb-2 mt-5">{{ menu_setting }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ session_link }}" class="card card-custom bg-primary bg-hover-state-primary card-stretch gutter-b">
                            <div class="card-body">
                                <span class="svg-icon svg-icon-white svg-icon-2x"><!--begin::Svg Icon--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
                                <div class="text-inverse-primary font-weight-bolder font-size-h5 mb-2 mt-5">{{ menu_session }}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'X');
        data.addColumn('number', 'Sales');

        data.addRows({{ chart_data }});

        var options = {
            hAxis: {
                title: '{{ chart_date }}'
            },
            vAxis: {
                title: '{{ chart_sale }}'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
    jQuery("time.timeago").timeago();
</script>
{{ footer }}