{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <button type="button" onclick="saveRegister()" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">        
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form class="form-horizontal" id="register-frm">
                            <input type="hidden" name="register_id" value="{{ register_id }}">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">{{ label_register_name }}</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name" value="{{ register.register_name }}" placeholder="Register Name" name="register_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputStore" class="col-sm-2 control-label">{{ label_store }}</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="store_id" id="inputStore">
                                        {% for store in stores %}
                                            {% if register.store_id == store.store_id %}
                                                <option selected value="{{ store.store_id }}">{{ store.name }}</option>
                                            {% else %}
                                                <option value="{{ store.store_id }}">{{ store.name }}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">{{ label_cashier }}</label>
                                <div class="col-sm-6">
                                    {% for user in users %}
                                        <div class="switch switch-sm switch-icon">
                                            <label>
                                                {% if user.user_id in register.cashiers %}
                                                    <input type="checkbox" checked name="cashiers[]" value="{{ user.user_id }}"> {{ user.firstname }} {{ user.lastname }}
                                                {% else %}
                                                    <input type="checkbox" name="cashiers[]" value="{{ user.user_id }}"> {{ user.firstname }} {{ user.lastname }}
                                                {% endif %}
                                                <span></span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputStore" class="col-sm-2 control-label">{{ label_status }}</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="status" id="inputStore">
                                        {% if register.status == 1 %}
                                            <option value="1" selected>{{ label_enable }}</option>
                                        {% else %}
                                            <option value="1">{{ label_enable }}</option>
                                        {% endif %}
                                        {% if register.status == 0 %}
                                            <option value="0" selected>{{ label_disable }}</option>
                                        {% else %}
                                            <option value="0">{{ label_disable }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function saveRegister(){
        $.ajax({
            url: '{{ save_url | replace({'&amp;': "&"}) }}',
            data: $('#register-frm').serialize(),
            type: 'post',
            dataType: 'json',
            beforeSend: function(){

            },
            success:function(response){
                if(response.status == 0)
                {
                    alert(response.message);
                }else{
                    alert('setting has been saved');
                }

            }
        });

    }

</script>
{{ footer }}