<table class="table table-bordered">
    <tr>
        <th>{{ openpos_order_info_register }}</th>
        <td>{{ register_name }}</td>
    </tr>
    <tr>
        <th>{{ openpos_order_info_cashier }}</th>
        <td>{{ cashier_name }}</td>
    </tr>
    <tr>
        <th>{{ openpos_order_info_seller }}</th>
        <td>{{ seller_name }}</td>
    </tr>
    <tr>
        <th>{{ openpos_order_info_payments }}</th>
        <td>
            <table class="table table-bordered">
                {% for payment in payments %}
                <tr>
                    <th>{{ payment.payment_title }}</th>
                    <td>{{ payment.amount }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>