<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="">
    <form method="post" >
        <input type="hidden" name="product_id" value="{{ product.product_id }}">
        <div class="form-row" style="width: 800px;margin: 0 auto;">
            <table class="table table-bordered table-hover">
                <tr>
                    <th width="40%">Unit:</th>
                    <td>
                        <select name="unit">
                            <option value="in" {{ setting.unit == 'in' ? 'selected':'' }}>Inch</option>
                            <option value="mm" {{ setting.unit == 'mm' ? 'selected':'' }}>Minimeter</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Sheet Width:</th>
                    <td><input type="text" value="{{ setting.sheet_width }}" name="sheet_width"> x <input name="sheet_height" type="number" value="{{ setting.sheet_height }}"></td>
                </tr>
                <tr>
                    <th>Vertical Spacing:</th>
                    <td><input type="text" name="sheet_vertical_space" value="{{ setting.vertical_space }}"></td>
                </tr>
                <tr>
                    <th>Horizontal Spacing:</th>
                    <td><input type="text" name="sheet_horisontal_space"  value="{{ setting.horizontal_space }}"></td>
                </tr>


                <tr>
                    <th>Sheet Margin<br>(top x right x bottom x left)</th>
                    <td>
                        <input type="text" name="sheet_margin_top"   value="{{ setting.margin_top }}"> x
                        <input type="text" name="sheet_margin_right" value="{{ setting.margin_right }}"> x
                        <input type="text" name="sheet_margin_bottom" value="{{ setting.margin_bottom }}"> x
                        <input type="text" name="sheet_margin_left" value="{{ setting.margin_left }}">
                    </td>
                </tr>



                <tr>
                    <th>Label Size:</th>
                    <td>
                        <input type="text" name="label_width" value="{{ setting.label_width }}"> x <input name="label_height" type="text" value="{{ setting.label_height }}">
                    </td>
                </tr>
                <tr>
                    <th>Label Padding<br>(top x right x bottom x left):</th>
                    <td>
                        <input type="text" name="label_margin_top"   value="{{ setting.padding_top }}"> x
                        <input type="text" name="label_margin_right" value="{{ setting.padding_right }}"> x
                        <input type="text" name="label_margin_bottom" value="{{ setting.padding_bottom }}"> x
                        <input type="text" name="label_margin_left" value="{{ setting.padding_left }}">
                    </td>
                </tr>

                <tr>
                    <th>Barcode Image Size:</th>
                    <td>
                        <input type="text" name="barcode_width" value="{{ setting.barcode_width }}"> x <input name="barcode_height" type="text" value="{{ setting.barcode_height }}">
                    </td>
                </tr>

                <tr>
                    <th>Number Of Label:</th>
                    <td><input type="number" name="total" value="30"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><button type="submit" name="print" class="btn btn-primary">Print</button></td>
                </tr>
            </table>

        </div>
    </form>
</div>
<style>
    form{
        margin-top: 100px;
    }
    form input{
        width: 100px;
        text-align: right;
        padding: 5px 2px;
    }
    .form-row th{
        text-align: left;
    }
</style>
</body>