<html>
<head>
    <title>barcode</title>

    <style media="print">
        @page {
            size: {{ sheet_width }}  {{ sheet_height }};
            padding:0;
            padding: {{ sheet_padding_top }} {{ sheet_padding_right }} {{ sheet_padding_bottom }} {{ sheet_padding_left }};
        }
        .sheet{
            width: 100%;
        }
        p{
            padding: 0;
            margin:0;
        }
        .pagebreak { page-break-before: always; }
    </style>
</head>
{{ buffer  }}
<script type="application/javascript">
    window.print();
</script>
</html>
