{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="pull-right">
            <button type="button"  data-toggle="modal" data-target="#barcodeModal"   id="bulk-print-barcode-btn" data-ids="" disabled="true" form="form-module" data-toggle="tooltip" title="Print Barcode" class="btn btn-primary"><i class="fa fa-barcode"></i></button>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">        
                <div class="row">
                    <div class="col-md-12">
                        <table id="table_products" data-order='[[ 1, "desc" ]]' class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th data-name="p.product_id">{{ col_id }}</th>
                                <th>{{ col_barcode }}</th>
                                <th data-name="pd.name">{{ col_product_name }}</th>
                                <th>{{ col_qty }}</th>
                                <th>{{ col_action }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="barcodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Print Barcode</h4>
      </div>
      <div class="modal-body">
        <form id="barcode-form-bulk-print"  class="form-horizontal" action="{{ ajax_product_print_barcode_link | replace({'&amp;': "&"}) }}" method="post">
          <div class="form-content"></div>
          <input type="submit" id="barcode-form-bulk-print-submit" style="display:none;" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary barcode-form-bulk-print-btn">Bulk Print Barcode</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
        $('#table_products').DataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": "{{ ajax_product_link | replace({'&amp;': "&"}) }}",
            "columnDefs": [ {
                "targets": [ 0,2,4,5 ],
                "orderable": false,
            } ],
        });
        $(".dataTables_wrapper .row").css("width","100%");
        $(document).on('barcode_click_checkbox',function(){
            var ids = new Array();
            $('#table_products').find('.barcode-checkbox').each(function(){
                if($(this).prop('checked'))
                {
                    ids.push($(this).data('id'));
                }
            });
            var ids_str = '';
            if(ids.length > 0)
            {
                ids_str = ids.join(',');
                $('#bulk-print-barcode-btn').prop('disabled',false);

            }else{
                $('#bulk-print-barcode-btn').prop('disabled',true);
            }
            $('#bulk-print-barcode-btn').data('ids',ids_str);
        });
        
        $(document).on('click','.barcode-checkbox',function(){
            $(document).trigger('barcode_click_checkbox');
        });

        $(document).on('click','.barcode-form-bulk-print-btn',function(){
            $('#barcode-form-bulk-print-submit').trigger('click');
        });


        $('#barcodeModal').on('show.bs.modal', function (event) {
            //var button = $(event.relatedTarget) // Button that triggered the modal
            //var recipient = 'xxxx';//button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            //modal.find('.modal-title').text('New message to ' + recipient)
            $.ajax({
                url: "{{ ajax_barcode_link | replace({'&amp;': "&"}) }}",
                data: {ids: $('#bulk-print-barcode-btn').data('ids')},
                dataType: 'html',
                beforeSend: function(){
                     modal.find('.modal-body .form-content').html('Loading....');   
                },
                success: function(response){
                    modal.find('.modal-body .form-content').html(response);
                }
            });
            
        })

    } );
</script>
{{ footer }}