{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <a  href="{{ new_register_link }}"  data-toggle="tooltip" title="New Register" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">        
                <div class="row">
                    <div class="col-md-12 ">
                        <table id="table_products" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ col_name }}</th>
                                <th>{{ col_cashiers }}</th>
                                <th class="text-center">{{ col_total_sales }}</th>
                                <th class="text-center">{{ col_total_cash }}</th>
                                <th class="text-center">{{ col_action }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for register in registers %}
                                <tr>
                                    <td>{{ register.register_name }}</td>
                                    <td>
                                        <ul>
                                            {% for cashier in register.cashiers %}
                                                <li>{{ cashier.firstname }} {{ cashier.lastname }}</li>
                                            {% endfor %}
                                        </ul>

                                    </td>
                                    <td class="text-center">{{ register.total_sales }}</td>
                                    <td class="text-center">{{ register.cash_balance }}</td>
                                    <td class="text-center">
                                        <a href="{{ register.bill_url }}" target="_blank" data-toggle="tooltip" title="Bill Screen" class="btn btn-primary" data-original-title="Bill Screen"><i class="fa fa-eye"></i></a>
                                        <a href="{{ register.edit_link }}" data-toggle="tooltip" title="Edit" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil-alt"></i></a>
                                        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="deleteRegister({{ register.register_id }});"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteRegister(register_id)
    {
        if(confirm('{{ msg_delete_confirm }}'))
        {
            $.ajax({
                url: '{{ delete_url | replace({'&amp;': "&"}) }}',
                data: { id: register_id},
                type: 'post',
                dataType: 'json',
                beforeSend: function(){

                },
                success:function(response){
                    if(response.status == 0)
                    {
                        alert(response.message);
                    }else{
                        location.reload();
                    }

                }
            });
        }
    }
</script>
{{ footer }}