{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <button type="button" form="form-product"  data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="deleteTransactions()"><i class="fa fa-trash"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="table_products" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th><input type="checkbox" data-id="0" id="editor-active-all"></th>
                                <th>{{ column_user }}</th>
                                <th>{{ column_register }}</th>
                                <th>{{ column_date }}</th>
                                <th>{{ column_location }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready( function () {
        $('#table_products').DataTable( {
            columnDefs: [
                { orderable: false, targets: [ 0,1,2,3,4 ] }
            ],
            "processing": true,
            "serverSide": true,
            "ajax": "{{ ajax_session_link | replace({'&amp;': "&"}) }}"
        });
        $(".dataTables_wrapper .row").css("width","100%");
        $('#editor-active-all').click(function(){
            var checked = $(this).prop('checked');
            $('#table_products').find('input').each(function(index,row){
                $(this).prop('checked',checked);
            });
        })
    } );
    function deleteTransactions() {
        var ids = new Array();
        var rows = $('#table_products').find('input:checked').each(function(index,row){
            if($(row).data('id'))
            {
                ids.push($(row).data('id'));
            }

        });

        if(ids.length > 0)
        {
            if(confirm('Are you sure ? '))
            {
                $.ajax({
                   url:  "{{ ajax_session_link | replace({'&amp;': "&"}) }}",
                   type: 'post',
                   dataType: 'json',
                   data: {action: 'delete_session',data:ids.toString()},
                   success:function(){
                       document.location.reload();
                   }
                });
            }
        }else {
            alert('Please choose row');
        }

    }
</script>
{{ footer }}