{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <button type="button" onclick="saveSetting()" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">        
                <div class="col-md-12">
                    <form id="op-setting" class="form-horizontal">
                        <input type="hidden" name="store_id" value="{{ store_id }}">
                        <div class="op-setting-content">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-line nav-bolder nav-tabs-line-2x mb-5">
                                {% for setting in settings %}
                                    {% if setting.code == 'general' %}
                                        <li class="nav-item"><a href="#{{ setting.code }}" data-toggle="tab" class="nav-link active">{{ setting.title }}</a></li>
                                    {% else %}
                                        <li class="nav-item"><a href="#{{ setting.code }}" data-toggle="tab" class="nav-link" >{{ setting.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for setting in settings %}
                                    {% if setting.code == 'general' %}
                                    <div class="tab-pane active" id="{{ setting.code }}">
                                    {% else %}
                                    <div class="tab-pane" id="{{ setting.code }}">
                                    {% endif %}
                                    {% for sett in setting.settings %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">{{ sett.title |e }}</label>
                                            {% if sett.type == 'select' %}
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="setting[{{ setting.code }}][{{ sett.key }}]">
                                                        {% for option in sett.options %}
                                                            {% if option.value == sett.default %}
                                                                <option selected value="{{ option.value }}" >{{ option.name }}</option>
                                                            {% else %}
                                                                <option value="{{ option.value }}" >{{ option.name }}</option>
                                                            {% endif %}

                                                        {% endfor %}
                                                    </select>
                                                    <span class="form-text text-muted">{{ sett.description }}</span>
                                                </div>
                                            {% endif %}
                                            {% if sett.type == 'multicheck' %}
                                                <div class="col-sm-6">
                                                    {% for option in sett.options %}
                                                        <div class="switch switch-sm switch-icon">
                                                        {% if option.value in sett.default %}
                                                            <label><input name="setting[{{ setting.code }}][{{ sett.key }}][]" type="checkbox" checked value="{{ option.value }}" /> {{ option.name }}<span></span></label>
                                                        {% else %}
                                                            <label><input name="setting[{{ setting.code }}][{{ sett.key }}][]" type="checkbox"  value="{{ option.value }}" /> {{ option.name }}<span></span></label>
                                                        {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                    <span class="form-text text-muted">{{ sett.description }}</span>
                                                </div>
                                            {% endif %}
                                            {% if sett.type == 'text' %}
                                                <div class="col-sm-6">
                                                    <input type="text" name="setting[{{ setting.code }}][{{ sett.key }}]" class="form-control" value="{{ sett.default }}" placeholder="{{ sett.title |e }}">
                                                    <span class="form-text text-muted">{{ sett.description }}</span>
                                                </div>
                                            {% endif %}
                                            {% if sett.type == 'number' %}
                                                <div class="col-sm-6">
                                                    <input type="number" value="{{ sett.default }}" name="setting[{{ setting.code }}][{{ sett.key }}]" class="form-control" placeholder="{{ sett.title |e }}">
                                                    <span class="form-text text-muted">{{ sett.description }}</span>
                                                </div>
                                            {% endif %}
                                            {% if sett.type == 'textarea' %}
                                                <div class="col-sm-6">
                                                    <textarea class="form-control" rows="3" name="setting[{{ setting.code }}][{{ sett.key }}]">{{ sett.default }}</textarea>
                                                    <span class="form-text text-muted">{{ sett.description }}</span>
                                                </div>
                                            {% endif %}
                                            {% if sett.type == 'wysiwyg' %}
                                                <div class="col-sm-6">
                                                    <textarea class="form-control" data-toggle="summernote" rows="3" name="setting[{{ setting.code }}][{{ sett.key }}]">{{ sett.default }}</textarea>
                                                    <span class="form-text text-muted">{{ sett.description }}</span>
                                                </div>
                                            {% endif %}
                                            {% if sett.type == 'categories' %}
                                                <div class="col-sm-6">
                                                    <input type="text" name="category" value="" placeholder="{{ entry_category }}" data-field="setting[{{ setting.code }}][{{ sett.key }}]" id="input-category" class="form-control" />
                                                    <div id="product-category" class="well well-sm" style="height: 150px; overflow: auto;">
                                                        {% for option in sett.default %}
                                                            <div id="product-category{{ option }}"><i class="fa fa-minus-circle"></i> {{ categories[option] }}
                                                                <input type="hidden" name="setting[{{ setting.code }}][{{ sett.key }}][]" value="{{ option }}" />
                                                            </div>
                                                        {% endfor %}</div>
                                                    <span class="form-text text-muted">{{ sett.description }}</span>
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

<script type="text/javascript">
        function saveSetting(){
            $.ajax({
                url: '{{ save_url | replace({'&amp;': "&"}) }}',
                data: $('#op-setting').serialize(),
                type: 'post',
                dataType: 'json',
                beforeSend: function(){

                },
                success:function(response){

                    location.reload();
                }
            });

        }

        // Category
        $('input[name=\'category\']').autocomplete({
            'source': function(request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                    dataType: 'json',
                    success: function(json) {
                        response($.map(json, function(item) {
                            return {
                                label: item['name'],
                                value: item['category_id']
                            }
                        }));
                    }
                });
            },
            'select': function(item) {
                $('input[name=\'category\']').val('');
                var field = $('input[name=\'category\']').data('field');

                $('#product-category' + item['value']).remove();

                $('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="'+field+'[]" value="' + item['value'] + '" /></div>');
            }
        });
        $('#product-category').delegate('.fa-minus-circle', 'click', function() {
            $(this).parent().remove();
        });

</script>


{{ footer }}