{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="table_products" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ col_store_name }}</th>
                                <th>{{ col_store_cash }}</th>
                                <th>{{ col_store_sales }}</th>
                                <th class="text-center">{{ col_store_action }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for store in stores %}
                                <tr>
                                    <td>{{ store.name }}</td>
                                    <td>{{ store.total_cash }}</td>
                                    <td>{{ store.total_pos_sales }}</td>
                                    <td class="text-center">
                                        <a href="{{ store.setting_url }}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Setting"><i class="fa fa-pencil-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
    } );
</script>
{{ footer }}