{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="pull-right">
            <button type="button"  data-toggle="modal" data-target="#barcodeModal"   id="bulk-print-barcode-btn" data-ids="" disabled="true" form="form-module" data-toggle="tooltip" title="Print Barcode" class="btn btn-primary"><i class="fa fa-barcode"></i></button>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">        
                <div class="row">
                    <div class="col-md-12">
                        <table id="table_products" data-order='[[ 1, "desc" ]]' class="table table-bordered table-hover">
                            <thead>
                            <tr>
                            <th><input type="checkbox" data-id="0" id="editor-active-all"></th>
                            <th>{{ column_register }}</th>
                            <th>{{ column_date }}</th>
                            <th>{{ column_by }}</th>
                            <th>{{ column_in }}</th>
                            <th>{{ column_out }}</th>
                            <th>{{ column_ref }}</th>
                        </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="barcodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Print Barcode</h4>
      </div>
      <div class="modal-body">
        <form id="barcode-form-bulk-print"  class="form-horizontal" action="{{ ajax_product_print_barcode_link | replace({'&amp;': "&"}) }}" method="post">
          <div class="form-content"></div>
          <input type="submit" id="barcode-form-bulk-print-submit" style="display:none;" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary barcode-form-bulk-print-btn">Bulk Print Barcode</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
        $('#table_products').DataTable( {
            columnDefs: [
                { orderable: false, targets: [ 0,1,3,4,5,6 ] }
            ],
            "order": [[ 2, "desc" ]],
            "processing": true,
            "serverSide": true,
            "ajax": "{{ ajax_transaction_link | replace({'&amp;': "&"}) }}"
        });
        $(".dataTables_wrapper .row").css("width","100%");
        $('#editor-active-all').click(function(){
            var checked = $(this).prop('checked');
            $('#table_products').find('input').each(function(index,row){
                $(this).prop('checked',checked);
            });
        })
    } );
    function deleteTransactions() {
        var ids = new Array();
        var rows = $('#table_products').find('input:checked').each(function(index,row){
            if($(row).data('id'))
            {
                ids.push($(row).data('id'));
            }

        });

        if(ids.length > 0)
        {
            if(confirm('Are you sure ? '))
            {
                $.ajax({
                   url:  "{{ ajax_transaction_link | replace({'&amp;': "&"}) }}",
                   type: 'post',
                   dataType: 'json',
                   data: {action: 'delete_transaction',data:ids.toString()},
                   success:function(){
                       document.location.reload();
                   }
                });
            }
        }else {
            alert('Please choose row');
        }

    }
</script>
{{ footer }}