{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form_payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form_payment" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="nav-tab active"><a href="#tab_main" data-toggle="tab">{{ text_main }}</a></li>
                    </ul>
          
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_main">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_{{ module_code }}_status" id="input_status" class="form-control">
                                        {% if status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_{{ module_code }}_order_status_id" id="input-order-status" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == order_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_{{ module_code }}_geo_zone_id" id="input-geo-zone" class="form-control">
                                    <option value="0">{{ text_all_zones }}</option>
                                    {% for geo_zone in geo_zones %}
                                        {% if geo_zone.geo_zone_id == geo_zone_id %}
                                        <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                        {% else %}
                                        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_sort_order">{{ entry_sort_order }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_{{ module_code }}_sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order}}" id="input_sort_order" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_title">{{ entry_title }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_{{ module_code }}_title" value="{{ title }}" placeholder="{{ entry_title}}" id="input_title" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_terms">{{ entry_terms }}</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="input_description" placeholder="{{ text_terms }}" rows="7" name="payment_{{ module_code }}_terms">{{ terms }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
