{% if txn == null %}
<div class="table-responsive">
{{ text_no_transaction }}
</div>
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td colspan="2">
<!--
{% if txn.status == 'AUTHORIZED' %}
<a class='btn btn-success capture' data-transaction-id="{{ txn.id }}">{{ text_button_capture }}</a>
{% endif %}
{% if txn.status != 'CLOSED' %}
<a class='btn btn-warning void' data-transaction-id="{{ txn.id }}">{{ text_button_void }}</a>
{% endif %}
-->
                </td>
            </tr>
            <tr>
                <th>{{ entry_transaction_id }}</th>
                <td>{{ txn.id }}</td>
            </tr>
            <tr>
                <th>{{ entry_transaction_date }}</th>
                <td>{{ txn.created_at }}</td>
            </tr>
            <tr>
                <th>{{ entry_transaction_status }}</th>
                <td>{{ txn.status }}</td>
            </tr>
            <tr>
                <th>{{ entry_transaction_amount }}</th>
                <td>{{ txn.amount }}</td>
            </tr>
            <tr>
                <th>{{ entry_transaction_currency }}</th>
                <td>{{ txn.currency }}</td>
            </tr>
            <tr>
                <th>{{ entry_transaction_reference_id }}</th>
                <td>{{ txn.order.reference_id }}</td>
            </tr>
{% if txn.captures %} 
            <tr>
                <th colspan=2>{{ entry_captures }}</td>
            </tr>
    {% for capture in txn.captures %}
            <tr>
                <td>{{ capture.id }}</th>
                <td>{{ capture.amount }} {{ txn.currency }} ({{ capture.created_at }}) 
                    <a class="btn btn-danger refund" data-transaction-id="{{ txn.id }}" data-capture-id="{{ capture.id }}">{{ text_button_refund }}</a>
                </td>
            </tr>
    {% endfor %}
{% endif %}
{% if txn.refunds %} 
            <tr>
                <th colspan=2>{{ entry_refunds }}</td>
            </tr>
    {% for refund in txn.refunds %}
            <tr>
                <td>{{ refund.id }}</th>
                <td>{{ refund.amount }} {{ txn.currency }} ({{ refund.created_at }}) ({{ entry_parent_id }}: {{ refund.capture_id }})</td>
            </tr>
    {% endfor %}
{% endif %}
        </tbody>
    </table>
</div>
{% endif %}
