{{header}}{{column_left}}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
     <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{error_warning}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-edit"></i>{{text_edit}}</h3>
      </div>
      <div class="card-body">
        <form action="{{action}}" method="post" enctype="multipart/form-data" id="form-tap" class="form-horizontal">
		<div class="form-group required">
            <label class="col-sm-2 control-label" for="input-merchantid">{{entry_merchantid}}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_tap_merchantid" value="{{payment_tap_merchantid}}" placeholder="{{entry_merchantid}}" id="input-merchantid" class="form-control" />
              {% if error_merchantid %}
              <div class="text-danger">{{error_merchantid}}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-username">{{entry_username}}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_tap_username" value="{{payment_tap_username}}" placeholder="{{entry_username}}" id="input-username" class="form-control" />
              {% if error_username %} 
                <div class="text-danger">{{error_username}}</div>
              {% endif %}
            </div>
          </div>
      
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password">{{entry_password}}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_tap_password" value="{{payment_tap_password}}" placeholder="{{entry_password}}" id="input-password" class="form-control" />
              {% if error_password %}
                <div class="text-danger">{{error_password}}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-apikey">{{entry_apikey}}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_tap_apikey" value="{{payment_tap_apikey}}" placeholder="{{entry_apikey}}" id="input-apikey" class="form-control" />
              {% if error_apikey %}
                <div class="text-danger">{{error_apikey}}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{entry_test}}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
           
                {%if payment_tap_test %} 
                  <input type="radio" name="payment_tap_test" value="1" checked="checked" />
                  {{text_yes}}
                {% else %}
                  <input type="radio" name="payment_tap_test" value="1" />
                  {{text_yes}}
                {% endif %}
              </label>
              <label class="radio-inline">
                {%if not payment_tap_test %}
                  <input type="radio" name="payment_tap_test" value="0" checked="checked" />
                  {{text_no}}
                {% else %}
                  <input type="radio" name="payment_tap_test" value="0" />
                  {{text_no}}
                {% endif %}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{help_total}}">{{entry_total}}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_tap_total" value="{{payment_tap_total}}" placeholder="{{entry_total}}" id="input-total" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{entry_order_status}}</label>
            <div class="col-sm-10">
              <select name="payment_tap_order_status_id" id="input-order-status" class="form-control">
 
              {% for order_status in order_statuses %}
                {% if(order_status['order_status_id'] == payment_tap_order_status_id) %}
                <option value="{{order_status['order_status_id']}}" selected="selected">{{order_status['name']}}</option>
                {% else %}
                <option value="{{order_status['order_status_id']}}">{{order_status['name']}}</option>
                {% endif %}
               {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{entry_geo_zone}}</label>
            <div class="col-sm-10">
              <select name="payment_tap_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{text_all_zones}}</option>
                {% for geo_zone in geo_zones %}
                  {% if (geo_zone['geo_zone_id'] == payment_tap_geo_zone_id) %} 
                    <option value="{{geo_zone['geo_zone_id']}}" selected="selected"><{{geo_zone['name']}}</option>
                  {% else %}
                    <option value="{{geo_zone['geo_zone_id']}}">{{geo_zone['name']}}</option>
                  {% endif %}
               {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{entry_status}}</label>
            <div class="col-sm-10">
              <select name="payment_tap_status" id="input-status" class="form-control">
                {% if payment_tap_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{entry_sort_order}}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_tap_sort_order" value="{{payment_tap_sort_order}}" placeholder="{{entry_sort_order}}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{footer}} 