<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
    <div style="width: 700px;">
    	<p style="color:#313131;font-family:Verdana,sans-serif;font-size:11px;line-height:20px;margin:15px 0 15px 25px">{{ text_mail_view }}</p>
      <p style="color:#313131;font-family:Verdana,sans-serif;font-size:11px;line-height:20px;margin:15px 0 15px 25px">{{ text_mail_dontreply }}</p>
      <br/>
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td style="padding:15px 0;border-top:1px dotted #b7b7b7" width="100%">
              <table style="table-layout:fixed" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="padding:0 15px 0 15px;width:38px" valign="top">
                      <img alt="" style="height:auto;line-height:100%;outline:none;text-decoration:none;border-radius:50%" src="{{ customer_image }}" width="40" height="40">
                    </td>
                    <td style="padding:0;margin:0" width="100%" valign="top">
                      <p style="font-family:Verdana,Tahoma,sans-serif;font-size:15px;line-height:17px;margin-bottom:0;margin-top:0;padding:0;color:#353535"><strong>{{ text_mail_name }}</strong>
                      </p>
                      <p style="font-family:Verdana,Tahoma,sans-serif;font-size:13px;line-height:24px;margin-bottom:15px;margin-top:0;padding:0;color:#b5b5b5">{{ date_added }} </p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" style="padding:0 15px 0 15px;">
                      <p style="color:#313131;font-family:Verdana,sans-serif;font-size:14px;line-height:20px;margin:15px 0 15px 0">{{ message }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      {% for pending_conversation in pending_conversations %}
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td style="padding:15px 0;border-top:1px dotted #b7b7b7" width="100%">
              <table style="table-layout:fixed" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="padding:0 15px 0 15px;width:40px" valign="top">
                      <img alt="" style="height:auto;line-height:100%;outline:none;text-decoration:none;border-radius:5px" src="{{ pending_conversation.image }}" width="40" height="40">
                    </td>
                    <td style="padding:0;margin:0" width="100%" valign="top">
                      <p style="font-family:Verdana,Tahoma,sans-serif;font-size:15px;line-height:17px;margin-bottom:0;margin-top:0;padding:0;color:#353535">
                        <strong>{{ pending_conversation.name }}</strong>
                      </p>
                      <p style="font-family:Verdana,Tahoma,sans-serif;font-size:13px;line-height:24px;margin-bottom:15px;margin-top:0;padding:0;color:#b5b5b5">{{ pending_conversation.date_added }} </p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" style="padding:0 15px 0 15px;">
                      <p style="color:#313131;font-family:Verdana,sans-serif;font-size:14px;line-height:20px;margin:15px 0 15px 0">{{ pending_conversation.message }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
    	</table>
    	{% endfor %}
    </div>
</body>
</html>