<div class="search">
  <div id="search" class="input-group w-100">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
    <div class="input-group-append">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-search hidden-lg hidden-md hidden-sm"></i>
        <span class="hidden-xs">Search</span>
      </button>
    </div>
  </div>
</div>
