{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
<div id="container" class="container">
  {% if custom_themename != 'journal2' %}<div class="row">{% endif %}{{ column_left }}{% if custom_themename == 'journal2' %}{{ column_right }}{% endif %}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="m-multivendor-wrap mv-dashboard-wrap">
        <div class="row">
          <div class="col-sm-3">
            {{ store_profile }}
          </div>
          <div class="col-sm-9">
            {{ store_banner }}

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div id="find-category">
                    <h3>{{ entry_category }}</h3>
                    <a href="{{ no_category_href }}" class="{{ filter_category_id ? 'label-category' : 'label-category-green' }}">{{ text_all_category }}</a>
                    {% for product_category in product_categories %}
                    {% if product_category.category_id == filter_category_id %}
                    <a href="{{ product_category.href }}"><label class="label-category-green">{{ product_category.name }}</label></a>
                    {% else %}
                    <a href="{{ product_category.href }}"><label class="label-category">{{ product_category.name }}</label></a>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              {% if custom_themename == 'journal2' %}
              <div class="col-sm-12">
                <div class="product-filter">
                  <div class="col-md-5 col-sm-6 hidden-xs">
                    <div class="btn-group btn-group-sm">
                      <button type="button" id="grid-view" class="list-btn" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                      <button type="button" id="list-view" class="grid-btn" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <label for="input-sort">{{ entry_sort }}</label>
                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                      {% for sorts in sorts %}
                      {% if sorts.value == '%s-%s'|format(sort, order) %}
                      <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                      {% else %}
                      <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <label for="input-limit">{{ entry_limit }}</label>
                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                      {% for limits in limits %}
                      {% if limits.value == limit %}
                      <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                      {% else %}
                      <option value="{{ limits.href }}">{{ limits.text }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if custom_themename != 'journal2' %}
              <div class="col-md-5 col-sm-6 hidden-xs">
                <div class="btn-group btn-group-sm">
                  <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                  <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                </div>
              </div>
              <div class="col-md-4 col-xs-6">
                <div class="form-group input-group input-group-sm">
                  <label class="input-group-addon" for="input-sort">{{ entry_sort }}</label>
                  <select id="input-sort" class="form-control" onchange="location = this.value;">
                  {% for sorts in sorts %}
                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                  <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                  {% else %}
                  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group input-group input-group-sm">
                  <label class="input-group-addon" for="input-limit">{{ entry_limit }}</label>
                  <select id="input-limit" class="form-control" onchange="location = this.value;">
                  {% for limits in limits %}
                  {% if limits.value == limit %}
                  <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                  {% else %}
                  <option value="{{ limits.href }}">{{ limits.text }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                </div>
              </div>
              {% endif %}
            </div>
            {% if products %}
            <div class="row">
          	{% for product in products %}
		        <div class="product-layout product-list col-xs-12">
		          <div class="product-thumb">
		            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
		            <div class="product-detail">
		              <div class="caption">
		                <h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
		                <p class="description">{{ product.description }}</p>
		                {% if product.price %}
		                <p class="price">
		                  {% if not product.special %}
		                  {{ product.price }}
		                  {% else %}
		                  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
		                  {% endif %}
		                  {% if product.tax %}
		                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
		                  {% endif %}
		                </p>
		                {% endif %}
		                {% if product.rating %}
		                <div class="rating">
		                  {% for i in 1..5 %}
		                  {% if product.rating < i %}
		                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
		                  {% else %}
		                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
		                  {% endif %}
		                  {% endfor %}
		                </div>
		                {% endif %}
		              </div>
                  {% if custom_themename == 'journal2' %}
                  <div class="button-group">
                    <div class="cart">
                      <button class="button" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                    </div>
                    <div class="wishlist">
                      <a class="hint--top" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i><span class="button-wishlist-text">{{ button_wishlist }}</span></a>
                    </div>
                    <div class="compare">
                      <a  class="hint--top" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i> <span class="button-wishlist-text">{{ button_compare }}</span></a>
                    </div>
                  </div>
                  {% endif %}
                  {% if custom_themename != 'journal2' %}
		              <div class="button-group">
		                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
		                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
		                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
		              </div>
                  {% endif %}
		            </div>
		          </div>
		        </div>
		        {% endfor %}
            </div>
            <div class="row pagination">
		        	<div class="col-sm-6 text-left links">{{ pagination }}</div>
		        	<div class="col-sm-6 text-right results">{{ results }}</div>
		      	</div>
            {% else %}
            <br />
            <h4 class="text-center">{{ text_no_result }}</h4>
            {% endif %}
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {% if custom_themename != 'journal2' %}{{ column_right }}{% endif %}
  {% if custom_themename != 'journal2' %}</div>{% endif %}
</div>
</section>
{{ footer }}