<style>
 	@import url('https://fonts.googleapis.com/css?family=Roboto');
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
body{font-family: 'Roboto', sans-serif;}
/*
1.1 Header Area
***************************************************/
/*Bootstrap Reset*/
.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}
.mainmenu {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
	border: 0px !important;
}
.navbar-nav > li:last-child > a {
    padding-right: 0px;
    margin-right: 0px;
}
.dropdown-menu {
    padding: 0px 0; 
    margin: 0 0 0; 
    max-width:200px;
	border: 0px solid rgba(0,0,0,.15);	
	border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}
.dropdown-menu {
    right: auto;
    left: auto;
}
/*=-====Main Menu=====*/
.navbar-nav .open .dropdown-menu > li > a {padding: 16px 15px 16px 25px;
}
.header_bottom { background: #0071ba }
.header_area .header_bottom .mainmenu a , .navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 10px;
	font-family: 'Roboto', sans-serif;
}
.header_area .mainmenu .active a,
.header_area .mainmenu .active a:focus,
.header_area .mainmenu .active a:hover,
.header_area .mainmenu li a:hover,
.header_area .mainmenu li a:focus ,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #0071ba;
    background: #54c6d4;
    outline: 0;
}
/*-----./ Main Menu-----*/

.navbar-default .navbar-toggle { border-color: #fff } /*Toggle Button*/
.navbar-default .navbar-toggle .icon-bar { background-color: #fff } /*Toggle Button*/

/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{background: #fff;}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{background: #CBEAF0;}
.mainmenu .collapse ul ul ul > li:hover > a{background: #CBEAF0;}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:#fff;}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#fff}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#fff}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px}
.dropdown-menu>li>a {
    white-space: normal;
}
@media only screen and (min-width: 767px) {

 
{% if lang == 'ar' %}
    
/*    .dropdown-submenu > a:before {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: left;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}*/
 
 .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #333;
    margin-top: 5px;
    margin-left: -10px;
}


.mainmenu .collapse ul li{position:relative;}
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;right:0;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}

.mainmenu .collapse ul ul ul{position:absolute;top:0;right:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;right:100%;min-width:250px;display:none;z-index:1}
{% else %}
    
    .dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.mainmenu .collapse ul li{position:relative;}
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}

.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none;z-index:1}
{% endif %}

}
@media (max-width: 767px){
    .dropdown-menu>li>a {
    white-space: normal;
}
    .xslogo{
        margin-right:70px;
    }
.navbar-header button {
    border: none;
    background: #2d9ed8; 
}
.owl-carousel { 
    z-index: -1;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    z-index: 999999;
    background-color: #ffffff;
    position: relative;
}
}
@media (max-width: 480px){
    .xs-head-right {
    position: absolute;
    right: 88px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff;
 }
.xs-se {
    margin-top: -45px;
}
    
}
</style>
<script>
(function($){
	$(document).ready(function(){
		$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
			event.preventDefault(); 
			event.stopPropagation(); 
			$(this).parent().siblings().removeClass('open');
			$(this).parent().toggleClass('open');
		});
	});
})(jQuery);
</script> 

{% macro cpitems(categories, categories_info, text_all, level) %}
    {% for key, category in categories %}
        {% if category %}
        <li class="imrantop dropdown {% if level > 0 %}dropdown-submenu{% endif %}">
            <a href="{{ categories_info[key].href }}" class="dropdown-toggle" data-toggle="dropdown">
              {% if level > 0 %} {{ categories_info[key].name }} {% else %} {{ categories_info[key].simple_name }} <span class="caret"></span>{% endif %}
            </a>
             
                <ul class="dropdown-menu">
                  {{ _self.cpitems(category, categories_info, text_all, (level + 1)) }}
                </ul>
             
        </li>
        {% else %}
        <li><a class="imelse" href="{{ categories_info[key].href }}">
            
            {% if level == 0 %} {{ categories_info[key].simple_name }} {% else %} {{ categories_info[key].name }} {% endif %}
        </a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}


<nav role="navigation" class="navbar navbar-default mainmenu">
                <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collection of nav links and other content for toggling -->
                        <div id="navbarCollapse" class="collapse navbar-collapse">
                            <ul id="fresponsive" class="nav navbar-nav dropdown" style=" margin-left: 5%;">
                                
                                {{ _self.cpitems(multiple_categories.categories, multiple_categories.categories_info, text_all, 0) }}
                                     
                            </ul>
                        </div>
                    </nav>



<div class="hidden-xs">
    <div class="" style="display:none;" >
      <nav id="menu" class="imrannavbar navbar" >
        <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="imraul nav navbar-nav justify-content-center">
              {{ _self.cpitems(multiple_categories.categories, multiple_categories.categories_info, text_all, 0) }}
          </ul>
        </div>
      </nav>
    </div>
</div>
 