{{ header }}
<div id="product-category" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
    
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <!-- <h2>{{ heading_title }}</h2> -->
        <div class="col-xs-12 cate-border">
            <div class="col-md-2 col-sm-6 col-xs-5">
                <div class="btn-group btn-group-sm">
                    <button type="button" id="list-view" class="btn listgridbtn" data-toggle="tooltip" title="{{ button_list }}">
                        <i class="fa fa-th-list"></i>
                    </button>
                    <button type="button" id="grid-view" class="btn listgridbtn" data-toggle="tooltip" title="{{ button_grid }}">
                        <i class="fa fa-th"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-7 hidden-md">
                <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-6 col-sm-6 catesort">
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                        {% for sorts in sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-xs-6 catesort">
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                        {% for limits in limits %}
                            {% if limits.value == limit %}
                                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                            {% else %}
                                <option value="{{ limits.href }}">{{ limits.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        {% if thumb or description %}
            <div class=" col-xs-12 category-top">
                <div>
                    {# {% if thumb %}
                        <div class="col-sm-2">
                            <img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
                        </div>
                    {% endif %} #}
                    {% if description %}
                        <div class="col-sm-12 catde">{{ description }}
                            {% if categories %}
                                <div class="category-refine">
                                    <h3>{{ text_refine }}</h3>
                                    {% if categories|length <= 5 %}
                                        <div class="row">
                                            <div class="col-sm-12 cat-list">
                                                <ul>
                                                    {% for category in categories %}
                                                        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                                                        <!-- <h1>{{ category.image_name }}</h1> -->
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            {% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
                                                <div class="col-sm-6 col-md-6 col-lg-3 cat-list">
                                                    <ul>
                                                        {% for child in category %}
                                                            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <br />
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                </div>
        {% endif %}
      </div>
      {% endif %}

      {% if products %}
      <div class="row"> {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img 
				class="lazy-load" data-original="{{ product.thumb }}" {{ lazy_load_width_height }}
			 alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
            {% if product.price %}
              {% if product.special %}
                 <div class="sale">Sale</div>
              {% endif %}
            {% endif %}
            </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="list-des">{{ product.description }}</p>
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         <!--  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} -->
        </p>
        {% endif %}
         {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
      </div>
     <div class="button-group">
         <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="com"><i class="fa fa-compress"></i></button>
        <button type="button" data-toggle="tooltip"  title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');" class="cart"><i class="fa fa-shopping-bag"></i> <!-- <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> --></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="wish"><i class="fa fa-heart-o"></i></button>
      </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row pagi">
        <div class="col-xs-6 text-left">{{ pagination }}</div>
        <div class="col-xs-6 text-right page-result">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
