.store_color{
    color:var(--base_store,#6c3c7a);
}
.store_background{
    background:var(--base_store,var(--base_store,#6c3c7a));
}
#close_hn:hover{
	color:#fff!important;
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5qjHrRpiYlJ.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5qjHrFpiQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v3/Iura6YBj_oCad4k1nzSBC45I.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v3/Iura6YBj_oCad4k1nzGBCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l8KiHrRpiYlJ.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l8KiHrFpiQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
	font-family: 'Tajawal';
	font-weight: 400;
	color: var(--base_font_color,#6c3c7a);
	font-size: 14px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: var(--base_font_color,#6c3c7a);
}
:focus{
	outline: none;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    color: #transparent;
    background-color: var(--base_store,#6c3c7a);
    border-color: var(--base_store,#6c3c7a);
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus,
.btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus, .btn-primary:focus{
    color: #fff;
    background-color: var(--base_store,#6c3c7a);
    border-color: var(--base_store,#6c3c7a);
}
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: var(--base_font_color,#6c3c7a);
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px;
	color: var(--base_font_color,#6c3c7a);
	letter-spacing: 0.5px;
}
label {
	font-weight: normal;
	letter-spacing: 0.5px;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
	border-radius: 0;
	box-shadow: none;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
.form-control:focus {
    border-color: var(--base_store,#6c3c7a);
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 25px;
	margin-top: 25px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: var(--base_font_color,#6c3c7a);
	background-color: transparent;
}
/* top */
#top {
	background-color: #f7f7f7;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
	margin: 0 10px;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: var(--base_font_color,#6c3c7a);
}
#top .btn-link, #top-links li, #top-links a {
	color: var(--base_font_color,#6c3c7a);
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 0;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}

#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* search */
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
	border: 1px solid var(--base_store,#6c3c7a);
	box-shadow: none;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#search .btn-lg {
	font-size: 14px;
	line-height: 18px;
	padding: 11px 30px;
	background-color: var(--base_store,#6c3c7a);
	border: var(--base_store,#6c3c7a);
	color: #fff;
	font-family: 'Tajawal';
	letter-spacing: 1px;
	transition: all 0.3s linear 0s;
	cursor: pointer;
	border-radius: 0;

	border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px;
}
/* cart */
#cart > .btn {
	line-height: 18px;
	background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 200px;
	margin-top: 15px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 300px;
		right: -17px;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
/* #menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
} */
#menu .nav > li > a {
	color: var(--base_font_color,#6c3c7a);
	text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: 1px solid #ececec;
	padding: 14.7px 10px 14.7px 10px;
	font-size: 14px
}
#menu .nav > li > a:hover{
	background-color: transparent;
	color: var(--base_font_color,#6c3c7a);
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	color: var(--base_font_color,#6c3c7a);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 25px;
	color: var(--base_font_color,#6c3c7a);
	letter-spacing: 1px;
	font-size: 14px;
}
#menu .dropdown-inner li a:hover {
	color: var(--base_font_color,#6c3c7a);
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	 	background-color: transparent;
	    border: none;
	    color: var(--base_font_color,#6c3c7a);
	    font-size: 17px;
	    line-height: 24px;
	    padding: 0;
	    cursor: pointer;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: var(--base_font_color,#6c3c7a);
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
		right: 0;
		left: 100%;
		margin: 0 !important;
	}
}
@media (max-width: 767px) {
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover,.nav > li > a:focus, .nav > li > a:hover{
		background-color: transparent;
	}
	#menu .fa.fa-angle-down {
    	float: right;
		margin: 0 15px;
	}
	#menu {
		position: absolute;
		top: 5px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: var(--base_font_color,#6c3c7a);
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		color: var(--base_font_color,#6c3c7a);
	}
	#menu .see-all {
		display: none;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	background-color: #131313;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #878787;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 40px
}
footer a:hover {
	color: var(--base_font_color,#6c3c7a);
}
footer h5 {
	font-size: 16px;
	font-family: 'Tajawal';
	color: #fff;
	letter-spacing: 1px;
	font-weight: normal;
	margin-top: 70px;
	margin-bottom: 20px;
}
/* alert */
.alert {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
	border: 1px solid var(--base_store,#6c3c7a);
	background-color: var(--base_store,#6c3c7a);
	padding: 12px 14px 12px 14px;
	z-index: 99;
	border-radius: 0;
}
.alert a:hover {
    color: #ccc;
}
.alert a {
    color: #e05714;
}
.alert .close {
    color: #fff;
    opacity: 1;
    right: 0;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 40px 0;
	padding: 8px 0;
	background-color: var(--base_store,#6c3c7a);
	border-radius: 0;
}
.breadcrumb a {
	color: #fff;
	letter-spacing: 1px;
	font-size: 14px;
}
.breadcrumb a:hover {
	color: var(--base_font_color,#6c3c7a);
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 9px;
	height: 9px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.breadcrumb > li:last-child::after {
    border-bottom: 0;
    border-right: 0;
}
.pagination {
	margin: 0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover, .pagination > li > a:hover, .pagination > li > span:hover{
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
	color: #fff;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius: 0;
}
.pagination > li > a, .pagination > li > span{
	margin-left: 8px;
}
.pagination > li > a, .pagination > li > span{
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
	color: #fff;
}
.page-result{
	line-height: 34px;
	color: var(--base_font_color,#6c3c7a);
	letter-spacing: 0.5px;
}
.pagi{
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 15px 0;
}
.table-hover > tbody > tr:hover {
    background-color: #fff;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7px 12px;
	font-size: 14px;
	border-radius: 0px;
	letter-spacing: 1px;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #fff;
	text-shadow: none;
	font-size: 14px;
	border-radius: 0px;
	letter-spacing: 1px;
	background-color: var(--base_store,#6c3c7a);
	border: var(--base_store,#6c3c7a);
	transition: 0.3s all ease;
}
.btn-primary {
	color: #ffffff;
	background-color: var(--base_store,#6c3c7a);
	border: var(--base_store,#6c3c7a);
	transition: 0.3s all ease;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],.btn-default:hover,.btn-danger:hover,
.btn-danger.focus, .btn-danger:focus{
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
	color: #fff;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
	border-radius: 0;
	transition: 0.3s all ease;
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
	border-radius: 0;
	transition: 0.3s all ease;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
/* .product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
} */
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image img {
	margin-left: auto;
	margin-bottom: 15px;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	text-transform: capitalize;
	margin-top: 10px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product-thumb h4 a {
	color: var(--base_font_color,#6c3c7a);
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	font-family: 'Tajawal';
	font-weight: normal;
	letter-spacing: 0px;
}
.product-thumb h4 a:hover{
	color: var(--base_font_color,#6c3c7a);
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
/* @media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
} */
@media (max-width: 767px) {
         #bestleft .owl-next,#saleleft .owl-next,#testi .owl-next,#bestleft .owl-prev,#saleleft .owl-prev,#testi .owl-prev {
            top: -22px !important;
          }
        .user-drop{
            margin-left: 13px !important;
         }
	#search .btn-lg {
	    font-size: 15px;
	    padding: 8px 11px;
	    letter-spacing: 0;
	}
	#search .input-lg {
	    height: 34px;
	}
	.xs-se{
		margin-top: 15px;
	}
	header {
	    padding: 10px 0 !important;
	}
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}

}
.product-thumb .rating {
	text-align: center;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #000;
	font-size: 15px;
}
.rating .fa-star {
	color: #ffe234;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #ffe234;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: var(--base_font_color,#6c3c7a);
	float: left;
	font-size: 14px;
}
.product-thumb .price-old {
	color: #a94442;
	text-decoration: line-through;
	margin-left: 2px;
	font-size: 12px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	text-align: center;
	clear: both;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	background-color: #f1f1f1;
	border: 1px solid #e1e1e1;
	border-radius: 50%;

	text-align: center;

    padding: 7px 9px 4px 9px;
	margin: 0 10px;

	transition: 0s;
}
/* .product-thumb .button-group button + button {
	border-left: 1px solid #ddd;
} */
.product-thumb .button-group button:hover {
	background-color: var(--base_store,#6c3c7a);
	color: #fff;
	border: 1px solid var(--base_store,#6c3c7a);
	transition: none;
	cursor: pointer;
	text-decoration: none;
}

.thumbnails {
	list-style: none;
}
/* .thumbnails > li {
	margin-left: 20px;
} */
/* .thumbnails {
	margin-left: -20px;
} */
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled],.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: var(--base_store,#6c3c7a);
    border-color: var(--base_store,#6c3c7a);
}

/* custom */
a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
    outline: none;
}
a:focus, a:hover {
    color: var(--base_font_color,#6c3c7a);
    text-decoration: none;
}
@media (min-width:1850px) {
    .container {
        width: 1800px;
    }
}
@media (min-width:1401px) and (max-width: 1849px) {
	.container {
	    width: 1370px;
	}
}
/* top pati */
.user-drop .dropdown-menu li{
	margin: 2px 0px;
}
.user-drop .dropdown-menu li i{
	margin: 0 10px 0 0;
}
#form-currency,#form-language{
	display: inline-block;
}
#form-currency .btn-link .cur-sy{
	background-color: var(--base_store,#6c3c7a);
	color: #fff;
	min-width: 22px;
	min-height: 20px;
	border-radius: 50%;
	text-align: center;
	padding-top: 2px;
	font-size: 14px;
	margin-right: 5px;
	display: inline-block;
	padding-left: 3px;
}
.head-right li{
 	display: inline-block;
 	margin-left: 20px;
}
.head-right{
	margin-top: 10px;
	text-align: right;
	padding: 0;
}
#cart-total {
    position: absolute;
    top: -11px;
    color: var(--base_font_color,#6c3c7a);
    border-radius: 50%;
    min-width: 19px;
    min-height: 19px;
    text-align: center;
    font-size: 12px;
    margin-left: -19px;
}
header{
	padding: 40px 0;
}
#search .btn-lg:hover{
	background-color: var(--base_store,#6c3c7a);
}
/* @media(min-width: 767px){
	.horizontal-menu{
		display: none;
	}
	#column-left .horizontal-menu{
		display: block;
	}
} */
.cate {
    background-color: var(--base_store,#6c3c7a);
    color: #fff;
    text-transform: uppercase;
    padding: 13px 0 13px 15px;
    font-family: 'Tajawal';
    font-size: 16px;
    letter-spacing: 1px;
}
#menu .navbar-collapse{
	padding: 0;
	display: block;
}
.cate i {
    margin: 0 15px;
    font-size: 16px;
}
.enangle{
	float: right;
}
.arangle{
	display: none;
}
.social ul li{
	display: inline-block;
	cursor: pointer;
	margin-right: 18px
}
.social ul{
	margin-bottom: 0;
	margin-top: 10px;
}
#cart .btn-danger {
    padding: 0 5px;
    font-size: 12px;
}
#cart li{
	display: block;
	margin: auto;
}
/* slider */
#slideshow0 .owl-prev{
	margin: 0 8px;
        background-color: transparent;
	opacity: 1;
	display: inline-block;
	color: var(--base_font_color,#6c3c7a);
	transition: 0.5s ease;
	text-align: center;
	position: absolute;
	top: 48%;
	left: 0;
}
#slideshow0 .owl-next{
	margin: 0 8px;
        background-color: transparent;
	opacity: 1;
	display: inline-block;
	color: var(--base_font_color,#6c3c7a);
	transition: 0.5s ease;
	text-align: center;
	position: absolute;
	top: 48%;
	right: 0;
}
#slideshow0 .owl-buttons i{
	font-size: 40px;
}
#slideshow0 .owl-next:hover, #slideshow0 .owl-prev:hover {
    color: var(--base_font_color,#6c3c7a);
}
#slideshow0 .owl-buttons{
	opacity: 0;
}
#slideshow0:hover .owl-buttons{
	opacity: 1;
}
/* product */

#featurep .owl-buttons i,#specialp .owl-buttons i,#bestp .owl-buttons i,#latest .owl-buttons i,#blog .owl-buttons i,#related .owl-buttons i,
#carousel0 .owl-buttons i,#gallery_01 .owl-buttons i{
        color: var(--base_font_color,#6c3c7a);
        font-size: 25px;
        transition: all 0.6s ease 0s;
}
#carousel0{
        margin-bottom:0;
        margin-top: 10px;
}

#featurep .owl-prev,#bestp .owl-prev,#specialp .owl-prev,#latest .owl-prev,#blog .owl-prev,#related .owl-prev{
	padding: 0;
	margin: 0;
	background: transparent;
	position: absolute;
	right: 55px;
	top: -44px;
	left: auto;
}
#carousel0 .owl-prev,#gallery_01 .owl-prev{
	padding: 0;
	margin: 0;
	background: transparent;
	position: absolute;
	top: 45%;
	left: 5px;
}
#featurep .owl-next,#bestp .owl-next,#specialp .owl-next,#latest .owl-next,#blog .owl-next,#related .owl-next{
	padding: 0;
	margin: 0;
	background: transparent;
	position: absolute;
	right: 15px;
	top: -44px;
}
#carousel0 .owl-next,#gallery_01 .owl-next{
	padding: 0;
	margin: 0;
	background: transparent;
	position: absolute;
	right: 5px;
	top: 45%;
}
#featurep .owl-buttons i:hover,#bestp .owl-buttons i:hover,#specialp .owl-buttons i:hover,#latest .owl-buttons i:hover,#blog .owl-buttons i:hover,
#carousel0 .owl-buttons i:hover,#related .owl-buttons i:hover,#gallery_01 .owl-buttons i:hover{
	color: var(--base_font_color,#6c3c7a);
}
.owl-theme .owl-controls .owl-buttons div {
	opacity: 1 !important;
}
#featurep .product-layout,#bestp .product-layout,#specialp .product-layout{
	margin-bottom: 15px;
}
#featurep,#bestp,#specialp{
	margin-bottom: 0px;
}
.heading{
	font-family: 'Tajawal';
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 26px;
	text-transform: capitalize;
}
#featurep .owl-wrapper-outer,#bestp .owl-wrapper-outer,#specialp .owl-wrapper-outer,#latest .owl-wrapper-outer,#blog .owl-wrapper-outer,
#carousel0 .owl-wrapper-outer,#slideshow0 .owl-wrapper-outer,#bestleft .owl-wrapper-outer,#saleleft .owl-wrapper-outer,#testi .owl-wrapper-outer,
#testi .owl-wrapper-outer,#related .owl-wrapper-outer,#gallery_01 .owl-wrapper-outer{
	box-shadow: none;
	border: none;
	border-radius: 0;
}
.pro-tab {
	border-bottom: none;
}
.pro-tab > li.active > a, .pro-tab > li.active > a:focus, .pro-tab > li.active > a:hover, .pro-tab > li > a:hover, .pro-tab > li > a,
.pro-tab > li > a:focus{
	border: none;
	background-color: #fff;
}
.pro-tab li a:hover, .pro-tab li.active a, .pro-tab li.active a:hover,.pro-tab > li.active > a, .pro-tab > li.active > a:focus{
    color: var(--base_font_color,#6c3c7a);
}
.pro-tab li a {
    color: var(--base_font_color,#6c3c7a);
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Tajawal';
    padding:0;
}
.tab-fe a {
    border-right: 1px solid #e7e7e7 !important;
    border-left: 1px solid #e7e7e7 !important;

}
@media(min-width:600px){
      .tab-fe a {
         padding: 0 15px !important;
         margin: 0 15px !important;
  }
}
 .product-thumb .caption{
 	transition: all 0.6s ease 0s;
 	margin-left: 5px;
	margin-right: 5px;
 }
 .product-thumb:hover .caption {
    opacity: 0;
}
.product-thumb .button-group{
	position: absolute;
	bottom: 18px;
	width: 100%;
	-webkit-transition: .3s;
	transition: .3s;
	left: 0;
	right: 0;
}
.product-thumb:hover .button-group .com,
.product-thumb:hover .button-group .wish,
.product-thumb:hover .button-group .cart{
    opacity: 1;
    transform: scale(1, 1)
}
.product-thumb .button-group .com,
.product-thumb .button-group .wish,
.product-thumb .button-group .cart{
 	opacity: 0;
 	transform: scale(0, 0);
 	 -webkit-transition: all 0.4s ease-in-out 0s;
     -o-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s;
}
.sale{
	position: absolute;
	left: 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	top: 10px;
	padding:4px;
	background:#dc3545;
	border-radius:5px;
}
.sale {
    opacity: 0;
    transition: all 0.6s ease 0s;
    transform: scale(0);
}
.product-thumb:hover .sale{
    opacity: 1;
    transform: scale(1);
}

/* sell banner */
.offerbanner {
    margin: 0px 0 35px 0;
}
.sellbanner {
    margin: 0px 0 30px 0;
}
.beffect a::after{
	background: rgba(252,16,30,0.15) none repeat scroll 0 0;
	bottom: 50%;
	content: "";
	left: 0px;
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	position: absolute;
	right: 0px;
	top: 50%;
}
.beffect a:hover::after{
	bottom: 0;
	opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	top: 0;
	transition: all 900ms ease-in-out 0s;
	-webkit-transition: all 900ms ease-in-out 0s;
	-moz-transition: all 900ms ease-in-out 0s;
	-o-transition: all 900ms ease-in-out 0s;
	-ms-transition: all 900ms ease-in-out 0s;
}
.beffect a::before{
	background: rgba(252,16,30,0.15) none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 51%;
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	position: absolute;
	right: 50%;
	top: 0;
}
.beffect a:hover::before{
	left: 0;
	opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	right: 0;
	transition: all 900ms ease-in-out 0s;
	-webkit-transition: all 900ms ease-in-out 0s;
	-moz-transition: all 900ms ease-in-out 0s;
	-o-transition: all 900ms ease-in-out 0s;
	-ms-transition: all 900ms ease-in-out 0s;
}
.beffect{
	position: relative;
}

/*====================== BLOG START ============================ */
.blog_webi{
	margin-left: -15px;
	margin-right: -15px;
}
.blog-date{
	float: left;
}
@media(max-width: 767px){
	.box-product .row{
		margin: 0;
	}
}
#content .box-product .blog-items {
	display: inline-block;
	float: left;
}
.blog-left {
    margin-bottom: 10px;
}
.date-blog-hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.the_dated{
	font-size: 40px;
}
.view-blog {
	margin: 10px 0;
	text-transform: capitalize;
}
.view-blog i {
	margin: 0 3px;
}
.author {
	color: #808080;
	margin-bottom: 15px;
}
.blog-right .author .fa.fa-user {
	color: #9c9c9c;
	margin-right: 3px;
}
.blog-desc {
	font-size: 12px;
	color: #ccc;
	line-height: 30px;
	text-transform: capitalize;
	text-align: justify;
	letter-spacing: 0.5px;
}
.blog-img {
	padding: 10px 0 0;
}
.date-time, .write-comment > a {
	color: #aaa;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 14px;
}
.date-time{
	margin-left: 5px;
}
#content #blog-carousel, #content #blog-grid {
	padding: 0px 0;
	border: none;
	overflow: visible;
}
#content #blog-carousel .blog-item {
	float: left;
}
#content #blog .product-block, #content #blog .product-block {
	margin: 5px 0px;
	overflow: hidden;
}
#content #blog-carousel .product-block:hover, #content #blog-grid .product-block:hover {
	box-shadow: none;
}
.blog-right h4 a {
	text-transform: capitalize;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: 'Tajawal';
}
.bhr {
    border-top: 2px solid var(--base_store,#6c3c7a);
	width: 20%;
	margin: 20px 0;
}
.blog-right h4{
	margin-top: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-block .blog-right h4 a:hover {
	color: var(--base_font_color,#6c3c7a);
}
.blog_comment {
	font-size: 16px;
	margin: 0 25px;
	float: left;
}
.blog-right .read_link > a {
	text-decoration: underline;
}
.read_link{
	margin-top: 15px;
}
.read_link .fa.fa-book {
	margin-right: 5px;
}
.webi-single-blog .blog-desc {
    color: #797979;
	text-align: justify;
	margin-top: 15px;
}
.webi-single-blog .block-title h3 {
	padding: 10px 0;
	color: #222;
}
.panel {
    box-shadow: none;
}
.blog-comment{
	font-size: 16px;
	color: var(--base_font_color,#6c3c7a);
	margin-top: 20px;
}
.webi-single-blog .view-comment .panel-default {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	border-left: medium none;
	border-right: medium none;
	box-shadow: none;
	padding: 20px 0;
}
.view-comment .name {
	color: #161b1e;
	font-weight: 700;
}
.view-comment .date {
	color: #bbb;
	font-size: 12px;
}
.webi-blog-image {
	position: relative;
}
.img-thumbnail{
	border: none;
}
.headingpage{
	font-size: 20px;
	letter-spacing: 1px;
	color: #212121;
}
/* .webi-post-author{
	text-align: center;
} */
.product-block .blog-left .webi-post-author {
	bottom: -20px;
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	left: 20px;
	position: absolute;
	text-transform: capitalize;
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	z-index: 9999;
	text-align: center;
}
.product-block:hover .blog-left .webi-post-author {
	bottom: 23px;
}

.write-comment > a:hover, .product-block .blog-right a:hover {
	color: var(--base_font_color,#6c3c7a);
}
.product-block .blog-left .webi-post-author::before {
	border-bottom: 1px solid #fff;
	bottom: -7px;
	content: "";
	display: block;
	left: 0;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	width: 30px;
}
.webi_blog_page .panel-body {
	border: medium none;
	padding: 0px;
}
.webi_blog_page .webi-blog-image {
	background-position: center center;
	float: left;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.webi_blog_page .panel.panel-default {
	border: medium none;
}
.webi_blog_data_left .blog-date {
	color: var(--base_font_color,#6c3c7a);
	font-size: 14px;
}
.webi_blog_page .panel-body h5 {
	color: #222;
	display: inline;
	font-size: 24px;
	text-transform: capitalize;
}
.blog_links .blog_autor {
	float: left;
	font-size: 12px;
	position: relative;
}
.blog_links .write-comment {
	font-size: 16px;
}
.blog_links .fa {
	margin-right: 5px;
}
.blog_links {
	margin: 20px 0px;
}
.webi_blog_page .panel-body a {
	color: var(--base_font_color,#6c3c7a);
}
.webi_blog_page .panel-body a:hover, .webi_blog_page .panel-body a:focus {
	color: var(--base_font_color,#6c3c7a);
}
.webi_blog_page .read-more {
	float: left;
	text-align: left;
	margin: 20px 0 0;
}
.webi_blog_page .read-more a {
	background: var(--base_store,#6c3c7a);
	border: 1px solid var(--base_store,#6c3c7a);
	color: #fff;
	display: inline-block;
	padding: 6px 10px;
	transition: all 300ms ease 0s;
	text-transform: capitalize;
}
.webi_blog_page .read-more a:hover {
	background: var(--base_store,#6c3c7a);
	border: 1px solid var(--base_store,#6c3c7a);
	color: #fff;
	transition: all 300ms ease 0s;
}
.webi_blog_page .webi-blog-image .blog-post-image-hover {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	visibility: hidden;
	width: 100%;
}
.webi_blog_page .webi-blog-image .webi_post_hover .icon.zoom {
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	color: #fff;
	display: inline-block;
	margin-right: 10px;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-ms-opacity: 0;
	-khtml-opacity: 0;
	padding: 10px 14px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	z-index: 10;
}
.webi_blog_page .webi-blog-image .webi_post_hover .icon.zoom .fa, .webi_blog_page .webi-blog-image .webi_post_hover .icon.readmore_link .fa {
	color: #fff;
	font-size: 40px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.webi_blog_page .webi-blog-image .webi_post_hover .icon.readmore_link {
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	color: #fff;
	display: inline-block;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-ms-opacity: 0;
	-khtml-opacity: 0;
	padding: 10px 14px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	z-index: 10;
}
.webi_blog_page .webi-blog-image:hover .blog-post-image-hover {
	opacity: 0.3;
	-moz-opacity: 0.3;
	-webkit-opacity: 0.3;
	-ms-opacity: 0.3;
	-khtml-opacity: 0.3;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	visibility: visible;
}
.webi_blog_page .webi-blog-image:hover .webi_post_hover, .webi_blog_page .webi-blog-image:hover .webi_post_hover .icon.readmore_link, .webi_blog_page .webi-blog-image:hover .webi_post_hover .icon.zoom {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-ms-opacity: 1;
	-khtml-opacity: 1;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.webi_blog_page .webi-blog-image .webi_post_hover .icon.readmore_link:hover, .webi_blog_page .webi-blog-image .webi_post_hover .icon.zoom:hover {
	background-color: #3498db;
	border-color: #3498db;
}
.webi_blog_page .webi-blog-image:hover .webi_post_hover .icon.zoom .fa, .webi_blog_page .webi-blog-image:hover .webi_post_hover .icon.readmore_link .fa {
	font-size: 14px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.webi-single-blog .blog-img {
	padding: 0;
}
#add-comment-blog.panel-default {
	border: medium none;
}
#content.webi-single-blog > h4 {
	font-weight: 700;
	font-size: 17px;
}
.webi-single-blog .view-comment .name, .webi-single-blog .view-comment .date, .webi-single-blog .view-comment .col-sm-8, .webi-single-blog .view-comment .col-sm-3 {
	width: 100%;
}
.user_icon {
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	float: left;
	margin: 2px 15px 15px 0;
	padding: 7px 13px;
}
.user_icon .fa {
	color: #d50000;
	font-size: 20px;
	margin-top: 3px;
}
#add-comment-blog .col-sm-10 {
	width: 66.6667%;
}
#add-comment-blog .col-sm-2 {
	width: 25%;
	display: none;
}
.blog_webi .heading{
	margin-left: 15px;
}
@media(min-width: 980px) and (max-width: 991px){
.product-block .blog-left .webi-post-author{
      display: none;
}
}
@media(min-width: 992px) and (max-width: 1199px){
.product-block .blog-left .webi-post-author{
      bottom: -50px;
}
}
@media(min-width: 320px) and (max-width: 767px){
	.blog-right {
    	margin-top: 25px;
	}
}
@media(min-width: 320px) and (max-width: 360px){
	.blog_links .write-comment {
    	font-size: 13px;
	}
	.blog_comment {
    	font-size: 14px;
    	margin: 0 10px;
	}
	.rat{
		width: 100%;
	}
        .cate-border{
             padding:0;
         }
}
/*---------------------WEBI MAGNIFIC POPUP CSS------------------------------*/
.webi-blog-image .webi_post_hover {
	left: 0;
	margin: 0 auto;
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 46%;
}
.webi_blog_page .webi-blog-image .webi_post_hover {
	top: 45%;
}
.product-block:hover .blog-left .webi_post_hover, .product-block:hover .blog-left .zoom, .product-block:hover .blog-left .readmore_link {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-kkhtml-opacity: 1;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.product-block:hover .blog-post-image-hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-kkhtml-opacity: 1;
}
.product-block .webi-blog-image .webi_post_hover .zoom, .product-block .webi-blog-image .webi_post_hover .readmore_link {
	display: inline-block;
	float: none;
	position: relative;
	width: 40px;
}
.product-block .webi-blog-image .webi_post_hover .readmore_link {
	margin-left: 10px;
}
.webi-blog-image .webi_post_hover .zoom::before, .webi-blog-image .webi_post_hover .readmore_link::before {
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	bottom: 0;
	box-sizing: border-box;
	color: #fff;
	content: "\f00e";
	font-family: "FontAwesome";
	font-size: 14px;
	height: 40px;
	left: 0;
	margin: auto;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-ms-opacity: 0;
	-khtml-opacity: 0;
	padding: 8px 0;
	position: absolute;
	text-align: center;
	top: 0;
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	width: 40px;
}
.webi-blog-image .webi_post_hover .readmore_link::before {
	content: "\f0c1";
}
.product-block:hover .webi-blog-image .webi_post_hover .readmore_link::before, .product-block:hover .webi-blog-image .webi_post_hover .zoom::before {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-ms-opacity: 1;
	-khtml-opacity: 1;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.blog-left .webi-blog-image .zoom:hover::before, .blog-left .webi-blog-image .readmore_link:hover::before {
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
}
/*---------------------OVER WEBI MAGNIFIC POPUP CSS----------------------*/
/*=========================OVER BLOG ===================================*/

/* left column */
.left-heading {
    font-size: 16px;
    font-family: 'Tajawal';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--base_store,#6c3c7a);
    padding: 15px 10px;
    margin-top: 25px;
}
.left-caption h4 {
    margin-top: 0;
}
#bestleft .image,#saleleft .image{
	padding: 0;
}
#bestleft .product-thumb .price,#saleleft .product-thumb .price{
	float: none;
}
#bestleft .product-thumb .rating,#saleleft .product-thumb .rating{
	text-align: center;
}
#bestleft .left-caption,#saleleft .left-caption{
	padding-right: 0
}
#bestleft .product-layout,#saleleft .product-layout{
	margin-top: 20px;
        padding:0;
}
#column-left .left-heading{
    margin-bottom: 0;
}
#bestleft .owl-buttons i,#saleleft .owl-buttons i,#testi .owl-buttons i{
    font-size: 30px;
    color: #fff;
    text-shadow: none;
}
#bestleft .owl-next,#saleleft .owl-next,#testi .owl-next {
    position: absolute;
    top: -29px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
#bestleft .owl-prev,#saleleft .owl-prev,#testi .owl-prev {
    position: absolute;
    top: -29px;
    right: 45px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    left: auto;
}
/* testimonial */
.pr1{
	border-radius: 50%;
	-webkit-filter: drop-shadow(-1px 1px 4px rgba(0,0,0,0.5));
	position: relative;
    top: -47px;
}
#testi{
	text-align: center;
}
#testi .bor h4{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: normal;
	margin-top: -20px;
	font-family: 'Tajawal';
}
#testi .bor h5{
	color: var(--base_font_color,#6c3c7a);
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: normal;
}
#testi .bor span{
	color: #aaa;
	letter-spacing: 1px;
	text-transform: capitalize;
	line-height: 25px;
	font-size: 12px;
	text-align: justify;
}
#testi .bor hr{
	border-top: 1px solid var(--base_store,#6c3c7a);
	width: 30%;
}
#testi .bor{
	border: 8px solid rgba(236, 87, 20, 0.5);
	margin: 80px 15px 0 15px;
	padding-bottom: 15px;
}
.prl .owl-item{
	padding-bottom: 30px;
	background-color: #f7f7f7;
}
.ih-sec {
	margin-top: 25px;
}
/* footer */
.news-bg {
    background-color: #1e1e1e;
    padding: 20px 0;
}
#newstitle {
    font-family: 'Tajawal';
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0px;
    color: #fff;
    line-height: 46px;
    text-transform: uppercase;
}
.block_newsletter input{
	padding: 11px 20px;
	width: 100%;
	border-radius: 40px;
	border: 1px solid transparent;
	color: #ddd;
}
.block_newsletter button{
	height: 44px;
	border-radius: 40px;
	position: absolute;
	right: 10px;
	background-color: var(--base_store,#6c3c7a);
	padding: 0 25px;
	font-family: 'Tajawal';
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 1px;
	border: transparent;
	box-shadow: none;
}
.block_newsletter button:hover{
	background-color: var(--base_store,#6c3c7a);
}
.f-left i{
	font-size: 16px;
	margin-right: 15px;
}
.f-left{
	color: #878787;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 32px;
	word-break: break-all;
}
footer h5 img{
	margin-top: -10px;
}
.foot-payment i {
    font-size: 28px;
    color: #878787;
}
.foot-payment {
	margin: 0;
}
.foot-payment i:hover{
	color: var(--base_font_color,#6c3c7a);
}
.foot-power{
	background-color: #1e1e1e;
	padding: 15px 0 8px 0;
}
.copy{
	color: #fff;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.middle-footer{
	padding-bottom: 40px;
}




/* sidenav */

body.active {
    overflow: hidden;
}
body.active::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all .2s ease 0s;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
}
body.active .sidenav {
    overflow-x: unset;
    overflow-y: scroll;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 5px 0 5px 0 rgba(0,0,0,.06);
    clear: both;
    height: 100%;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.sidenav .close-nav {
	background-color: var(--base_store,#6c3c7a);
	padding: 12px 15px;
	width: 100%;
	display: inline-block;
	color: #fff;
	letter-spacing: 1px;
}
#mobile_top_menu_wrapper {
    margin: 0;
    line-height: 20px;
    display: block !important;
}
.closebtn{
    float: right;
}
.close-nav i{
    color: #fff;
    font-size: 16px;
}
.navbar-header button{
border: none;
margin: 0px;
background: transparent;
color: #fff;
font-size: 17px;
cursor: pointer;
vertical-align: bottom;
}

/* responsive */
@media (min-width:1401px) and (max-width: 1849px) {
	.blog-desc {
	    line-height: 20px;
	    letter-spacing: 0px;
	}
	.blog-right h4{
		margin-top: 0;
	}
}
@media(min-width: 1200px) and (max-width: 1849px){
	#column-left{
		width: 25%;
	}
	#content{
		width: 75%;
	}
	.middle-footer #column-left{
		width: auto;
	}
}
@media(max-width: 766px){
	.product-list .product-thumb .caption,.product-list .product-thumb h4,.product-list .product-thumb .rating,
	.product-list .product-thumb .button-group {
		text-align: center !important;
	}
	.product-list .product-thumb .button-group{
		margin-bottom: 20px;
	}
}
@media(min-width: 1200px) and (max-width: 1400px){
	.product-grid{
    	width: 33.33%;
    	clear: none !important;
	}
}
@media(min-width: 992px) and (max-width: 1199px){
	.head-right li{
		margin-left: 10px;
	}
	.prowrite,.proreview{
		font-size: 11px !important;
		letter-spacing: 0;
	}
	.prorate{
		font-size: 5px !important;
	}
}
@media(max-width: 991px){
	.product-thumb .button-group .com, .product-thumb .button-group .wish, .product-thumb .button-group .cart {
		opacity: 1;
		transform: none;
		transition: 0s;
	}
	.product-thumb .button-group{
		position: unset;
	}
	.product-thumb:hover .button-group .com, .product-thumb:hover .button-group .wish, .product-thumb:hover .button-group .cart{
		transform: none;
	}
	.product-thumb:hover .caption{
		opacity: 1;
	}
	#slideshow0:hover .owl-buttons{
		opacity: 0;
	}
	.webi-blog-image .webi_post_hover,
	.webi-blog-image .webi_post_hover .zoom::before, .webi-blog-image .webi_post_hover .readmore_link::before {
		opacity: 1 !important;
		transform: none;
		transition: none;
	}
	.blog-desc {
	    line-height: 20px;
	    letter-spacing: 0px;
	}
	.blog-right h4{
		margin-top: 0;
	}
	.product-grid .product-thumb .button-group {
    	margin-bottom: 20px;
	}
	.sale {
    	opacity: 1;
    	transition: 0s;
    	transform: scale(1);
	}
}
.btn-link:focus, .btn-link:hover{
	text-decoration: none;
}
@media(max-width: 599px){
	.sale{
		display: none;
	}
            .tab-fe a {
         padding: 0 7px !important;
         margin: 0 7px !important;
  }
.nav-tabs {
    margin-bottom: 28px;
    margin-top: 16px;
}
}
@media(max-width: 599px){
	.pro-tab li a {
    	font-size: 12px;
    	text-transform: capitalize;
    	letter-spacing: 0;
	}
	.pro-tab > li > a {
    	padding: 0px 3px;
	}
	.sellbanner img {
    	margin-bottom: 10px;
	}
	.blog-right {
    	padding: 0 15px;
	}
	.product-tab .nav-tabs > li a {
    	font-size: 14px !important;
    	letter-spacing: 0 !important;
    	padding: 15px 2px 15px 2px !important;
    	text-transform: capitalize !important;
	}
	.catesort {
    	width: 100%;
    	margin-bottom: 10px;
	}
	.pagi .text-left, .pagi .text-right {
    	text-align: center;
    	width: 100%;
	}
}
@media(max-width: 767px){
        .head-right {
            margin-top: 13px;

        }
	#carousel0 .owl-buttons,#gallery_01 .owl-buttons{
		display: none;
	}
	#cart .dropdown-menu img {
		width: auto;
	}
	#column-left{
		padding: 0;
	}
	#slideshow0 img{
		width: 100%;
		transform: translate(-50%,0%);
		min-width: 380px;
		left: 50%;
		position: relative;
	}
	#slideshow0 .owl-item {
    	overflow: hidden;
	}
	#menu .navbar-nav{
		margin: 0
	}
	.middle-footer h5 button {
    	display: block !important;
	}
	footer h5{
		margin-top: 20px;
	}
	.middle-footer #column-left h5 span{
		padding: 0 28px;
	}
	.middle-footer #column-left h5 button{
		padding: 0 28px;
	}
	.f-left{
		padding: 0 30px !important;
	}
	.foot-power .text-right, .copy{
		text-align: center !important;
	}
	.middle-footer {
    	padding-bottom: 0px;
	}
	.parallex{
		display: none;
	}
	.block_newsletter button {
	    background-color: var(--base_store,#6c3c7a);
	    padding: 0 10px;
	    font-size: 14px;
	}
	footer h5 .toggle.collapsed::after {
	    font-family: 'FontAwesome';
	    content: '\f067';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}
	.middle-footer .btn-primary {
	    color: #fff;
	    text-shadow: none;
	    background: none;
	    background-image: none;
	    border: 0;
	    box-shadow: none;
	    font-size: 12px;
	    position: absolute;
	    top: -8px;
	    right: 0;
	    width: 100%;
	}
	.middle-footer .btn-primary:focus {
    	color: #fff;
    	background-color: transparent;
    	border-color: transparent;
	}
	footer h5 .toggle::after {
	    font-family: 'FontAwesome';
	    content: '\f068';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}
	footer{
		margin-top: 0;
	}
	.blog_webi {
		    margin-bottom: -50px;
	}
	.left-heading{
		padding: 12px 10px 8px 10px;
	}
	.xs-head-right{
		position: absolute;
		right: 20px;
	}
	.xs-head-right img{
		width: 16px;
	}
	.head-right li{
		margin-left: 7px;
	}
	#cart-total {
	   margin-left: -16px;
	}
	#form-currency .btn-link .cur-sy {
    	min-width: 18px;
    	min-height: 18px;
    	font-size: 11px;
    	margin-right: 0;
	}
	#cart{
		margin-right: -3px;
	}
	/* product page */
	.proreview, .prowrite{
		text-align: left !important;
	}
	.productwish {
    	bottom: 190px !important;
	}
	/* category page */
	#compare-total {
    	margin-bottom: 20px;
    	float: right;
	}
}
@media(min-width: 412px) and (max-width: 599px){
	.product-thumb .caption {
    	padding: 0 60px;
	}
}
@media(min-width: 320px) and (max-width: 411px){
	.product-thumb .caption {
    	padding: 0 20px;
	}
}
@media(min-width: 600px) and (max-width: 767px){
	.sellbanner .col-xs-12{
		width: 33.33%;
	}
	.blog-left, .blog-right{
		width: 50%;
	}
	.product-grid{
		width: 50%;
	}
}
@media (min-width:768px){
    .footer-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}
@media(min-width: 768px) and (max-width: 991px){
	.prowrite {
    	font-size: 14px;
	}
	.product-tab .nav-tabs > li a {
    	padding: 15px 15px 15px 15px !important;
	}
	#compare-total {
    	margin-bottom: 20px;
		float: right;
	}
}
.middle-footer h5 button{
    display:none;
}
/* product page */

.palert{
	position: relative;
}
.thumbnail {
    padding: 0;
    border-radius: 0;
    border: 0;
}
@media(min-width: 1850px){
	.thumbnail #zoom_03{
		max-width: 565px;
	}
	.product-grid{
		width: 20%;
		clear: none !important;
	}
	.product-list{
		width: 50%;
	}
}
@media(min-width: 1401px) and (max-width: 1849px){
	.thumbnail #zoom_03{
		max-width: 365px;
	}
}
@media(min-width: 992px) and (max-width: 1400px){
	.thumbnail #zoom_03{
		max-width: 305px;
	}
}
/* #gallery_01 .owl-next{
	background-color: var(--base_store,#6c3c7a);
	padding: 0;
	min-width: 30px;
	min-height: 30px;
	padding-top: 9px;
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;
	top: 26%;
	right: 10px;
}
#gallery_01 .owl-prev{
	background-color: var(--base_store,#6c3c7a);
	padding: 0;
	min-width: 30px;
	min-height: 30px;
	padding-top: 9px;
	text-align: center;
	vertical-align: middle;
	padding-right: 3px;
	top: 26%;
	left: 10px;
}
#gallery_01 .owl-next i, #gallery_01 .owl-prev i{
	font-size: 22px;
} */
.product-tab .nav-tabs > li.active > a, .product-tab .nav-tabs > li.active > a:focus, .product-tab .nav-tabs > li.active > a:hover {
	color: var(--base_font_color,#6c3c7a);
	cursor: default;
	background-color: #fff;
	border-top: 3px solid var(--base_store,#6c3c7a);
	border-bottom-color: transparent;
	border-right: transparent;
	border-left: transparent;
	border-radius: 0;
}
.product-tab .nav-tabs > li a {
	border-top: 3px solid transparent;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 15px 32px 15px 32px;
	text-transform: uppercase;
	color: var(--base_font_color,#6c3c7a);
	margin-right: 0;
}
.product-tab .nav-tabs {
	border-bottom: none;
	margin-left: -15px;
	margin-top: 0;
}
.product-tab .nav-tabs > li {
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
}
.product-tab .nav-tabs > li > a:hover {
	border-color: transparent;
	background-color: unset;
}
.product-tab {
	border: 1px solid #f2f2f2;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.product-tab .tab-content h3, .product-tab .tab-content b, .product-tab .tab-content h2, .product-tab .tab-content {
	color: var(--base_font_color,#6c3c7a);
}
.pro-content h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--base_font_color,#6c3c7a);
    letter-spacing: 1px;
    margin-top: 0;
}
.pro-content .qty-plus-minus .form-control {
    width: 45px;
    text-align: center;
    color: #232d2a;
}
.btnplus {
    border-radius: 0 4px 4px 0 !important;
    border-left: 0;
}
.btnminus {
    border-radius: 4px 0 0 4px !important;
    border-right: 0;
}
.producthr {
    border-top: 1px solid #ddd;
}
.text-decor, .text-de {
    text-transform: capitalize;
    color: var(--base_font_color,#6c3c7a);
    font-size: 16px;
    letter-spacing: 1px;
    min-width: 150px;
    display: inline-block;
}
.textdeb {
    color: var(--base_font_color,#6c3c7a);
}
.text-decor-bold, .text-decor-bold h2 {
    text-transform: capitalize;
    color: var(--base_font_color,#6c3c7a);
    font-size: 16px;
    letter-spacing: 1px;
}
.custom-radio .img-thumbnail {
    display: block;
    padding: 0;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 30px;
}
.text-decorop {
    text-transform: capitalize;
    color: var(--base_font_color,#6c3c7a);
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 80px;
}
.datebtn {
    background-color: var(--base_store,#6c3c7a);
    color: #fff;
    border-radius: 0 6px 6px 0 !important;
    border: 1px solid var(--base_store,#6c3c7a);
    width: 55px;
    box-shadow: none;
    transition: all 0.5s linear;
    padding: 6px 12px;
}
.datebtn:hover, .btnup:hover, .add-to-cart:hover {
    background-color: var(--base_store,#6c3c7a);
    color: #fff;
    border: 1px solid var(--base_store,#6c3c7a);
}
.btnup {
    color: #fff;
    background-color: var(--base_store,#6c3c7a);
    border-color: var(--base_store,#6c3c7a);
    transition: all 0.5s linear;
    font-size: 16px;
    box-shadow: none;
}
.add-to-cart {
    border: 1px solid var(--base_store,#6c3c7a);
    padding: 10px 20px;
    background: var(--base_store,#6c3c7a);
    box-shadow: none;
    opacity: 1;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s linear;
}
.prowrite {
    text-align: center;
    font-size: 14px;
    color: var(--base_font_color,#6c3c7a);
    letter-spacing: 0.7px;
    line-height: 30px;
}
.proreview {
    text-align: center;
    border-right: 1px solid var(--base_store,#6c3c7a);
    font-size: 16px;
    color: var(--base_font_color,#6c3c7a);
    letter-spacing: 1px;
    margin-top: 4px;
    text-transform: capitalize;
}
.prorate {
    border-right: 1px solid var(--base_store,#6c3c7a);
    font-size: 16px;
    color: var(--base_font_color,#6c3c7a);
    letter-spacing: 1px;
    margin: 5px 0;
}
.zoomWindow{
	border: 2px solid var(--base_store,#6c3c7a) !important;
}
.productwish button {
    background-color: transparent;
    color: var(--base_font_color,#6c3c7a);
    box-shadow: none;
    border: none;
    font-size: 37px;
    margin-right: 10px;
    padding: 0;
}
.productwish button:hover {
	background-color: transparent;
}
.productwish {
    position: absolute;
    bottom: 250px;
	right: 25px;
    z-index: 9;
}
.productwish button i {
    font-size: 24px;
}
/* category page */
.product-list .sale{
	display: none;
}
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus{
	outline: none;
}
.filter-panel{
	border: none;
}
.filter-panel label{
	font-size: 14px;
	color: var(--base_font_color,#6c3c7a);
	letter-spacing: 1px;
}
.filter-panel .list-group-item{
	border: none;
	background-color: transparent;
}
.filter-panel .list-group a:hover{
	background-color: transparent;
	border-bottom: 1px dotted #ddd;
}
.filter-panel .list-group{
	border: 1px solid #ddd;
}
.filter-panel .panel-footer{
	background-color: transparent;
}
.filter-panel .checkbox input[type="checkbox"] {
   margin-right: 10px;
   margin-top: 2px;
}
.filter-panel .list-group a{
	color: var(--base_font_color,#6c3c7a);
	border-bottom: 1px dotted #ddd;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-weight: normal;
}
.product-grid .product-thumb .caption{
	margin-bottom: 15px;
}
#compare-total{
	padding-right: 0;
	padding-left: 0;
	background-color: transparent;
	border: transparent;
	color: var(--base_font_color,#6c3c7a);
}
.product-grid .des{
	display: none;
}
.listgridbtn {
    background-color: #fff;
    color: var(--base_font_color,#6c3c7a) !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 5px;
    padding: 4px 5px 0px 5px !important;
    border: 1px solid transparent;
    margin-top: 3px;
}
.listgridbtn.active, .listgridbtn.active:hover, .listgridbtn:hover {
    border: 1px solid var(--base_store,#6c3c7a);
    border-radius: 0;
    background-color: transparent;
    padding: 4px 5px 0px 5px;
    box-shadow: none;
}
.listgridbtn i {
    font-size: 22px;
}
.catesort label {
    background-color: #fff;
    border: none;
    font-size: 16px !important;
    color: var(--base_font_color,#6c3c7a) !important;
}
.catesort select.form-control {
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    -webkit-appearance: inherit;
    appearance: none;
    height: 35px;
}
.catesort select {
    background-color: var(--base_store,#6c3c7a);
    color: #fff;
    font-size: 14px !important;
    border-radius: 4px !important;
    border: 1px solid var(--base_store,#6c3c7a);
}
.catesort select option {
    background-color: #fff;
    color: var(--base_font_color,#6c3c7a);
}
.catesort select.form-control {
	padding-right: 25px;
	background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='12px'\
           height='12px' viewBox='0 0 1200 1000' fill='rgb(255,255,255)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");
	background-repeat: no-repeat;
	background-position: calc(100% - 7px) 50%;
	-moz-appearance: none;
	-webkit-appearance: inherit;
	appearance: none;
}
.cate-border {
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    padding-top: 12px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.category-refine h3 {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.category-top {
    background-color: #efefef;
    padding-left: 15px;
    margin-bottom: 50px;
}
.catde {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: var(--base_font_color,#6c3c7a);
    line-height: 23px;
    margin-top: 20px;
    text-align: justify;
    padding-right: 30px;
}
.cat-list li a {
    color: #fff;
    display: block;
    padding: 3px 14px;
    background-color: var(--base_store,#6c3c7a);
}
.cat-list li a:hover{
	background-color: var(--base_store,#6c3c7a);
}
.cat-list li {
    display: inline-block;
}
.cat-list ul {
    margin-left: 0;
    padding-left: 0;
}
.chead {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--base_font_color,#6c3c7a);
    padding-top: 16px;
    padding-left: 12px;
}
.catecolumnleft {
    background-color: #ededed;
}
.cate-search {
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid #eee;
    margin-top: 0;
    padding: 19px 0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.list-group a {
    color: var(--base_font_color,#6c3c7a);
    padding: 10px 12px;
    font-size: 14px;
    border: none;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: var(--base_font_color,#6c3c7a);
    border: none;
    background-color: transparent;
}
.refine-filter-box {
    border-radius: 0;
}
.refine-filter-box .panel-heading {
    color: #333;
    background-color: #ededed;
    border-bottom: 1px solid #fff;
}
.refine-filter-box .list-group-item {
    background-color: #ededed;
    border: none;
}
.list-group-item.fhead:hover {
    border: none;
}
.fhead {
    border: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
}
.refine-filter-box .checkbox span {
    padding-left: 10px;
}
.refine-filter-box .checkbox:last-child {
    border: none;
    margin-bottom: 0;
}
.refine-filter-box label {
    font-size: 15px;
    color: #232d2a;
    margin-bottom: 10px;
}

.refine-filter-box .checkbox input[type="checkbox"] {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    padding: 10px;
    margin-top: 2px;
}
.refine-filter-box .checkbox {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}
.refine-filter-box .panel-heading {
    color: var(--base_font_color,#6c3c7a);
    background-color: #ededed;
    border-bottom: 1px solid #fff;
    font-size: 16px;
}
.refine-filter-box .panel-footer {
    background-color: #ededed;
}
.des{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.product-list .product-thumb:hover {
    box-shadow: none;
}
.product-list .product-thumb .button-group .com, .product-list .product-thumb .button-group .wish,
.product-list .product-thumb .button-group .cart{
	opacity: 1;
	transition: 0s;
	transform: none;
}
.product-list .product-thumb .button-group {
    position: unset;
	transition: 0s;
	clear: none;
	text-align: left;
	margin-top: 13px;
}
.product-grid .list-des{
	display: none;
}
.product-list .product-thumb .button-group button{
	margin: 0 10px 0 0;
}
.product-list .product-thumb:hover .caption {
    opacity: 1;
}
.product-list .product-thumb .price {
    float: none;
}
.product-list .product-thumb .rating {
    text-align: center;
}
/* account page */
#account-order .btn-danger{
	padding: 6px 11px;
}
#column-right .list-group a {
    color: var(--base_font_color,#6c3c7a);
	padding: 10px 12px;
	background-color: #ededed;
	font-size: 14px;
	border: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
#column-right .list-group a:hover{
	color: var(--base_font_color,#6c3c7a);
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f6f6f4;
    border: 1px solid #f6f6f4;
    border-radius: 0;
    box-shadow: none;
    padding: 30px;
}
.well h2 {
    font-size: 18px;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.well .con {
    border: 1px solid #212121;
    border-left: none;
    border-right: none;
    padding: 20px 0;
    margin-bottom: 30px;
    color: #212121;
}
.well .subheading {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    padding: 20px 0;
}
.well .log {
    border-bottom: 1px solid #212121;
    margin-bottom: 20px;
}
.acpage h2, .acpage h1 {
    font-size: 16px;
    color: #212121;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 0;
}
.achead {
    font-size: 18px;
    color: #fff !important;
    background-color: #212121;
    padding: 8px 10px;
}
.accolor {
    background-color: #f6f6f4;
    margin-top: -10px;
    padding: 10px 5px !important;
}
.accolor li {
    line-height: 25px;
}
#information-sitemap a{
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 30px;
}
.bname{
	background: none repeat scroll 0 0 #f8f8f8;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 6px 0;
	padding: 5px 8px;
}
.brand-list {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 20px;
}
.brand-list .brands-content {
    padding: 8px;
}
.panel-default > .panel-heading {
    background-color: #ededed;
    border: none;
    border-radius: 0;
}
.panel-default {
    border-color: #ededed;
}
#button-coupon, #button-voucher{
	padding: 8.5px 12px;
}
.input-group {
    z-index: 0;
}
.com-description {
    width: 25%;
}
.com-summary {
    width: 1%;
}
#product-search .list-group,#product-manufacturer .list-group{
	display: none;
}
#checkout-cart	.btn-danger{
	padding: 6px 11px;
	background-color: var(--base_store,#6c3c7a);
	border-color: var(--base_store,#6c3c7a);
}
/*=========================instagram feed start ===================================*/
	.module-instagram h4{
		display: block;
	}

	.instagram{
		padding: 0;
		display: block;
	}
	.instagram .item i {
	    color: #fff;
	    font-size: 20px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    opacity: 0
	}
	.instagram .item:hover i {
	    opacity: 1;
	    transition: all 0.6s ease 0s;
	}
	.instagram .item i:hover {
	    color: var(--base_font_color,#6c3c7a);
	}
	.instagram .item{
		padding: 0px;
	}

	.instagram .item img{
		width: 100%;
	}

	.instagram .item a{
		position: relative;
		display: block;
	}

	@-webkit-keyframes hvr-pop {
		50% {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}

	@keyframes hvr-pop {
		50% {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}

	h1 .entry, a .entry{
		display: none;
	}
/*==================instagram feed end================== */

@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu{
		display: block;
	}
	#menu .dropdown:hover .dropdown-menu{
		display: block;
		padding: 12px 0;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		border-radius: 0;
	}
	#menu .dropdown-menu{
		background: #FFF;
		visibility: hidden;
		display: block;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: all 0.35s ease-out 0s;
		-o-transition: all 0.35s ease-out 0s;
		transition: all 0.35s ease-out 0s;
		margin-left: 200px !important;
		border: none;
		}
	#menu .nav > li > a::before{
	    background-color: transparent;
	    content: "";
	    height: 3px;
	    left: 0;
	    margin: 0 auto;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    transition: all 0.4s ease-out 0s;
	    width: 3px;
	}
	#menu .dropdown-menu{
	    padding: 12px 0;
	    min-width: 490px;
	    top: 0;
	}
}
#scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 38px;
    height: 38px;
    background: var(--base_store,#6c3c7a);
    display: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    z-index: 2;
}
#scroll i {
    color: white;
    position: fixed;
    font-size: 18px;
    bottom: 30px;
    right: 33px;
}
#scroll:hover {
    background: var(--base_store,#6c3c7a);
    border: 2px solid var(--base_store,#6c3c7a);
}
/* loader */
#loading{
	background-color: #fff;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99;
	margin-top: 0px;
	top: 0px;
	right:0;left:0;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
}
.object{
	width: 20px;
	height: 20px;
	background-color: var(--base_store,#6c3c7a);
	float: left;
	margin-right: 20px;
	margin-top: 65px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}
#object_one {
	-webkit-animation: object_one 1.5s infinite;
	animation: object_one 1.5s infinite;
	}
#object_two {
	-webkit-animation: object_two 1.5s infinite;
	animation: object_two 1.5s infinite;
	-webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
	}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
	animation: object_three 1.5s infinite;
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@-webkit-keyframes object_one {
75% { -webkit-transform: scale(0); }
}

@keyframes object_one {

  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

}
@-webkit-keyframes object_two {
  75% { -webkit-transform: scale(0); }
}
@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform:  scale(0);
  }
}
@-webkit-keyframes object_three {
  75% { -webkit-transform: scale(0); }
}
@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
