{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <div class="card bg-light mb-5">
           <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-store-owner">{{ entry_store_owner }}</label>
                  <input type="text" name="filter_store_owner" value="{{ filter_store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
                  <div class="input-group date">
                    <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
                  <div class="input-group date">
                    <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
           </div>
        </div>
        <h3 class="text-right mb-5">{{ text_final_commission }}: <b>{{ final_commission }}</b></h3>
        <div id="form-commission">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">{% if (sort == 'store_owner') %} 
                    <a href="{{ sort_store_owner }}" class="{{ order|lower }}">{{ column_store_owner }}</a>
                    {% else %} 
                    <a href="{{ sort_store_owner }}">{{ column_store_owner }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'store_name') %} 
                    <a href="{{ sort_store_name }}" class="{{ order|lower }}">{{ column_store_name }}</a>
                    {% else %} 
                    <a href="{{ sort_store_name }}">{{ column_store_name }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'mc.order_id') %} 
                    <a href="{{ sort_order_id }}" class="{{ order|lower }}">{{ column_order_id }}</a>
                    {% else %} 
                    <a href="{{ sort_order_id }}">{{ column_order_id }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'name') %} 
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_product_name }}</a>
                    {% else %} 
                    <a href="{{ sort_name }}">{{ column_product_name }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'price') %} 
                    <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a>
                    {% else %} 
                    <a href="{{ sort_price }}">{{ column_price }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'quantity') %} 
                    <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a>
                    {% else %} 
                    <a href="{{ sort_quantity }}">{{ column_quantity }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'total') %} 
                    <a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a>
                    {% else %} 
                    <a href="{{ sort_total }}">{{ column_total }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'mc.amount') %} 
                    <a href="{{ sort_amount }}" class="{{ order|lower }}">{{ column_amount }}</a>
                    {% else %} 
                    <a href="{{ sort_amount }}">{{ column_amount }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'e.date_added') %} 
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %} 
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                </tr>
              </thead>
              <tbody>
                {% if (commissions) %} 
                {% for commission in commissions %} 
                <tr>
                  <td class="text-left">{{ commission['store_owner'] }}</td>
                  <td class="text-left">{{ commission['store_name'] }}</td>
                  <td class="text-right">{{ commission['order_id'] }}</td>
                  <td class="text-right">{{ commission['name'] }}</td>
                  <td class="text-right">{{ commission['price'] }}</td>
                  <td class="text-right">{{ commission['quantity'] }}</td>
                  <td class="text-right">{{ commission['total'] }}</td>
                  <td class="text-right">{{ commission['amount'] }}</td>
                  <td class="text-right">{{ commission['date_added'] }}</td>
                </tr>
                {% endfor %} 
                {% else %} 
                <tr>
                  <td class="text-center" colspan="9">{{ text_no_results }}</td>
                </tr>
                {% endif %} 
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript"><!--  
$('input[name=\'filter_store_owner\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_owner=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['store_owner'],
            value: item['mpseller_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_store_owner\']').val(item['label']);
  }
});
//--></script> 
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = 'index.php?route=mpmultivendor/commission&user_token={{ user_token }}';

  var filter_store_owner = $('input[name=\'filter_store_owner\']').val();
  if (filter_store_owner) {
    url += '&filter_store_owner=' + encodeURIComponent(filter_store_owner);
  }
  
  var filter_date_start = $('input[name=\'filter_date_start\']').val();
  if (filter_date_start) {
    url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
  }

  var filter_date_end = $('input[name=\'filter_date_end\']').val();
  if (filter_date_end) {
    url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
  }

  location = url;
});
//--></script>
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});
//--></script>
</div>
{{ footer }}