{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-enquiry').submit() : false;"><i class="fa fa-trash"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <div class="card bg-light mb-5">
           <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-store-owner">{{ entry_store_owner }}</label>
                  <input type="text" name="filter_store_owner" value="{{ filter_store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                  <div class="input-group date">
                    <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-customer-name">{{ entry_customer_name }}</label>
                  <input type="text" name="filter_customer" value="{{ filter_customer }}" placeholder="{{ entry_customer_name }}" id="input-customer-name" class="form-control" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-customer-email">{{ entry_customer_email }}</label>
                  <input type="text" name="filter_customer_email" value="{{ filter_customer_email }}" placeholder="{{ entry_customer_email }}" id="input-customer-email" class="form-control" />
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
           </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-enquiry">
          {% if (enquiries) %} 
            {% for enquiry in enquiries %} 
              <div class="card card-custom">
                <div class="card-header">
                  <h3 class="card-title">{{ enquiry['store_owner'] }}</h3>
                  <div class="card-toolbar">
                      <div class="checkbox-inline">
                        <label class="checkbox">
                            <input type="checkbox" name="selected[]" value="{{ enquiry['mpseller_enquiry_id'] }}" />
                            <span></span>
                            {{ column_store_owner }}
                        </label>
                      </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-bordered" style="margin-bottom: 0;">
                    <tr>
                      <th>{{ column_customer_name }}</th>
                      <th>{{ column_customer_email }}</th>
                      <th>{{ column_date_added }}</th>
                      <th>{{ column_date_modified }}</th>
                      <th class="text-right">{{ column_action }}</th>
                    </tr>
                    <tr>
                      <td>{{ enquiry['name'] }}</td>
                      <td>{{ enquiry['email'] }}</td>
                      <td>{{ enquiry['date_added'] }}</td>
                      <td>{{ enquiry['date_modified'] }}</td>
                      <td class="text-right"><a href="{{ enquiry['view'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn-sm btn-primary button-info button-info{{ enquiry['mpseller_enquiry_id'] }}"><i class="fa fa-eye"></i></a></td>
                    </tr>
                  </table>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  {{ enquiry['message'] }}
                </div>
              </div>
            {% endfor %} 
          {% else %} 
            {{ text_no_results }} 
          {% endif %} 
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript"><!--
$('input[name=\'filter_store_owner\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_owner=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['store_owner'],
            value: item['mpseller_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_store_owner\']').val(item['label']);
  }
});

$('input[name=\'filter_customer\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_customer\']').val(item['label']);
  }
});

$('input[name=\'filter_customer_email\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['email'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_customer_email\']').val(item['label']);
  }
});
//--></script>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = 'index.php?route=mpmultivendor/enquiries&user_token={{ user_token }}';

  var filter_store_owner = $('input[name=\'filter_store_owner\']').val();
  if (filter_store_owner) {
    url += '&filter_store_owner=' + encodeURIComponent(filter_store_owner);
  }

  var filter_customer = $('input[name=\'filter_customer\']').val();
  if (filter_customer) {
    url += '&filter_customer=' + encodeURIComponent(filter_customer);
  }

  var filter_customer_email = $('input[name=\'filter_customer_email\']').val();
  if (filter_customer_email) {
    url += '&filter_customer_email=' + encodeURIComponent(filter_customer_email);
  }


  var filter_date_added = $('input[name=\'filter_date_added\']').val();
  if (filter_date_added) {
    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
  }

  location = url;
});
//--></script>
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});
//--></script>
</div>
{{ footer }}