{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-custom">
          <div class="card-header">
            <h3 class="card-title">{{ text_contact_details }}</h3>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td style="width: 20%;">{{ entry_name }}</td>
                  <td>{{ customer_name }}</td>
                </tr>
                <tr>
                  <td>{{ entry_email }}</td>
                  <td>{{ customer_email }}</td>
                </tr>
                <tr>
                  <td>{{ text_date_added }}</td>
                  <td>{{ date_added }}</td>
                </tr>
                <tr>
                  <td>{{ text_date_modified }}</td>
                  <td>{{ date_modified }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-custom">
          <div class="card-header">
            <h3 class="card-title">{{ text_seller_details }}</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 20%;">{{ entry_seller_name }}</td>
                  <td>{{ store_owner }}</td>
                </tr>
                <tr>
                  <td style="width: 20%;">{{ entry_store_name }}</td>
                  <td>{{ store_name }}</td>
                </tr>
                <tr>
                  <td style="width: 20%;">{{ entry_seller_email }}</td>
                  <td>{{ seller_email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-12">      
        <div class="card card-custom">
          <div class="card-header">
            <h3 class="card-title">{{ text_enquiry_details }}</h3>
          </div>
          <div class="card-body">
            {{ customer_message }}
          </div>
        </div>
      </div>
      {% if (chats is not empty) %} 
      <div class="col-sm-12">
        {% for chat in chats %} 
         <div class="reply-wrap reply-chat mpchatting">
            <div class="ticket-header">
              <img class="img-circle" src="{{ chat['from_image'] }}" />
              <div class="ticket-content">
                <span class="from_name">
                  <b>{{ chat['from_name'] }}</b>
                  {% if (chat['from'] == 'seller') %} 
                  <div class="namesub">{{ chat['from_store'] }}</div>
                  {% endif %} 
                </span>
                <div class="ticket-time">{{ chat['date_added'] }}</div>
                <div class="cnt">{{ chat['message'] }}</div>
              </div>
            </div>
          </div>
        <hr />
        {% endfor %} 
      </div>
      {% endif %} 
    </div>
  </div>
</div>
{{ footer }}