{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <button type="submit" name="savetype" value="savechanges" form="form-mpmultivendor" data-toggle="tooltip" title="{{ button_savechanges }}" class="btn btn-success"><i class="fa fa-save"></i> {{ button_savechanges }}</button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </span>
                    <h3 class="card-label">{{ text_edit }}</h3>
                </div>
                <div class="card-toolbar">
                    <span>{{ text_store }}</span>
                       <ul class="nav nav-light-success nav-bold nav-pills">
                        <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             {{ store_name }}
                         </a>
                         <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                          <a class="dropdown-item" href="index.php?route=mpmultivendor/mpmultivendor&user_token={{ user_token }}&store_id=0">{{ text_default }}</a>
                          {% for store in stores %}
                            <a class="dropdown-item" data-toggle="tab" href="index.php?route=mpmultivendor/mpmultivendor&user_token={{ user_token }}&store_id={{ store.store_id }}">{{ store.name }}</a>
                          {% endfor %}
                         </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-mpmultivendor" class="form-horizontal">
                    <ul class="nav nav-tabs nav-tabs-line nav-bolder nav-tabs-line-2x mb-5">
                        <li class="nav-item"><a href="#tab-general" data-toggle="tab" class="nav-link active"><i class="fa fa-cog" aria-hidden="true"></i> {{ tab_general }}</a></li>
                        <li class="nav-item"><a href="#tab-itemsperpage" data-toggle="tab" class="nav-link"><i class="fa fa-list" aria-hidden="true"></i> {{ tab_itemsperpage }}</a></li>
                        <li class="nav-item"><a href="#tab-info" data-toggle="tab" class="nav-link"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ tab_info }}</a></li>
                        <li class="nav-item"><a href="#tab-image-size" data-toggle="tab" class="nav-link"><i class="fa fa-image" aria-hidden="true"></i> {{ tab_image_size }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_status }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_status" value="1" {% if mpmultivendor_status is not empty and mpmultivendor_status == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_enabled }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_status" value="0" {% if mpmultivendor_status is empty or mpmultivendor_status == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_disabled }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_applyseller_page }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_applyseller_page" value="1" {% if mpmultivendor_applyseller_page is not empty and mpmultivendor_applyseller_page == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_yes }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_applyseller_page" value="0" {% if mpmultivendor_applyseller_page is empty or mpmultivendor_applyseller_page == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_no }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_received_commission_status }}</label>
                                <div class="col-sm-10">
                                    <select name="mpmultivendor_received_commission_status_id" class="form-control">
                                    {% for order_status in order_statuses %}
                                        {% if order_status.order_status_id == mpmultivendor_received_commission_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                        {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                    <span class="form-text text-muted">{{ help_received_commission_status }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label"><span data-toggle="tooltip" title="{{ help_restrict_orderstatus }}">{{ entry_restrict_orderstatus }}</span></label>
                                <div class="col-sm-10">
                                    <div class="card">
                                        <div class="card-body">
                                            {% for order_status in order_statuses %}
                                            <span class="switch switch-sm">
                                                <label>
                                                {% if order_status.order_status_id in mpmultivendor_restrict_orderstatus %}
                                                    <input type="checkbox" name="mpmultivendor_restrict_orderstatus[]" value="{{ order_status.order_status_id }}" checked="checked" />
                                                    <span></span>
                                                    {{ order_status.name }}
                                                {% else %}
                                                    <input type="checkbox" name="mpmultivendor_restrict_orderstatus[]" value="{{ order_status.order_status_id }}" />
                                                    <span></span>
                                                    {{ order_status.name }}
                                                {% endif %}
                                                </label>
                                            </span>
                                            {% endfor %}
                                        </div>
                                        {% if error_restrict_orderstatus %}
                                        <div class="text-danger">{{ error_restrict_orderstatus }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-6">{{ entry_commission_rate }}</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="mpmultivendor_commission_rate" value="{{ mpmultivendor_commission_rate }}" placeholder="{{ entry_commission_rate }}" />
                                            <div class="input-group-append"><span class="input-group-text">%</span></div>
                                        </div>
                                        <span class="form-text text-muted">{{ help_commission_rate }}</span>
                                    </div>
                                    {% if error_commission_rate %}
                                    <div class="text-danger">{{ error_commission_rate }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_autoapproved_seller }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_autoapproved_seller" value="1" {% if mpmultivendor_autoapproved_seller is not empty and mpmultivendor_autoapproved_seller == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_yes }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_autoapproved_seller" value="0" {% if mpmultivendor_autoapproved_seller is empty or mpmultivendor_autoapproved_seller == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_no }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_seller_changereview }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_changereview" value="1" {% if mpmultivendor_seller_changereview is not empty and mpmultivendor_seller_changereview == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_yes }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_changereview" value="0" {% if mpmultivendor_seller_changereview is empty or mpmultivendor_seller_changereview == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_no }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-info">
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_seller_name }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_name" value="1" {% if mpmultivendor_seller_name is not empty and mpmultivendor_seller_name == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_show }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_name" value="0" {% if mpmultivendor_seller_name is empty or mpmultivendor_seller_name == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_hide }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_seller_email }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_email" value="1" {% if mpmultivendor_seller_email is not empty and mpmultivendor_seller_email == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_show }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_email" value="0" {% if mpmultivendor_seller_email is empty or mpmultivendor_seller_email == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_hide }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_seller_telephone }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_telephone" value="1" {% if mpmultivendor_seller_telephone is not empty and mpmultivendor_seller_telephone == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_show }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_telephone" value="0" {% if mpmultivendor_seller_telephone is empty or mpmultivendor_seller_telephone == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_hide }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_seller_address }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_address" value="1" {% if mpmultivendor_seller_address is not empty and mpmultivendor_seller_address == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_show }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_address" value="0" {% if mpmultivendor_seller_address is empty or mpmultivendor_seller_address == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_hide }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mp-buttons">
                                <label class="col-sm-6 control-label">{{ entry_seller_image }}</label>
                                <div class="col-sm-3">
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_image" value="1" {% if mpmultivendor_seller_image is not empty and mpmultivendor_seller_image == 1 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_show }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="mpmultivendor_seller_image" value="0" {% if mpmultivendor_seller_image is empty or mpmultivendor_seller_image == 0 %} checked="checked" {% endif %} />
                                            <span></span>
                                            {{ text_hide }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-itemsperpage">
                            <div class="form-group required">
                                <label class="col-sm-6 control-label">{{ entry_limit_seller }}</label>
                                <div class="col-sm-10">
                                <input type="text" name="mpmultivendor_seller_list" value="{{ mpmultivendor_seller_list }}" placeholder="{{ entry_limit_seller }}"  class="form-control" />
                                {% if error_limit_seller %}
                                <div class="text-danger">{{ error_limit_seller }}</div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-6 control-label">{{ entry_limit_store }}</label>
                                <div class="col-sm-10">
                                <input type="text" name="mpmultivendor_store_list" value="{{ mpmultivendor_store_list }}" placeholder="{{ entry_limit_store }}"  class="form-control" />
                                {% if error_limit_store %}
                                <div class="text-danger">{{ error_limit_store }}</div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-6 control-label">{{ entry_limit_store_product }}</label>
                                <div class="col-sm-10">
                                <input type="text" name="mpmultivendor_store_list_product" value="{{ mpmultivendor_store_list_product }}" placeholder="{{ entry_limit_store_product }}"  class="form-control" />
                                {% if error_limit_store_product %}
                                <div class="text-danger">{{ error_limit_store_product }}</div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-6 control-label">{{ entry_limit_store_review }}</label>
                                <div class="col-sm-10">
                                <input type="text" name="mpmultivendor_store_list_review" value="{{ mpmultivendor_store_list_review }}" placeholder="{{ entry_limit_store_review }}"  class="form-control" />
                                {% if error_limit_store_review %}
                                <div class="text-danger">{{ error_limit_store_review }}</div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-image-size">
                            <fieldset>
                                <legend>{{ legend_seller_info }}</legend>
                                <div class="form-group required">
                                    <label class="col-sm-6 control-label">{{ entry_store_logo_size }}</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_store_logo_width" value="{{ mpmultivendor_store_logo_width }}" placeholder="{{ entry_width }}" class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_store_logo_height" value="{{ mpmultivendor_store_logo_height }}" placeholder="{{ entry_height }}" class="form-control" />
                                            </div>
                                        </div>
                                        {% if error_store_logo_size %}
                                        <div class="text-danger">{{ error_store_logo_size }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-6 control-label">{{ entry_main_banner_size }}</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_main_banner_width" value="{{ mpmultivendor_main_banner_width }}" placeholder="{{ entry_width }}" class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_main_banner_height" value="{{ mpmultivendor_main_banner_height }}" placeholder="{{ entry_height }}" class="form-control" />
                                            </div>
                                        </div>
                                        {% if error_main_banner_size %}
                                        <div class="text-danger">{{ error_main_banner_size }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-6 control-label">{{ entry_profile_image_size }}</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_profile_image_width" value="{{ mpmultivendor_profile_image_width }}" placeholder="{{ entry_width }}" class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_profile_image_height" value="{{ mpmultivendor_profile_image_height }}" placeholder="{{ entry_height }}" class="form-control" />
                                            </div>
                                        </div>
                                        {% if error_profile_image_size %}
                                        <div class="text-danger">{{ error_profile_image_size }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>{{ legend_seller_listing }}</legend>
                                <div class="form-group required">
                                    <label class="col-sm-6 control-label">{{ entry_main_banner_size_listing }}</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_main_banner_width_listing" value="{{ mpmultivendor_main_banner_width_listing }}" placeholder="{{ entry_width }}" class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_main_banner_height_listing" value="{{ mpmultivendor_main_banner_height_listing }}" placeholder="{{ entry_height }}" class="form-control" />
                                            </div>
                                        </div>
                                        {% if error_main_banner_size_listing %}
                                        <div class="text-danger">{{ error_main_banner_size_listing }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-6 control-label">{{ entry_profile_image_size_listing }}</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_profile_image_width_listing" value="{{ mpmultivendor_profile_image_width_listing }}" placeholder="{{ entry_width }}" class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" name="mpmultivendor_profile_image_height_listing" value="{{ mpmultivendor_profile_image_height_listing }}" placeholder="{{ entry_height }}" class="form-control" />
                                            </div>
                                        </div>
                                        {% if error_profile_image_size_listing %}
                                        <div class="text-danger">{{ error_profile_image_size_listing }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
{{ footer }}
