{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-mpseller" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ text_form }}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          {% if mpseller_id %}
          <div class="col-sm-6">
            <div class="seller-links text-left">
              <a href="{{ seller_products }}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-tag"></i> {{ button_products }}</a>
              <a href="{{ seller_enquiries }}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-question-circle"></i> {{ button_enquiries }}</a>
              <a href="{{ seller_reviews }}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-star"></i> {{ button_reviews }}</a>
              <a href="{{ seller_orders }}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-shopping-cart"></i> {{ button_orders }}</a>
              <a href="{{ seller_commission }}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-money"></i> {{ button_commission }}</a>
              <a href="{{ seller_transaction }}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-dollar"></i> {{ button_transaction }}</a>
            </div>
          </div>  
          {% endif %}
          <div class="col-sm-10 right-part">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-mpseller" class="form-horizontal">
              <ul class="nav nav-tabs nav-tabs-line nav-bolder nav-tabs-line-2x mb-5">
                <li class="nav-item"><a href="#tab-general"data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
                <li class="nav-item"><a href="#tab-store" data-toggle="tab" class="nav-link">{{ tab_store }}</a></li>
                <li class="nav-item"><a href="#tab-local" data-toggle="tab" class="nav-link">{{ tab_local }}</a></li>
                <li class="nav-item"><a href="#tab-image" data-toggle="tab" class="nav-link">{{ tab_image }}</a></li>
                <li class="nav-item"><a href="#tab-social" data-toggle="tab" class="nav-link">{{ tab_social_profiles }}</a></li>
                <li class="nav-item"><a href="#tab-shipping" data-toggle="tab" class="nav-link">{{ tab_shipping }}</a></li>
                <li class="nav-item"><a href="#tab-payment" data-toggle="tab" class="nav-link">{{ tab_payment }}</a></li>
                <li class="nav-item"><a href="#tab-seo" data-toggle="tab" class="nav-link">{{ tab_seo }}</a></li>
                <li class="nav-item"><a href="#tab-commission" data-toggle="tab" class="nav-link">{{ tab_commission }}</a></li>
                <li class="nav-item"><a href="#tab-transaction" data-toggle="tab" class="nav-link">{{ tab_transaction }}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab-general">
                  <div class="form-group required">
                    <label class="control-label col-sm-6">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="description" rows="5" class="form-control">{{ description }}</textarea>
                      {% if error_description %}
                      <div class="text-danger">{{ error_description }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-6">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="meta_description" id="input-storemeta" rows="5" class="form-control">{{ meta_description }}</textarea>
                      {% if error_meta_description %}
                      <div class="text-danger">{{ error_meta_description }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-6">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="meta_keyword" rows="5" class="form-control">{{ meta_keyword }}</textarea>
                      {% if error_meta_keyword %}
                      <div class="text-danger">{{ error_meta_keyword }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-10">
                      <select name="status" id="input-status" class="form-control">
                        {% if status %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                        {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="input-approved">{{ entry_approved }}</label>
                    <div class="col-sm-10">
                      <select name="approved" id="input-approved" class="form-control">
                        {% if approved %}
                        <option value="1" selected="selected">{{ text_yes }}</option>
                        <option value="0">{{ text_no }}</option>
                        {% else %}
                        <option value="1">{{ text_yes }}</option>
                        <option value="0" selected="selected">{{ text_no }}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                </div>                            
                <div class="tab-pane" id="tab-seo">
                  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>            
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <td class="text-left">{{ entry_store }}</td>
                          <td class="text-left">{{ entry_seo_keyword }}</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for store in seo_stores %}
                        <tr>
                          <td class="text-left">{{ store.name }}</td>
                          <td class="text-left">
                            {% for language in languages %}
                            <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                              <input type="text" name="seller_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{{ seller_seo_url[store.store_id][language.language_id]) }}" placeholder="{{ entry_seo_keyword }}" class="form-control" />
                            </div>
                            {% if error_seo_keyword[store.store_id][language.language_id] is not empty %}
                            <div class="text-danger">{{ error_seo_keyword[store.store_id][language.language_id] }}</div>
                            {% endif %}
                            {% endfor %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>                  
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <td class="text-left">{{ entry_store }}</td>
                          <td class="text-left">{{ entry_review_seo_keyword }}</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for store in seo_stores %}
                        <tr>
                          <td class="text-left">{{ store.name }}</td>
                          <td class="text-left">
                            {% for language in languages %}
                            <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                              <input type="text" name="review_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{{ review_seo_url[store.store_id][language.language_id] }}" placeholder="{{ entry_review_seo_keyword }}" class="form-control" />
                            </div>
                            {% if error_review_seo_keyword[store.store_id][language.language_id] is not empty %}
                            <div class="text-danger">{{ error_review_seo_keyword[store.store_id][language.language_id] }}</div>
                            {% endif %}
                            {% endfor %}
                           </td>
                        </tr>
                        {% endfor %}
                      </tbody>                  
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="tab-store">
                  <div class="form-group required">
                    <label class="col-sm-6 control-label" for="input-store-owner">{{ entry_store_owner }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="store_owner" value="{{ store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
                      {% if error_store_owner %}
                      <div class="text-danger">{{ error_store_owner }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-6 control-label" for="input-store-name">{{ entry_store_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="store_name" value="{{ store_name }}" placeholder="{{ entry_store_name }}" id="input-store-name" class="form-control" />
                      {% if error_store_name %}
                      <div class="text-danger">{{ error_store_name }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-6">{{ entry_address }}</label>
                    <div class="col-sm-10">
                      <textarea name="address" class="form-control" placeholder="{{ entry_address }}">{{ address }}</textarea>
                      {% if error_address %}
                      <div class="text-danger">{{ error_address }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-6 control-label" for="input-email">{{ entry_email }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                      {% if error_email %}
                      <div class="text-danger">{{ error_email }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-6 control-label" for="input-telephone">{{ entry_telephone }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
                      {% if error_telephone %}
                      <div class="text-danger">{{ error_telephone }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-6">{{ entry_fax }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="fax" placeholder="{{ entry_fax }}" value="{{ fax }}" />
                      {% if error_fax %}
                      <div class="text-danger">{{ error_fax }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-local">
                  <div class="form-group required">
                    <label class="control-label col-sm-6">{{ entry_city }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="city" placeholder="{{ entry_city }}" value="{{ city }}" />
                      {% if error_city %}
                      <div class="text-danger">{{ error_city }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-6 control-label" for="input-country">{{ entry_country }}</label>
                    <div class="col-sm-10">
                      <select name="country_id" id="input-country" class="form-control">
                        <option value="">{{ text_select }}</option>
                        {% for country in countries %}
                        {% if country.country_id == country_id %}
                        <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                        {% else %}
                        <option value="{{ country.country_id }}">{{ country.name }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                      {% if error_country %}
                      <div class="text-danger">{{ error_country }}</div>
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-6 control-label" for="input-zone">{{ entry_zone }}</label>
                    <div class="col-sm-10">
                      <select name="zone_id" id="input-zone" class="form-control">
                      </select>
                      {% if error_zone %}
                      <div class="text-danger">{{ error_zone }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-image">                  
                  <div class="form-group">
                    <label class="control-label col-sm-6">{{ entry_banner }}</label>
                    <div class="col-sm-10">
                      <a href="" id="thumb-banner" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_banner }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="banner" value="{{ banner }}" id="input-banner" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-6">{{ entry_logo }}</label>
                    <div class="col-sm-10">
                      <a href="" id="thumb-logo" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_logo }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="logo" value="{{ logo }}" id="input-logo" />
                    </div>
                  </div>              
                  <div class="form-group">
                    <label class="control-label col-sm-6">{{ entry_image }}</label>
                    <div class="col-sm-10">
                      <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_image }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-social">
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_facebook }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="facebook_url" placeholder="{{ entry_facebook }}" value="{{ facebook_url }}">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_google_plus }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_google_plus }}" value="{{ google_plus_url }}" name="google_plus_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_twitter }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_twitter }}" value="{{ twitter_url }}" name="twitter_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_pinterest }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pinterest" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_pinterest }}" value="{{ pinterest_url }}" name="pinterest_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_linkedin }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_linkedin }}" value="{{ linkedin_url }}" name="linkedin_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_youtube }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-youtube" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_youtube }}" value="{{ youtube_url }}" name="youtube_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_instagram }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_instagram }}" value="{{ instagram_url }}" name="instagram_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">{{ entry_flickr }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-flickr" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_flickr }}" value="{{ flickr_url }}" name="flickr_url">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-shipping">
                  <div class="form-group mp-buttons required">
                    <label class="col-sm-6 control-label">{{ entry_shipping_type }}</label>
                    <div class="col-sm-4">
                      <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="shipping_type btn btn-primary">
                          <input type="radio" name="shipping_type" value="order_wise" {% if shipping_type == 'order_wise' %} checked="checked" {% endif %} />{{ text_order_wise }}
                        </label>
                        <label class="shipping_type btn btn-primary">                            
                          <input type="radio" name="shipping_type" value="product_wise" {% if shipping_type == 'product_wise' %} checked="checked" {% endif %} />{{ text_product_wise }}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-6">{{ entry_shipping_amount }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="shipping_amount" value="{{ shipping_amount }}" placeholder="{{ entry_shipping_amount }}" />
                      {% if error_shipping_amount %}
                      <div class="text-danger">{{ error_shipping_amount }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-payment">
                  <div class="form-group mp-buttons required">
                    <label class="col-sm-6 control-label">{{ entry_payment_type }}</label>
                    <div class="col-sm-6">
                      <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="payment_type btn btn-primary">
                          <input type="radio" name="payment_type" value="paypal" {% if payment_type == 'paypal' %} checked="checked" {% endif %} />{{ text_paypal }}
                        </label>
                        <label class="payment_type btn btn-primary">                            
                          <input type="radio" name="payment_type" value="bank" {% if payment_type == 'bank' %} checked="checked" {% endif %}  />{{ text_bank_transfer }}
                        </label>
                        <label class="payment_type btn btn-primary">                            
                          <input type="radio" name="payment_type" value="cheque" {% if payment_type == 'cheque' %} checked="checked" {% endif %} />{{ text_cheque }}
                        </label>
                      </div>                      
                      {% if error_payment_type %}
                      <div class="text-danger">{{ error_payment_type }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required payment_paypal {% if payment_type == 'paypal' %} hide {% endif %}}">
                    <label class="control-label col-sm-6">{{ entry_paypal_email }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="paypal_email" value="{{ paypal_email }}" placeholder="{{ entry_paypal_email }}" />
                      {% if error_paypal_email %}
                      <div class="text-danger">{{ error_paypal_email }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required payment_bank {% if payment_type == 'bank' %} hide {% endif %}">
                    <label class="control-label col-sm-6">{{ entry_bank_details }}</label>
                    <div class="col-sm-10">
                      <textarea name="bank_details" rows="8" class="form-control" placeholder="{{ entry_bank_details }}">{{ bank_details }}</textarea>
                      {% if error_bank_details %}
                      <div class="text-danger">{{ error_bank_details }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required payment_cheque {% if payment_type == 'cheque' %} hide {% endif %}">
                    <label class="control-label col-sm-6">{{ entry_cheque_payee }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="cheque_payee_name" value="{{ cheque_payee_name }}" placeholder="{{ entry_cheque_payee }}" />
                      {% if error_cheque_payee_name %}
                      <div class="text-danger">{{ error_cheque_payee_name }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>            
                <div class="tab-pane" id="tab-commission">
                  <div class="form-group required">
                    <label class="control-label col-sm-6">{{ entry_commission_rate }}</label>
                    <div class="col-sm-4 col-md-2">
                      <div class="input-group">
                        <input type="text" class="form-control" name="commission_rate" value="{{ commission_rate }}" placeholder="{{ entry_commission_rate }}" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default">%</button>
                        </span>
                      </div>
                      {% if error_commission_rate %}
                      <div class="text-danger">{{ error_commission_rate }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-transaction">
                  <div class="row">
                    <div class=" col-sm-4">
                      <div class="mv-ovrvw">
                        <ul class="list-unstyled">
                          <li>
                            <div class="title">{{ text_total_commission }}</div>
                            <div class="count highlight">{{ total_commission }}</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mv-ovrvw">
                        <ul class="list-unstyled">
                          <li>
                            <div class="title">{{ text_total_paid }}</div>
                            <div class="count highlight">{{ total_paid }}</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mv-ovrvw">
                        <ul class="list-unstyled">
                          <li>
                            <div class="title">{{ text_total_balance }}</div>
                            <div class="count highlight">{{ total_balance }}</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                   </div> 
                  <div id="transaction"></div>
                  <br />
                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="input-amount">{{ entry_amount }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="amount" value="" placeholder="{{ entry_amount }}" id="input-amount" class="form-control" />
                    </div>
                  </div>
                  <div class="text-right">
                    <button type="button" id="button-transaction" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_transaction_add }}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  
<script type="text/javascript"><!--
$('select[name=\'country_id\']').on('change', function() {
  $.ajax({
    url: 'index.php?route=localisation/country/country&user_token={{ user_token }}&country_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
    },
    complete: function() {
      $('.fa-spin').remove();
    },
    success: function(json) {
      html = '<option value="">{{ text_select }}</option>';

      if (json['zone'] && json['zone'] != '') {
        for (i = 0; i < json['zone'].length; i++) {
          html += '<option value="' + json['zone'][i]['zone_id'] + '"';

          if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
            html += ' selected="selected"';
          }

          html += '>' + json['zone'][i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'zone_id\']').html(html);
    }
  });
});

$('select[name=\'country_id\']').trigger('change');
//--></script>
<script type="text/javascript">
$('.payment_type').click(function() {
  var payment_type = $(this).find('input').val();

  $('.payment_paypal, .payment_bank, .payment_cheque').addClass('hide');
  if(payment_type == 'paypal') {
    $('.payment_paypal').removeClass('hide');
  }

  if(payment_type == 'bank') {
    $('.payment_bank').removeClass('hide');
  }

  if(payment_type == 'cheque') {
    $('.payment_cheque').removeClass('hide');
  }
});
</script>
  <script type="text/javascript"><!--
$('#transaction').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();

  $('#transaction').load(this.href);
});

$('#transaction').load('index.php?route=mpmultivendor/mpseller/transaction&user_token={{ user_token }}&mpseller_id={{ mpseller_id }}');

$('#button-transaction').on('click', function(e) {
  e.preventDefault();

  $.ajax({
    url: 'index.php?route=mpmultivendor/mpseller/addTransaction&user_token={{ user_token }}&mpseller_id={{ mpseller_id }}',
    type: 'post',
    dataType: 'json',
    data: 'amount=' + encodeURIComponent($('#tab-transaction input[name=\'amount\']').val()),
    beforeSend: function() {
      $('#button-transaction').button('loading');
    },
    complete: function() {
      $('#button-transaction').button('reset');
    },
    success: function(json) {
      $('.alert').remove();

      if (json['error']) {
         $('#tab-transaction').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
      }

      if (json['success']) {
        $('#tab-transaction').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');

        $('#transaction').load('index.php?route=mpmultivendor/mpseller/transaction&user_token={{ user_token }}&mpseller_id={{ mpseller_id }}');

        $('#tab-transaction input[name=\'amount\']').val('');
      }
    }
  });
});
//--></script>
</div>
{{ footer }}