{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-mpseller').submit() : false;"><i class="fa fa-trash"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <div class="card bg-light mb-5">
           <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="input-store-owner">{{ entry_store_owner }}</label>
                    <input type="text" name="filter_store_owner" value="{{ filter_store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="input-store-name">{{ entry_store_name }}</label>
                    <input type="text" name="filter_store_name" value="{{ filter_store_name }}" placeholder="{{ entry_store_name }}" id="input-store-name" class="form-control" />
                </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="input-email">{{ entry_email }}</label>
                    <input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="input-status">{{ entry_status }}</label>
                    <select name="filter_status" id="input-status" class="form-control">
                    <option value="*"></option>
                    {% if filter_status is not empty and filter_status == 1 %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                    {% if filter_status is not empty and filter_status == 0 %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% else %}
                    <option value="0">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="input-approved">{{ entry_approved }}</label>
                    <select name="filter_approved" id="input-approved" class="form-control">
                    <option value="*"></option>
                    {% if filter_approved is not empty and filter_approved == 1 %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    {% else %}
                    <option value="1">{{ text_yes }}</option>
                    {% endif %}
                    {% if filter_approved is not empty and filter_approved == 0 %}
                    <option value="0" selected="selected">{{ text_no }}</option>
                    {% else %}
                    <option value="0">{{ text_no }}</option>
                    {% endif %}
                    </select>
                </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                    <div class="input-group date">
                    <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                </div>
           </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-mpseller">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'mps.store_owner' %}
                    <a href="{{ sort_store_owner }}" class="<?php echo strtolower($order) }}">{{ column_store_owner }}</a>
                    {% else %}
                    <a href="{{ sort_store_owner }}">{{ column_store_owner }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'mps.store_name' %}
                    <a href="{{ sort_store_name }}" class="<?php echo strtolower($order) }}">{{ column_store_name }}</a>
                    {% else %}
                    <a href="{{ sort_store_name }}">{{ column_store_name }}</a>
                    {% endif %}</td>
                   <td class="text-center">{% if sort == 'total_products' %}
                    <a href="{{ sort_products }}" class="<?php echo strtolower($order) }}">{{ column_products }}</a>
                    {% else %}
                    <a href="{{ sort_products }}">{{ column_products }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'c.email' %}
                    <a href="{{ sort_email }}" class="<?php echo strtolower($order) }}">{{ column_email }}</a>
                    {% else %}
                    <a href="{{ sort_email }}">{{ column_email }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'c.status' %}
                    <a href="{{ sort_status }}" class="<?php echo strtolower($order) }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'c.date_added' %}
                    <a href="{{ sort_date_added }}" class="<?php echo strtolower($order) }}">{{ column_date_added }}</a>
                    {% else %}
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if mpsellers %}
                {% for mpseller in mpsellers %}
                <tr>
                  <td class="text-center">{% if mpseller.mpseller_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ mpseller.mpseller_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ mpseller.mpseller_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ mpseller.store_owner }}</td>
                  <td class="text-left">{{ mpseller.store_name }}</td>
                  <td class="text-center">{% if mpseller.total_products <= 0 %}
                    <span class="label label-warning" style="font-size: 11px;">{{ mpseller.total_products }}</span>
                    {% else %}
                    <span class="label label-success" style="font-size: 11px;">{{ mpseller.total_products }}</span>
                   {% endif %}</td>
                  <td class="text-left">{{ mpseller.email }}</td>
                  <td class="text-left">{{ mpseller.status }}</td>
                  <td class="text-left">{{ mpseller.date_added }}</td>
                  <td class="text-right">
                    <a href="{{ mpseller.message_link }}" data-toggle="tooltip" title="{{ button_message }}" class="btn btn-primary"><i class="fa fa-paper-plane"></i></a>

                    {% if mpseller.approve %}
                    <a href="{{ mpseller.approve }}" data-toggle="tooltip" title="{{ button_approve }}" class="btn btn-success"><i class="fa fa-thumbs-o-up"></i></a>
                    {% else %}
                    <button type="button" class="btn btn-success" disabled><i class="fa fa-thumbs-o-up"></i></button>
                    {% endif %}

                    <div class="btn-group" data-toggle="tooltip" title="{{ button_login }}">
                      <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle"><i class="fa fa-lock"></i></button>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="index.php?route=customer/customer/login&user_token={{ user_token }}&customer_id={{ mpseller.customer_id }}&store_id=0" target="_blank">{{ text_default }}</a></li>
                        <?php foreach ($stores as $store %}
                        <li><a href="index.php?route=customer/customer/login&user_token={{ user_token }}&customer_id={{ mpseller.customer_id }}&store_id={{ store.store_id }}" target="_blank">{{ store.name }}</a></li>
                        <?php } ?>
                      </ul>
                    </div>

                    <a href="{{ mpseller.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pen"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = 'index.php?route=mpmultivendor/mpseller&user_token={{ user_token }}';

	var filter_store_owner = $('input[name=\'filter_store_owner\']').val();
	if (filter_store_owner) {
		url += '&filter_store_owner=' + encodeURIComponent(filter_store_owner);
	}

	var filter_store_name = $('input[name=\'filter_store_name\']').val();
	if (filter_store_name) {
		url += '&filter_store_name=' + encodeURIComponent(filter_store_name);
	}

	var filter_email = $('input[name=\'filter_email\']').val();
	if (filter_email) {
		url += '&filter_email=' + encodeURIComponent(filter_email);
	}

	var filter_status = $('select[name=\'filter_status\']').val();
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	var filter_approved = $('select[name=\'filter_approved\']').val();
	if (filter_approved != '*') {
		url += '&filter_approved=' + encodeURIComponent(filter_approved);
	}

	var filter_date_added = $('input[name=\'filter_date_added\']').val();
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}

	location = url;
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter_store_owner\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_owner=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['store_owner'],
						value: item['mpseller_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_store_owner\']').val(item['label']);
	}
});

$('input[name=\'filter_store_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['store_name'],
						value: item['mpseller_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_store_name\']').val(item['label']);
	}
});

$('input[name=\'filter_email\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['email'],
						value: item['mpseller_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_email\']').val(item['label']);
	}
});
//--></script>
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script></div>
{{ footer }}
