{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ text_form }}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          {% if (chats is not empty) %} 
          <div class="col-sm-12">
            {% for chat in chats %} 
             <div class="reply-wrap reply-chat mpchatting">
                <div class="ticket-header">
                  <img class="img-circle" src="{{ chat['from_image'] }}" />
                  <div class="ticket-content">
                    <span class="from_name">
                      <b>{{ chat['from_name'] }}</b>
                      {% if (chat['from'] == 'seller') %} 
                      <div class="namesub">{{ chat['from_store'] }}</div>
                      {% endif %} 
                    </span>
                    <div class="ticket-time">{{ chat['date_added'] }}</div>
                    <div class="cnt">{{ chat['message'] }}</div>
                  </div>
                </div>
              </div>
            <hr/>
            {% endfor %} 
          </div>
          {% endif %} 
        </div>

        <div class="row">
          <div class="col-sm-12 text-right">{{ pagination }}</div>
        </div>

        <div id="form-message" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_message }}</label>
            <div class="col-sm-10">
              <textarea name="message" rows="8" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
                <button type="submit" data-toggle="tooltip" title="{{ button_send }}" class="btn btn-success button-submit"><i class="fa fa-paper-plane"></i> {{ button_send }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript"><!--
$('.button-submit').click(function() {
  $.ajax({
    url: 'index.php?route=mpmultivendor/mpseller_message/SendMessage&user_token={{ user_token }}&mpseller_id={{ mpseller_id }}',
    type: 'post',
    data: $('#form-message input, #form-message textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('.button-submit').button('loading');
    },
    complete: function() {
      $('.button-submit').button('reset');
    },
    success: function(json) {
      $('#form-message .alert, #form-message .text-danger').remove();

      if (json['redirect']) {
        location = json['redirect'];
      } else if (json['warning']) {
        $('#form-message').prepend('<div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> ' + json['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }
    }
  });
});
//--></script>
</div>
{{ footer }}