{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-message').submit() : false;"><i class="fa fa-trash"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <div class="card bg-light mb-5">
           <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label" for="input-store-owner">{{ entry_store_owner }}</label>
                  <input type="text" name="filter_store_owner" value="{{ filter_store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label" for="input-store-name">{{ entry_store_name }}</label>
                  <input type="text" name="filter_store_name" value="{{ filter_store_name }}" placeholder="{{ entry_store_name }}" id="input-store-name" class="form-control" />
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
           </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-message">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if (sort == 'mp.store_owner') %} 
                    <a href="{{ sort_seller_name }}" class="{{ order|lower }}">{{ column_seller_name }}</a>
                    {% else %} 
                    <a href="{{ sort_seller_name }}">{{ column_seller_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'mp.store_name') %} 
                    <a href="{{ sort_store_name }}" class="{{ order|lower }}">{{ column_store_name }}</a>
                    {% else %} 
                    <a href="{{ sort_store_name }}">{{ column_store_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'mps.message') %} 
                    <a href="{{ sort_message }}" class="{{ order|lower }}">{{ column_message }}</a>
                    {% else %} 
                    <a href="{{ sort_message }}">{{ column_message }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'mps.date_added') %} 
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %} 
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if (seller_messages) %} 
                {% for seller_message in seller_messages %} 
                <tr>
                  <td class="text-center">{% if (seller_message['mpseller_id'] in selected) %} 
                    <input type="checkbox" name="selected[]" value="{{ seller_message['mpseller_id'] }}" checked="checked" />
                    {% else %} 
                    <input type="checkbox" name="selected[]" value="{{ seller_message['mpseller_id'] }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ seller_message['seller_name'] }}</td>
                  <td class="text-left">{{ seller_message['store_name'] }}</td>
                  <td class="text-left">{{ seller_message['message'] }}</td>
                  <td class="text-right">{{ seller_message['date_added'] }}</td>
                  <td class="text-right">
                    <label style="position:relative">
                      <a href="{{ seller_message['edit'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary">
                        {% if (seller_message['total_unreads']) %} 
                        <span style="position:absolute;top:-5px;left:-5px; font-size: 13px;" class="label label-danger pull-right">{{ seller_message['total_unreads'] }}</span>
                        {% endif %} 
                        <i class="fa fa-eye"></i>
                      </a>
                  </td>
                </tr>
                {% endfor %} 
                {% else %} 
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %} 
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  url = 'index.php?route=mpmultivendor/mpseller_message&user_token={{ user_token }}';

  var filter_store_owner = $('input[name=\'filter_store_owner\']').val();
  if (filter_store_owner) {
    url += '&filter_store_owner=' + encodeURIComponent(filter_store_owner);
  }

  var filter_store_name = $('input[name=\'filter_store_name\']').val();
  if (filter_store_name) {
    url += '&filter_store_name=' + encodeURIComponent(filter_store_name);
  }

  location = url;
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter_store_owner\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_owner=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['store_owner'],
            value: item['mpseller_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_store_owner\']').val(item['label']);
  }
});

$('input[name=\'filter_store_name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['store_name'],
            value: item['mpseller_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_store_name\']').val(item['label']);
  }
});
//--></script>
</div>
{{ footer }}