<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">{{ column_date_added }}</td>
        <td class="text-right">{{ column_amount }}</td>
      </tr>
    </thead>
    <tbody>
      {% if (transactions) %} 
      {% for transaction in transactions %} 
      <tr>
        <td class="text-left">{{ transaction['date_added'] }}</td>
        <td class="text-right">{{ transaction['amount'] }}</td>
      </tr>
      {% endfor %} 
      <tr>
        <td class="text-right"><b>{{ text_paid }}</b></td>
        <td class="text-right"><label class="label label-success" style="font-size: 14px;">{{ total_paid }}</label></td>
      </tr>
      {% else %} 
      <tr>
        <td class="text-center" colspan="2">{{ text_no_results }}</td>
      </tr>
      {% endif %} 
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>
