{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" id="button-shipping" form="form-order" formaction="{{ shipping }}" formtarget="_blank" data-toggle="tooltip" title="{{ button_shipping_print }}" class="btn btn-info"><i class="fa fa-truck"></i></button>
        <button type="submit" id="button-invoice" form="form-order" formaction="{{ invoice }}" formtarget="_blank" data-toggle="tooltip" title="{{ button_invoice_print }}" class="btn btn-info"><i class="fa fa-print"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <div class="card bg-light mb-5">
           <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-order-id">{{ entry_order_id }}</label>
                  <input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-customer">{{ entry_customer }}</label>
                  <input type="text" name="filter_customer" value="{{ filter_customer }}" placeholder="{{ entry_customer }}" id="input-customer" class="form-control" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-order-status">{{ entry_order_status }}</label>
                  <select name="filter_order_status" id="input-order-status" class="form-control">
                    <option value="*"></option>
                    {% if (filter_order_status == '0') %} 
                    <option value="0" selected="selected">{{ text_missing }}</option>
                    {% else %} 
                    <option value="0">{{ text_missing }}</option>
                    {% endif %} 
                    {% for order_status in order_statuses %} 
                    {% if (order_status['order_status_id'] == filter_order_status) %} 
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %} 
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %} 
                    {% endfor %} 
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-mpseller-order-status">{{ entry_mpseller_order_status }}</label>
                  <select name="filter_mpseller_order_status" id="input-mpseller-order-status" class="form-control">
                    <option value="*"></option>
                    {% if (filter_mpseller_order_status == '0') %} 
                    <option value="0" selected="selected">{{ text_missing }}</option>
                    {% else %} 
                    <option value="0">{{ text_missing }}</option>
                    {% endif %} 
                    {% for order_status in order_statuses %} 
                    {% if (order_status['order_status_id'] == filter_mpseller_order_status) %} 
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %} 
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %} 
                    {% endfor %} 
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                  <div class="input-group date">
                    <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-date-modified">{{ entry_date_modified }}</label>
                  <div class="input-group date">
                    <input type="text" name="filter_date_modified" value="{{ filter_date_modified }}" placeholder="{{ entry_date_modified }}" data-date-format="YYYY-MM-DD" id="input-date-modified" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
           </div>
        </div>
        <form method="post" action="" enctype="multipart/form-data" id="form-order">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-right">{% if (sort == 'o.order_id') %} 
                    <a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_order_id }}</a>
                    {% else %} 
                    <a href="{{ sort_order }}">{{ column_order_id }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'customer') %} 
                    <a href="{{ sort_customer }}" class="{{ order|lower }}">{{ column_customer }}</a>
                    {% else %} 
                    <a href="{{ sort_customer }}">{{ column_customer }}</a>
                    {% endif %}</td>
                  <td class="text-center">{{ column_store_information }}</td>
                  <td class="text-left">{% if (sort == 'order_status') %} 
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %} 
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'o.total') %} 
                    <a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a>
                    {% else %} 
                    <a href="{{ sort_total }}">{{ column_total }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'o.date_added') %} 
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %} 
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'o.date_modified') %} 
                    <a href="{{ sort_date_modified }}" class="{{ order|lower }}">{{ column_date_modified }}</a>
                    {% else %} 
                    <a href="{{ sort_date_modified }}">{{ column_date_modified }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if (orders) %} 
                {% for order in orders %} 
                <tr>
                  <td class="text-center">{% if order['order_id'] in selected %} 
                    <input type="checkbox" name="selected[]" value="{{ order['order_id'] }}" checked="checked" />
                    {% else %} 
                    <input type="checkbox" name="selected[]" value="{{ order['order_id'] }}" />
                    {% endif %} 
                    <input type="hidden" name="shipping_code[]" value="{{ order['shipping_code'] }}" /></td>
                  <td class="text-right">{{ order['order_id'] }}</td>
                  <td class="text-left">{{ order['customer'] }}</td>
                  <td class="text-center">
                    <table class="table table-bordered mp-orderproducts">
                      <thead>
                        <tr>
                          <td>{{ column_product_name }}</td>
                          <td>{{ column_store_name }}</td>
                          <td>{{ column_mpseller_order_status }}</td>
                          <td>{{ column_view }}</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for seller_product in order['seller_products'] %} 
                        <tr>
                          <td>
                            {% for product_name in seller_product['products'] %} 
                            {% if seller_product['products']|length > 1 %}
                            <span class="orderproduct-row">{{ product_name }}</span>
                            {% else %} 
                            <span>{{ product_name }}</span>
                            {% endif %} 
                            {% endfor %} 
                          </td>
                          <td>
                            {% if (seller_product['sold_by_type'] == 'admin') %} 
                            <label class="label label-danger">{{ seller_product['store_name'] }}</label>
                            {% else %} 
                            {{ seller_product['store_name'] }} 
                            {% endif %} 
                          </td>
                          <td>{{ seller_product['order_status'] }}</td>
                          <td>
                            {% if (seller_product['sold_by_type'] == 'seller') %} 
                            <a data-link="{{ seller_product['view'] }}" data-seller="{{ seller_product['mpseller_id'] }}" data-order="{{ seller_product['order_id'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info btn-sm button-info button-info{{ seller_product['order_id'] }}-{{ seller_product['mpseller_id'] }}"><i class="fa fa-info-circle"></i></a></button>
                            {% endif %} 
                          </td>
                        </tr>
                        {% endfor %} 
                      </tbody>
                    </table>
                  </td>
                  <td class="text-left">{{ order['order_status'] }}</td>
                  <td class="text-right">{{ order['total'] }}</td>
                  <td class="text-left">{{ order['date_added'] }}</td>
                  <td class="text-left">{{ order['date_modified'] }}</td>
                  <td class="text-right"><a href="{{ order['view'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
                </tr>
                {% endfor %} 
                {% else %} 
                <tr>
                  <td class="text-center" colspan="9">{{ text_no_results }}</td>
                </tr>
                {% endif %} 
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = 'index.php?route=mpmultivendor/order&user_token={{ user_token }}';

	var filter_order_id = $('input[name=\'filter_order_id\']').val();

	if (filter_order_id) {
		url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
	}

	var filter_customer = $('input[name=\'filter_customer\']').val();

	if (filter_customer) {
		url += '&filter_customer=' + encodeURIComponent(filter_customer);
	}

	var filter_order_status = $('select[name=\'filter_order_status\']').val();

  if (filter_order_status != '*') {
    url += '&filter_order_status=' + encodeURIComponent(filter_order_status);
  }

  var filter_mpseller_order_status = $('select[name=\'filter_mpseller_order_status\']').val();

	if (filter_mpseller_order_status != '*') {
		url += '&filter_mpseller_order_status=' + encodeURIComponent(filter_mpseller_order_status);
	}

	var filter_date_added = $('input[name=\'filter_date_added\']').val();

	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}

	var filter_date_modified = $('input[name=\'filter_date_modified\']').val();

	if (filter_date_modified) {
		url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
	}

	location = url;
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'filter_customer\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_customer\']').val(item['label']);
	}
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name^=\'selected\']').on('change', function() {
	$('#button-shipping, #button-invoice').prop('disabled', true);

	var selected = $('input[name^=\'selected\']:checked');

	if (selected.length) {
		$('#button-invoice').prop('disabled', false);
	}

	for (i = 0; i < selected.length; i++) {
		if ($(selected[i]).parent().find('input[name^=\'shipping_code\']').val()) {
			$('#button-shipping').prop('disabled', false);

			break;
		}
	}
});

$('#button-shipping, #button-invoice').prop('disabled', true);

$('input[name^=\'selected\']:first').trigger('change');

// IE and Edge fix!
$('#button-shipping, #button-invoice').on('click', function(e) {
	$('#form-order').attr('action', this.getAttribute('formAction'));
});
//--></script> 
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script>
<script type="text/javascript"><!--  
$('.button-info').on('click', function() {
  var order_id = $(this).attr('data-order');
  var mpseller_id = $(this).attr('data-seller');
  var link_url = $(this).attr('data-link');
  $.ajax({
    url: link_url,
    dataType: 'html',
    beforeSend: function() {
        $('.button-info'+ order_id + '-' + mpseller_id).button('loading');
    },
    complete: function() {
      $('.button-info'+ order_id + '-' + mpseller_id).button('reset');
    },
    success: function(html) {
      $('body').append(html);

      $('#Mpseller-modal').modal('show');
    }
  });
});
//--></script>
</div>
{{ footer }}