{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right"><a href="{{ invoice }}" target="_blank" data-toggle="tooltip" title="{{ button_invoice_print }}" class="btn btn-info"><i class="fa fa-print"></i></a> <a href="{{ shipping }}" target="_blank" data-toggle="tooltip" title="{{ button_shipping_print }}" class="btn btn-info"><i class="fa fa-truck"></i></a> <a href="{{ edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pen"></i></a> <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-custom">
          <div class="card-header">
            <h3 class="card-title"><i class="fa fa-shopping-cart"></i> {{ text_order_detail }}</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 1%;"><button data-toggle="tooltip" title="{{ text_store }}" class="btn btn-info btn-xs"><i class="fa fa-shopping-cart fa-fw"></i></button></td>
                  <td><a href="{{ store_url }}" target="_blank">{{ store_name }}</a></td>
                </tr>
                <tr>
                  <td><button data-toggle="tooltip" title="{{ text_date_added }}" class="btn btn-info btn-xs"><i class="fa fa-calendar fa-fw"></i></button></td>
                  <td>{{ date_added }}</td>
                </tr>
                <tr>
                  <td><button data-toggle="tooltip" title="{{ text_payment_method }}" class="btn btn-info btn-xs"><i class="fa fa-credit-card fa-fw"></i></button></td>
                  <td>{{ payment_method }}</td>
                </tr>
                {% if (shipping_method) %} 
                <tr>
                  <td><button data-toggle="tooltip" title="{{ text_shipping_method }}" class="btn btn-info btn-xs"><i class="fa fa-truck fa-fw"></i></button></td>
                  <td>{{ shipping_method }}</td>
                </tr>
                {% endif %} 
                {% if (order_status) %} 
                <tr>
                  <td><button data-toggle="tooltip" title="{{ text_order_status }}" class="btn btn-info btn-xs"><i class="fa fa-tag fa-fw"></i> </button></td>
                  <td><button type="button" class="btn btn-warning btn-xs">{{ order_status }}</button></td>
                </tr>
                {% endif %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-custom">
          <div class="card-header">
            <h3 class="card-title"><i class="fa fa-user"></i> {{ text_customer_detail }}</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <tr>
                <td style="width: 1%;"><button data-toggle="tooltip" title="{{ text_customer }}" class="btn btn-info btn-xs"><i class="fa fa-user fa-fw"></i></button></td>
                <td>{% if (customer) %} 
                  <a href="{{ customer }}" target="_blank">{{ firstname }} {{ lastname }}</a>
                  {% else %} 
                  {{ firstname }} {{ lastname }} 
                  {% endif %}</td>
              </tr>
              <tr>
                <td><button data-toggle="tooltip" title="{{ text_customer_group }}" class="btn btn-info btn-xs"><i class="fa fa-users fa-fw"></i></button></td>
                <td>{{ customer_group }}</td>
              </tr>
              <tr>
                <td><button data-toggle="tooltip" title="{{ text_email }}" class="btn btn-info btn-xs"><i class="fa fa-envelope fa-fw"></i></button></td>
                <td><a href="mailto:{{ email }}">{{ email }}</a></td>
              </tr>
              <tr>
                <td><button data-toggle="tooltip" title="{{ text_telephone }}" class="btn btn-info btn-xs"><i class="fa fa-phone fa-fw"></i></button></td>
                <td>{{ telephone }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-info-circle"></i> {{ text_order }}</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td style="width: 50%;" class="text-left">{{ text_payment_address }}</td>
              {% if (shipping_method) %} 
              <td style="width: 50%;" class="text-left">{{ text_shipping_address }}</td>
              {% endif %} 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">{{ payment_address }}</td>
              {% if (shipping_method) %} 
              <td class="text-left">{{ shipping_address }}</td>
              {% endif %} 
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td class="text-left">{{ column_product }}</td>
              <td class="text-left">{{ column_seller_name }}</td>
              <td class="text-left">{{ column_store_name }}</td>
              <td class="text-left">{{ column_mpseller_order_status }}</td>
              <td class="text-left">{{ column_model }}</td>
              <td class="text-right">{{ column_quantity }}</td>
              <td class="text-right">{{ column_price }}</td>
              <td class="text-right">{{ column_total }}</td>
            </tr>
          </thead>
          <tbody>
            {% for product in products %} 
            <tr>
              <td class="text-left"><a href="{{ product['href'] }}">{{ product['name'] }}</a>
                {% for option in product['option'] %} 
                <br />
                {% if (option['type'] != 'file') %} 
                &nbsp;<small> - {{ option['name'] }}: {{ option['value'] }}</small>
                {% else %} 
                &nbsp;<small> - {{ option['name'] }}: <a href="{{ option['href'] }}">{{ option['value'] }}</a></small>
                {% endif %} 
                {% endfor %}</td>
              <td class="text-left">{{ product['product_store_owner'] }}</td>
              <td class="text-left">{{ product['product_store_name'] }}</td>
              <td class="text-left">{{ product['product_order_status'] }}</td>
              <td class="text-left">{{ product['model'] }}</td>
              <td class="text-right">{{ product['quantity'] }}</td>
              <td class="text-right">{{ product['price'] }}</td>
              <td class="text-right">{{ product['total'] }}</td>
            </tr>
            {% endfor %} 
            {% for voucher in vouchers %} 
            <tr>
              <td class="text-left"><a href="{{ voucher['href'] }}">{{ voucher['description'] }}</a></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-right">1</td>
              <td class="text-right">{{ voucher['amount'] }}</td>
              <td class="text-right">{{ voucher['amount'] }}</td>
            </tr>
            {% endfor %} 
            {% for total in totals %} 
            <tr>
              <td colspan="7" class="text-right">{{ total['title'] }}</td>
              <td class="text-right">{{ total['text'] }}</td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
        {% if (comment) %} 
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>{{ text_comment }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ comment }}</td>
            </tr>
          </tbody>
        </table>
        {% endif %} 
      </div>
    </div>
  </div>
</div>
{{ footer }}