{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <div class="card bg-light mb-5">
           <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-name">{{ entry_name }}</label>
                  <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-store-owner">{{ entry_store_owner }}</label>
                  <input type="text" name="filter_store_owner" value="{{ filter_store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-price">{{ entry_price }}</label>
                  <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
                  <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-status">{{ entry_status }}</label>
                  <select name="filter_status" id="input-status" class="form-control">
                    <option value="*"></option>
                    {% if (filter_status) %} 
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %} 
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %} 
                    {% if (not filter_status and filter_status is not null) %} 
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% else %} 
                    <option value="0">{{ text_disabled }}</option>
                    {% endif %} 
                  </select>
                </div>              
                <div class="form-group">
                  <label class="control-label" for="input-model">{{ entry_model }}</label>
                  <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
           </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-center">{{ column_image }}</td>
                  <td class="text-left">{% if (sort == 'pd.name') %} 
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %} 
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'p.store_owner') %} 
                    <a href="{{ sort_store_owner }}" class="{{ order|lower }}">{{ column_store_owner }}</a>
                    {% else %} 
                    <a href="{{ sort_store_owner }}">{{ column_store_owner }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'p.model') %} 
                    <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a>
                    {% else %} 
                    <a href="{{ sort_model }}">{{ column_model }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'p.price') %} 
                    <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a>
                    {% else %} 
                    <a href="{{ sort_price }}">{{ column_price }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'p.quantity') %} 
                    <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a>
                    {% else %} 
                    <a href="{{ sort_quantity }}">{{ column_quantity }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'p.status') %} 
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %} 
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if (products) %} 
                {% for product in products %} 
                <tr>
                  <td class="text-center">{% if (product['product_id'] in selected) %} 
                    <input type="checkbox" name="selected[]" value="{{ product['product_id'] }}" checked="checked" />
                    {% else %} 
                    <input type="checkbox" name="selected[]" value="{{ product['product_id'] }}" />
                    {% endif %}</td>
                  <td class="text-center">{% if (product['image']) %} 
                    <img src="{{ product['image'] }}" alt="{{ product['name'] }}" class="img-thumbnail" />
                    {% else %} 
                    <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
                    {% endif %}</td>
                  <td class="text-left">{{ product['name'] }}</td>
                  <td class="text-left"><a href="{{ product['editseller'] }}">{{ product['store_owner'] }}</a></td>
                  <td class="text-left">{{ product['model'] }}</td>
                  <td class="text-right">{% if (product['special']) %} 
                    <span style="text-decoration: line-through;">{{ product['price'] }}</span><br/>
                    <div class="text-danger">{{ product['special'] }}</div>
                    {% else %} 
                    {{ product['price'] }} 
                    {% endif %}</td>
                  <td class="text-right">{% if (product['quantity'] <= 0) %} 
                    <span class="label label-warning">{{ product['quantity'] }}</span>
                    {% elseif (product['quantity'] <= 5) %} 
                    <span class="label label-danger">{{ product['quantity'] }}</span>
                    {% else %} 
                    <span class="label label-success">{{ product['quantity'] }}</span>
                    {% endif %}</td>
                  <td class="text-left">{{ product['status'] }}</td>
                  <td class="text-right"><a href="{{ product['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %} 
                {% else %} 
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %} 
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = 'index.php?route=mpmultivendor/product&user_token={{ user_token }}';

	var filter_name = $('input[name=\'filter_name\']').val();
  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_store_owner = $('input[name=\'filter_store_owner\']').val();
	if (filter_store_owner) {
		url += '&filter_store_owner=' + encodeURIComponent(filter_store_owner);
	}

	var filter_model = $('input[name=\'filter_model\']').val();
	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();
	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}

	var filter_quantity = $('input[name=\'filter_quantity\']').val();
	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = url;
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpmultivendor/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpmultivendor/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['model'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_model\']').val(item['label']);
  }
});

$('input[name=\'filter_store_owner\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_owner=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['store_owner'],
						value: item['mpseller_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_store_owner\']').val(item['label']);
	}
});
//--></script></div>
{{ footer }}