{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-review').submit() : false;"><i class="fa fa-trash"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
     <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <div class="card bg-light mb-5">
           <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="input-store-owner">{{ entry_store_owner }}</label>
                  <input type="text" name="filter_store_owner" value="{{ filter_store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-author">{{ entry_author }}</label>
                  <input type="text" name="filter_author" value="{{ filter_author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="input-status">{{ entry_status }}</label>
                  <select name="filter_status" id="input-status" class="form-control">
                    <option value="*"></option>
                    {% if (filter_status) %} 
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %} 
                    <option value="1">{{ text_enabled }}</option>
                    {% endif %} 
                    {% if (not filter_status and filter_status is not null) %} 
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% else %} 
                    <option value="0">{{ text_disabled }}</option>
                    {% endif %} 
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                  <div class="input-group date">
                    <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              </div>
            </div>
           </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-review">
          {% if (reviews) %} 
            {% for review in reviews %} 
              <div class="card card-custom">
                <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">                  
                        {% if (review['mpseller_review_id'] in selected) %} 
                          <input type="checkbox" name="selected[]" value="{{ review['mpseller_review_id'] }}" checked="checked" />
                        {% else %} 
                          <input type="checkbox" name="selected[]" value="{{ review['mpseller_review_id'] }}" />
                        {% endif %} 
                        <span class="rating">
                          {% set i = 1 %}{% for i in i..5 %} 
                          {% if (review['rating'] < i) %} 
                          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                          {% else %} 
                          <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                          {% endif %} 
                          {% endfor %} 
                        </span>
                        <span class="review-title"> {{ review['title'] }}</span>                  
                      </div>
                      <div class="col-sm-6 pull-right">
                        <span class="cust"><b>{{ review['author'] }}</b></span> / <span class="date"><b>{{ review['date_added'] }}</b></span>
                        <div class="review-btns">
                          {% if (review['status_int']) %} 
                          <label class="btn btn-danger">{{ review['status'] }}</label>
                          {% else %} 
                          <label class="btn btn-success">{{ review['status'] }}</label>
                          {% endif %} 
                          <a href="{{ review['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pen"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  {{ review['description'] }} 
                </div>
              </div>
            {% endfor %} 
          {% else %} 
            {{ text_no_results }} 
          {% endif %}              
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = 'index.php?route=mpmultivendor/review&user_token={{ user_token }}';
	
	var filter_store_owner = $('input[name=\'filter_store_owner\']').val();
	
	if (filter_store_owner) {
		url += '&filter_store_owner=' + encodeURIComponent(filter_store_owner);
	}
	
	var filter_author = $('input[name=\'filter_author\']').val();
	
	if (filter_author) {
		url += '&filter_author=' + encodeURIComponent(filter_author);
	}
	
	var filter_status = $('select[name=\'filter_status\']').val();
	
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status); 
	}		
			
	var filter_date_added = $('input[name=\'filter_date_added\']').val();
	
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}

	location = url;
});
//--></script> 
<script type="text/javascript"><!--
$('input[name=\'filter_store_owner\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_owner=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['store_owner'],
            value: item['mpseller_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_store_owner\']').val(item['label']);
  }
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script></div>
{{ footer }}