{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-review" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ text_form }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-author">{{ entry_author }}</label>
            <div class="col-sm-10">
              <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
              {% if (error_author) %} 
              <div class="text-danger">{{ error_author }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-store-owner"><span data-toggle="tooltip" title="{{ help_store_owner }}">{{ entry_store_owner }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="store_owner" value="{{ store_owner }}" placeholder="{{ entry_store_owner }}" id="input-store-owner" class="form-control" />
              <input type="hidden" name="mpseller_id" value="{{ mpseller_id }}" />
              {% if (error_store_owner) %} 
              <div class="text-danger">{{ error_store_owner }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-title">{{ entry_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="title" placeholder="{{ entry_title }}" id="input-title" class="form-control" value="{{ title }}" />
              {% if (error_title) %} 
              <div class="text-danger">{{ error_title }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
            <div class="col-sm-10">
              <textarea name="description" cols="60" rows="8" placeholder="{{ entry_description }}" id="input-description" class="form-control">{{ description }}</textarea>
              {% if (error_description) %} 
              <div class="text-danger">{{ error_description }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_rating }}</label>
            <div class="col-sm-10 rating-group">
              <span id="rating" data-stars="{{ rating }}"></span>

              <br /><br />
              {% if (error_rating) %} 
              <div class="text-danger">{{ error_rating }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-date-added">{{ entry_date_added }}</label>
            <div class="col-sm-3">
              <div class="input-group datetime">
                <input type="text" name="date_added" value="{{ date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-added" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if (status) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'store_owner\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpmultivendor/mpseller/autocomplete&user_token={{ user_token }}&filter_store_owner=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['store_owner'],
						value: item['mpseller_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'store_owner\']').val(item['label']);
		$('input[name=\'mpseller_id\']').val(item['value']);		
	}	
});
//--></script>    
<script type="text/javascript">
$(document).ready(function() {
$.ratePicker("#rating");
});
</script>
</div>
{{ footer }}