<div id="Mpseller-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          {{ text_seller_total_info }} 
          <hr/>
          <div><small><b>{{ text_store_name }}: {{ store_name }}</b></small></div>
          <div><small><b>{{ text_store_owner }}: {{ store_owner }}</b></small></div>
          <div><small><b>{{ text_email }}: {{ email }}</b></small></div>
        </h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <td class="text-left">{{ column_product }}</td>
              <td class="text-left">{{ column_mpseller_order_status }}</td>
              <td class="text-left">{{ column_model }}</td>
              <td class="text-right">{{ column_quantity }}</td>
              <td class="text-right">{{ column_price }}</td>
              <td class="text-right">{{ column_total }}</td>
            </tr>
          </thead>
            <tbody>
              {% for product in mpseller_order_products %} 
              <tr>
                <td class="text-left">{{ product['name'] }}</td>
                <td class="text-left">{{ product['order_status'] }}</td>
                <td class="text-left">{{ product['model'] }}</td>
                <td class="text-right">{{ product['quantity'] }}</td>
                <td class="text-right">{{ product['price'] }}</td>
                <td class="text-right">{{ product['total'] }}</td>
              </tr>
              {% endfor %} 
              {% for total in totals %} 
              <tr>
                <td colspan="5" class="text-right">{{ total['title'] }}</td>
                <td class="text-right">{{ total['text'] }}</td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#Mpseller-modal').on('hidden.bs.modal', function() {
  $(this).remove();
});
</script>