{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ back_to_order }}" class="btn btn-default" data-toggle="tooltip" title="{{ text_back_to_order }}"><i class="fas fa-reply"></i></a>
        {% if is_shipment  ==  1 %}
            <a href="{{ print_label_url }}" data-toggle="tooltip" title="{{ text_print_label }}" class="btn btn-primary" target="_blank"><i class="fas fa-print"></i></a>
            {% if can_be_canceled is not empty and can_be_canceled == 1 %}
            <button id="cancel-shipment-order" data-toggle="tooltip" title="{{ text_cancel_sipment }}" class="btn btn-danger"><i class="fas fa-times"></i></button>
            {% endif %}
        {% endif %}
      </div>
      <h1>{{ fastlo_text_create_heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if eRRORS and  eRRORS is not empty %}
    <div class="alert alert-danger alert-dismissible">
      <h4 class="alert-heading"><i class="fas fa-exclamation-circle"></i> {{ text_error_heading }}</h4>
        {% for val in eRRORS %}
            <p>{{ val }}</p>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <form enctype="multipart/form-data" action="" method="post" id="fastlo_shipment" novalidate="novalidate" class="form-horizontal">
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-truck"></i> {{ text_shipment_details }}</h3>
      </div>
      <div class="card-body">
        {% if is_shipment %}
            <h5 class="mb-5">{{ text_shipping_submitted_message }}</h5>
            <h5><b>{{ text_shipment_status }}</b> <u class="bg-light">{{ read_shipment.shipment_data.status_name }}</u></h5>
            <h5><b>{{ text_created_date }}</b> {{ read_shipment.shipment_data.created_date }}</h5>
            {% if read_shipment %} 
            <table class="table table-bordered mt-5" id="shipping_read_table_id">
                <tr>
                    <td width="50%">
                        <fieldset id="fastlo_shipment_read_sender_info">
                            <legend>{{ text_sender_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_name }}</td>
                                    <td>
                                        {{ read_shipment.sender_address.sender_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_mobile1 }}</td>
                                    <td>
                                        {{ read_shipment.sender_address.sender_mobile1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_mobile2 }}</td>
                                    <td>
                                        {{ read_shipment.sender_address.sender_mobile2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_country }}</td>
                                    <td>
                                        {{ read_shipment.sender_address.sender_country }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_city }}</td>
                                    <td>
                                        {{ read_shipment.sender_address.sender_city }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_area }}</td>
                                    <td>
                                        {{ read_shipment.sender_address.sender_area }}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_additional }}</td>
                                    <td>
                                        {{ read_shipment.sender_address.sender_additional }}
                                    </td>
                                </tr>                                                                
                            </table>
                        </fieldset>
                    </td>
                    <td width="50%">
                        <fieldset id="fastlo_shipment_creation_receiver_info">
                            <legend>{{ text_receiver_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_name }}</td>
                                    <td>
                                        {{ read_shipment.receiver_address.receiver_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_mobile1 }}</td>
                                    <td>
                                        {{ read_shipment.receiver_address.receiver_mobile1 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_mobile2 }}</td>
                                    <td>
                                        {{ read_shipment.receiver_address.receiver_mobile2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_country }}</td>
                                    <td>
                                        {{ read_shipment.receiver_address.receiver_country }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_city }}</td>
                                    <td>
                                        {{ read_shipment.receiver_address.receiver_city }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_area }}</td>
                                    <td>
                                        {{ read_shipment.receiver_address.receiver_area }}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_additional }}</td>
                                    <td>
                                        {{ read_shipment.receiver_address.receiver_additional }}
                                    </td>
                                </tr>                                                                
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <fieldset id="fastlo_shipment_read_shipment_info">
                            <legend>{{ text_shipment_information }}</legend>
                            <table class="table" id="shipment_infromation">
                                <tr>
                                    <td width="50%" class="font-weight-bolder">{{ entry_reference }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.reference }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_collect_cash_amount }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.collect_cash_amount }}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
            {% endif %}
        {% else %}
            <table class="table table-bordered" id="shipping_form_table_id">
                <tr>
                    <td width="50%">
                        <fieldset id="fastlo_shipment_creation_sender_info">
                            <legend>{{ text_sender_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td>{{ entry_sender_name }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_name }}" name="sender_name" class="form-control">
                                        {% if error_sender_name %}
                                        <div class="text-danger">{{ error_sender_name }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_mobile1 }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_mobile1 }}" name="sender_mobile1" class="form-control">
                                        {% if error_sender_mobile1 %}
                                        <div class="text-danger">{{ error_sender_mobile1 }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_mobile2 }}</td>
                                    <td>
                                        <input type="text" value="{{ sender_mobile2 }}" name="sender_mobile2" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_country }} <span class="text-danger">*</span></td>
                                    <td>
                                        <select name="sender_country" id="input-sender-country" class="form-control">
                                            {% for country in countries %}
                                            {% if country.iso_code_2 == sender_country %}
                                            <option value="{{ country.iso_code_2 }}" selected="selected">{{ country.name }}</option>
                                            {% else %}
                                            <option value="{{ country.iso_code_2 }}">{{ country.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        {% if error_sender_country %}
                                        <div class="text-danger">{{ error_sender_country }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_city }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_city }}" name="sender_city" class="form-control">
                                        {% if error_sender_city %}
                                        <div class="text-danger">{{ error_sender_city }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_area }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_area }}" name="sender_area" class="form-control">
                                        {% if error_sender_area %}
                                        <div class="text-danger">{{ error_sender_area }}</div>
                                        {% endif %}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_sender_street }}</td>
                                    <td>
                                        <input type="text" value="{{ sender_street }}" name="sender_street" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_sender_additional }}</td>
                                    <td>
                                        <input type="text" value="{{ sender_additional }}" name="sender_additional" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_sender_latitude }}</td>
                                    <td>
                                        <input type="text" value="{{ sender_latitude }}" name="sender_latitude" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_sender_longitude }}</td>
                                    <td>
                                        <input type="text" value="{{ sender_longitude }}" name="sender_longitude" class="form-control">
                                    </td>
                                </tr>                                                                
                            </table>
                        </fieldset>
                    </td>
                    <td width="50%">
                        <fieldset id="fastlo_shipment_creation_receiver_info">
                            <legend>{{ text_receiver_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td>{{ entry_receiver_name }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_name }}" name="receiver_name" class="form-control">
                                        {% if error_receiver_name %}
                                        <div class="text-danger">{{ error_receiver_name }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_mobile1 }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_mobile1 }}" name="receiver_mobile1" class="form-control">
                                        {% if error_receiver_mobile1 %}
                                        <div class="text-danger">{{ error_receiver_mobile1 }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_mobile2 }}</td>
                                    <td>
                                        <input type="text" value="{{ receiver_mobile2 }}" name="receiver_mobile2" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_country }} <span class="text-danger">*</span></td>
                                    <td>                            
                                        <select name="receiver_country" id="input-receiver-country" class="form-control">
                                            {% for country in countries %}
                                            {% if country.iso_code_2 == receiver_country %}
                                            <option value="{{ country.iso_code_2 }}" selected="selected">{{ country.name }}</option>
                                            {% else %}
                                            <option value="{{ country.iso_code_2 }}">{{ country.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        {% if error_receiver_country %}
                                        <div class="text-danger">{{ error_receiver_country }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_city }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_city }}" name="receiver_city" class="form-control">
                                        {% if error_receiver_city %}
                                        <div class="text-danger">{{ error_receiver_city }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_area }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_area }}" name="receiver_area" class="form-control">
                                        {% if error_receiver_area %}
                                        <div class="text-danger">{{ error_receiver_area }}</div>
                                        {% endif %}
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_receiver_street }}</td>
                                    <td>
                                        <input type="text" value="{{ receiver_street }}" name="receiver_street" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_receiver_additional }}</td>
                                    <td>
                                        <input type="text" value="{{ receiver_additional }}" name="receiver_additional" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_receiver_latitude }}</td>
                                    <td>
                                        <input type="text" value="{{ receiver_latitude }}" name="receiver_latitude" class="form-control">
                                    </td>
                                </tr>                                                                
                                <tr>
                                    <td>{{ entry_receiver_longitude }}</td>
                                    <td>
                                        <input type="text" value="{{ receiver_longitude }}" name="receiver_longitude" class="form-control">
                                    </td>
                                </tr>                                                                
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <fieldset id="fastlo_shipment_creation_shipment_info">
                            <legend>{{ text_shipment_information }}</legend>
                            <table class="table" width="100%">
                                <tr>
                                    <td width="50%"><table class="table" id="shipment_infromation">
                                        <tr>
                                            <td width="50%">{{ entry_reference }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="text" value="{{ reference }}" name="reference" id="reference" class="form-control">
                                                {% if error_reference %}
                                                <div class="text-danger">{{ error_reference }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_collect_cash_amount }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="number" value="{{ collect_cash_amount }}" name="collect_cash_amount" id="collect_cash_amount" class="form-control">
                                                {% if error_collect_cash_amount %}
                                                <div class="text-danger">{{ error_collect_cash_amount }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_number_of_pieces }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="number" value="{{ number_of_pieces }}" name="number_of_pieces" id="shipment_value_currency" class="form-control">
                                                {% if error_number_of_pieces %}
                                                <div class="text-danger">{{ error_number_of_pieces }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_shipment_currency }}</td>
                                            <td>
                                                <input type="text" value="{{ currency_code }}" name="currency_code" id="currency_code" disabled="disabled" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_shipment_weight }}</td>
                                            <td><input type="text" value="{{ weight }}" name="weight" id="weight" disabled="disabled" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_shipment_items_price }}</td>
                                            <td>
                                                <input type="text" value="{{ total }}" disabled="disabled" name="saee_shipment_info_items_subtotal" class="form-control">
                                            </td>
                                        </tr>
                                    </table></td>
                                    <td width="50%" valign="top" style="vertical-align: top;">
                                        <table id="fastlo_items_table" class="table">
                                            <tr>
                                                <th class="fastlo_item_name">{{ text_product_item_name }}</th>
                                                <th class="fastlo_item_qty">{{ text_product_quantity }}</th>
                                            </tr>
                                            {% set qty = 0 %}
                                            {% for op in order_products %}
                                                <tr class="fastlo_item_tobe_shipped">
                                                    <td class="fastlo_item_name">{{ op.comment }}</td>
                                                    <td class="fastlo_item_qty">{{ op.quantity }}</td>
                                                </tr>
                                                {% set qty = qty + op.quantity %}
                                            {% endfor %}
                                            <tr>
                                                <td style="font-weight: bold;background: none repeat scroll 0% 0% rgb(224, 224, 224);">{{ text_no_of_products_shipped }}</td>
                                                <td><span id="items_tobe_shipped_number">{{ qty }}</span> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group checkbox-inline">
                            {% if not is_shipment %}
                                <a class="btn btn-info mr-5" onclick=" $('#fastlo_shipment').submit();" id="fastlo_shipment_creation_submit_id">{{ text_button_create_shipment }}</a>
                                <label class="checkbox">
                                    <input type="checkbox" value="yes" name="fastlo_email_customer">
                                    <span></span>
                                    {{ text_checkbox_notify_customer }}
                                </label>
                            {% else %}
                                <a class="btn btn-info mr-5" onclick=" $('#fastlo_shipment').submit();" id="fastlo_shipment_update_submit_id">{{ text_button_resubmit_shipment }}</a>
                            {% endif %}
                        <div>
                    </td>
                </tr>
            </table>
        {% endif %}
      </div>
    </div>
    </form>
   </div>
</div>
{% if is_shipment %}
<div class="modal fade" id="fastlo-cancel-confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ text_cancel_shipment }}</h4>
            </div>
            <div class="modal-body">
                <h4 id="fastlo-cancel-confirm-modal-content">
                   {{ text_cancel_confirm_shipment }}
                </h4>
                <p id="fastlo-cancel-confirm-modal-processing"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
                <button id="fastlo-cancel-confirm-ok" type="button" class="btn btn-primary">{{ text_ok }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"><!--
$('#cancel-shipment-order').on('click', function() {
    modalConfirm();
});

let refreshPage = function() {
    document.location = document.location;
}
let modalConfirm = function() {
    $('#fastlo-cancel-confirm-modal').modal('show');
    $('#fastlo-cancel-confirm-ok').unbind().click(function() {
        $.ajax({
            url: 'index.php?route=extension/shipping/fastlo/manage/cancel&user_token={{ user_token }}&order_id={{ order_id }}',
            dataType: 'json',
            beforeSend: function() {
                $('#cancel-shipment-order').prop('disabled', true);
                $('#fastlo-cancel-confirm-ok').prop('disabled', true);
                $('#fastlo-cancel-confirm-modal-processing').text('{{ text_processing }}');
            },
            complete: function() {
                $('#cancel-shipment-order').prop('disabled', false);
                $('#fastlo-cancel-confirm-ok').prop('disabled', false);
            },
            success: function(json) {
                if(json['response'] != 'Success') {
                    $('#fastlo-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_cancel_failed }}</span>');
                } else if(json['response'] == 'Success') {
                    $('#fastlo-cancel-confirm-modal-processing').html('<span class="text-success">{{ text_shipment_cancelled }}</span>');
                    setTimeout(function(){                         
                        $('#fastlo-cancel-confirm-modal').modal('hide');
                        document.location = 'index.php?route=sale/order/info&user_token={{ user_token }}&order_id={{ order_id }}';
                    }, 2000);
                } else {
                    {# $('#fastlo-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>'); #}
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                $('#fastlo-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>');
            }
        });
    });    
}
//--></script> 
{% endif %}
{{ footer }}