{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ back_to_order }}" class="btn btn-default" data-toggle="tooltip" title="{{ text_back_to_order }}"><i class="fas fa-reply"></i></a>
        {% if is_shipment  ==  1 %}
            <a href="{{ print_label_url }}" data-toggle="tooltip" title="{{ text_print_label }}" class="btn btn-primary" target="_blank"><i class="fas fa-print"></i></a>
            <a id="tracking-shipment-order" data-toggle="tooltip" title="{{ text_track }}" class="btn btn-info"><i class="fas fa-paper-plane"></i></a>
            <button id="cancel-shipment-order" data-toggle="tooltip" title="{{ text_cancel_sipment }}" class="btn btn-danger"><i class="fas fa-times"></i></button>
        {% endif %}
      </div>
      <h1>{{ saee_create_heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success_html and  success_html is not empty %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check"></i> {{ success_html }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if eRRORS and  eRRORS is not empty %}
    <div class="alert alert-danger alert-dismissible">
      <h4 class="alert-heading"><i class="fas fa-exclamation-circle"></i> {{ text_error_heading }}</h4>
        {% for val in eRRORS %}
            <p>{{ val }}</p>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <form enctype="multipart/form-data" action="" method="post" id="saee_shipment" novalidate="novalidate" class="form-horizontal">
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-truck"></i> {{ text_shipment_details }}</h3>
        <div class="card-toolbar">
            {% if not is_shipment %}
            <select name="create_order_type" id="create_order_type" class="form-control">
                <option value="last_mile_booking" {% if create_order_type == 'last_mile_booking' %} {{ 'selected="selected"' }} {% endif %}> {{ text_last_mile_booking }}</option>
                <option value="pickup_shipments" {% if create_order_type == 'pickup_shipments' %} {{ 'selected="selected"' }} {% endif %}> {{ text_pickup_shipments }} </option>
            </select>
            {% endif %}
        </div>
      </div>
      <div class="card-body">
        {% if is_shipment %}
            <div id="shipping_submitted_message_id">{{ text_shipping_submitted_message }} <a href="javascript:;" id="shipping_resubmit_details_id">{{ text_shipping_resubmit_button }}</a></div>
        {% endif %}
        <table class="table table-bordered" id="shipping_form_table_id" {% if is_shipment %} style="display:none;"{% endif %}>
            <tr>
                <td colspan="2"{% if is_shipment  ==  1 %} style="display:none"{% endif %}>
                    <fieldset id="saee_shipment_creation_sender_info">
                        <legend>{{ text_sender_details }}</legend>
                        <table class="table">
                            <tr>
                                <td>{{ text_sender_name }}</td>
                                <td>
                                    <input type="text" value="{{ sendername }}" disabled="disabled" name="sendername" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_email }}</td>
                                <td>
                                    <input type="text" value="{{ sendername }}" disabled="disabled" name="sendermail" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_phone }}</td>
                                <td>
                                    <input type="text" value="{{ senderphone }}" disabled="disabled" name="senderphone" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_address }}</td>
                                <td>
                                    <input type="text" value="{{ senderaddress }}" disabled="disabled" name="senderaddress" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_city }}</td>
                                <td>
                                    <input type="text" value="{{ sendercity }}" disabled="disabled" name="sendercity" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_country }}</td>
                                <td>
                                    <input type="text" value="{{ sendercountry }}" disabled="disabled" name="sendercountry" class="form-control">
                                </td>
                            </tr>                                                                
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset id="saee_shipment_creation_receiver_info">
                        <legend>{{ text_receiver_details }}</legend>
                        <table class="table" id="receiver_details">
                            <tr>
                                <td>{{ text_receiver_name }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_name }}" name="c_name" id="c_name" class="form-control">
                                </td>
                            </tr>
                            <tr{% if is_shipment  ==  1 %} style="display:none"{% endif %}>
                                <td>{{ text_receiver_email }}</td>
                                <td><input type="text" value="{{ email }}" name="email" id="email" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_mobile }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_mobile }}" name="c_mobile" id="c_mobile" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_mobile2 }}</td>
                                <td><input type="text" value="{{ c_mobile2 }}" name="c_mobile2" id="c_mobile2" class="form-control">
                                </td>
                            </tr>                                
                            <tr>
                                <td>{{ text_receiver_address }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_streetaddress }}" name="c_streetaddress" id="c_streetaddress" class="form-control">
                                </td>
                            </tr>                                
                            <tr>
                                <td>{{ text_receiver_address2 }}</td>
                                <td><input type="text" value="{{ c_streetaddress2 }}" name="c_streetaddress2" id="c_streetaddress2" class="form-control">
                                </td>
                            </tr>                                
                            <tr>
                                <td>{{ text_receiver_district }}</td>
                                <td><input type="text" value="{{ c_district }}" name="c_district" id="c_district" class="form-control">
                                </td>
                            </tr>   
                            <tr>
                                <td>{{ text_receiver_city }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_city }}" name="c_city" id="c_city" class="form-control">
                                </td>
                            </tr> 
                            <tr>
                                <td>{{ text_receiver_state }}</td>
                                <td><input type="text" value="{{ c_state }}" name="c_state" id="c_state" class="form-control">
                                </td>
                            </tr>                                 
                            <tr>
                                <td>{{ text_receiver_zipcode }}</td>
                                <td><input type="text" value="{{ c_zipcode }}" name="c_zipcode" id="c_zipcode" class="form-control">
                                </td>
                            </tr>                                                                                               
                            <tr>
                                <td>{{ text_receiver_latitude }}</td>
                                <td><input type="text" value="{{ c_latitude }}" name="c_latitude" id="c_latitude" class="form-control">
                                </td>
                            </tr>                                                                                                                               
                            <tr>
                                <td>{{ text_receiver_longitude }}</td>
                                <td><input type="text" value="{{ c_longitude }}" name="c_longitude" id="c_longitude" class="form-control">
                                </td>
                            </tr>                                                                                                                               
                            <tr>
                                <td>{{ text_custom_value }}</td>
                                <td><input type="number" value="{{ custom_value }}" name="custom_value" id="custom_value" step=".01" class="form-control">
                                </td>
                            </tr>  
                            <tr>
                                <td>{{ text_hs_code }}</td>
                                <td><input type="text" value="{{ hs_code }}" name="hs_code" id="hs_code" class="form-control">
                                </td>
                            </tr>  
                            <tr>
                                <td>{{ text_category_id }}</td>
                                <td><input type="number" value="{{ category_id }}" name="category_id" id="category_id" class="form-control">
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
                <td{% if is_shipment  ==  1 %} style="display:none"{% endif %}><fieldset id="saee_shipment_creation_pickup_info">
                        <legend>{{ text_pickup_details }}</legend>
                        <table class="table" id="pickup_details">
                            <tr>
                                <td>{{ entry_pickup_address_id }}</td>
                                <td>
                                    <input type="text" value="{{ pickup_address_id }}" name="pickup_address_id" id="pickup_address_id" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_pickup_address_code }}</td>
                                <td>
                                    <input type="text" value="{{ pickup_address_code }}" name="pickup_address_code" id="pickup_address_code" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_name_field">
                                <td>{{ entry_origin_name }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_name }}" name="p_name" id="p_name" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_mobile_field">
                                <td>{{ entry_origin_phone }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_mobile }}" name="p_mobile" id="p_mobile" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_mobile2_field">
                                <td>{{ entry_origin_phone2 }}</td>
                                <td>
                                    <input type="text" value="{{ p_mobile2 }}" name="p_mobile2" id="p_mobile2" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_streetaddress_field">
                                <td>{{ entry_origin_address }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_streetaddress }}" name="p_streetaddress" id="p_streetaddress" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_streetaddress2_field">
                                <td>{{ entry_origin_address2 }}</td>
                                <td>
                                    <input type="text" value="{{ p_streetaddress2 }}" name="p_streetaddress2" id="p_streetaddress2" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_latitude_field">
                                <td>{{ entry_origin_gps_latitude }}</td>
                                <td>
                                    <input type="text" value="{{ p_latitude }}" name="p_latitude" id="p_latitude" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_longitude_field">
                                <td>{{ entry_origin_gps_longitude }}</td>
                                <td>
                                    <input type="text" value="{{ p_longitude }}" name="p_longitude" id="p_longitude" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_district_field">
                                <td>{{ entry_origin_district }}</td>
                                <td>
                                    <input type="text" value="{{ p_district }}" name="p_district" id="p_district" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_city_field">
                                <td>{{ entry_origin_city }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_city }}" name="p_city" id="p_city" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_state_field">
                                <td>{{ entry_origin_state }}</td>
                                <td>
                                    <input type="text" value="{{ p_state }}" name="p_state" id="p_state" class="form-control">
                                </td>
                            </tr>                                
                            <tr id="p_zipcode_field">
                                <td>{{ entry_origin_zipcode }}</td>
                                <td>
                                    <input type="text" value="{{ p_zipcode }}" name="p_zipcode" id="p_zipcode" class="form-control">
                                </td>
                            </tr>                                                                
                        </table>
                    </fieldset></td>
            </tr>
            <tr>
                <td colspan="2">
                    <fieldset id="saee_shipment_creation_shipment_info">
                        <legend>{{ text_shipment_information }}</legend>
                        <table class="table" width="100%">
                            <tr>
                                <td width="50%"><table class="table" id="shipment_infromation">
                                    <tr>
                                        <td>{{ entry_cashondelivery }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_cashondelivery }}</small></td>
                                        <td>
                                            <input type="text" value="{{ cashondelivery }}" name="cashondelivery" id="cashondelivery" class="form-control">
                                        </td>
                                    </tr>
                                    <tr{% if is_shipment  ==  1 %} style="display:none"{% endif %}>
                                        <td>{{ entry_cashonpickup }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_cashonpickup2 }}</small></td>
                                        <td>
                                            <input type="text" value="{{ cashonpickup }}" name="cashonpickup" id="cashonpickup" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ text_shipment_quantity }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_shipment_quantity }}</small></td>
                                        <td>
                                            <input type="text" value="{{ quantity }}" name="quantity" id="quantity" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ text_shipment_weight }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_weight }}</small></td>
                                        <td><input type="text" value="{{ weight }}" name="weight" id="weight" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ text_shipment_currency }}</td>
                                        <td>
                                            <input type="text" value="{{ currency_code }}" name="currency_code" id="currency_code" disabled="disabled" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ text_shipment_items_price }}</td>
                                        <td>
                                            <input type="text" value="{{ total }}" disabled="disabled" name="saee_shipment_info_items_subtotal" class="form-control">
                                        </td>
                                    </tr>
                                </table></td>
                                <td width="50%" valign="top" style="vertical-align: top;">
                                    <table id="saee_items_table" class="table">
                                        <tr>
                                            <th class="saee_item_name">{{ text_product_item_name }}</th>
                                            <th class="saee_item_qty">{{ text_product_quantity }}</th>
                                        </tr>
                                        {% set qty = 0 %}
                                        {% for op in order_products %}
                                            <tr class="saee_item_tobe_shipped">
                                                <td class="saee_item_name">{{ op.comment }}</td>
                                                <td class="saee_item_qty">{{ op.quantity }}</td>
                                            </tr>
                                            {% set qty = qty + op.quantity %}
                                        {% endfor %}
                                        <tr>
                                            <td style="font-weight: bold;background: none repeat scroll 0% 0% rgb(224, 224, 224);">{{ text_no_of_products_shipped }}</td>
                                            <td><span id="items_tobe_shipped_number">{{ qty }}</span> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" value="{{ reference }}" name="order_id" class="">
                    <div class="form-group checkbox-inline">
                        {% if not is_shipment %}
                            <a class="btn btn-info mr-5" onclick=" $('#saee_shipment').submit();" id="saee_shipment_creation_submit_id">{{ text_button_create_shipment }}</a>
                            <label class="checkbox">
                                <input type="checkbox" value="yes" name="saee_email_customer">
                                <span></span>
                                {{ text_checkbox_notify_customer }}
                            </label>
                        {% else %}
                            <a class="btn btn-info mr-5" onclick=" $('#saee_shipment').submit();" id="saee_shipment_update_submit_id">{{ text_button_resubmit_shipment }}</a>
                        {% endif %}
                    <div>
                </td>
            </tr>
        </table>
      </div>
    </div>
    </form>
   </div>
</div>
{% if not is_shipment %}
<script type="text/javascript"><!--
$('#create_order_type').change(function(){
    document.getElementById('p_name_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_mobile_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_mobile2_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_streetaddress_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_streetaddress2_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_district_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_city_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_state_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_zipcode_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_latitude_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
    document.getElementById('p_longitude_field').style.display = ($('#create_order_type').val() == "last_mile_booking" ? "none" : "");
});
$('#create_order_type').trigger('change');
//--></script> 
{% else %}
<div class="modal fade" id="saee-cancel-confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ text_cancel_shipment }}</h4>
            </div>
            <div class="modal-body">
                <h4 id="saee-cancel-confirm-modal-content">
                   {{ text_cancel_confirm_shipment }}
                </h4>
                <p id="saee-cancel-confirm-modal-processing"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
                <button id="saee-cancel-confirm-ok" type="button" class="btn btn-primary">{{ text_ok }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saee-tracking-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ text_shipment_tracking }}</h4>
            </div>
            <div class="modal-body">
                <p id="saee-tracking-modal-content"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"><!--
$('#shipping_resubmit_details_id').on('click', function() {
    $('#shipping_submitted_message_id').hide();
    $('#shipping_form_table_id').show();
});

$('#cancel-shipment-order').on('click', function() {
    modalConfirm();
});

let refreshPage = function() {
    document.location = document.location;
}
let modalConfirm = function() {
    $('#saee-cancel-confirm-modal').modal('show');
    $('#saee-cancel-confirm-ok').unbind().click(function() {
        $.ajax({
            url: 'index.php?route=extension/shipping/saee/json/cancel&user_token={{ user_token }}&order_id={{ order_id }}',
            dataType: 'json',
            beforeSend: function() {
                $('#cancel-shipment-order').prop('disabled', true);
                $('#saee-cancel-confirm-ok').prop('disabled', true);
                $('#saee-cancel-confirm-modal-processing').text('{{ text_processing }}');
            },
            complete: function() {
                $('#cancel-shipment-order').prop('disabled', false);
                $('#saee-cancel-confirm-ok').prop('disabled', false);
            },
            success: function(json) {

                if(json['status'] == 0) {
                    $('#saee-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_cancel_failed }}</span>');
                } else if(json['status'] == 1) {
                    $('#saee-cancel-confirm-modal-processing').html('<span class="text-success">{{ text_shipment_cancelled }}</span>');
                    setTimeout(function(){                         
                        $('#saee-cancel-confirm-modal').modal('hide');
                        document.location = 'index.php?route=sale/order/info&user_token={{ user_token }}&order_id={{ order_id }}';
                    }, 2000);
                } else {
                    $('#saee-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                $('#saee-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>');
            }
        });
    });    
}
$('#tracking-shipment-order').on('click', function() {
    $.ajax({
        url: 'index.php?route=extension/shipping/saee/json/tracking&user_token={{ user_token }}&waybill={{ waybill }}',
        dataType: 'json',
        beforeSend: function() {
            $('#tracking-shipment-order').prop('disabled', true);
            $('#saee-tracking-modal-content').text('{{ text_loading }}');
            $('#saee-tracking-modal').modal('show');
        },
        complete: function() {
            $('#tracking-shipment-order').prop('disabled', false);
        },
        success: function(json) {
            if(json['error']) {
                $('#saee-tracking-modal-content').html('<span class="text-danger">' + (json['error'][0] != null ? json['error'][0] : '{{ text_ajax_error_common }}') + '</span>');
            } else {
                let tracking_table = '<table class="table table-bordered"><tr><th>#</th><th>{{ text_tracking_city }}</th><th>{{ text_tracking_status }}</th><th>{{ text_tracking_date }}</th></tr>';
                jQuery.each(json['details'], function(index, record) {
                    tracking_table += '<tr><td>' + record['id'] + '</td><td>' + record['city'] + '</td><td>' + record['notes'] + '</td><td>' + record['updated_at']['date'].substring(0, record['updated_at']['date'].length-7); + '</td></tr>';
                });
                tracking_table += '</table>';
                $('#saee-tracking-modal-content').html(tracking_table);
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            $('#saee-tracking-modal-content').html('<span class="text-danger">{{ text_ajax_error_common }}</span>');
        }
    });
});
//--></script> 
{% endif %}
{{ footer }}