@font-face{
    font-family:'Glyphicons Halflings';src:url('../fonts/glyphicons-halflings-regular.eot');
    src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/glyphicons-halflings-regular.woff') format('woff'),url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.dataTables_wrapper{
    padding: 10px;
}
.op-setting-content{
    padding: 10px;
}
.dashboard-content{
    padding: 20px 10px;
}
.dahboard-menu{
    min-height: 100px;

    text-align: center;
    margin-top: 15px;
}
.dashboard-summaries{
    margin-bottom: 15px;
    padding: 20px;
}
.op-icon-menu{
    background-color: #ccc;
    padding:30px;
    border-radius: 20px;
}
.op-icon-menu i{
    font-size: 20px;
}