<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
<div id="tabby-checkout" style="display:none;"></div>
<script type="text/javascript"><!--
var tabbyMethod = '{{ tabby_method }}';
var tabbyOpencartSubmitOrder = function(payment_id) {
	$.ajax({
		url: 'index.php?route=extension/payment/tabby/confirm&payment_id=' + payment_id,
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			} else {
                if (json['error']) {
                    alert(json['error']);
                }
            }
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
};

  tabbyRenderer = {
	product: null,
	products: {
		payLater: 'tabby_paylater',
		installments: 'tabby_installments'
	},
	available_products: [],
	payment: null,
	email: null,
	phone: null,
	paymentCode: null,
	tabbyConfig: null,
	relaunchTabby: false,
	initialize: function () {
		this.debug = {{ tabbyDebug }};
        this.product = '{{ tabbyProduct }}';
		if (this.debug) console.log("Tabby checkout initialize");
		this.tabbyConfig = {
    		apiKey: '{{ tabbyApiKey }}',
			payment: {{ tabbyPayment }},
			merchantCode: '{{ merchantCode }}',
    		onChange: function(data){
				if (tabbyRenderer.debug) console.log(data);
				switch (data.status.toLowerCase()) {
					case 'created': 
						if (data.products) {
							tabbyRenderer.available_products = data.products;
						};
						if (tabbyRenderer.loadWaitingSet) {
							tabbyRenderer.setLoadWaiting(false);
						}
						if (tabbyRenderer.relaunchTabby) {
							jQuery("#tabby-checkout").css("display", "block");
							Tabby.launch({product: tabbyRenderer.product});
							tabbyRenderer.relaunchTabby = false;
						}
						break;
					case 'authorized':
						//jQuery("#"+tabbyRenderer.paymentCode+"_paymentid").val(data.payment.id);
			            $('#button-confirm').button('loading');
						jQuery("#tabby-checkout").css("display", "none");
                        tabbyOpencartSubmitOrder(data.payment.id);
						break;
					case 'error':
						if (tabbyRenderer.loadWaitingSet) {
							tabbyRenderer.setLoadWaiting(false);
						}
						break;
                    case 'rejected':
						if (tabbyRenderer.loadWaitingSet) {
						    tabbyRenderer.setLoadWaiting(false);
						}
                        break;
					default: 
						if (tabbyRenderer.loadWaitingSet) {
							tabbyRenderer.setLoadWaiting(false);
						}
						tabbyRenderer.available_products = data.products ?? [];
						jQuery("#tabby-checkout").css("display", "none");
						break;
				}
		
    		},
			onClose: function () {
				tabbyRenderer.relaunchTabby = true;
				tabbyRenderer.setLoadWaiting(false);
				if (this.debug) console.log("Tabby checkout window closed");
				jQuery("#tabby-checkout").css("display", "none");
			}
  		};

	}, 
    setLoadWaiting : function (value) {
        this.loadWaitingSet = value;
        $('#button-confirm').button(this.loadWaitingSet ? 'loading' : 'reset');
    },
  	create: function () {
		if (this.debug) console.log("Tabby checkout create payment");
		var tabby = Tabby.init(this.tabbyConfig);
  		Tabby.create();
  		jQuery("#tabby-checkout").css("display", "none");
	},
	launch: function () {
		const checkout = document.querySelector('#tabby-checkout');
		if (checkout) checkout.style.display = 'block';
		if (this.debug) console.log('launch with product', this.product, tabbyRenderer.relaunchTabby);
		if (tabbyRenderer.relaunchTabby) {
            tabbyRenderer.setLoadWaiting(true);
			Tabby.create();
		} else {
			Tabby.launch({ product: this.product });
		}
	},
	addSubmitButtonEvent: function () {
		jQuery('#button-confirm').prop('onclick', null).click(function (e) {
            tabbyRenderer.setLoadWaiting(true);
			e.preventDefault();
			tabbyRenderer.launch();
		});
	}
  };

  tabbyRenderer.initialize();
  tabbyRenderer.addSubmitButtonEvent();
  tabbyRenderer.create();
