{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

                {% if stores %}
                {% for store in stores %}
    <div class="card card-custom gutter-b">
									<div class="card-body">
										<div class="d-flex">
											<div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
												<div class="symbol symbol-50 symbol-lg-120">
													<img alt="Pic" src="{{ store.logo }}">
												</div>
											</div>
											<div class="flex-grow-1">
												<div class="d-flex align-items-center justify-content-between flex-wrap">
													<div class="mr-3">
														<a href="#" class="d-flex align-items-center text-dark text-hover-warning font-size-h5 font-weight-bold mr-3">
                              {{ store.name }}
                              {% if store.store_id == '0' %} <i data-toggle="tooltip" title="{{ text_default|striptags }}" class="flaticon2-correct text-success icon-md ml-2"></i> {% endif %}
                            </a>
														<div class="d-flex flex-wrap my-2">
															<a href="javascript:;" class="text-muted text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
														    <i class="fa fa-link"></i>	{{ store.url }}
                              </a>
                              <a href="javascript:;" class="text-muted text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
														    <i class="fa fa-envelope-open"></i>	{{ store.email }}
                              </a>
														</div>
													</div>
													<div class="my-lg-0 my-1">
														<a href="{{ store.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase"><i class="fa fa-edit"></i></a>
														{% if store.store_id != '0' %}
                            <a href="#" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-sm btn-light-danger font-weight-bolder text-uppercase"><i class="fa fa-trash"></i> </a>
                            {% endif %}
                          </div>
												</div>
												<div class="d-flex align-items-center flex-wrap justify-content-between">
													<div class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5">
                           {{ store.description }} 		
                          </div>											
												</div>
											</div>
										</div>
										<div class="separator separator-solid my-7"></div>
										<div class="d-flex align-items-center flex-wrap">

											<div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
												<span class="mr-4">
													<i class="fa fa-money-bill-alt fa-2x text-muted font-weight-bold"></i>
												</span>
												<div class="d-flex flex-column text-dark-75">
													<span class="font-weight-boldest font-size-lg">اجمالى المبيعات</span>
													<span class="font-weight-bolder font-size-h5">{{ store.total_balance }}</span>
												</div>
											</div>
                      
											<div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
												<span class="mr-4">
													<i class="fas fa-cubes fa-2x text-muted"></i>
												</span>
												<div class="d-flex flex-column text-dark-75">
													<span class="font-weight-boldest font-size-lg">اجمالى المنتجات</span>
													<span class="font-weight-bolder font-size-h5">{{ store.total_products }}</span>
												</div>
											</div>

											<div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
												<span class="mr-4">
													<i class="fas fa-shopping-cart fa-2x text-muted"></i>
												</span>
												<div class="d-flex flex-column text-dark-75">
													<span class="font-weight-boldest font-size-lg"> اجمالى الطلبات </span>
													<span class="font-weight-bolder font-size-h5">{{ store.total_orders }}</span>
												</div>
											</div>
                      
										</div>
									</div>
								</div>
                {% endfor %}
                {% else %}
                  <span class="text-center">{{ text_no_results }}</span>
                {% endif %}


  </div>

</div>
{{ footer }} 