{{ header }}
<div id="container" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
    {% if custom_themename != 'journal2' %}<div class="row">{% endif %}
    {{ column_left }}
    {% if custom_themename == 'journal2' %} {{ column_right }} {% endif %}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ mpseller_links }}
      <div class="mv-dashboard-wrap">
        <div class="row">
          <div class="col-sm-12 mv-reviews">
            <div class="panel panel-default">
              <div class="panel-heading clearfix"><span>{{ heading_title }}</span></div>
            </div>
            <div class="well">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                    <div class="input-group date">
                      <input type="text" name="filter_date_added" value="{{ filter_date_added }}" class="form-control" data-date-format="YYYY-MM-DD">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label class="control-label btn-block">&nbsp;</label>
                  <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                </div>
              </div>
            </div>
            {% if enquiries %}
              {% for enquiry in enquiries %}
                <table class="table table-bordered">
                <tr>
                  <th>{{ entry_store }}</th>
                  <th>{{ entry_date_modified }}</th>
                  <th>{{ entry_date_added }}</th>
                  <th class="text-right">{{ entry_action }}</th>
                </tr>
                <tr>
                  <td>{{ enquiry.store_name }}</td>
                  <td>{{ enquiry.date_modified }}</td>
                  <td>{{ enquiry.date_added }}</td>
                  <td class="text-right"><a href="{{ enquiry.view_store }}" class="btn btn-primary btn-sm">{{ button_view_store }}</a></td>
                </tr>
                <tr>
                  <td colspan="3">{{ enquiry.message }}</td>
                  <td class="text-right"><a href="{{ enquiry.view }}" class="btn btn-primary btn-sm">{{ button_view }}</a></td>
                </tr>
                </table>
              {% endfor %}
              <div class="row">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ results }}</div>
              </div>
              {% else %}
              <div class="col-sm-12 text-center">
                <h4>{{ text_no_results }}</h4>
              </div>
              {% endif %}
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {% if custom_themename != 'journal2' %} {{ column_right }}
 </div>{% endif %}
<script src="catalog/view/javascript/mpseller/datetimepicker/moment.js" type="text/javascript"></script>
<script src="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = 'index.php?route=account/enquiries';

  var filter_date_added = $('input[name=\'filter_date_added\']').val();
  if (filter_date_added) {
    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
  }

  location = url;
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});

$('.time').datetimepicker({
  pickDate: false
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});
//--></script>
</div>
{{ footer }}