{{ header }}
<div id="account-order" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
   {% set class = 'col-xs-12 col-sm-5 col-lg-8 col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} acpage">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if orders %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-right">{{ column_order_id }}</td>
              <td class="text-left">{{ column_customer }}</td>
              <td class="text-right">{{ column_product }}</td>
              {% if column_seller_info %}
              <td class="text-center">{{ column_seller_info }}</td>
              {% endif %}
              <td class="text-right">{{ column_total }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
           {% for order in orders %}
            <tr>
              <td class="text-right">#{{ order.order_id }}</td>
              <td class="text-left">{{ order.name }}</td>
              <td class="text-right">{{ order.products }}</td>
              <td class="text-center">
                {% if order.seller_products %}
                <table class="table table-bordered mp-orderproducts">
                  <thead>
                    <tr>
                      <th class="text-center">{{ column_product_name }}</th>
                      <th class="text-center">{{ column_store_name }}</th>
                      <th class="text-center">{{ column_mpseller_order_status }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for seller_product in order.seller_products %}
                    <tr>
                      <td>
                        {% for product_name in seller_product.products %}
                        {% if seller_product.products|length > 1 %}
                        <span class="orderproduct-row">{{ product_name }}</span>
                        {% else %}
                        <span>{{ product_name }}</span>
                        {% endif %}
                        {% endfor %}
                      </td>
                      <td>
                        {% if seller_product.sold_by_type == 'admin' %}
                        <label class="label label-danger">{{ seller_product.store_name }}</label>
                        {% else %}
                        {{ seller_product.store_name }}
                        {% endif %}
                      </td>
                      <td>{{ seller_product.order_status }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
              </td>
              <td class="text-right">{{ order.total }}</td>
              <td class="text-left">{{ order.date_added }}</td>
              {# <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td> #}
              <td class="text-right">{% if order.track %} <a target="_blank" href="{{ order.track }}" data-toggle="tooltip" title="Track Order" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></a>{% endif %} <a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
