<section class="padding-top">
    <header class="section-heading mb-4">
    	<h3 class="title-section">{{ heading_title }}</h3>
    </header>
    <div class="slider-items-owl owl-carousel owl-theme" id="bestseller-products-owl">
    {% for product in products %}
    <div class="item-slide">
        <div class="product-layout col-xl-12">
        	<div class="card card-product-grid m-3" style="border: none!important;">
                <a href="{{ product.href }}" class="img-wrap"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
            	<figcaption class="info-wrap">
            		<div>
            			<a href="{{ product.href }}" class="text-muted">{{ product.name }}</a>
                    	{#<p class="title">{{ product.description }}</p>#}
            		</div>
                    <ul class="rating-stars mt-1">
                        {% if product.rating %}
            			<li style="width:{{ ((product.rating/5)*100)|round }}%" class="stars-active"> 
            				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/stars-active.svg" alt="{{ product.rating }}" />
            			</li>
            		    {% endif %}
            			<li>
            				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/starts-disable.svg" />
            			</li>
                    </ul>
                    {% if product.price %}
                    <div class="price mt-2">
                      {% if not product.special %}
                      {{ product.price }}
                      {% else %}
                      <span class="price-new">{{ product.special }}</span> <del class="price-old">{{ product.price }}</del>
                      {% endif %}
                      {#{% if product.tax %}#}
                      {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                      {#{% endif %}#}
                    </div>
                    {% endif %}    
            	</figcaption>
                <div class="text-muted mb-3">
                    <div class="button-group pull-right w-100 text-center">
                       <button class="btn btn-light" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="d-none d-lg-inline">{{ button_cart }}</span></button>
                       <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                       <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}</div>
</section>

<script type="text/javascript"><!--
$(document).ready(function() {
    if ($('#bestseller-products-owl').length > 0) {
      $("#bestseller-products-owl").owlCarousel({
          autoPlay: 3000,
          items : 4,
        //   navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
          navigation : false,
          pagination: false,
          itemsDesktop: [1199,3],
          itemsDesktopSmall: [979,2],
          itemsTablet:	[768,1]
      });
    }
});
--></script>