{% if categories %}
    <article class="filter-group d-none d-sm-block">
    	<h6 class="title">
    		<a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#category-menu">{{ text_category }}</a>
    	</h6>
    	<div class="filter-content collapse show" id="category-menu">
    		<div class="inner">
    			<ul class="list-menu">
			      {% for category in categories %}
			        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                  {% endfor %}
    			</ul>
    		</div>
    	</div>
    </article>
{% endif %}