<div class="form-group">
		<h3>{{ heading_title }}: </h3>
		 <div style="display:none" class="alert alert-danger warning" id="ovwarn"><i class="fa fa-exclamation-circle"></i> {{ error }}<button type="button" class="close" data-dismiss="alert">&times;</button>
		 </div>
		<div style="display:none" class="alert alert-success" id="sendsuccess"><i class="fa fa-exclamation-circle"></i><button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
		<div class="buttons" id="step1">
		{% set the_text = text_explain1 | format(phone) %} <h4> {{ the_text }}</h4>
		<br />
		<div class="left">
		<a id="button-startver" class="button btn btn-primary"><span>{{ text_start }}</span></a>
		</div>
		</div>
		<div id="step2" style="display:none" class="buttons">
		<h5>{{ text_explain_started }}</h5>
		<div id="type1" style="display:none"><h5>{{ text_explain_phone_call2 }}</h5></div>
		<div id="type2" style="display:none"><h5>{{ text_explain_sms2 }}</h5></div>

		{{ text_verification_code }} <input type="text" class="form-group form-control" name="pin" id="pin">
		  <div class="right"> <a id="button-confirm" class="button btn btn-primary"><span>{{ text_verify;?></span></a> <a id="button-startver2" class="button btn btn-primary"><span>{{ text_resend;?></span></a></div>
		</div>
</div>
<script type="text/javascript"><!--
var pinsent = '{{ pinsent }}';
if (pinsent=='1') {
		
		$("#step1").hide();
		$("#step2").show();
		$("#type1").hide();
		$("#type2").hide();
}
$('#button-confirm').bind('click', function() {
	$.ajax({ 
		type: 'POST',
		data: 'pin=' + $('#pin').val(),
		url: 'index.php?route=extension/module/msegatsmsverify/confirm',
		success: function(data) {
				if (data==1) {
					$("#ovwarn").hide();
					$("#sendsuccess").hide();
					$('a[href=\'#collapse-checkout-confirm\']').trigger('click');
					if ($('#button-payment').length>0) $('#button-payment').click();
					else if ($('#button-shipping').length>0) $('#button-shipping').click();
					else if ($('#button-payment-method').length>0) $('#button-payment-method').click();
					else window.location.reload();
				}
				else {
				$("#sendsuccess").hide();
				$("#ovwarn").html("{{ $text_invalid_pin?>");
				$("#ovwarn").show();
				}
		}		
	});
});
$('#button-startver2').bind('click', function() {
	$("#step2").hide();
		$("#step1").show();
});
var wait = 0;
$('#button-startver').bind('click', function() {

if (!wait) {
wait = 1;
	$.ajax({ 
		type: 'POST',
		data: 'phone='+$('#phone').val() + "&svtype=" + $("input[name='svtype']:checked").val(),
		url: 'index.php?route=extension/module/msegatsmsverify/start',
		success: function(data) {
		wait = 0;
			switch (data) {
			case "5":
				$("#ovwarn").html("{{ text_provide_valid_mobile_number }}");
				$("#ovwarn").show();
			break;
			case "2":
			case "Success":
					$("#sendsuccess").html("{{ text_send_success }}");
					$("#sendsuccess").show();
					$("#ovwarn").hide();
					$("#step1").hide();
					$("#step2").show();	
					$("#type1").hide();
					$("#type2").hide();
					$("#type"+data).show();
			break;
			case "15":
			$("#ovwarn").html("{{ text_explain_same_number }}");
				$("#ovwarn").show();
			break;
			case "14":
			$("#ovwarn").html("{{ text_please_wait_next }};
				$("#ovwarn").show();
			break;
			case "12":
			$("#ovwarn").html("{{ text_max_retries_exceeded }};
				$("#ovwarn").show();
			break;
			case "16":
			$("#ovwarn").html("{{ text_connection_problem }}");
				$("#ovwarn").show();
			break;
			default:
			$("#ovwarn").html("{{ text_provide_valid_number }}");
				$("#ovwarn").show();
				
				}
		}		
	});
	} else { alert('{{ text_please_wait }}'); }
});
//--></script> 