<div class="content" class="col-sm-12">
  <h3>{{ heading_title }}</h3>
  <form action="" method="post" enctype="multipart/form-data" id="formsendsms">
  <div class="row">

            {% if success %}
	  	<div class="alert alert-sucess"><i class="fa fa-exclamation-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button></div>
	    {% endif %>

	    {% if error %}
	    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
            <button type="button" class="close" data-dismiss="alert">&times;</button></div>
	    {% endif %>

	    {% if error_limit %}
	    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_limit }}
            <button type="button" class="close" data-dismiss="alert">&times;</button></div>
	    {% endif %>

	    {% if error_nohp %}
	    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_nohp }}
            <button type="button" class="close" data-dismiss="alert">&times;</button></div>
	    {% endif %>

	    {% if error_message %}
	    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button></div>
            {% endif %>
	    <div class="col-sm-4">
	  	 <label class="control-label">{{ text_nohp }}<br /></label>
	  	 <input type="text" name="nohp" class="form-control" value="" onkeyup="this.value = this.value.replace (/\D+/, '')"><br />
		</div>
	</div>
	 <div class="row">
		<div class="col-sm-4">
		  	<label class="control-label">{{ text_message }}</label>
		  	<textarea id="input-meta-description1" class="form-control" name="message" rows="6" maxlength="150"></textarea>{{ text_characters }}
	  	</div>
	 </div>
	 <div class="row">
	  	<div class="col-sm-4">
	  	   <a onclick="$('#formsendsms').submit();" class="btn btn-primary">{{ button_send }}</a>
	  	</div>

	  </div>
  </div>
  </form>
</div>
