{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" form="form" data-toggle="tooltip" title="{{ button_save }}"><i class="fas fa-save"></i></button>
                <a href="{{ mapping }}" class="btn btn-warning" data-toggle="tooltip" title="{{ button_mapping }}"><i class="fas fa-tags"></i></a>
                <a href="{{ shipping_taxes }}" class="btn btn-warning" data-toggle="tooltip" title="{{ button_shipping_taxes }}"><i class="fas fa-truck"></i></a>
                <a href="{{ campaign }}" class="btn btn-warning" data-toggle="tooltip" title="{{ button_campaign }}"><i class="fas fa-cogs"></i></a>
                <a href="{{ text_video_tutorial_url_setup }}" target="_blank" class="btn btn-info" data-toggle="tooltip" title="{{ button_video_tutorial_setup }}"><i class="fas fa-camera"></i></a>
                <a href="{{ cancel }}" class="btn btn-default" data-toggle="tooltip" title="{{ button_cancel }}"><i class="fas fa-reply"></i></a>
            </div> 
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if success %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ text_close }}"><i class="fas fa-close"></i></button>
                <i class="fas fa-check-circle"></i>&nbsp;{{ success }}
            </div>
        {% endif %}
        <div id="blockerError" style="display: none;" class="alert alert-danger">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ error_adblock }}
        </div>
        {% if error %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ text_close }}"><i class="fas fa-close"></i></button>
                <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ error }}
            </div>
        {% endif %}
        <div id="warning-container">
            {% if warning %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="{{ text_close }}"><i class="fas fa-close"></i></button>
                    <i class="fas fa-info-circle"></i>&nbsp;{{ warning }}
                </div>
            {% endif %}
        </div>
        <div id="alert-container"></div>
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-pen"></i>&nbsp;<span>{{ text_panel_heading }}</span></h3>
            </div>
            <div class="card-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-line nav-bolder nav-tabs-line-2x mb-5">
                            <li class="nav-item"><a href="#tab_ads" data-toggle="tab" class="nav-link active">{{ tab_text_ads }}</a></li>
                            <li class="nav-item"><a href="#tab_reports" data-toggle="tab" class="nav-link">{{ tab_text_reports }}</a></li>
                            <li class="nav-item"><a href="#tab_settings" data-toggle="tab" class="nav-link">{{ tab_text_settings }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_settings">{{ tab_settings }}</div>
                            <div class="tab-pane active" id="tab_ads">{{ tab_ads }}</div>
                            <div class="tab-pane" id="tab_reports">{{ tab_reports }}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .adBanner {
        background-color: transparent;
        height: 1px;
        width: 1px;
    }
</style>
<div id="wrapTest">
    <div class="adBanner">
    </div>
</div>
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $('#blockerError').toggle($("#wrapTest").height() == 0);
    });
})(jQuery);
</script>
{{ footer }}