<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{{ text_close }}"><span aria-hidden="true"><i class="fas fa-close"></i></span></button>
            <h4 class="modal-title">{{ text_mapping_verify_title }}</h4>
            </div>
            <div class="modal-body">
                {{ text_mapping_verify_intro }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="button-save-modify">{{ button_save_modify }}</button>
                <button type="button" class="btn btn-primary" id="button-save-proceed">{{ button_save_future }}</button>
            </div>
        </div>
    </div>
</div>