  <div id="slideshow{{ module }}" class="owl-carousel owl-theme">
    {% for banner in banners %}
      <div class="text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}
  </div>


<script type="text/javascript">
    $(document).ready(function() {
    $("#slideshow{{ module }}").owlCarousel({
    itemsCustom : [
    [0, 1]
    ],
      autoPlay: 2500,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>