{{ header }}
<div id="container" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if custom_themename != 'journal2' %}<div class="row">{% endif %}{{ column_left }}{% if custom_themename == 'journal2' %}{{ column_right }}{% endif %}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ mpseller_links }}
      <div class="mv-dashboard-wrap">
        <div class="row">
          <div class="col-sm-12 mv-reviews">
            <div class="panel panel-default">
              <div class="panel-heading clearfix"><span>{{ text_form }}</span>
                <div class="pull-right">
                  <button type="submit" form="form-storeinfo"  data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="{{ button_save }}"><i class="fa fa-save"></i></button>
                  <a href="{{ cancel }}" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="{{ button_cancel }}"><i class="fa fa-reply"></i></a>
                </div>
              </div>
            </div>
            <form method="post" enctype="multipart/form-data" class="form-horizontal" id="form-storeinfo" >
              <ul id="tabs" class="nav nav-tabs htabs">
                <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
                <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
              </ul>
              <div class="{% if custom_themename != 'journal2' %} tab-content {% else %} tabs-content {% endif %}">
                <div class="tab-pane active" id="tab-general">
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="title" placeholder="{{ entry_title }}" class="form-control" value="{{ title }}">
                      {% if error_title %}
                      <div class="text-danger">{{ error_title }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="description" rows="5" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="meta_title" placeholder="{{ entry_meta_title }}" rows="5" class="form-control" value="{{ title }}">
                      {% if error_meta_title %}
                      <div class="text-danger">{{ error_meta_title }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="meta_description" id="input-meta-description" rows="5" class="form-control">{{ meta_description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="meta_keyword" rows="5" class="form-control">{{ meta_keyword }}</textarea>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-data">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-10">
                      <select name="status" id="input-status" class="form-control">
                        {% if status %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                        {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                </div>

            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info information"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover list">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="information_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if information_seo_url[store.store_id][language.language_id] %}{{ information_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %}
                      {% endfor %}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {% if custom_themename != 'journal2' %}{{ column_right }}{% endif %}
  {% if custom_themename != 'journal2' %}</div>{% endif %}
</div>

<!-- 01-jan-2020 summernote files starts -->
<link href="catalog/view/javascript/mpseller/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="catalog/view/javascript/mpseller/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="catalog/view/javascript/mpseller/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="catalog/view/javascript/mpseller/codemirror/lib/xml.js"></script>
<script type="text/javascript" src="catalog/view/javascript/mpseller/codemirror/lib/formatting.js"></script>
<script type="text/javascript" src="catalog/view/javascript/mpseller/summernote/summernote.js"></script>
<link href="catalog/view/javascript/mpseller/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="catalog/view/javascript/mpseller/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="catalog/view/javascript/mpseller/summernote/opencart.js"></script>
<!-- 01-jan-2020 summernote files ends -->
{{ footer }}