.card{ 
    .img-wrap{overflow:hidden; }
}

.icontext{
    display: inline-flex; align-items: center;  vertical-align: middle; 
    p{ margin-bottom:0; }
    .text{ width: 100%;  color:$dark; }
    .icon{position:relative;   margin-right:10px; flex-shrink:0; flex-grow:0;}
    .title{ display:block; margin-bottom:0;} 
}

.tag{
  display: inline-block; padding:3px 7px; background:#f2f2f2; border:1px solid #eee; border-radius:3px; margin-top:4px; margin-right: 2px; font-size:85%;
}

.item-logo{ margin-bottom:20px; text-align:center;
  img{max-height:65px;}
}


.timer{
  > div{ display:inline-block; text-align: center; margin-right:5px;  }
  .num{ padding:7px 3px;  display:block; background-color: $dark; min-width: 44px; color:#fff; font-size:22px; border-radius:6px; line-height:1.2; }
}

.notify{
  position: absolute;
  top: -4px;  right: -2px;
  display: inline-block;
  padding: .25em .6em;
  font-size: 12px;  line-height: 1;  text-align: center;
  font-weight:300;
  border-radius: 3rem;  color: #fff;  background-color:$red;
}

.price{ font-weight: 600; color:$dark; }
.price-old{color:$text-muted; margin-left:5px;  }

.icon-control{margin-top:5px; float:right; font-size:80%}

.card-header{
    .title{ margin-bottom:0; line-height:1.5}
}

.filter-group{ border-bottom:1px solid $border-color; margin-top:10px; padding-bottom:10px; 
  .title{ margin-bottom:0;}
  &:last-child{border-bottom:0}
  .inner{ padding-top:16px; padding-bottom:7px;   }
}

/* ====================== block ==================== */
.box{
  padding:18px; background:#fff; border:1px solid $border-color;
  img{ max-width: 100%;  }
}


/* ================= RATINGS ============== */
.label-rating{margin-left:7px; display:inline-block; vertical-align:middle}


/* rating-list */
.rating-stars{display:inline-block; vertical-align:middle; list-style:none; margin:0; padding:0; position:relative; 
    white-space: nowrap; clear:both;
    img{  height: 14px; max-width: none; }
    i{ font-size:14px; color:#ccc; display:inline;}
    li{display:block;  text-overflow:clip;  white-space:nowrap; z-index:1; }
  
    li.stars-active{z-index:2; position:absolute; top:0; left:0; overflow: hidden;
        i{color:orange;}
    }
}
