<div class="tab-pane" id="best">
{% set temp = 0 %}
{% set setCol = 2 %}
{% set oneLine = 11 %}
{% set numPro = products|length %}

<!-- test -->
<div id="bestp" class="owl-carousel owl-theme">
    {% for product in products %}
        {% set temp = temp + 1 %}
        {% if temp % setCol == 1 and numPro >= oneLine %}
            <div class="multi-row" id="webi-multi-row">
        {% endif %}
<!-- writ code Here -->
  <div class="product-layout col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img 
				class="lazy-load" data-original="{{ product.thumb }}" {{ lazy_load_width_height }}
			 alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
        {% if product.price %}
          {% if product.special %}
               <div class="sale">Sale</div>
          {% endif %}
      {% endif %}
      </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
      <!--   <p>{{ product.description }}</p> -->
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         <!--  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} -->
        </p>
        {% endif %}
         {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
      </div>
    <div class="button-group">
         <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="com"><i class="fa fa-compress"></i></button>
        <button type="button" data-toggle="tooltip"  title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');" class="cart"><i class="fa fa-shopping-bag"></i> <!-- <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> --></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="wish"><i class="fa fa-heart-o"></i></button>
      </div>
    </div>
  </div>
<!-- writ code Here End -->
        {% if temp % setCol == 0 and numPro >= oneLine %}
            </div>
        {% endif %}

    {% endfor %}

    {% if products|length % setCol != 0 and numPro >= oneLine %}
    <!-- <h1>hii</h1> -->
        </div>
    {% endif %}
</div>
<!--Test end -->


</div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
    $("#bestp").owlCarousel({
    itemsCustom : [
    [0, 1],
    [600, 2],
    [992, 3],
    [1401, 4],
    [1850, 5]
    ],
      autoPlay: 2000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>