{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ back_to_order }}" class="btn btn-default" data-toggle="tooltip" title="{{ text_back_to_order }}"><i class="fas fa-reply"></i></a>
        {% if is_shipment  ==  1 %}
            {% if print_label_url %}
            <a href="{{ print_label_url }}" data-toggle="tooltip" title="{{ text_print_label }}" class="btn btn-primary" target="_blank"><i class="fas fa-print"></i></a>
            {% endif %}
            {% if can_be_canceled is not empty and can_be_canceled == 1 %}
            <button id="cancel-shipment-order" data-toggle="tooltip" title="{{ text_cancel_sipment }}" class="btn btn-danger"><i class="fas fa-times"></i></button>
            {% endif %}
        {% endif %}
      </div>
      <h1>{{ fastcoo_text_create_heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if eRRORS and  eRRORS is not empty %}
    <div class="alert alert-danger alert-dismissible">
      <h4 class="alert-heading"><i class="fas fa-exclamation-circle"></i> {{ text_error_heading }}</h4>
        {% for val in eRRORS %}
            <p>{{ val }}</p>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <form enctype="multipart/form-data" action="" method="post" id="fastcoo_shipment" novalidate="novalidate" class="form-horizontal">
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-truck"></i> {{ text_shipment_details }}</h3>
      </div>
      <div class="card-body">
        {% if is_shipment %}
            <h5 class="mb-5">{{ text_shipping_submitted_message }}</h5>
            {% if read_shipment %} 
            <h5><b>{{ text_shipment_status }}</b> <u class="bg-light">{{ read_shipment.shipment_data.status }}</u></h5>
            <h5><b>{{ text_created_date }}</b> {{ read_shipment.shipment_data.entry_date }}</h5>
            <table class="table table-bordered mt-5" id="shipping_read_table_id">
                <tr>
                    <td width="50%">
                        <fieldset id="fastcoo_shipment_read_sender_info">
                            <legend>{{ text_sender_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_name }}</td>
                                    <td>
                                        {{ read_shipment.sender_info.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_mobile }}</td>
                                    <td>
                                        {{ read_shipment.sender_info.mobile }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_sender_address }}</td>
                                    <td>
                                        {{ read_shipment.sender_info.address }}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                    <td width="50%">
                        <fieldset id="fastcoo_shipment_creation_receiver_info">
                            <legend>{{ text_receiver_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_name }}</td>
                                    <td>
                                        {{ read_shipment.receiver_info.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_phone }}</td>
                                    <td>
                                        {{ read_shipment.receiver_info.mobile }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_receiver_address }}</td>
                                    <td>
                                        {{ read_shipment.receiver_info.address }}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <fieldset id="fastcoo_shipment_read_shipment_info">
                            <legend>{{ text_shipment_information }}</legend>
                            <table class="table" id="shipment_infromation">
                                <tr>
                                    <td width="30%" class="font-weight-bolder">{{ entry_awb_no }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.awb_no }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_booking_mode }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.payment_method }}
                                    </td>
                                </tr>                                
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_shipment_weight }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.weight }}
                                    </td>
                                </tr>                                
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_status_code }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.code }}
                                    </td>
                                </tr>                                
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_product_type }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.product_type }}
                                    </td>
                                </tr>                                
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_delivery_service }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.service_name }}
                                    </td>
                                </tr>    
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_origin }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.origin }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder">{{ entry_destination }}</td>
                                    <td>
                                        {{ read_shipment.shipment_data.destination }}
                                    </td>
                                </tr>                                                                                            
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <fieldset id="fastcoo_shipment_travel_history_info">
                            <legend>{{ text_shipment_travel_history }}</legend>
                            <table class="table" id="shipment_travel_history_infromation">
                                <tr>
                                    <th>{{ entry_travel_history_new_location }}</th>
                                    <th>{{ entry_travel_history_new_status }}</th>
                                    <th>{{ entry_travel_history_activites }}</th>
                                    <th>{{ entry_travel_history_code }}</th>
                                    <th>{{ entry_travel_history_comment }}</th>
                                    <th>{{ entry_travel_history_entry_date }}</th>
                                </tr>
                                {% for travel_history in read_shipment.travel_history %}
                                <tr>
                                    <td>
                                        {{ travel_history.new_location }}
                                    </td>
                                    <td>
                                        {{ travel_history.new_status }}
                                    </td>
                                    <td>
                                        {{ travel_history.Activites }}
                                    </td>
                                    <td>
                                        {{ travel_history.code }}
                                    </td>
                                    <td>
                                        {{ travel_history.comment }}
                                    </td>
                                    <td>
                                        {{ travel_history.entry_date }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
            {% endif %}
        {% else %}
            <table class="table table-bordered" id="shipping_form_table_id">
                <tr>
                    <td width="50%">
                        <fieldset id="fastcoo_shipment_creation_sender_info">
                            <legend>{{ text_sender_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td>{{ entry_sender_name }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_name }}" name="sender_name" class="form-control">
                                        {% if error_sender_name %}
                                        <div class="text-danger">{{ error_sender_name }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_mobile }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_mobile }}" name="sender_mobile" class="form-control">
                                        {% if error_sender_mobile %}
                                        <div class="text-danger">{{ error_sender_mobile }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_address }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_address }}" name="sender_address" class="form-control">
                                        {% if error_sender_address %}
                                        <div class="text-danger">{{ error_sender_address }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_sender_city }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ sender_city }}" name="sender_city" class="form-control">
                                        {% if error_sender_city %}
                                        <div class="text-danger">{{ error_sender_city }}</div>
                                        {% endif %}
                                    </td>
                                </tr>                                                                
                            </table>
                        </fieldset>
                    </td>
                    <td width="50%">
                        <fieldset id="fastcoo_shipment_creation_receiver_info">
                            <legend>{{ text_receiver_details }}</legend>
                            <table class="table">
                                <tr>
                                    <td>{{ entry_receiver_name }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_name }}" name="receiver_name" class="form-control">
                                        {% if error_receiver_name %}
                                        <div class="text-danger">{{ error_receiver_name }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_email }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_email }}" name="receiver_email" class="form-control">
                                        {% if error_receiver_email %}
                                        <div class="text-danger">{{ error_receiver_email }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_address }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_address }}" name="receiver_address" class="form-control">
                                        {% if error_receiver_address %}
                                        <div class="text-danger">{{ error_receiver_address }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_phone }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_phone }}" name="receiver_phone" class="form-control">
                                        {% if error_receiver_phone %}
                                        <div class="text-danger">{{ error_receiver_phone }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ entry_receiver_city }} <span class="text-danger">*</span></td>
                                    <td>
                                        <input type="text" value="{{ receiver_city }}" name="receiver_city" class="form-control">
                                        {% if error_receiver_city %}
                                        <div class="text-danger">{{ error_receiver_city }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <fieldset id="fastcoo_shipment_creation_shipment_info">
                            <legend>{{ text_shipment_information }}</legend>
                            <table class="table" width="100%">
                                <tr>
                                    <td width="50%"><table class="table" id="shipment_infromation">
                                        <tr>
                                            <td width="50%">{{ entry_reference }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="text" value="{{ reference }}" name="reference" id="reference" class="form-control">
                                                {% if error_reference %}
                                                <div class="text-danger">{{ error_reference }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_product_type }} <span class="text-danger">*</span></td>
                                            <td>
                                                <select name="product_type" id="input-product-type" class="form-control">
                                                    {% for iproduct_type in product_types %}
                                                    {% if iproduct_type.value == product_type %}
                                                    <option value="{{ iproduct_type.value }}" selected="selected">{{ iproduct_type.text }}</option>
                                                    {% else %}
                                                    <option value="{{ iproduct_type.value }}">{{ iproduct_type.text }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error_product_type %}
                                                <div class="text-danger">{{ error_product_type }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_delivery_service }} <span class="text-danger">*</span></td>
                                            <td>
                                                <select name="delivery_service" id="input-delivery-service" class="form-control">
                                                    {% for idelivery_service in delivery_services %}
                                                    {% if idelivery_service.value == delivery_service %}
                                                    <option value="{{ idelivery_service.value }}" selected="selected">{{ idelivery_service.text }}</option>
                                                    {% else %}
                                                    <option value="{{ idelivery_service.value }}">{{ idelivery_service.text }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error_delivery_service %}
                                                <div class="text-danger">{{ error_delivery_service }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_shipment_weight }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="number" value="{{ shipment_weight }}" name="shipment_weight" id="shipment_weight" class="form-control">
                                                {% if error_shipment_weight %}
                                                <div class="text-danger">{{ error_shipment_weight }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_shipment_description }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="text" value="{{ shipment_description }}" name="shipment_description" id="shipment_description" class="form-control">
                                                {% if error_shipment_description %}
                                                <div class="text-danger">{{ error_shipment_description }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>                                        
                                        <tr>
                                            <td>{{ entry_number_of_packets }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="number" value="{{ number_of_packets }}" name="number_of_packets" id="shipment_value_currency" class="form-control">
                                                {% if error_number_of_packets %}
                                                <div class="text-danger">{{ error_number_of_packets }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_shipment_currency }}</td>
                                            <td>
                                                <input type="text" value="{{ currency_code }}" name="currency_code" id="currency_code" disabled="disabled" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ entry_booking_mode }} <span class="text-danger">*</span></td>
                                            <td>
                                                <select name="booking_mode" id="input-booking-mode" class="form-control">
                                                    {% for ibooking_mode in booking_modes %}
                                                    {% if ibooking_mode.value == booking_mode %}
                                                    <option value="{{ ibooking_mode.value }}" selected="selected">{{ ibooking_mode.text }}</option>
                                                    {% else %}
                                                    <option value="{{ ibooking_mode.value }}">{{ ibooking_mode.text }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error_booking_mode %}
                                                <div class="text-danger">{{ error_booking_mode }}</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr style="display: {% if (booking_mode != 'COD') %}none;{% endif %}" id="tr-cod-value">
                                            <td>{{ entry_cod_value }} <span class="text-danger">*</span></td>
                                            <td>
                                                <input type="number" value="{{ cod_value }}" name="cod_value" id="cod_value" class="form-control">
                                                {% if error_cod_value %}
                                                <div class="text-danger">{{ error_cod_value }}</div>
                                                {% endif %}                                                
                                            </td>
                                        </tr>
                                        </table>
                                    </td>
                                    <td width="50%" valign="top" style="vertical-align: top;">
                                        <table id="fastcoo_items_table" class="table">
                                            <tr>
                                                <th class="fastcoo_item_name">{{ text_product_item_name }}</th>
                                                <th class="fastcoo_item_qty">{{ text_product_quantity }}</th>
                                            </tr>
                                            {% set qty = 0 %}
                                            {% for op in order_products %}
                                                <tr class="fastcoo_item_tobe_shipped">
                                                    <td class="fastcoo_item_name">{{ op.comment }}</td>
                                                    <td class="fastcoo_item_qty">{{ op.quantity }}</td>
                                                </tr>
                                                {% set qty = qty + op.quantity %}
                                            {% endfor %}
                                            <tr>
                                                <td style="font-weight: bold;background: none repeat scroll 0% 0% rgb(224, 224, 224);">{{ text_no_of_products_shipped }}</td>
                                                <td><span id="items_tobe_shipped_number">{{ qty }}</span> </td>
                                            </tr>
                                        </table>
                                        <table class="table" id="shipment_infromation_readonly">
                                            <tr>
                                                <td>{{ entry_shipment_items_weight }}</td>
                                                <td><input type="text" value="{{ weight }}" name="weight" id="weight" disabled="disabled" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ entry_shipment_items_price }}</td>
                                                <td>
                                                    <input type="text" value="{{ total }}" disabled="disabled" name="saee_shipment_info_items_subtotal" class="form-control">
                                                </td>
                                            </tr>
                                        </table>                                        
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group checkbox-inline">
                            {% if not is_shipment %}
                                <a class="btn btn-info mr-5" onclick=" $('#fastcoo_shipment').submit();" id="fastcoo_shipment_creation_submit_id">{{ text_button_create_shipment }}</a>
                                <label class="checkbox">
                                    <input type="checkbox" value="yes" name="fastcoo_email_customer">
                                    <span></span>
                                    {{ text_checkbox_notify_customer }}
                                </label>
                            {% else %}
                                <a class="btn btn-info mr-5" onclick=" $('#fastcoo_shipment').submit();" id="fastcoo_shipment_update_submit_id">{{ text_button_resubmit_shipment }}</a>
                            {% endif %}
                        <div>
                    </td>
                </tr>
            </table>
        {% endif %}
      </div>
    </div>
    </form>
   </div>
</div>
{% if is_shipment %}
<div class="modal fade" id="fastcoo-cancel-confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ text_cancel_shipment }}</h4>
            </div>
            <div class="modal-body">
                <h4 id="fastcoo-cancel-confirm-modal-content">
                   {{ text_cancel_confirm_shipment }}
                </h4>
                <p id="fastcoo-cancel-confirm-modal-processing"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
                <button id="fastcoo-cancel-confirm-ok" type="button" class="btn btn-primary">{{ text_ok }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"><!--
$('#cancel-shipment-order').on('click', function() {
    modalConfirm();
});

let refreshPage = function() {
    document.location = document.location;
}
let modalConfirm = function() {
    $('#fastcoo-cancel-confirm-modal').modal('show');
    $('#fastcoo-cancel-confirm-ok').unbind().click(function() {
        $.ajax({
            url: 'index.php?route=extension/shipping/fastcoo/manage/cancel&user_token={{ user_token }}&order_id={{ order_id }}',
            dataType: 'json',
            beforeSend: function() {
                $('#cancel-shipment-order').prop('disabled', true);
                $('#fastcoo-cancel-confirm-ok').prop('disabled', true);
                $('#fastcoo-cancel-confirm-modal-processing').text('{{ text_processing }}');
            },
            complete: function() {
                $('#cancel-shipment-order').prop('disabled', false);
                $('#fastcoo-cancel-confirm-ok').prop('disabled', false);
            },
            success: function(json) {
                if(json['response'] != 'Success') {
                    $('#fastcoo-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_cancel_failed }}</span>');
                } else if(json['response'] == 'Success') {
                    $('#fastcoo-cancel-confirm-modal-processing').html('<span class="text-success">{{ text_shipment_cancelled }}</span>');
                    setTimeout(function(){                         
                        $('#fastcoo-cancel-confirm-modal').modal('hide');
                        document.location = 'index.php?route=sale/order/info&user_token={{ user_token }}&order_id={{ order_id }}';
                    }, 2000);
                } else {
                    $('#fastcoo-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                $('#fastcoo-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>');
            }
        });
    });    
}
//--></script> 
{% else %}
<script type="text/javascript"><!--
$(function() {
    $('#input-booking-mode').change(function(){
        if($(this).val() == 'COD') {
            $('#tr-cod-value').show(); 
        } else {
            $('#tr-cod-value').hide(); 
        } 
    });
});
//--></script>
{% endif %}s
{{ footer }}