<div class="vusercntct">
  <h3>{{ contact_seller_title }}</h3>
  <form class="form-horizontal">
  	<div class="form-group">
  		<div class="col-sm-12">
  			<input type="text" name="name" class="form-control" placeholder="{{ entry_name }}" value="{{ name }}" />
  		</div>
  	</div>
  	<div class="form-group">
  		<div class="col-sm-12">
  			<input type="text" name="email" class="form-control" placeholder="{{ entry_email_address }}" value="{{ customer_email }}" />
  		</div>
  	</div>
  	<div class="form-group required">
  		<div class="col-sm-12">
  			<textarea name="message" cols="25" rows="6" placeholder="{{ entry_message }}" class="form-control"></textarea>
  		</div>
  	</div>
  	<div class="buttons clearfix">
  		<button type="button" class="btn btn-primary btn-block button-submitcontact">{{ button_send_message }}</button>
  	</div>	
  </form>
</div>
<script type="text/javascript">
$('.button-submitcontact').click(function() {
  $.ajax({
    url: 'index.php?route=mpmultivendor/store_contact/sendEnquiry&mpseller_id={{ mpseller_id }}',
    dataType: 'json',
    type: 'post',
    data: $('.vusercntct input, .vusercntct textarea'),
    beforeSend: function() {
      $('.button-submitcontact').button('loading');
    },
    complete: function() {
      $('.button-submitcontact').button('reset');
    },
    success: function(json) {
      $('.vusercntct .alert, .vusercntct .text-danger').remove();
      $('.vusercntct .form-group').removeClass('has-error');

      if(json['error']) {
        if(json['error']['name']) {
           $('.vusercntct input[name=\'name\']').after('<div class="text-danger">'+ json['error']['name'] +'</div>');
        }

        if(json['error']['email']) {
           $('.vusercntct input[name=\'email\']').after('<div class="text-danger">'+ json['error']['email'] +'</div>');
        }

        if(json['error']['message']) {
           $('.vusercntct textarea[name=\'message\']').after('<div class="text-danger">'+ json['error']['message'] +'</div>');
        }

        if(json['error']['warning']) {
           $('.vusercntct .form-horizontal').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> '+ json['error']['warning'] +'<button type="button" class="close" data-dismiss="alert">×</button></div>');
        }

        $('.vusercntct .text-danger').parent().parent().addClass('has-error');
      }

      if(json['success']) {
        $('.vusercntct .form-horizontal').prepend('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> '+ json['success'] +'<button type="button" class="close" data-dismiss="alert">×</button></div>');

        $('.vusercntct textarea').val('');
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
</script>