{% if currencies|length > 1 %}
<li class="nav-item dropdown">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
    <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">{% for currency in currencies %}
    {% if currency.symbol_left and currency.code == code %} <strong>{{ currency.symbol_left }}</strong> {% elseif currency.symbol_right and currency.code == code %} <strong>{{ currency.symbol_right }}</strong> {% endif %}
    {% endfor %} <span class="d-none d-lg-inline">{{ text_currency }}</span></a>
    <ul class="dropdown-menu small">
      {% for currency in currencies %}
      {% if currency.symbol_left %}
      <li>
        <a class="currency-select dropdown-item"type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</a>
      </li>
      {% else %}
      <li>
        <a class="currency-select dropdown-item"type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</li>
{% endif %} 