<footer class="section-footer bg-secondary text-white">
	<div class="container">
		<section class="footer-top padding-y">
			<div class="row">
              {% if informations %}
              <aside class="col-3">
                <h5>{{ text_information }}</h5>
                <ul class="list-unstyled">
                 {% for information in informations %}
                  <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                  {% endfor %}
                </ul>
              </aside>
              {% endif %}
              <aside class="col-3">
                <h5>{{ text_service }}</h5>
                <ul class="list-unstyled">
                  <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                  <li><a href="{{ return }}">{{ text_return }}</a></li>
                  <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                </ul>
              </aside>
              <aside class="col-3">
                <h5>{{ text_extra }}</h5>
                <ul class="list-unstyled">
                  <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                  <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                  <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                  <li><a href="{{ special }}">{{ text_special }}</a></li>
                </ul>
              </aside>
              <aside class="col-3">
                <h5>{{ text_account }}</h5>
                <ul class="list-unstyled">
                  <li><a href="{{ account }}">{{ text_account }}</a></li>
                  <li><a href="{{ order }}">{{ text_order }}</a></li>
                  <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                  <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                </ul>
              </aside>
            </div>
       </section>
   	   <section class="footer-bottom text-center">
            <p class="text-muted">{{ powered }}</p>
       </section>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>