<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<style>
:root {
  --base_store:{{ base_color_store }};
  --base_font_color:{{ base_color_font }};
}
</style>
<script src="https://files.lnasa.space/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="https://files.lnasa.space/view/theme/theme-1/javascript/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="https://use.fontawesome.com/c0fa6131fd.js"></script>
{% if direction == 'rtl' %}
<link href="https://files.lnasa.space/view/theme/theme-1/stylesheet/bootstrap-rtl.css" rel="stylesheet" type="text/css" />
{% else %}
<link href="https://files.lnasa.space/view/theme/theme-1/stylesheet/bootstrap.css" rel="stylesheet" type="text/css" />
{% endif %}
<link href="https://files.lnasa.space/view/theme/theme-1/stylesheet/ui.css" rel="stylesheet" type="text/css" />
<link href="https://files.lnasa.space/view/theme/theme-1/stylesheet/responsive.css" rel="stylesheet" type="text/css" />

{% for style in styles %}
<link href="{{ style.href|replace({'catalog': 'https://files.lnasa.space'}) }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script|replace({'catalog': 'https://files.lnasa.space'}) }}" type="text/javascript"></script>
{% endfor %}
<script src="https://files.lnasa.space/view/theme/theme-1/javascript/common.js" type="text/javascript"></script>
{% for link in links %}

{% if 'image/catalog' in link.href %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% else %}
<link href="{{ link.href|replace({'catalog/': 'https://files.lnasa.space'}) }}" rel="{{ link.rel }}" />
{% endif %}

{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

<script type="text/javascript" src="https://files.lnasa.space/view/javascript/lazyload/jquery.lazyload.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('img.lazy-load').lazyload({
		effect: "fadeIn",
		effectspeed: 1000,
		threshold: 100,
		placeholder : "https://files.lnasa.space/view/javascript/lazyload/loading.gif"
	});
});
</script>

</head>
<body>
{% if header_noteice %}
<div class="container-fluid store_background">
    <div class="container text-center" id="rHM">
         <h3 style="color:#fff;margin-top: 1%;font-size: large;"> {{  header_noteice }} </h3>
         <style>#menu .btn-navbar{top:32px!important;}</style>
    </div>
</div>
<script type="text/javascript">$('#close_hn').click(function(){$('#rHM').remove();});</script>
{% endif %}
<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand navbar-light border-bottom">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
        {{ currency }}
        {{ language }}
        </ul>
        <ul class="navbar-nav">
            <li><a href="{{ contact }}" class="nav-link"><i class="fa fa-phone"></i> <span class="d-none d-lg-inline">{{ telephone }}</span></a></li>
            <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}" class="nav-link"><i class="fa fa-heart"></i> <span class="d-none d-lg-inline">{{ text_wishlist }}</span></a></li>
            <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}" class="nav-link"><i class="fa fa-shopping-cart"></i> <span class="d-none d-lg-inline">{{ text_shopping_cart }}</span></a></li>
            <li><a href="{{ checkout }}" title="{{ text_checkout }}" class="nav-link"><i class="fa fa-reply"></i> <span class="d-none d-lg-inline">{{ text_checkout }}</span></a></li>
    	</ul>
      </div>
    </div>
    </nav>
    <section class="header-main border-bottom">
    	<div class="container">
            <div class="row align-items-center">
            	<div class="col-lg-3 col-6">
                    <div id="logo">
                        {% if logo %}
                            <a href="{{ home }}" class="brand-wrap"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="logo ml-1" style="max-height: 60px!important;" /></a>
                        {% else %}
                            <h1><a href="{{ home }}">{{ name }}</a></h1>
                        {% endif %}
                    </div>
            	</div>
            	<div class="col-lg-7 col-12 col-sm-12">
            	    {{ search }}
            	</div>
            	<div class="col-lg-2 col-sm-6 col-12">
            		<div class="widgets-wrap float-md-right">
            		    {{ cart }}
            			<div class="dropdown" style="display: inline-block;">
                            <a class="icon icon-sm rounded-circle border" href="{{ account }}" title="{{ text_account }}" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                            <ul class="dropdown-menu small dropdown-menu-right">
                            {% if logged %}
                                <li><a href="{{ account }}" class="dropdown-item">{{ text_account }}</a></li>
                                <li><a href="{{ order }}" class="dropdown-item">{{ text_order }}</a></li>
                                <li><a href="{{ transaction }}" class="dropdown-item">{{ text_transaction }}</a></li>
                                <li><a href="{{ download }}" class="dropdown-item">{{ text_download }}</a></li>
                                <li><a href="{{ logout }}" class="dropdown-item">{{ text_logout }}</a></li>
                            {% else %}
                                <li><a href="{{ register }}" class="dropdown-item">{{ text_register }}</a></li>
                                <li><a href="{{ login }}" class="dropdown-item">{{ text_login }}</a></li>
                            {% endif %}
                            </ul>
            			</div>
            		</div>
            	</div>
            </div>
    	</div>
    </section>
</header>
{{ menu }}
