{% if languages|length > 1 %}
<li class="nav-item dropdown">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {% for language in languages %}
    {% if language.code == code %} 
      <img src="http://files.lnasa.space/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
    {% endif %}
    {% endfor %}
    <span class="d-none d-lg-inline">{{ text_language }}</span></a>
    <ul class="dropdown-menu small">
      {% for language in languages %}
      <li>
        <a class="dropdown-item language-select" type="button" name="{{ language.code }}"><img src="http://files.lnasa.space/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</li>
{% endif %}
