{% if categories %}
<section class="bg-white">
    <div class="container">
      <nav id="menu" class="navbar navbar-main navbar-expand-lg border-bottom">
        <a class="navbar-brand d-xs-block d-lg-none" href="#"><span id="category">{{ text_category }}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="navbar-nav mx-auto">
            {% for category in categories %}
            {% if category.children %}
            <li class="nav-item dropdown"><a href="{{ category.href }}" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
              <div class="dropdown-menu">
                <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                  <ul class="list-unstyled">
                    {% for child in children %}
                    <li><a href="{{ child.href }}" class="dropdown-item">{{ child.name }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endfor %}</div>
                <div class="dropdown-divider"></div>
                <a href="{{ category.href }}" class="dropdown-item text-primary see-all">{{ text_all }} {{ category.name }}</a> </div>
            </li>
            {% else %}
            <li class="nav-item"><a href="{{ category.href }}" class="nav-link">{{ category.name }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
</section>    
{% endif %}