<div id="search" class="input-group w-100 pt-3 pb-3">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
  <span class="input-group-append">
    <button type="button" class="btn btn-primary border"><i class="fa fa-search"></i></button>
  </span>
</div>