{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-shipping" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ text_edit }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-shipping" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-client-id"><span data-toggle="tooltip" title="{{ help_client_id }}">{{ entry_client_id }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_client_id" value="{{ shipping_525k_client_id }}" placeholder="{{ entry_client_id }}" id="input-client-id" class="form-control" />
              {% if error_client_id %}
              <div class="text-danger">{{ error_client_id }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-client-secret"><span data-toggle="tooltip" title="{{ help_client_secret }}">{{ entry_client_secret }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_client_secret" value="{{ shipping_525k_client_secret }}" placeholder="{{ entry_client_secret }}" id="input-client-secret" class="form-control" />
              {% if error_client_secret %}
              <div class="text-danger">{{ error_client_secret }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-api-key"><span data-toggle="tooltip">{{ entry_api_key }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_api_key" value="{{ shipping_525k_api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control" />
              {% if error_api_key %}
              <div class="text-danger">{{ error_api_key }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-shipper-id"><span data-toggle="tooltip" title="{{ help_shipper_id }}">{{ entry_shipper_id }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_shipper_id" value="{{ shipping_525k_shipper_id }}" placeholder="{{ entry_shipper_id }}" id="input-shipper-id" class="form-control" />
              {% if error_shipper_id %}
              <div class="text-danger">{{ error_shipper_id }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-requestedby-id">{{ entry_requestedby_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_requestedby_id" value="{{ shipping_525k_requestedby_id }}" placeholder="{{ entry_requestedby_id }}" id="input-requestedby-id" class="form-control" />
              {% if error_requestedby_id %}
              <div class="text-danger">{{ error_requestedby_id }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-test-mode"><span data-toggle="tooltip" title="{{ help_test }}">{{ entry_test }}</span></label>
            <div class="col-sm-10">
              <select name="shipping_525k_test" id="input-test-mode" class="form-control">
                {% if shipping_525k_test %}
                <option value="1" selected="selected">{{ text_yes }}</option>
                <option value="0">{{ text_no }}</option>
                {% else %}
                <option value="1">{{ text_yes }}</option>
                <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-origin-name"><span data-toggle="tooltip" title="{{ help_origin_name }}">{{ entry_origin_name }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_name" value="{{ shipping_525k_origin_name }}" placeholder="{{ entry_origin_name }}" id="input-origin-name" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-phone"><span data-toggle="tooltip" title="{{ help_origin_phone }}">{{ entry_origin_phone }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_phone" value="{{ shipping_525k_origin_phone }}" placeholder="{{ entry_origin_phone }}" id="input-origin-phone" class="form-control" />
              {% if error_origin_phone %}
              <div class="text-danger">{{ error_origin_phone }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-email"><span data-toggle="tooltip" title="{{ help_origin_email }}">{{ entry_origin_email }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_email" value="{{ shipping_525k_origin_email }}" placeholder="{{ entry_origin_email }}" id="input-origin-email" class="form-control" />
              {% if error_origin_email %}
              <div class="text-danger">{{ error_origin_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-gps-latitude"><span data-toggle="tooltip" title="{{ help_origin_gps_latitude }}">{{ entry_origin_gps_latitude }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_gps_latitude" value="{{ shipping_525k_origin_gps_latitude }}" placeholder="{{ entry_origin_gps_latitude }}" id="input-origin-gps-latitude" class="form-control" />
              {% if error_origin_gps_latitude %}
              <div class="text-danger">{{ error_origin_gps_latitude }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-gps-longitude"><span data-toggle="tooltip" title="{{ help_origin_gps_longitude }}">{{ entry_origin_gps_longitude }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_gps_longitude" value="{{ shipping_525k_origin_gps_longitude }}" placeholder="{{ entry_origin_gps_longitude }}" id="input-origin-gps-longitude" class="form-control" />
              {% if error_origin_gps_longitude %}
              <div class="text-danger">{{ error_origin_gps_longitude }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-address"><span data-toggle="tooltip" title="{{ help_origin_address }}">{{ entry_origin_address }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_address" value="{{ shipping_525k_origin_address }}" placeholder="{{ entry_origin_address }}" id="input-origin-address" class="form-control" />
              {% if error_origin_address %}
              <div class="text-danger">{{ error_origin_address }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-origin-address2"><span data-toggle="tooltip" title="{{ help_origin_address2 }}">{{ entry_origin_address2 }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_address2" value="{{ shipping_525k_origin_address2 }}" placeholder="{{ entry_origin_address2 }}" id="input-origin-address2" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-city"><span data-toggle="tooltip" title="{{ help_origin_city }}">{{ entry_origin_city }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_city" value="{{ shipping_525k_origin_city }}" placeholder="{{ entry_origin_city }}" id="input-origin-city" class="form-control" />
              {% if error_origin_city %}
              <div class="text-danger">{{ error_origin_city }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-country"><span data-toggle="tooltip" title="{{ help_origin_country }}">{{ entry_origin_country }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_origin_country" value="{{ shipping_525k_origin_country }}" placeholder="{{ entry_origin_country }}" id="input-origin-country" class="form-control" />
              {% if error_origin_country %}
              <div class="text-danger">{{ error_origin_country }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-pickup-instructions"><span data-toggle="tooltip" title="{{ help_pickup_instructions }}">{{ entry_pickup_instructions }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_pickup_instructions" value="{{ shipping_525k_pickup_instructions }}" placeholder="{{ entry_pickup_instructions }}" id="input-pickup-instructions" class="form-control" />
              {% if error_pickup_instructions %}
              <div class="text-danger">{{ error_pickup_instructions }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-delivery-instructions"><span data-toggle="tooltip" title="{{ help_delivery_instructions }}">{{ entry_delivery_instructions }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_delivery_instructions" value="{{ shipping_525k_delivery_instructions }}" placeholder="{{ entry_delivery_instructions }}" id="input-delivery-instructions" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-packaging-type"><span data-toggle="tooltip" title="{{ help_packaging_type }}">{{ entry_packaging_type }}</span></label>
            <div class="col-sm-10">
              <select name="shipping_525k_packaging_type" id="input-packaging-type" class="form-control">
                {% for packaging_type in packaging_types %}
                {% if packaging_type.value == shipping_525k_packaging_type %}
                <option value="{{ packaging_type.value }}" selected="selected">{{ packaging_type.text }}</option>
                {% else %}
                <option value="{{ packaging_type.value }}">{{ packaging_type.text }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-stackable">{{ entry_stackable }}</label>
            <div class="col-sm-10">
              <select name="shipping_525k_stackable" id="input-stackable" class="form-control">
                {% if shipping_525k_stackable %}
                <option value="1" selected="selected">{{ text_yes }}</option>
                <option value="0">{{ text_no }}</option>
                {% else %}
                <option value="1">{{ text_yes }}</option>
                <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>            
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ help_pickup_arrival_window }}">{{ entry_pickup_arrival_window }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-pickup-arrival-window-days">{{ entry_pickup_arrival_window_days }}</label>
                    <input type="text" name="shipping_525k_pickup_arrival_window_days" value="{{ shipping_525k_pickup_arrival_window_days }}" placeholder="{{ entry_pickup_arrival_window_days }}" id="input-pickup-arrival-window-days" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-pickup-arrival-window-exclude-begin">{{ entry_pickup_arrival_window_exclude_begin }}</label>
                    <select name="shipping_525k_pickup_arrival_window_exclude_begin" id="input-pickup-arrival-window-exclude-begin" class="form-control">
                      {% if shipping_525k_pickup_arrival_window_exclude_begin %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                      {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-pickup-arrival-window-exclude-end">{{ entry_pickup_arrival_window_exclude_end }}</label>
                    <select name="shipping_525k_pickup_arrival_window_exclude_end" id="input-pickup-arrival-window-exclude-end" class="form-control">
                      {% if shipping_525k_pickup_arrival_window_exclude_end %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                      {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
              {% if error_pickup_arrival_window %}
              <div class="text-danger">{{ error_pickup_arrival_window }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ help_delivery_arrival_window }}">{{ entry_delivery_arrival_window }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-delivery-arrival-window-days">{{ entry_delivery_arrival_window_days }}</label>
                    <input type="text" name="shipping_525k_delivery_arrival_window_days" value="{{ shipping_525k_delivery_arrival_window_days }}" placeholder="{{ entry_delivery_arrival_window_days }}" id="input-delivery-arrival-window-days" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-delivery-arrival-window-exclude-begin">{{ entry_delivery_arrival_window_exclude_begin }}</label>
                    <select name="shipping_525k_delivery_arrival_window_exclude_begin" class="form-control">
                      {% if shipping_525k_delivery_arrival_window_exclude_begin %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                      {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-delivery-arrival-window-exclude-end">{{ entry_pickup_arrival_window_exclude_end }}</label>
                    <select name="shipping_525k_delivery_arrival_window_exclude_end" id="input-delivery-arrival-window-exclude-end" class="form-control">
                      {% if shipping_525k_delivery_arrival_window_exclude_end %}
                      <option value="1" selected="selected">{{ text_yes }}</option>
                      <option value="0">{{ text_no }}</option>
                      {% else %}
                      <option value="1">{{ text_yes }}</option>
                      <option value="0" selected="selected">{{ text_no }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
              {% if error_delivery_arrival_window %}
              <div class="text-danger">{{ error_delivery_arrival_window }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-length"><span data-toggle="tooltip" title="{{ help_dimension }}">{{ entry_dimension }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-4">
                  <input type="text" name="shipping_525k_length" value="{{ shipping_525k_length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control" />
                </div>
                <div class="col-sm-4">
                  <input type="text" name="shipping_525k_width" value="{{ shipping_525k_width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                </div>
                <div class="col-sm-4">
                  <input type="text" name="shipping_525k_height" value="{{ shipping_525k_height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                </div>
              </div>
              {% if error_dimension %}
              <div class="text-danger">{{ error_dimension }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="shipping_525k_status" id="input-status" class="form-control">
                {% if shipping_525k_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="shipping_525k_sort_order" value="{{ shipping_525k_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
          {# <div class="form-group">
            <label class="col-sm-2 control-label" for="input-debug"><span data-toggle="tooltip" title="{{ help_debug }}">{{ entry_debug }}</span></label>
            <div class="col-sm-10">
              <select name="shipping_525k_debug" id="input-debug" class="form-control">
                {% if shipping_525k_debug %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div> #}
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}