{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-shipping" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ text_edit }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-shipping" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-api-key"><span data-toggle="tooltip" title="{{ help_api_key }}">{{ entry_api_key }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_api_key" value="{{ shipping_saee_api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control" />
              {% if error_api_key %}
              <div class="text-danger">{{ error_api_key }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-test-mode"><span data-toggle="tooltip" title="{{ help_test }}">{{ entry_test }}</span></label>
            <div class="col-sm-10">
              <select name="shipping_saee_test" id="input-test-mode" class="form-control">
                {% if shipping_saee_test %}
                <option value="1" selected="selected">{{ text_yes }}</option>
                <option value="0">{{ text_no }}</option>
                {% else %}
                <option value="1">{{ text_yes }}</option>
                <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-cashonpickup"><span data-toggle="tooltip" title="{{ help_cashonpickup }}">{{ entry_cashonpickup }}</span></label>
            <div class="col-sm-10">
              <select name="shipping_saee_cashonpickup" id="input-cashonpickup" class="form-control">
                {% if shipping_saee_cashonpickup %}
                <option value="1" selected="selected">{{ text_yes }}</option>
                <option value="0">{{ text_no }}</option>
                {% else %}
                <option value="1">{{ text_yes }}</option>
                <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-pickup-address-id"><span data-toggle="tooltip" title="{{ help_pickup_address_id }}">{{ entry_pickup_address_id }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_pickup_address_id" value="{{ shipping_saee_pickup_address_id }}" placeholder="{{ entry_pickup_address_id }}" id="input-pickup-address-id" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-pickup-address-code"><span data-toggle="tooltip" title="{{ help_pickup_address_code }}">{{ entry_pickup_address_code }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_pickup_address_code" value="{{ shipping_saee_pickup_address_code }}" placeholder="{{ entry_pickup_address_code }}" id="input-pickup-address-code" class="form-control" />
            </div>
          </div>          
          {# <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-name"><span data-toggle="tooltip" title="{{ help_origin_name }}">{{ entry_origin_name }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_name" value="{{ shipping_saee_origin_name }}" placeholder="{{ entry_origin_name }}" id="input-origin-name" class="form-control" />
              {% if error_origin_name %}
                <div class="text-danger">{{ error_origin_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-phone"><span data-toggle="tooltip" title="{{ help_origin_phone }}">{{ entry_origin_phone }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_phone" value="{{ shipping_saee_origin_phone }}" placeholder="{{ entry_origin_phone }}" id="input-origin-phone" class="form-control" />
              {% if error_origin_phone %}
              <div class="text-danger">{{ error_origin_phone }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-origin-phone2">{{ entry_origin_phone2 }}</label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_phone2" value="{{ shipping_saee_origin_phone2 }}" placeholder="{{ entry_origin_phone2 }}" id="input-origin-phone2" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-email"><span data-toggle="tooltip" title="{{ help_origin_email }}">{{ entry_origin_email }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_email" value="{{ shipping_saee_origin_email }}" placeholder="{{ entry_origin_email }}" id="input-origin-email" class="form-control" />
              {% if error_origin_email %}
              <div class="text-danger">{{ error_origin_email }}</div>
              {% endif %}
            </div>
          </div> #}
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-gps-latitude"><span data-toggle="tooltip" title="{{ help_origin_gps_latitude }}">{{ entry_origin_gps_latitude }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_gps_latitude" value="{{ shipping_saee_origin_gps_latitude }}" placeholder="{{ entry_origin_gps_latitude }}" id="input-origin-gps-latitude" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-origin-gps-longitude"><span data-toggle="tooltip" title="{{ help_origin_gps_longitude }}">{{ entry_origin_gps_longitude }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_gps_longitude" value="{{ shipping_saee_origin_gps_longitude }}" placeholder="{{ entry_origin_gps_longitude }}" id="input-origin-gps-longitude" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-address"><span data-toggle="tooltip" title="{{ help_origin_address }}">{{ entry_origin_address }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_address" value="{{ shipping_saee_origin_address }}" placeholder="{{ entry_origin_address }}" id="input-origin-address" class="form-control" />
              {% if error_origin_address %}
              <div class="text-danger">{{ error_origin_address }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-origin-address2"><span data-toggle="tooltip" title="{{ help_origin_address2 }}">{{ entry_origin_address2 }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_address2" value="{{ shipping_saee_origin_address2 }}" placeholder="{{ entry_origin_address2 }}" id="input-origin-address2" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-origin-district"><span data-toggle="tooltip" title="{{ help_origin_district }}">{{ entry_origin_district }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_district" value="{{ shipping_saee_origin_district }}" placeholder="{{ entry_origin_district }}" id="input-origin-district" class="form-control" />
            </div>
          </div>          
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-city"><span data-toggle="tooltip" title="{{ help_origin_city }}">{{ entry_origin_city }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_city" value="{{ shipping_saee_origin_city }}" placeholder="{{ entry_origin_city }}" id="input-origin-city" class="form-control" />
              {% if error_origin_city %}
              <div class="text-danger">{{ error_origin_city }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-state"><span data-toggle="tooltip" title="{{ help_origin_state }}">{{ entry_origin_state }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_state" value="{{ shipping_saee_origin_state }}" placeholder="{{ entry_origin_state }}" id="input-origin-state" class="form-control" />
              {% if error_origin_state %}
              <div class="text-danger">{{ error_origin_state }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-zipcode"><span data-toggle="tooltip" title="{{ help_origin_zipcode }}">{{ entry_origin_zipcode }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_zipcode" value="{{ shipping_saee_origin_zipcode }}" placeholder="{{ entry_origin_zipcode }}" id="input-origin-zipcode" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-origin-country"><span data-toggle="tooltip" title="{{ help_origin_country }}">{{ entry_origin_country }}</span> <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_origin_country" value="{{ shipping_saee_origin_country }}" placeholder="{{ entry_origin_country }}" id="input-origin-country" class="form-control" />
              {% if error_origin_country %}
              <div class="text-danger">{{ error_origin_country }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="shipping_saee_status" id="input-status" class="form-control">
                {% if shipping_saee_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="shipping_saee_sort_order" value="{{ shipping_saee_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
          {# <div class="form-group">
            <label class="col-sm-2 control-label" for="input-debug"><span data-toggle="tooltip" title="{{ help_debug }}">{{ entry_debug }}</span></label>
            <div class="col-sm-10">
              <select name="shipping_saee_debug" id="input-debug" class="form-control">
                {% if shipping_saee_debug %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div> #}
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}