{{ header }}
<style>#kt_wrapper{padding-top:40px!important;}</style>
{{ column_left }}
<div class="d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url('view/image/faq.png')">
							<div class="container">
								<div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
									<div class="d-flex">
										<img src="view/image/lnaDropshippinf.png"/>
										<h2 class="p-2">لنا دروب شيب</h2>
									</div>
									<div class="d-flex">
										<a href="#" class="font-size-h6 text-dark font-weight-bold">منتجاتي</a>
										<a href="#" class="font-size-h6 text-dark font-weight-bold ml-8">طلباتي </a>
									</div>
								</div>
								<div class="d-flex align-items-stretch text-center flex-column py-20">
									<h1 class="text-dark font-weight-bolder mb-6">
ابحث عن أفضل المنتجات حول العالم بسعر الجملة للقطعة
									</h1>
									<form class=" position-relative w-75 px-lg-40 m-auto">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text bg-white border-0 py-7 px-8">
													<span class="svg-icon svg-icon-xl">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24"></rect>
																<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
																<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
															</g>
														</svg>
													</span>
												</span>
											</div>
											<input type="text" name="query" class="form-control h-auto border-0 py-7 px-1 font-size-h6" placeholder="ابحث ما بين 54243 منتج">
										</div>
										<hr class="mt-4 mb-4">
											<div class="row">
												<div class="col-md">
													<label> Categories</label>
													<select class="form-control select2" name="category">
														{% for category in categories %}
															<option value="{{ category.category_id }}">{{ category.name_ar }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="col-md">
													<label> SubCategories</label>
													<select class="form-control select2" name="subcategory">
														{% for subcategory in subcategories %}
															<option value="{{ subcategory.category_id }}">{{ subcategory.name_ar }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
									</form>
								</div>
							</div>
						</div>
<div id="content" class="container bg-white">
<div class="row">
{% if products %}
{% for product in products %}
<div class="col-md-4">
<div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 bg-white border">
		<i class="fas fa-cubes"></i>
        <div class="about-product text-center mt-2">
		<img src="{{ product.image }}" width="255px" height="255px">
            <div class="mt-1">
                <h4>{{ product.name }}</h4>
            </div>
        </div>
        <div class="stats mt-2">
            <div class="d-flex justify-content-between p-price">
				<span>Quantity</span><span>{{ product.quantity }}</span>
			</div>
        </div>
        <div class="d-flex justify-content-between total font-weight-bold mt-4">
			<span>Price</span><span>{{ product.price }}</span>
		</div>
		<button class="btn btn-light-primary mt-3 _add" data-product="{{ product.product_id }}"><i class="fa fa-plus"></i> Add Product</button>
    </div>
</div>
</div>
{% endfor %}
{% endif %}


</div>
</div>
<script>
	$('.select2').select2();
	$('._add').click(function(){
		$.post('index.php?route=dropshipping/lna/_add&user_token={{ user_token }}',{_p:$(this).data("product")},function(data){
			if(data != 0){
				Swal.fire(
						'تم اضافة المنتج بنجاح',
						'',
						'success'
				);
			}
		});
	});
</script>
{{ footer }}
