<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
    <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
      <div class="p-5 text-center" id="kt_brand">
        <a href="{{ home }}" class="brand-logo">
          <img alt="Logo" src="view/image/logo.png" />
        </a>
      </div>
      <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
          <a href="{{ store_url }}" target="_blank">
             <div class="text-center">
                <img src="{{ store_logo }}"><br><br>
                <span class="font-weight-bolder label label-m label-light label-inline text-dark">
                   <i class="fa fa-crown text-dark"></i> {{ store_package_name }} 
                </span><br>
                <span class="text-white">{{ text_store_id }} #{{ store_id }}</span>
             </div>
          </a> 
            <ul class="menu-nav" id="menu">             
              {% for menu in menus %}
              {% if menu.href %}
              <li class="menu-item" aria-haspopup="true" id="{{ menu.id }}">
                <a href="{{ menu.href }}" class="menu-link">
                  <i class="fas {{ menu.icon }} fw mr-3"></i>
                  <span class="menu-text mr-5">{{ menu.name }}</span>
                </a>
              </li>                      
              {% else %}
              <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true" id="{{ menu.id }}">
                <a href="javascript:;" class="menu-link menu-toggle">
                  <i class="fas {{ menu.icon }} fw mr-3"></i>
                  <span class="menu-text">{{ menu.name }}</span>
                  <span class="menu-desc"></span>
                  <i class="menu-arrow"></i>
                </a>
                {% if menu.children %}
                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                  <ul class="menu-subnav">
                    {% for children_1 in menu.children %}
                    <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    {% if children_1.href %}
                    <a href="{{ children_1.href }}" class="menu-link">
                        <i class="menu-bullet menu-bullet-dot">
                            <span></span>
                        </i>
                        <span class="menu-text">{{ children_1.name }}</span>
                    </a>
                    {% else %}
                    <a href="javascript:;" class="menu-link menu-toggle parent">
                        <i class="menu-bullet menu-bullet-dot">
                            <span></span>
                        </i>
                        <span class="menu-text">{{ children_1.name }}</span>
                        {% if children_1.children %}
                          <i class="menu-arrow"></i>
                        {% endif %}
                    </a>
                    {% endif %}
                      {% if children_1.children %}
                      <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                        <ul class="menu-subnav">
                          {% for children_2 in children_1.children %}
                          <li class="menu-item" aria-haspopup="true">
                            {% if children_2.href %}
                            <a href="{{ children_2.href }}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">{{ children_2.name }}</span>
                            </a>
                            {% else %}      
                            <a href="javascript:;" class="menu-link menu-toggle parent">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">{{ children_2.name }}</span>
                            </a>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </li>
              {% endif %}
              {% endfor %}
                <br>
                <li class="menu-item m-5" aria-haspopup="true" id="menu-subscription">
                    <a href="{{ subscription_url }}" class="btn btn-danger">
                        <i class="fas fa-rocket fw mr-3"></i>
                        <span class="menu-text mr-5">{{ text_subscription }}</span>
                    </a>
                </li>
                <br><br><br><br>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
        <div id="kt_header" class="header header-fixed">
          <div class="container-fluid d-flex align-items-stretch justify-content-between">
            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                
<div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
									<ul class="menu-nav">
									    <li class="menu-item menu-item-here ">
											<a href="{{ store_url }}" target="_blank" class="menu-link bg-dark">
												<span class="menu-text text-white"><i class="fas fa-store text-white"></i> {{ store_name }} </span>
											</a>
										</li>
										<li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here menu-item-active" data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link bg-dark menu-toggle">
												<span class="menu-text text-white">										
												<div class="pulse pulse-white">
											<span class="svg-icon svg-icon-xl svg-icon-white">
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24"></rect>
														<path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3"></path>
														<path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000"></path>
													</g>
												</svg>
											</span>
										</div> {{ text_controller }} </span>
												<i class="menu-arrow"></i>
											</a>
											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
												<ul class="menu-subnav">
													<li class="menu-item menu-item" aria-haspopup="true">
														<a href="{{ profile }}" class="menu-link">
															<span class="svg-icon menu-icon">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"/>
        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
    </g
																</svg>
																<!--end::Svg Icon-->
															</span>
															<span class="menu-text">{{ text_profile }} ( {{ user_group }} )</span>
														</a>
													</li>
													<li class="menu-item" aria-haspopup="true">
														<a href="{{ orders_url }}" class="menu-link">
															<span class="svg-icon menu-icon">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24"></rect>
																		<path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3"></path>
																		<path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000"></path>
																	</g>
																</svg>
															</span>
															<span class="menu-text">{{ text_orders }}</span>
															<span class="menu-label">
																<span class="label label-danger label-rounded">{{ total_orders }}</span>
															</span>
														</a>
													</li>
													<li class="menu-item" aria-haspopup="true">
														<a href="{{ wallet_url }}" class="menu-link">
															<span class="svg-icon menu-icon">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24"></rect>
																		<path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3"></path>
																		<path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000"></path>
																	</g>
																</svg>
															</span>
															<span class="menu-text">{{ text_wallet }}</span>
															<span class="menu-label">
																<span class="label label-success  label-rounded label-m label-inline">{{ total_balance }}</span>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li class="menu-item menu-item-here ">
											<a href="{{ notifications_url }}" class="menu-link bg-dark">
												<span class="menu-text"><i class="fas fa-bell text-white"></i>
											    {% if total_notifications %}
												<span class="label pulse pulse-white">
                                                    <span class="position-relative">{{ total_notifications }}</span>
                                                     <span class="pulse-ring"></span>
                                                </span>
                                                {% endif %}
												</span>
											</a>
										</li>
									</ul>
								</div>
            </div>
            <div class="topbar">
              <div class="topbar-item">
                <div class="d-flex align-items-center mt-3 ">
                   <h4><i class="fa fa-moon text-dark" id="_xdmbtn"></i></h4>
                </div>
                <div dir="ltr" class="d-flex align-items-center mt-3">
                  <h4 class="text-danger"><i class="fa fa-store text-danger"></i> {{ store_expire }}</h4>
                </div>
                <div class="dropdown">
                  <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
                      <img class="h-20px w-20px rounded-sm" src="language/{{ is_language.code }}/{{ is_language.image }}">
                    </div>
                  </div>
                  <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                    <ul class="navi navi-hover py-4">
                      {% for languages in languages %}
                      <li class="navi-item">
                        <a href="#" data-code="{{ languages.code }}" class="navi-link _lang">
                          <span class="symbol symbol-20 mr-3">
                            <img src="language/{{ languages.code }}/{{ languages.image }}" alt="{{ languages.name }}">
                          </span>
                          <span class="navi-text">{{ languages.name }}</span>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                   <a href="{{ logout }}" class="btn btn-light-danger font-weight-bolder py-2 px-5"><i class="fas fa-power-off"></i> {{ text_logout }}</a>
              </div>
            </div>
          </div>
        </div>
       <script type="text/javascript">
        $('._lang').click(function(e){e.preventDefault();$.post('{{ change_language_url }}',{_lang:$(this).data("code")},function(data){if(data=='1'){location.reload();}});});
       </script>
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">