{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fas fa-home fa-1x text-dark"></i> {{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
	  {{ renew_package }}
	  {{ subscription_msg }}
	  {{ documents_msg }}
	  {% if tutorial_steps %}
        <div class="bg-white p-5 mb-6 border shadow" style="border-radius:12px">
    <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
         <h3 class="display-4 p-3"><i class="fa fa-clipboard-check fa-1x text-dark"></i> {{ Make_Store_Settings }}</h3>
         <button class="btn btn-light-success" id="tutorial_done"><i class="fa fa-check"></i></button>
    </div>
    <div class="row">
  <div class="col-md-3">
    <div class="card card-custom bg-dark gutter-b text-center">
    	<div class="card-body">
    	    <i class="fa fa-cogs fa-3x text-white"></i>
    		<br><br>
    		<a href="{{ store_setting }}" class="text-inverse-success font-weight-bold font-size-lg mt-1"> {{ Store_Settings }} </a>
    	</div>
    </div>
   </div>
  <div class="col-md-3">
    <div class="card card-custom bg-dark gutter-b text-center">
    	<div class="card-body">
    	    <i class="fa fa-cubes fa-3x text-white"></i>
    		<br><br>
    		<a href="{{ add_product }}" class="text-inverse-success font-weight-bold font-size-lg mt-1">{{ Add_Product }}</a>
    	</div>
    </div>
   </div>
  <div class="col-md-3">
    <div class="card card-custom bg-dark gutter-b text-center">
    	<div class="card-body">
    	    <i class="fa fa-credit-card fa-3x text-white"></i>
    		<br><br>
    		<a href="{{ payment_methods_url }}" class="text-inverse-success font-weight-bold font-size-lg mt-1">{{ Payment_Methods }}</a>
    	</div>
    </div>
   </div>
  <div class="col-md-3">
    <div class="card card-custom bg-dark gutter-b text-center">
    	<div class="card-body">
    	    <i class="fa fa-shipping-fast fa-3x text-white"></i>
    		<br><br>
    		<a href="{{ shipping_methods_url }}" class="text-inverse-success font-weight-bold font-size-lg mt-1">{{ Shipping_Methods }}</a>
    	</div>
    </div>
   </div>
      </div>
</div>
		  <script>
			  $('#tutorial_done').click(()=>{
			  	$.post('index.php?route=common/dashboard/req&tutorial_steps&user_token={{ user_token }}',(data)=>{
			  		if(data != 0){
						Swal.fire('','','success');
						setTimeout(()=>{location.reload();},1500);
					}
				});
			  });
		  </script>
	  {% endif %}

<div class="alert alert-custom alert-light fade show" role="alert">
    <div class="alert-icon"><i class="flaticon-warning"></i></div>
    <div class="alert-text"><a href="https://mc.gov.sa/ar/ECC/Pages/ECLicense.aspx" target="_blank">توثيق المتجر </a><br>يجب التعريف بالصفة الرسمية لمالك المتجر للاستفادة الكاملة من إمكانيات المنصة</div>    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="ki ki-close"></i></span>
        </button>
    </div>
</div>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<div class="row">
<div class="col-lg-6 col-xxl-6">
<div class="card card-custom card-stretch gutter-b">
	<div class="card-header border-0 py-5" style="background:#f5c41f;">
		<h3 class="card-title font-weight-bolder text-white">
			<i class="flaticon2-cardiogram text-white"></i> &nbsp;
			{{ text_quick_statics }}
		</h3>
	</div>
	<div class="card-body p-0 position-relative overflow-hidden">
		<div id="kt_mixed_widget_1_chart" class="card-rounded-bottom" style="background:#f5c41f;height:200px;min-height:200px;">
			<div id="apexchartsr9rfqaca" class="apexcharts-canvas apexchartsr9rfqaca apexcharts-theme-light" style="width: 505px; height: 200px;"><svg id="SvgjsSvg1236" width="505" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1238" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1237"><clipPath id="gridRectMaskr9rfqaca"><rect id="SvgjsRect1241" width="512" height="203" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskr9rfqaca"><rect id="SvgjsRect1242" width="509" height="204" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter1248" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood1249" flood-color="#d13647" flood-opacity="0.5" result="SvgjsFeFlood1249Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite1250" in="SvgjsFeFlood1249Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite1250Out"></feComposite><feOffset id="SvgjsFeOffset1251" dx="0" dy="5" result="SvgjsFeOffset1251Out" in="SvgjsFeComposite1250Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur1252" stdDeviation="3 " result="SvgjsFeGaussianBlur1252Out" in="SvgjsFeOffset1251Out"></feGaussianBlur><feMerge id="SvgjsFeMerge1253" result="SvgjsFeMerge1253Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode1254" in="SvgjsFeGaussianBlur1252Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode1255" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend1256" in="SourceGraphic" in2="SvgjsFeMerge1253Out" mode="normal" result="SvgjsFeBlend1256Out"></feBlend></filter><filter id="SvgjsFilter1258" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood1259" flood-color="#d13647" flood-opacity="0.5" result="SvgjsFeFlood1259Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite1260" in="SvgjsFeFlood1259Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite1260Out"></feComposite><feOffset id="SvgjsFeOffset1261" dx="0" dy="5" result="SvgjsFeOffset1261Out" in="SvgjsFeComposite1260Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur1262" stdDeviation="3 " result="SvgjsFeGaussianBlur1262Out" in="SvgjsFeOffset1261Out"></feGaussianBlur><feMerge id="SvgjsFeMerge1263" result="SvgjsFeMerge1263Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode1264" in="SvgjsFeGaussianBlur1262Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode1265" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend1266" in="SourceGraphic" in2="SvgjsFeMerge1263Out" mode="normal" result="SvgjsFeBlend1266Out"></feBlend></filter></defs><g id="SvgjsG1267" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1268" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1270" class="apexcharts-grid"><g id="SvgjsG1271" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1273" x1="0" y1="0" x2="505" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1274" x1="0" y1="20" x2="505" y2="20" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1275" x1="0" y1="40" x2="505" y2="40" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1276" x1="0" y1="60" x2="505" y2="60" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1277" x1="0" y1="80" x2="505" y2="80" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1278" x1="0" y1="100" x2="505" y2="100" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1279" x1="0" y1="120" x2="505" y2="120" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1280" x1="0" y1="140" x2="505" y2="140" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1281" x1="0" y1="160" x2="505" y2="160" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1282" x1="0" y1="180" x2="505" y2="180" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1283" x1="0" y1="200" x2="505" y2="200" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1272" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1285" x1="0" y1="200" x2="505" y2="200" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1284" x1="0" y1="1" x2="0" y2="200" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1243" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1244" class="apexcharts-series" seriesName="NetxProfit" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1247" d="M 0 200L 0 125C 29.458333333333332 125 54.70833333333334 87.5 84.16666666666667 87.5C 113.625 87.5 138.875 120 168.33333333333334 120C 197.79166666666669 120 223.04166666666669 25 252.5 25C 281.9583333333333 25 307.20833333333337 100 336.6666666666667 100C 366.125 100 391.375 100 420.8333333333333 100C 450.29166666666663 100 475.5416666666667 100 505 100C 505 100 505 100 505 200M 505 100z" fill="transparent" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskr9rfqaca)" filter="url(#SvgjsFilter1248)" pathTo="M 0 200L 0 125C 29.458333333333332 125 54.70833333333334 87.5 84.16666666666667 87.5C 113.625 87.5 138.875 120 168.33333333333334 120C 197.79166666666669 120 223.04166666666669 25 252.5 25C 281.9583333333333 25 307.20833333333337 100 336.6666666666667 100C 366.125 100 391.375 100 420.8333333333333 100C 450.29166666666663 100 475.5416666666667 100 505 100C 505 100 505 100 505 200M 505 100z" pathFrom="M -1 200L -1 200L 84.16666666666667 200L 168.33333333333334 200L 252.5 200L 336.6666666666667 200L 420.8333333333333 200L 505 200"></path><path id="SvgjsPath1257" d="M 0 125C 29.458333333333332 125 54.70833333333334 87.5 84.16666666666667 87.5C 113.625 87.5 138.875 120 168.33333333333334 120C 197.79166666666669 120 223.04166666666669 25 252.5 25C 281.9583333333333 25 307.20833333333337 100 336.6666666666667 100C 366.125 100 391.375 100 420.8333333333333 100C 450.29166666666663 100 475.5416666666667 100 505 100" fill="none" fill-opacity="1" stroke="#575756" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskr9rfqaca)" filter="" pathTo="M 0 125C 29.458333333333332 125 54.70833333333334 87.5 84.16666666666667 87.5C 113.625 87.5 138.875 120 168.33333333333334 120C 197.79166666666669 120 223.04166666666669 25 252.5 25C 281.9583333333333 25 307.20833333333337 100 336.6666666666667 100C 366.125 100 391.375 100 420.8333333333333 100C 450.29166666666663 100 475.5416666666667 100 505 100" pathFrom="M -1 200L -1 200L 84.16666666666667 200L 168.33333333333334 200L 252.5 200L 336.6666666666667 200L 420.8333333333333 200L 505 200"></path><g id="SvgjsG1245" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1291" r="0" cx="0" cy="0" class="apexcharts-marker wsclxcfxr no-pointer-events" stroke="#575756" fill="#ffe2e5" fill-opacity="1" stroke-width="3" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1246" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1286" x1="0" y1="0" x2="505" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1287" x1="0" y1="0" x2="505" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1288" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1289" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1290" class="apexcharts-point-annotations"></g></g><g id="SvgjsG1269" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1239" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 100px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Poppins; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: transparent;"></span><div class="apexcharts-tooltip-text" style="font-family: Poppins; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
		<div class="card-spacer mt-n25">
			<div class="row m-0">
				<div class="col bg-dark px-6 py-8 rounded-xl mr-7 mb-7 shadow">
					<i class="flaticon2-line-chart icon-2x text-white"></i>
					<a href="index.php?route=sale/order&user_token={{ user_token }}" class="text-white font-weight-bold font-size-h4"> {{ text_total_sales }}</a>
					<h4 class="font-weight-bold text-white"> {{ total_sales }} {{ text_currency }} </h4>
				</div>
				<div class="col bg-dark px-6 py-8 rounded-xl mb-7 shadow">
					<i class="flaticon-business icon-2x text-white"></i>
					<a href="index.php?route=sale/order&user_token={{ user_token }}" class="text-white font-weight-bold font-size-h4"> {{ text_total_orders }}</a>
					<h4 class="font-weight-bold text-white"> {{ order_total }} </h4>
				</div>
			</div>
			<div class="row m-0">
				<div class="col bg-dark px-6 py-8 rounded-xl mr-7 mb-7 shadow">
					<i class="flaticon2-group icon-2x text-white"></i>
					<a href="index.php?route=customer/customer&user_token={{ user_token }}" class="text-white font-weight-bold font-size-h4"> {{ text_total_customer }}</a>
					<h4 class="font-weight-bold text-white"> {{ customer_total }} </h4>
				</div>
				<div class="col bg-dark px-6 py-8 rounded-xl mb-7 shadow">
					<i class="flaticon2-user icon-2x text-white"></i>
					<a href="index.php?route=report/online&user_token={{ user_token }}" class="text-white font-weight-bold font-size-h4"> {{ text_online_now }}</a>
					<h4 class="font-weight-bold text-white"> {{ online_total }} </h4>
				</div>
			</div>
			<a href="index.php?route=report/report&user_token={{ user_token }}"><h6 class="text-center"><i class="flaticon2-cardiogram"></i> عرض المزيد من التقارير </h6></a>
		</div>
	</div>
</div>
</div>
<div class="col-lg-6 col-xxl-6">
	<div class="card card-custom card-stretch gutter-b">
		<div class="card-header align-items-center border-0 mt-4">
			<h3 class="card-title align-items-start flex-column">
				<span class="font-weight-bolder text-dark"><i class="flaticon-business icon-2x"></i> {{ text_recent_orders }}</span>
				<span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
			</h3>
		</div>
		<div class="card-body pt-4">
			{% if orders %}
				<div class="table-responsive">
				<table class="table table-borderless mb-0">
					<tbody>
					{% for order in orders %}
					<tr>
						<td class="w-40px align-middle pb-6 pl-0 pr-2">
							<div class="symbol symbol-40 symbol-light-success">
							 <span class="symbol-label">
									<span class="svg-icon svg-icon-lg svg-icon-success">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24"></rect>
												<path d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
												<path d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z" fill="#000000"></path>
											</g>
										</svg>
									</span>
							 </span>
							</div>
						</td>
						<td class="font-size-lg font-weight-bolder text-dark-75 align-middle w-150px pb-6 text-truncate">
							<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 mr-2">
								<span class="text-truncate text-hover-info">{{ order.customer }}</span>
								<span class="text-muted font-weight-bold">
									{{ order.order_id }} - {{ order.date_added }}
								</span>
								<span class="text-muted text-truncate text-hover-warning">
									<i class="fa fa-map-marker-alt text-muted"></i> {{ order.location }}
								</span>
							</div>
						</td>
						<td class="font-weight-bold text-muted text-right align-middle pb-6">
							<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 mr-2">
								<span href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">{{ order.total }}</span>
								<span class="text-muted font-weight-bold">
									<div class="label label-inline label-light-dark"> {{ order.status }}</div>
								</span>
							</div>
						</td>
						<td class="font-weight-bolder font-size-lg text-dark-75 text-right align-middle pb-6">
							<a href="{{ order.view }}" class="btn btn-light-primary"><i class="fa fa-eye"></i></a>
						</td>
					</tr>
					{% endfor %}
					<tr><td colspan="4"><a href="index.php?route=sale/order&user_token={{ user_token }}"><h6 class="text-center"><i class="flaticon-business"></i> عرض المزيد من التقارير </h6></a></td></tr>
					</tbody>
				</table>
			</div>
			{% else %}
				<div style="height:400px;">
					<div style="text-align:center;position:absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">
						<i class="flaticon-business icon-5x"></i>
						<br> {{ text_not_found_orders }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
</div>
	  <div class="row">
		  <div class="col-md-4">
			  <div class="card card-custom card-stretch gutter-b shadow">
				  <div class="card-header align-items-center border-0 mt-4">
					  <h3 class="card-title align-items-start flex-column">
						  <span class="font-weight-bolder text-dark"><i class="fas fa-chart-pie"></i> {{ text_customers_reviews }} </span>
					  </h3>
				  </div>
				  <div class="card-body pt-4" style="max-height:320px;">
					  <div id="reviews"></div>
				  </div>
			  </div>
		  </div>
		  <div class="col-md-4">
			  <div class="card card-custom gutter-b shadow">
				  <div class="card-header align-items-center border-0 mt-4">
					  <h3 class="card-title align-items-start flex-column">
						  <span class="font-weight-bolder text-dark"><i class="fa fa-eye"></i> {{ text_customers_activity}}</span>
						  <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
					  </h3>
				  </div>
				  <div class="card-body pt-4">
				         <div class="scroll scroll-pull" data-scroll="true" data-height="300">
					  {% if activities %}
					  <div class="timeline timeline-5">
						  <div class="timeline-items" >
							  {% for activities in activities %}
							  <div class="timeline-item">
								  <div class="timeline-media bg-light-{{ activities.color_key }}">
                                     <span class="svg-icon-{{ activities.color_key }} svg-icon-md">
										 {{ activities.icon_key }}
									 </span>
								  </div>
								  <div class="timeline-desc timeline-desc-light-{{ activities.color_key }}">
									  <span class="font-weight-bolder text-primary">{{ activities.date_added }}</span>
									  <p class="font-weight-normal text-dark-50 pb-2">
										  {{ activities.comment }}
									  </p>
								  </div>
							  </div>
							  {% endfor %}
						  </div>
					  </div>
					  {% else %}
						  <div style="height:400px;">
							  <div style="text-align:center;position:absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">
								  <i class="fa fa-eye fa-5x"></i>
								  <br> {{ text_not_found_customer_activity }}
							  </div>
						  </div>
					  {% endif %}
				  </div>
				  </div>
			  </div>
		  </div>
		  <div class="col-md-4">
			  <div class="card card-custom card-stretch gutter-b shadow">
				  <div class="card-header align-items-center border-0 mt-4">
					  <h3 class="card-title align-items-start flex-column">
						  <span class="font-weight-bolder text-dark"><i class="fas fa-cubes"></i> {{ text_loss_product }}</span>
						  <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
					  </h3>
				  </div>
				  <div class="card-body pt-4">
				     <div class="scroll scroll-pull" data-scroll="true" data-height="300">
					  {% if loss_products %}
						{% for loss_products in loss_products %}
							<div class="d-flex flex-wrap align-items-center mb-10">
								<div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
									<div class="symbol-label" style="background-image: url('{{ loss_products.image }}')"></div>
								</div>
								<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 mr-2">
									<a href="{{ loss_products.product_id }}" style="max-width:105px" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">{{ loss_products.name }}</a>
									<span class="text-muted font-weight-bold">{{ loss_products.model }}</span>
								</div>
								<div class="d-flex align-items-center mt-lg-0 mt-3">
									<a href="{{ loss_products.product_id }}" class="btn btn-icon btn-light-primary btn-sm">
									   <i class="fa fa-eye"></i>
									</a>
								</div>
							</div>
						  {% endfor %}
					  {% else %}
						  <div style="height:400px;">
							  <div style="text-align:center;position:absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">
								  <i class="fas fa-cubes fa-5x"></i>
								  <br> {{ text_not_found_loss_product }}
							  </div>
						  </div>
					  {% endif %}
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
</div>
<script>
	var e = {series: [{{ rating.1 }},{{ rating.2 }},{{ rating.3 }},{{ rating.4 }},{{ rating.5 }}], chart: {height: 300, type: 'radialBar',}, legend: {position: 'bottom'}, plotOptions: {radialBar: {dataLabels: {name: {fontSize: '22px',}, value: {fontSize: '16px',}, total: {show: true, label: '{{ text_total }}', formatter: function (w) {return w['config']['series'].reduce((a, b) => a + b, 0);}}}}}, labels: ['نجمة', 'نجمتين', '3 نجوم', '4 نجوم', '5 نجوم'], colors: ['#ff4545', '#ffa534', '#ffe234', '#b7dd29','#57e32c'],};
	new ApexCharts(document.querySelector("#reviews"), e).render();
</script>
{% if welcome_store_massage %}
<div class="modal fade" id="mwalcome" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center bgi-no-repeat gutter-b" style="background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 105% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/shapes/abstract-1.svg)">
            <div class="modal-body">
			    <img src="https://lanaapp.com/site/application/assets/images/Logo%20Lna%20Final-1.png" class="p-5" width="50%"/>
                <h1>أهلاً بك في متجرك الالكتروني</h1><br>
				<h3> حياك الله في بداية رحلتك في التجارة الالكترونية المتكاملة مع لنا</h3>
				<br>
				<button id="end_welcome" class="btn btn-light-danger mt-3"><i class="fa fa-rocket"></i> أنطلق الان </button>
            </div>
        </div>
    </div>
</div>
<script>
$('#mwalcome').modal('show');
			  $('#end_welcome').click(()=>{
			  	$.post('index.php?route=common/dashboard/req&end_welcome&tutorial_steps&user_token={{ user_token }}',(data)=>{
			  		if(data != 0){
						$('#mwalcome').modal('hide');
					}
				});
			  });
</script>
{% endif %}
{{ footer }}