{{ header }}
{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <h1><i class="fas fa-palette fa-1x text-dark"></i> طلب تصميم بنرات</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card card-custom">
        <div class="card-body">
                <div class="card card-custom">
                    <form id="design">
                        <div class="card-body">
                            <div class="card card-custom bgi-no-repeat gutter-b bg-dark" style="height: 175px;background-position: calc(100% + 1rem) bottom; background-size: 25% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone.svg)">
                                <div class="card-body text-center">
                                    <div class="">
                                        <h3 class="text-white font-weight-bolder mb-3">طلب تصميمات</h3>
                                        <p class="text-white font-size-lg">
                                            يمكنك من خلال طلب هذة الخدمة
                                            <br>تصميم شعارات و بنرات لمتجرك
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>ما لون الشعار</label>
                                <input type="text" required name="data[design_color]" class="form-control"  placeholder="Enter"/>
                            </div>
                            <div class="form-group">
                                <label>ما نوع الشعار</label>
                                <select name="data[design_type]" required class="form-control">
                                    <option value="arabic">عربي</option>
                                    <option value="english">English</option>
                                    <option value="both">عربي & English</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>هل لديك وصف للشعار</label>
                                <textarea name="data[design_description]" required class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>ما نوع المنتجات او الخدمة التى تود بيعها</label>
                                <textarea name="data[design_store_type]" required class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>ما محتوى البنر</label>
                                <textarea name="data[design_content]" required class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" value="design" name="_order">
                            <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> أضافة </button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
<script>
    $('#design').submit(function(e){
        e.preventDefault();
        $.post('index.php?route=common/services/addservice&user_token={{ user_token }}',$(this).serialize(),function(data){
            if(data != 0){
                Swal.fire(" تم اضافة طلبك بنجاح رقم "+data, "تم اضافة طلبك سوف نقوم الرد عليك فى اسرع وقت ", "success");
            }
        });
    });
</script>
{{ footer }}
