{{ header }}
{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <h1> {{ text_documents }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
        <div id="msg"></div>
       <style>.dz-hidden-input{display:none!important;}</style>
        <div class="card card-custom">
                <div class="card-body">
                    <div class="form-group">
                        <label>{{ text_store_type }}</label>
                        <select class="form-control type">
                            <option value="1">{{ text_doc_single }}</option>
                            <option value="2">{{ text_doc_company }}</option>
                        </select>
                    </div>
                    <input type="hidden" class="docs" value="">
                    <div class="alert alert-info" id="info"></div>
                    <div class="dropzone" id="myId"></div>
                    <br>
                    <button class="btn btn-primary add" disabled><i class="fa fa-plus"></i> {{ text_add }}</button>
                </div>
        </div>
</div>
<script type="text/javascript">
    var docs = [];
    var myDropzone = new Dropzone("div#myId",{
        url:"index.php?route=common/documents/_u&user_token={{ user_token }}",
        uploadMultiple: false,
        acceptedFiles:".png,.jpg,.jpeg,.pdf,.doc",
        maxFiles: 4,
        maxFilesize: 5000,
        dictDefaultMessage: "<i class='fa fa-file'></i> {{ text_add_docs }}",
        init: function() {
            this.on("success", function(file, responseText) {
                docs.push(responseText);
                console.log(docs.toString());
                $('.docs').val(docs.toString());
                $('.add').removeAttr('disabled');
            });
        }
    });
    $('#info').html('يرجى ارفاق بطاقة الهوية و الحساب البنكى ');
    $('.type').change(function(){
        if($(this).val() == '1'){
            $('#info').html(' يرجى ارفاق بطاقة الهوية و الحساب البنكى ');
        }else{
            $('#info').html('يرجى ارفاق السجل التجاري و الحساب الينكى');
        }
    });
    $('.add').click(function(){
        if($('.docs').val() != '' && $('.type').val() != ''){
            $.post('index.php?route=common/documents/send&user_token={{ user_token }}',{type:$('.type').val(),docs:$('.docs').val()},function(data){
                $('#msg').html(data);
            });
        }else{
            $('#msg').html('{{ text_please_enter_all_data }}');
        }
    });
</script>
{{ footer }}
