{{ header }}
{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <h1><i class="fas fa-globe fa-1x text-dark"></i> تركيب اسم نطاق ( دومين )</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
            <div class="card card-custom gutter-b">
                <div class="card-header card-header-tabs-line">
                    <div class="card-toolbar">
                        <ul class="nav nav-tabs nav-bold nav-tabs-line">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#new_domain">
                                    <span class="nav-icon"><i class="fas fa-globe"></i></span>
                                    <span class="nav-text">شراء اسم نطاق ( دومين ) جديد</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#have_domain">
                                    <span class="nav-icon"><i class="fas fa-link"></i></span>
                                    <span class="nav-text">ربط اسم نطاق ( دومين )</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="new_domain" role="tabpanel" aria-labelledby="kt_tab_pane_1_4">
                            <div class="text-center">
                                <input type="text" id="checkdomain" class="form-control text-center form-control-lg" placeholder="ابحث عن الدومين الذى ترغب فى شرائة">
                                <button class="btn btn-success mt-5" id="paydomain" disabled><i class="fa fa-check"></i> شراء الدومين </button>
                                <button class="btn btn-primary mt-5" id="check"><i class="fa fa-spinner"></i> فحص </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="have_domain" role="tabpanel" aria-labelledby="kt_tab_pane_2_4">
                            <div class="alert alert-custom alert-light-info fade show mb-5" role="alert">
                                <div class="alert-icon">
                                    <i class="flaticon-warning"></i>
                                </div>
                                <div class="alert-text">
                                    <h3 class="alert-heading"> تعليمات هامة</h3>
                                <h6>
                                    يرجى كتابة ال DNS الخاص بنا فى مزود خدمة الدومينات لديكم <br>
                                    ال DNS الخاص بنا هو ns1.lanaapp.com , ns2.lanaapp.com
                                </h6>
                                </div>
                            </div>
                            <form id="adddomain">
                                <div class="form-group">
                                    <label>ادخل الدومين الخاص بيك</label>
                                    <input type="hidden" required name="_order" value="domain">
                                    <input type="text" required class="form-control" name="data[add_domain]" placeholder="ادخل الدومين الخاص بيك">
                                    <span class="form-text text-danger">الرجاء ارسال الدومين الخاص بيك و التاكد من كتابة ال DNS الخاص بنا فى مزود خدمة الدومين لديك</span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-link"></i> أضافة دومين </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
 $('#adddomain').submit(function(e){
     e.preventDefault();
    $.post('index.php?route=common/services/addservice&user_token={{ user_token }}',$(this).serialize(),function(data){
        if(data != 0){
            Swal.fire(" تم اضافة طلبك بنجاح رقم "+data, "تم اضافة طلبك سوف نقوم الرد عليك فى اسرع وقت ", "success");
        }
    });
 });
 $('#check').click(function(){
         $.get('https://domain-availability.whoisxmlapi.com/api/v1?apiKey=at_YUCf0SP22yz9Iw0aZoiGxL6wAd3I2&domainName='+$('#checkdomain').val(),function(data){
             if(data['DomainInfo']['domainAvailability'] === 'AVAILABLE'){
                 $('#checkdomain').removeClass('is-invalid');
                 $('#checkdomain').addClass('is-valid');
                 $(this).attr('disabled', 'disabled');
                 $('#paydomain').removeAttr("disabled");

             }else{
                 $('#checkdomain').removeClass('is-valid');
                 $('#checkdomain').addClass('is-invalid');
                 $('#paydomain').attr('disabled', 'disabled');
                 $(this).removeAttr("disabled");
             }
         });
 });
 $('#paydomain').click(function(){
     $.post('index.php?route=common/services/addservice&user_token={{ user_token }}',{_order:'domain',data:{'pay_domain':$('#checkdomain').val()}},function(data){
         if(data != 0){
             Swal.fire(" تم اضافة طلبك بنجاح رقم "+data, "تم اضافة طلبك سوف نقوم الرد عليك فى اسرع وقت ", "success");
         }
     });
 });
</script>
{{ footer }}
