            </div>
            <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
                <div class="container text-center">
                    <div class="text-dark order-2 order-md-1">
                        <span class="_xfoCo font-weight-bold mr-2">{{ text_footer }}</span>
                    </div>
                    <div class="nav nav-dark order-1 order-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% if islogged == '1' %}
<script>var _token='{{ user_token }}';</script>
<script src="view/javascript/_xCjs.js" type="text/javascript"></script>
{% endif %}

<!-- BEGIN ProvideSupport.com Graphics Chat Button Code -->
<div id="ciFOS7" style="z-index:100;position:fixed"></div><div id="scFOS7" style="display:inline"></div><div id="sdFOS7" style="display:none"></div><script type="text/javascript">var seFOS7=document.createElement("script");seFOS7.type="text/javascript";var seFOS7s=(location.protocol.indexOf("https")==0?"https":"http")+"://image.providesupport.com/js/1uuowd5zg6c4m0zbaq0sqfj0t2/safe-standard.js?ps_h=FOS7&ps_t="+new Date().getTime();setTimeout("seFOS7.src=seFOS7s;document.getElementById('sdFOS7').appendChild(seFOS7)",1)</script><noscript><div style="display:inline"><a href="https://vm.providesupport.com/1uuowd5zg6c4m0zbaq0sqfj0t2">Customer Service Chat</a></div></noscript>
<!-- END ProvideSupport.com Graphics Chat Button Code -->
</html>
