<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<title>{{ heading_title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="https://files.lanaapp.com/new/favicon.png">
<link rel="stylesheet" href="https://files.lanaapp.com/new/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://files.lanaapp.com/new/assets/css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap" rel="stylesheet">
<style type="text/css">
*{font-family:'Tajawal'!important;}
{% if direction == 'ltr' %}
*{direction:ltr!important;text-align:left!important;}
{% else %}
*{direction:rtl!important;text-align:right!important;}
{% endif %}
  @media only screen and (max-width: 600px){.wrap-login100{padding: 65px 30px!important;}}
</style>
</head>
<body>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100">
<div class="login100-pic js-tilt">
<img src="https://files.lanaapp.com/new/assets/img/lanalogin.png" alt="IMG">
</div>
<div class="login100-form validate-form">
<span class="login100-form-title text-center">
<a class="txt2" href="https://lna.sa"> <img src="https://lanaapp.com/site/application/assets/images/Logo%20Lna%20Final-1.png" width="150px"></a>
</span>
<div class="wrap-input100">
    {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
    {% endif %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" placeholder="{{ entry_email }}" autocomplete="off" />
      </div>
      <div class="text-center pt-2 container-login100-form-btn">
        <button type="submit" class="login100-form-btn submit"><i class="fas fa-check"></i> {{ button_reset }}</button>
      </div>
    </form>
    <div class="text-center">
    <br>
      <a href="{{ cancel }}" data-toggle="tooltip" class="mt-5" title="{{ button_cancel }}">{{ button_cancel }}</a>
    </div>
</div>
</div>
</div>
</div>
</div>
</html>
