<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }} | {% if lang == 'ar' %} لنا {% else %} LNA {% endif %}</title>
<base href="{{ base }}" />
<link rel="icon" type="image/png" href="https://cdn-lna.b-cdn.net/image/favicon.png" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Cairo:200,200i,300,300i,400,400i,600,600i,700,800,900&subset=latin,cyrillic-ext,greek-ext,vietnamese" />
{% if direction == 'rtl' %}
<link href="https://cdn-lna.b-cdn.net/metronic-assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
<link href="https://cdn-lna.b-cdn.net/metronic-assets/plugins/custom/prismjs/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
<link href="https://cdn-lna.b-cdn.net/metronic-assets/css/style.bundle.rtl.css?v=1.1" rel="stylesheet" type="text/css" />
{% else %}
<link href="https://cdn-lna.b-cdn.net/metronic-assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="https://cdn-lna.b-cdn.net/metronic-assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
<link href="https://cdn-lna.b-cdn.net/metronic-assets/css/style.bundle.css?v=1.1" rel="stylesheet" type="text/css" />
{% endif %}
<link href="https://cdn-lna.b-cdn.net/metronic-assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
<link href="https://cdn-lna.b-cdn.net/metronic-assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
<link href="https://cdn-lna.b-cdn.net/metronic-assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
<link href="https://cdn-lna.b-cdn.net/metronic-assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<script src="https://cdn-lna.b-cdn.net/metronic-assets/plugins/global/plugins.bundle.js"></script>
<script src="https://cdn-lna.b-cdn.net/metronic-assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="https://cdn-lna.b-cdn.net/metronic-assets/js/scripts.bundle.js"></script>
<script src="https://cdn-lna.b-cdn.net/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.hotkeys@0.1.0/jquery.hotkeys.min.js"></script>
<script src="https://cdn-lna.b-cdn.net/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="https://cdn-lna.b-cdn.net/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<link href="https://cdn-lna.b-cdn.net/stylesheet/style.css" rel="stylesheet" type="text/css" />
{% for style in styles %}
<link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<script src="https://cdn-lna.b-cdn.net/javascript/common.js" type="text/javascript"></script>
{% for script in scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
<style>.alert i.fas,.alert i.fa{color:#fff!important;}</style>
<link id="_xdm" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

{% if logged %}
  <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
    <a href="{{ home }}">
      <img alt="Logo" src="https://cdn-lna.b-cdn.net/image/logo.png" width="70%"/>
    </a>
    <div class="d-flex align-items-center">
      <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
        <span></span>
      </button>
      <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
        <span></span>
      </button>
      <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
        <span class="svg-icon svg-icon-xl">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24" />
              <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
              <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
            </g>
          </svg>
        </span>
      </button>
    </div>
  </div>
{% endif %}
