<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<title>{{ heading_title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="view/image/favicon.png">
<link rel="stylesheet" href="https://lanaapp.com/site/application/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://lanaapp.com/site/application/assets/css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap" rel="stylesheet">
<style type="text/css">
*{font-family:'Tajawal'!important;}
{% if direction == 'ltr' %}
*{direction:ltr!important;text-align:left!important;}
{% else %}
*{direction:rtl!important;text-align:right!important;}
{% endif %}
  @media only screen and (max-width: 600px){.wrap-login100{padding: 65px 30px!important;}}
</style>
</head>
<body>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100">
<div class="login100-pic js-tilt">
<img src="https://lanaapp.com/site/application/assets/images/lanalogin.png" alt="IMG">
</div>
<div class="login100-form validate-form">
<span class="login100-form-title text-center">
<a class="txt2" href="https://lna.sa"> <img src="https://lanaapp.com/site/application/assets/images/Logo%20Lna%20Final-1.png" width="150px"></a>
</span>
<div class="wrap-input100">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="text" name="username" value="{{ username }}" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" autocomplete="off" placeholder="{{ entry_username }}" />
      </div>
      <div class="form-group">
        <input type="password" name="password" value="{{ password }}" class="form-control"  autocomplete="off" placeholder="{{ entry_password }}" />
      {% if forgotten %}
           <span class="help-block"><a href="{{ forgotten }}">{{ text_forgotten }}</a></span>
      {% endif %}
      </div>
      <div class="text-center pt-2 container-login100-form-btn">
        <button type="submit" class="login100-form-btn submit">
             {{ button_login }}</button>
      </div>
      {% if redirect %}
      <input type="hidden" name="redirect" value="{{ redirect }}" />
      {% endif %}
    </form>
</div>
</div>
</div>
</div>
</div>
</html>
