{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fa fa-bell fa-1x text-dark"></i> {{ text_notifications_center }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>

<div class="card card-custom gutter-b">
	<div class="card-body p-3">
    {% if notifications %}
     {% for notification in notifications %}
			<div class="d-flex flex-wrap align-items-center {% if notification.viewed_at is empty %} bg-light-primary {% endif %} p-4 mb-4" style="border-radius:5px">
				<div class="symbol symbol-50 symbol-light mr-5">
					<span class="symbol-label">
							<i class="fa fa-users text-primary"></i>
					</span>
				</div>
				<div class="d-flex flex-column ml-4 flex-grow-1 mr-2">
				  <a href="index.php?route=common/notifications/read&id={{ notification.notification_id }}&user_token={{ user_token }}" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">{{ notification.title }}</a>
					<span>
                <i class="fa fa-calendar-plus"></i> {{ notification.added_at|date("Y-m-d - g:ia") }}
          </span> 
				</div>
        {% if notification.viewed_at is empty %}
			  	<span class="label label-lg label-light-danger label-inline mt-lg-0 mb-lg-0 my-2 font-weight-bold py-4">{{ text_new }}</span>
        {% else %}
          <i class="fa fa-eye"></i> {{ notification.viewed_at|date("Y-m-d - g:ia") }}
        {% endif %}
			</div>
     {% endfor %}
    {% else %}
      <div class="text-center m-10">
        <i class="fa fa-bell-slash fa-5x text-muted"></i><br></br>
        <span class="text-muted font-size-lg">{{ text_not_found_notifications }}</span>
      </div>
    {% endif %}
	</div>
</div>

{{ footer }}
