{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fa fa-bell fa-1x text-dark"></i> {{ text_notifications_center }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>
<div class="card card-custom gutter-b">
 <div class="card-header">
  <div class="card-title">
   <h3 class="card-label">
     <i class="flaticon2-chat-1"></i> {{ notification.title }}
   </h3>
  </div>
  <div class="card-header">
    <i class="fa fa-calendar-plus"></i> {{ notification.added_at|date("Y-m-d - g:ia") }}
	</div>
 </div>
 <div class="card-body">
   {{ notification.content }}
 </div>
</div>
{{ footer }}
