{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fas fa-credit-card fa-1x text-dark"></i> {{ payment_methods }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/paylink.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'paylink' in installed_payment_methods %}
                <a href="index.php?route=extension/payment/paylink&user_token={{ user_token }}" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="paylink"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>    
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/tap.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'tap' in installed_payment_methods %}
                <a href="index.php?route=extension/payment/tap&user_token={{ user_token }}" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="tap"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>    
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/paytabs.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'paytabs' in installed_payment_methods %}
                <a href="#" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="paytabs"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>    
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/stcpay.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'stcpay' in installed_payment_methods %}
                <a href="index.php?route=extension/payment/stcpay&user_token={{ user_token }}" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="stcpay"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>    
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/payfort.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'payfort' in installed_payment_methods %}
                <a href="#" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="payfort"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>    
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/hyperpay.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'hyperpay' in installed_payment_methods %}
                <a href="index.php?route=extension/payment/hyperpay&user_token={{ user_token }}" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="hyperpay"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/bank_transfer.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'bank_transfer' in installed_payment_methods %}
                <a href="index.php?route=extension/payment/bank_transfer&user_token={{ user_token }}" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="bank_transfer"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/cod.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'cod' in installed_payment_methods %}
                <a href="index.php?route=extension/payment/cod&user_token={{ user_token }}" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="cod"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="card card-custom overlay border shadow">
    <div class="card-body p-0">
        <div class="overlay-wrapper">
            <img src="https://cdn-lna.b-cdn.net/image/x205/free_checkout.png" alt="" class="w-100 rounded"/>
        </div>
        <div class="overlay-layer">
            {% if 'free_checkout' in installed_payment_methods %}
                <a href="index.php?route=extension/payment/free_checkout&user_token={{ user_token }}" class="btn font-weight-bold btn-dark btn-shadow ml-2"><i class="fas fa-cog"></i> {{ text_settings }}</a>
            {% else %}
               <a class="_add btn font-weight-bold btn-warning btn-shadow ml-2" data-add="free_checkout"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
            {% endif %}
        </div>
     </div>
    </div>
  </div>

</div>
</div>
<script>
$('._add').click(function(e){
  e.preventDefault();
  $.post('{{ services_ajax_url }}',{_order:'others',data:{'add_payment':$(this).data("add")}},(data)=>{
    if(data != 0){
      Swal.fire(" تم اضافة طلبك بنجاح رقم "+data, "تم اضافة طلبك سوف نقوم الرد عليك فى اسرع وقت ", "success");
    }
  });
});
</script>
{{ footer }}

