{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fa fa-gifts fa-1x text-dark"></i> {{ text_platform_updates }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>
  <div class="">
  {% for platform_updates in platform_updates %}
    <div class="card  border mt-3">
      <h5 class="card-header"><i class="fa fa-gift"></i> {{ platform_updates.title }}</h5>
      <div class="card-body">
        {% if platform_updates.img is not empty %}
          <img src="{{ platform_updates.img }}"/>
        {% endif %}
        <p class="card-text">{{ platform_updates.description }}</p>
        <h3> -- {{ text_what_opnion }}</h3>
        <button data-id="{{ platform_updates.id }}" class="btn btn-outline-success like"><i class="fa fa-heart"></i> {{ text_like }}</button>
        <button data-id="{{ platform_updates.id }}" class="btn btn-outline-danger dislike"><i class="fa fa-heart-broken"></i> {{ text_dislike }}</button>
      </div>
    </div>
  {% endfor %}
<br><br>
  </div>
  <script>
    
  </script>
{{ footer }}
