{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fas fa-star fa-1x text-dark"></i> {{ services }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
<div class="row">
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-link text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">{{ text_service_domain }}</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_domain }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10"> تركيب اسم نطاق ( دومين )</p>
					<a class="btn btn-warning font-weight-bold" href="index.php?route=common/services/domain&user_token={{ user_token }}" >
						<i class="fa fa-plus"></i> {{ text_service_add }}
					</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-palette text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">{{ text_service_design }}</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_design }}</p>
			    	<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a class="btn btn-warning font-weight-bold" href="index.php?route=common/services/design&user_token={{ user_token }}" >
						<i class="fa fa-plus"></i> {{ text_service_add }}
					</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-portrait text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">{{ text_service_help }}</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_help }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a data-add="help" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-cubes text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">منتجات السيف هوم</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_dropshipping }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a data-add="dropshipping_alsaifhome" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
    <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-cubes text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">منتجات المكياج</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_dropshipping }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a data-add="dropshipping_makeup" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
    <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-cubes text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">منتجات الصيدليات</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_dropshipping }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a data-add="dropshipping_pharmacy" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
      <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-cubes text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">منتجات الألعاب</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_dropshipping }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a data-add="dropshipping_toys" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
      <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-cubes text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">منتجات قنوات</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_dropshipping }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a data-add="knawat" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
      <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-cubes text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">منتجات الملابس</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_dropshipping }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">500 SAR</p>
					<a data-add="dropshipping_clothes" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fab fa-app-store-ios text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">{{ text_service_appilcation }}</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_application }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">3000 SAR</p>
					<a data-add="application" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fas fa-vote-yea text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">{{ text_service_pos }}</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_pos }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">2000 SAR</p>
					<a data-add="pos" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-image text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">{{ text_service_photosession }}</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">{{ text_info_photosession }}</p>
					<p class="text-muted font-size-lg mt-5 mb-10">10 SAR للصورة</p>
					<a data-add="photosession" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
                    <h3><i class="fab fa-twitter-square text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">طلب ادارة وسائل التواصل</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">لنا تقدم لك ادارة لحسابك في السوشل ميديا</p>
					<p class="text-muted font-size-lg mt-5 mb-10">1500 SAR</p>
					<a data-add="socialmedia" class="_add btn btn-warning font-weight-bold"><i class="fa fa-twitter"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-poll text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">طلب خطة تسويقية</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">لنا تقدم لك افضل خطة تسويقية</p>
					<p class="text-muted font-size-lg mt-5 mb-10">2500 SAR</p>
					<a data-add="markating_plan" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
                <h3><i class="fa fa-envelope-square text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">قالب بريد إلكتروني مخصص</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">لنا تتيح لك طلب قالب بريد إلكتروني مخصص</p
					<p class="text-muted font-size-lg mt-5 mb-10">200 SAR</p>
					<a data-add="email_template" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
                <h3><i class="fa fa-comment-alt text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">دردشة Zendesk المباشرة</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">هذه الخاصة توفر لكم الدردشة المباشرة مع عملائكم</p>
					<p class="text-muted font-size-lg mt-5 mb-10">100 SAR</p>
					<a data-add="zendchat" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
                    <h3><i class="fa fa-dolly text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">تكامل مع Printful</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">هو الحل الامثل للطباعة والتغليق</p>
					<p class="text-muted font-size-lg mt-5 mb-10">100 SAR</p>
					<a data-add="printful" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
                    <h3><i class="fa fa-money-check-alt text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">تكامل مع Qoyod</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">قيود نظام محاسبي مميز</p>
					<p class="text-muted font-size-lg mt-5 mb-10">FREE</p>
					<a data-add="qoyod" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>

  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fab fa-mailchimp text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">تكامل مع ميل شيمب</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">تواصل مع عملائك عبر البريد الإلكتروني الموجة </p>
					<p class="text-muted font-size-lg mt-5 mb-10">100 SAR</p>
					<a data-add="domain" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-store text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">إدارة المتاجر المتعددة</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">أحصل على متجرك متعدد التجار </p>
					<p class="text-muted font-size-lg mt-5 mb-10">1000 SAR</p>
					<a data-add="multivendor" class="_add btn btn-warning font-weight-bold"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center shadow" style="background-color:#1e1e2d;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <h3><i class="fa fa-sms text-white text-white fa-2x"></i></h3>
					<h3 class="text-white font-weight-bolder">تطبيق الرسائل القصيرة</h3>
					<p class="text-muted font-size-lg mt-5 mb-10">تحديثات الطلبات عبر الرسائل النصية</p>
					<p class="text-muted font-size-lg mt-5 mb-10">100 SAR</p>
					<button class="_add btn btn-warning font-weight-bold" data-add="sms"><i class="fa fa-plus"></i> {{ text_service_add }}</button>
				</div>
		</div>
  </div>

</div>

</div>
<script>
$('._add').click(function(e){
  e.preventDefault();
  $.post('{{ services_ajax_url }}',{_order:'others',data:{'add_services':$(this).data("add")}},(data)=>{
    if(data != 0){
      Swal.fire(" تم اضافة طلبك بنجاح رقم "+data, "تم اضافة طلبك سوف نقوم الرد عليك فى اسرع وقت ", "success");
    }
  });
});
</script>
{{ footer }}
