{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fa fa-shipping-fast fa-1x text-dark"></i> {{ shipping_methods }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if success %}
    <div class="alert alert-success">{{ success }}</div>
  {% endif %}
    <div id="msg"></div>
<div class="row">
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/freeshipping.png" width="100%"/>
					<h3 class="font-weight-bolder">Free Shipping</h3>
					{% if freeshipping %}
                     <h3><div class="label label-m label-inline label-success">Avaliable</div></h3>
					{% else %}
					<h3><div class="label label-m label-inline label-danger">Unavaliable</div></h3>
                    {% endif %}
					<a class="btn btn-warning font-weight-bold" href="index.php?route=extension/shipping/free&user_token={{ user_token }}">
					   <i class="fa fa-plus"></i> {{ text_service_add }}
					</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/flatshipping.png" width="100%"/>
					<h3 class="font-weight-bolder">Flat Shipping</h3>
                    {% if flatshipping %}
                     <h3><div class="label label-m label-inline label-success">Avaliable</div></h3>
					{% else %}
					<h3><div class="label label-m label-inline label-danger">Unavaliable</div></h3>
                    {% endif %}
					<a class="btn btn-warning font-weight-bold" href="index.php?route=extension/shipping/flat&user_token={{ user_token }}">
					 <i class="fa fa-plus"></i> {{ text_service_add }}
					</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/2l.png" width="100%"/>
					<h3 class="font-weight-bolder">Smsa Express</h3>
                    {% if smsashipping %}
                     <h3><div class="label label-m label-inline label-success">Avaliable</div></h3>
					{% else %}
					<h3><div class="label label-m label-inline label-danger">Unavaliable</div></h3>
                    {% endif %}
					<a class="btn btn-warning font-weight-bold" href="index.php?route=extension/module/smsa&user_token={{ user_token }}">
					 <i class="fa fa-plus"></i> {{ text_service_add }}
					</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/3l.png" width="100%"/>
					<h3 class="font-weight-bolder">aramex</h3>
					<p class="font-size-lg mt-5 mb-10"><a href="https://www.aramex.com/us/en" target="_blank">الموقع الالكترونى</a></p>
					<a class="_add btn btn-warning font-weight-bold" data-add="aramex"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
    <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/1l.png" width="100%"/>
					<h3 class="font-weight-bolder">mlcGo</h3>
					<p class="font-size-lg mt-5 mb-10"><a href="https://mlcgo.com/" target="_blank">الموقع الالكترونى</a></p>
					<a class="_add btn btn-warning font-weight-bold" data-add="mlcgo"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/4l.png" width="100%"/>
					<h3 class="font-weight-bolder">DHL</h3>
					<p class="font-size-lg mt-5 mb-10"><a href="https://www.dhl.com/en.html" target="_blank">الموقع الالكترونى</a></p>
					<a class="_add btn btn-warning font-weight-bold" data-add="dhl"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/5l.png" width="80%"/>
					<h3 class="font-weight-bolder">UPS</h3>
					<p class="font-size-lg mt-5 mb-10"><a href="https://www.ups.com/us/en/global.page" target="_blank">الموقع الالكترونى</a></p>
					<a class="_add btn btn-warning font-weight-bold" data-add="ups"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/550.png" width="30%"/>
					<h3 class="font-weight-bolder">Saudi Post</h3>
					<p class="font-size-lg mt-5 mb-10"><a href="https://sp.com.sa/en/" target="_blank">الموقع الالكترونى</a></p>
					<a class="_add btn btn-warning font-weight-bold" data-add="saudi_post"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
				<div class="card-body">
          <img src="view/image/qOp58WKwta5vJNFPjLmA1OyD2tTdO0WjohyDGU7V.png" width="40%"/>
					<h3 class="font-weight-bolder"></h3>
					<p class="font-size-lg mt-5 mb-10"><a href="https://www.saee.sa/en/" target="_blank">الموقع الالكترونى</a></p>
					<a class="_add btn btn-warning font-weight-bold" data-add="saee"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
				</div>
		</div>
  </div>
	<div class="col-md-4">
		<div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
			<div class="card-body">
				<img src="view/image/fastlo.png" width="55%"/>
				<h3 class="font-weight-bolder">FastLo</h3>
				<p class="font-size-lg mt-5 mb-10"><a href="https://fastlo.com/ar" target="_blank">الموقع الالكترونى</a></p>
				<a class="_add btn btn-warning font-weight-bold" data-add="fastlo"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
			<div class="card-body">
				<img src="view/image/ejack.png" width="55%"/>
				<h3 class="font-weight-bolder">Ejack</h3>
				<p class="font-size-lg mt-5 mb-10"><a href="https://www.eijack.com/" target="_blank">الموقع الالكترونى</a></p>
				<a class="_add btn btn-warning font-weight-bold" data-add="ejack"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-custom bgi-no-repeat gutter-b text-center bg-white shadow" style="height:276px;background-position: calc(100% + 0.5rem) calc(100% + 0.5rem); background-size: 55% auto; background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg)">
			<div class="card-body">
				<img src="view/image/clex.png" width="55%"/>
				<h3 class="font-weight-bolder">CLEX</h3>
				<p class="font-size-lg mt-5 mb-10"><a href="http://clexsa.com/ar" target="_blank">الموقع الالكترونى</a></p>
				<a class="_add btn btn-warning font-weight-bold" data-add="clex"><i class="fa fa-plus"></i> {{ text_service_add }}</a>
			</div>
		</div>
	</div>
</div>
</div>
{{ footer }}
