{{ header }}
{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <h1><i class="fas fa-wallet fa-1x text-dark"></i> {{ text_subscription }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
				<span class="card-icon"><i class="flaticon2-box-1 text-success"></i></span>
                <h3 class="card-label">{{ text_about_package }}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col border-right-0 border-right-md border-bottom border-bottom-md-0">
                    <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
                        <div class="d-flex flex-center position-relative mb-25">
														<span class="svg svg-fill-primary opacity-4 position-absolute">
															<svg width="175" height="200">
																<polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0"></polyline>
															</svg>
														</span>
                            <i class="fa fa-star fa-3x text-info"></i>
                        </div>
                        <span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">349
						<sup class="font-size-h3 font-weight-normal pl-1">{{ text_sar }}</sup></span>
                        <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">{{ text_month_package }}</h4>
                        <p class="mb-15 d-flex flex-column">
                            {{ text_info_package }}
                        </p>
                        <div class="d-flex justify-content-center">
                            <button type="button" id="month" class="btn btn-info text-uppercase font-weight-bolder px-15 py-3">
                                <i class="fa fa-star"></i> {{ text_subscribe }}
                            </button>
                        </div>
                        <br><br>
                        <div id="pmonth" style="display:none;" class="justify-content-center">
                            <a href="{{ month_paylink_pay }}"><img width="60%" src="view/image/onlinepay.png"></a>
                            <a class="stc" data-x="m" ><img width="30%" src="view/image/stcpay.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
                        <div class="d-flex flex-center position-relative mb-25">
														<span class="svg svg-fill-primary opacity-4 position-absolute">
															<svg width="175" height="200">
																<polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0"></polyline>
															</svg>
														</span>
                            <i class="fa fa-rocket fa-3x text-danger"></i>
                        </div>
                        <span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">2999
                            <sup class="font-size-h3 font-weight-normal pl-1">{{ text_sar }}</sup></span>

                        <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">{{ text_year_package }}</h4>
                        <p class="mb-15 d-flex flex-column">
                            {{ text_info_package }}
                        </p>

                        <div class="d-flex justify-content-center">
                            <button type="button" id="year" class="btn btn-danger text-uppercase font-weight-bolder px-15 py-3">
                                <i class="fa fa-rocket"></i> {{ text_subscribe }}
                            </button>
                        </div>
                        <br><br>
                        <div id="pyear" style="display:none;" class="justify-content-center">
                            <a href="{{ year_paylink_pay }}"><img width="60%" src="view/image/onlinepay.png"></a>
                            <a class="stc" data-x="y" ><img width="30%" src="view/image/stcpay.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="stc" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ text_pay_by_stc }}</h5>
                    <i aria-hidden="true" id="modal_close" class="ki ki-close"></i>
            </div>
            <div class="modal-body text-center">
                <div id="stcmsg"></div>
                <div id="stcnum" class="text-center">
                    <input type="number"  class="form-control text-center" id="num">
                    <br>
                    <button class="btn btn-info checknum"><i class="fa fa-sms"></i> {{ text_send_code }}</button>
                </div>
                <div id="checkcode" style="display:none;">
                    <input type="number" placeholder="Enter 4 code" class="form-control text-center" id="code">
                     <br>
                    <button class="btn btn-info checkcode"><i class="fa fa-money-check-alt"></i> {{ text_pay }}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var x;
    $('#month').click(function(){$('#pmonth').show();});
    $('#year').click(function(){$('#pyear').show();});

    $('.stc').click(function(e){
        e.preventDefault();
        x = $(this).data('x');
        $('#stc').modal('show');
    });
    $('.checknum').click(function(){
        $.post('index.php?route=common/subscription/Stcpay&user_token={{ user_token }}',{num:$('#num').val(),x:x},function (data){
            if(data == '1'){
                $('#stcmsg').html('<div class="alert alert-info"> {{ text_enter_4_code }} </div>');
                $('#stcnum').remove();
                $('#checkcode').show();
            }else{
                $('#stcmsg').html(data);
            }
        });
    });
    $('.checkcode').click(function(){
        $.post('index.php?route=common/subscription/confitmStcpay&user_token={{ user_token }}',{code:$('#code').val()},function (data){
                $('#stcmsg').html(data);
        });
    });
    $('#modal_close').click(function(){location.reload();});
</script>
{{ footer }}
