{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fas fa-wallet fa-1x text-dark"></i> {{ text_wallet }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="alert alert-info shadow"> 
    <i class="fa fa-info-circle"></i> هنا يوجد دليل محفظة منصة لنا وبه جميع المعلومات الخاصة بالإستخدام
  </div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
       <div class="col">
        <div class="card card-custom bg-{{ balance_color }} gutter-b text-center shadow" style="height: 200px;">
    	    <div class="card-body text-white">
    	      <i class="fa fa-money-check-alt fa-4x text-white"></i>
    	    	<br><br>
             <h3> {{ total_balance }} </h3>
            <h3>Wallet Credit<h3>
    	    </div>
       </div>
       </div>
       <div class="col">
        <div class="card card-custom bg-success gutter-b text-center shadow" style="height: 200px;">
    	    <div class="card-body text-white">
    	      <i class="fa fa-hand-holding-usd fa-4x text-white"></i>
    	    	<br><br>
             <h3> 6000 ريال </h3>
            <h3>Total Withdrawals<h3>
    	    </div>
       </div>
       </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-custom gutter-b shadow" style="height: 200px;">
				<div class="card-body d-flex flex-column">
	 				<div class="d-flex align-items-center justify-content-between flex-grow-1">
						 <div class="mr-2">
									<h3 class="font-weight-bolder"><i class="fa fa-bullseye"></i> Goals Proccess Bar</h3>
											<div class="text-muted font-size-lg mt-2">{{ goals_date }}</div>
							</div>
									<div class="font-weight-boldest font-size-h1 text-success">{{ goals_target}} SAR</div>
								</div>
							<div class="pt-8">
							<div class="d-flex align-items-center justify-content-between mb-3">
                <div class="text-muted font-weight-bold mr-2">Goal Complate</div>
                <div class="text-muted font-weight-bold">{{ target_bar }}%</div>
										</div>
											<div class="progress bg-light-warning progress-xs">
											<div class="progress-bar bg-success" role="progressbar" style="width: {{ target_bar }}%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
							</div>
			</div>
  </div>
</div>
<br>
<div class="card card-custom gutter-b">
    <div class="card-header card-header-tabs-line">
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#transactions">
                        <span class="nav-icon"><i class="fa fa-money-check-alt"></i></span>
                        <span class="nav-text"> Transactions </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#withdraw">
                        <span class="nav-icon"><i class="fa fa-hand-holding-usd"></i></span>
                        <span class="nav-text"> Withdrawal Requests </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body shadow">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="transactions">        
              <table class="table table-hover rounded">
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">Transaction ID</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Balance</th>
                          <th scope="col">Order ID</th>
                          <th scope="col">Proccess</th>
                          <th scope="col">Status</th>
                          <th scope="col">Payment Type</th>
                          <th scope="col">Data</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for transaction in transactions %}
                      <tr>
                          <th scope="row">{{ transaction.transaction_id }}</th>
                          <td dir="ltr">
                           {% if transaction.amount < 0%}
                             <h6 class="text-danger">{{ transaction.amount }}</h6>
                           {% else %}
                             <h6 class="text-success">{{ transaction.amount }}</h6>
                           {% endif %}
                          </td>
                          <td dir="ltr">{{ transaction.balance }}</td>
                          <td dir="ltr">{{ transaction.order_id }}</td>
                          <td>
                          {% if transaction.proccess == 1%}
                              <span class="label label-inline label-danger font-weight-bold">
                                  مدين
                              </span>
                          {% else %}
                              <span class="label label-inline label-success font-weight-bold">
                                   دائن
                              </span>
                          {% endif %}
                          </td>
                          <td>
                              <span class="label label-inline label-primary font-weight-bold">
                                  {{ transaction.status }}
                              </span>
                          </td>
                           <td>{{ transaction.type }}</td>
                           <td>{{ transaction.created_at }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="withdraw" role="tabpanel" aria-labelledby="withdraw">
                ...
            </div>
        </div>
    </div>
</div>

</div>
{{ footer }}