{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
<div class="container">
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-xs-12 col-sm-4 col-lg-8 col-md-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-12 col-sm-8 col-lg-10 col-md-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}

        <div id="content" class="{{ class }} webi-single-blog acpage">
            {{ content_top }}
            <h1 class="headingpage">{{ heading_title }}</h1>
           <div class="row">
            <div class="col-md-5 col-xs-12">
                {% if blogs.image %}
                    <div class="webi-blog-image">
                        <img src="{{ blogs.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
                    </div>
                {% endif %}
            </div>
            <div class="col-md-7 col-xs-12">
                <div class="blog-desc"> {{ description }} </div>
                {% if success %}
                    <div class="alert alert-success">
                        <i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}

                {% if blog_comments %}
                    <h4 class="blog-comment">{{ text_your_comments }}</h4>
                    {% for blog_comment in blog_comments %}
                        <div class="view-comment">
                            <div class="panel panel-default" style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="user_icon"><i class="fa fa-user"></i></div>
                                        <div class="name">{{ blog_comment.author }}</div>
                                        <div class="date">{{ blog_comment.date_added }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        {#
                                            <label class="col-sm-3 control-label text-right">
                                                <b>{{ entry_comment }}</b>
                                            </label>
                                        #}
                                        <div class="col-sm-8">{{ blog_comment.comment }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if allow_comments %}
                    <div class="block-title">
                        <h3>
                           {{ button_comment_add }}
                        </h3>
                    </div>
                    <div class="panel panel-default col-xs-12" id="add-comment-blog" style="margin-bottom: 10px;">
                        {% if (login_required and not is_logged) %}
                            <h4 class="text-center">{{ text_login_required }}</h4>
                        {% else %}
                            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group required" style="margin-top: 10px;">
                                    <div>
                                        <input type="text" name="author" value="{{ author }}" id="input-author" placeholder="{{ entry_author }}" class="form-control" />
                                        {% if error_author %}
                                            <div class="text-danger">{{ error_author }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group required" style="margin-top: 10px;">
                                    <div>
                                        <input type="text" name="email" value="{{ email }}" id="input-email" placeholder="{{ entry_email }}" class="form-control" />
                                        {% if error_email %}
                                            <div class="text-danger">{{ error_email }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 10px;">
                                    <div>
                                        <textarea name="comment" rows="10" id="input-comment" class="form-control"  value="{{ entry_comment }}" placeholder="{{ entry_comment }}"/>
                                        </textarea>
                                        {% if error_comment %}
                                            <div class="text-danger">
                                                {{ error_comment }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ captcha }}
                                <input type="hidden" name="auto_approve" value="{{ auto_approve }}" />
                                <div class="buttons text-left">
                                    <input class="btn btn-primary" type="submit" value="{{ button_submit }}" data-toggle="tooltip" title="{{ button_submit }}" />
                                </div>
                            </form>
                        {% endif %}
                    </div>
                        {#
                            <div class="buttons text-right">
                                <button type="button" onclick="$('#add-comment').slideToggle();" class="btn btn-primary">
                                    {{ button_comment_add }}
                                </button>
                            </div>
                        #}
                {% endif %}
            </div>
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>
</div>
</section>
{{ footer }}
