{{ header }}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
<div id="information-information" class="container">
  <div class="row">
    {% set class = 'col-sm-12' %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="heading">{{ heading_title }}</h1><hr>
      {{ description }}{{ content_bottom }}</div>
</div>
</div>
</section>
{{ footer }}