{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-user-group" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ text_form }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-user-group" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>

          <div class="row">
          
          <div class="col-md">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_access }}</label>
            <select class="js-example-basic-multiple" name="permission[access][]" multiple="multiple">
                {% for permission in permissions %}
                    {% if permission in access %}
                      <option value="{{ permission }}" selected>{{ permission }}</option>
                    {% else %}
                      <option value="{{ permission }}">{{ permission }}</option>
                    {% endif %}
                {% endfor %}
            </select>
          </div>
          </div>  

          <div class="col-md">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_modify }}</label>
            <select class="js-example-basic-multiple" name="permission[modify][]" multiple="multiple">
                {% for permission in permissions %}
                    {% if permission in modify %}
                      <option value="{{ permission }}" selected>{{ permission }}</option>
                    {% else %}
                      <option value="{{ permission }}">{{ permission }}</option>
                    {% endif %}
                {% endfor %}
            </select>
          </div>
          </div> 

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {$('.js-example-basic-multiple').select2({
        placeholder: "{{ entry_access }}",
        width: 'auto',
        hieght: '300px',
  });});
</script>
{{ footer }} 