{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card card-custom gutter-b">
      <!--begin::Header-->
      <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label font-weight-bolder text-dark"><i class="fa fa-tags"></i> {{ heading_title }}</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ results }}</span>
        </h3>
        <div class="card-toolbar">
          <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-light-primary m-1"><i class="fas fa-plus"></i></a>
          <a href="{{ repair }}" data-toggle="tooltip" title="{{ button_rebuild }}" class="btn btn-light-info m-1"><i class="fas fa-redo"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-light-danger m-1" onclick="confirm('{{ text_confirm }}') ? $('#form-category').submit() : false;"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <div class="card-body py-0">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
          <div class="table-responsive">
            <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
              <thead>
              <tr>
                <td style="width: 1px;" class="text-center">
                  <label class="checkbox checkbox-lg checkbox-inline">
                    <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                    <span></span>
                  </label>
                </td>
                <td class="text-center">{{ entry_image }}</td>
                <td class="text-left">
                  {% if sort %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                  {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                  {% endif %}
                </td>
                <td class="text-center">{{ entry_top }}</td>
                <td class="text-center">{{ entry_status }}</td>
                <td class="text-center">
                  {% if sort == 'sort_order' %}
                    <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                  {% else %}
                    <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
                  {% endif %}</td>
                <td class="text-center">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody>
              {% if categories %}
                {% for category in categories %}
                  <tr>
                    <td class="text-center">
                      <label class="checkbox checkbox-lg checkbox-inline">
                        {% if category.category_id in selected %}
                          <input type="checkbox" name="selected[]" value="{{ category.category_id }}" checked="checked" />
                        {% else %}
                          <input type="checkbox" name="selected[]" value="{{ category.category_id }}" />
                        {% endif %}
                        <span></span>
                      </label>
                    </td>
                    <td class="pr-0">
                      <div class="symbol symbol-50 symbol-light mt-1">
                        <span class="symbol-label"><img src="{{ category.image }}" class="h-75 align-self-end" alt=""></span>
                      </div>
                    </td>
                    <td class="pl-0 text-left">
                      <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ category.name }}</a>
                      <span class="text-muted font-weight-bold text-muted d-block"><i class="fa fa-cubes"></i> {{ category.total_product }}</span>
                    </td>
                    <td class="pl-0 text-center">
                      {% if category.top %}
                        <div class="label label-lg label-light-warning label-inline">{{ entry_top }}</div>
                      {% endif %}
                    </td>
                    <td class="text-center">{{ category.status }}</td>
                    <td class="text-center"><div class="label label-lg label-light-info label-inline">{{ category.sort_order }}</div></td>
                    <td class="text-center"><a href="{{ category.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-light-primary"><i class="fas fa-pen"></i></a></td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <style>.pagination li{padding:2px 7px;margin: 3px;background: #e1f0ff;border-radius: 3px;color: #3699ff;}
          .active{background:#3699FF!important;color:#fff!important;}
        </style>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div><br>
      </div>
    </div>
  </div>
</div>
{{ footer }}
