{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-information" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}    
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-upload"></i> {{ text_import_form }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
            <div class="form-group required">
                <label class="col-sm-2 control-label">{{ entry_mass_product_file }}</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="mass_product_file" value="" name="import_csv" />
                </div>
                {% if error_import_csv %}
                  <div class="col-sm-12 text-danger">{{ error_import_csv }}</div>
                {% endif %}
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label">{{ entry_product_images }}</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="product_images" value="" name="product_images[]" multiple="multiple" />
                    <span class="form-text text-muted">{{ help_mass_product_images }}</span>
                </div>
                {% if error_product_images %}
                  <div class="col-sm-12 text-danger">{{ error_product_images }}</div>
                {% endif %}
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}