{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <!-- Start -->
    <div class="card card-custom gutter-b">
      <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label font-weight-bolder text-dark"><i class="fa fa-cubes"></i>{{ heading_title }}</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm"> {{ results }} </span>
        </h3>
        <div class="card-toolbar">
          <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-light-primary m-1"><i class="fas fa-plus"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#_cf').toggle();" class="btn btn-light-primary hidden-md hidden-lg m-1"><i class="fas fa-filter"></i></button>
          <button type="submit" form="form-product" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-light-primary m-1"><i class="fas fa-copy"></i></button>
          <button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-light-primary m-1" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fas fa-trash-alt"></i></button>
          <a href="{{ import }}" data-toggle="tooltip" title="{{ button_import }}" class="btn btn-light-primary m-1"><i class="fa fa-upload"></i></a>
        </div>
      </div>
      <div class="card-body py-0">
        <div class="bg-light-info border-info rounded shadow" id="_cf" style="display:none">
          <div class="card-body">
            <h3 class="card-title"><i class="fas fa-filter"></i> {{ text_filter }}</h3>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="control-label" for="input-name">{{ entry_name }}</label>
                  <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                </div>
              </div>
              <div class="col-md">
                <div class="form-group">
                  <label class="control-label" for="input-model">{{ entry_model }}</label>
                  <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
                </div>
              </div>
              <div class="col-md">
                <div class="form-group">
                  <label class="control-label" for="input-price">{{ entry_price }}</label>
                  <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
                </div>
              </div>
              <div class="col"-md>
                <div class="form-group">
                  <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
                  <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
                </div>
              </div>
              <div class="col-md">
                <div class="form-group">
                  <label class="control-label" for="input-status">{{ entry_status }}</label>
                  <select name="filter_status" id="input-status" class="form-control">
                    <option value=""></option>
                    {% if filter_status == '1' %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                    {% if filter_status == '0' %}
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% else %}
                      <option value="0">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-outline-info"><i class="fas fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <br>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
              <thead>
              <tr>
                <td style="width: 1px;" class="text-center">
                  <label class="checkbox checkbox-lg checkbox-inline">
                    <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                    <span></span>
                  </label>
                </td>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}</td>
                <td class="text-right">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>
                <td class="text-right">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>
                <td class="text-left">{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody>
              {% if products %}
                {% for product in products %}
                  <tr>
                    <td class="text-center">
                      {% if product.product_id in selected %}
                        <label class="checkbox checkbox-lg checkbox-inline">
                          <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                          <span></span>
                        </label>
                      {% else %}
                        <label class="checkbox checkbox-lg checkbox-inline">
                          <input type="checkbox" name="selected[]" value="{{ product.product_id }}"/>
                          <span></span>
                        </label>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      {% if product.image %}
                        <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" />
                      {% else %}
                        <span class="img-thumbnail list"><i class="fas fa-camera fa-2x"></i></span>
                      {% endif %}
                    </td>
                    <td class="pl-0">
                      <span href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                        {{ product.name }}
                        {% if product.dropshipping == 1 %}
                          <div class="label label-inline label-warning">  لنا دروب شيبنج </div>
                        {% endif %}
                      </span>
                      <span class="font-weight-bold text-muted d-block"><i class="fa fa-eye"></i> {{ product.viewed }} </span>
                    </td>
                    <td class="text-left">
                      <span href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ product.model }}</span>
                      {% if product.manufacturer %}
                        <span class="text-muted d-block"><i class="fa fa-trademark"></i> {{ product.manufacturer }}</span>
                      {% endif %}
                    </td>
                    <td class="text-right">
                      {% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                        <div class="text-danger">{{ product.special }}</div>
                      {% else %}
                        {{ product.price }}
                      {% endif %}
                    </td>
                    <td class="text-right">
                      {% if product.quantity <= 0 %}
                        <span class="label label-danger rounded" style="padding:18px;">
                                                    {{ product.quantity }}
                                                </span>
                      {% elseif product.quantity <= 5 %}
                        <span class="label label-warning rounded" style="padding:18px;">
                                                    {{ product.quantity }}
                                                </span>
                      {% else %}
                        <span class="label label-primary rounded" style="padding:18px;">{{ product.quantity }}</span>
                      {% endif %}
                    </td>
                    <td class="text-left">{{ product.status }}</td>
                    <td class="text-right">
                      <a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-light-primary">
                        <i class="fas fa-pen"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <style>.pagination li{padding:2px 7px;margin: 3px;background: #e1f0ff;border-radius: 3px;color: #3699ff;}
          .active{background:#3699FF!important;color:#fff!important;}
        </style>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div><br>
      </div>
    </div>

  </div>
  <script type="text/javascript"><!--
    $('#button-filter').on('click', function() {
      var url = '';

      var filter_name = $('input[name=\'filter_name\']').val();

      if (filter_name) {
        url += '&filter_name=' + encodeURIComponent(filter_name);
      }

      var filter_model = $('input[name=\'filter_model\']').val();

      if (filter_model) {
        url += '&filter_model=' + encodeURIComponent(filter_model);
      }

      var filter_price = $('input[name=\'filter_price\']').val();

      if (filter_price) {
        url += '&filter_price=' + encodeURIComponent(filter_price);
      }

      var filter_quantity = $('input[name=\'filter_quantity\']').val();

      if (filter_quantity) {
        url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
      }

      var filter_status = $('select[name=\'filter_status\']').val();

      if (filter_status !== '') {
        url += '&filter_status=' + encodeURIComponent(filter_status);
      }

      location = 'index.php?route=catalog/product&user_token={{ user_token }}' + url;
    });
    //--></script>
  <script type="text/javascript"><!--
    // IE and Edge fix!
    $('button[form=\'form-product\']').on('click', function(e) {
      $('#form-product').attr('action', $(this).attr('formaction'));
    });

    $('input[name=\'filter_name\']').autocomplete({
      'source': function(request, response) {
        $.ajax({
          url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            response($.map(json, function(item) {
              return {
                label: item['name'],
                value: item['product_id']
              }
            }));
          }
        });
      },
      'select': function(item) {
        $('input[name=\'filter_name\']').val(item['label']);
      }
    });

    $('input[name=\'filter_model\']').autocomplete({
      'source': function(request, response) {
        $.ajax({
          url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            response($.map(json, function(item) {
              return {
                label: item['model'],
                value: item['product_id']
              }
            }));
          }
        });
      },
      'select': function(item) {
        $('input[name=\'filter_model\']').val(item['label']);
      }
    });
    //--></script></div>
{{ footer }}
