{{ header }}
{{ column_left }}
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
<form action="{{ action }}" method="post" enctype="multipart/form-data" autocomplete="off" id="form-product" class="form-horizontal">
    <style>.dz-hidden-input{display:none!important;}</style>
    <div class="card card-custom gutter-b">
    <div class="card-header card-header-tabs-line">
        <div class="card-title">
            <h3><i class="fas fa-cube"></i> {{ tab_general }}</h3>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                {% for language in languages %}
                  <li class="nav-item">
                    <a class="nav-link {% if language.language_id == '2' %} active {% endif %}" data-toggle="tab" href="#language{{ language.language_id }}">
                        <span class="nav-icon">                  
                        <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/>
                        </span>
                        <span class="nav-text">{{ language.name }}</span>
                    </a>
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            {% for language in languages %}
                  <div class="tab-pane {% if language.language_id == '2' %} active {% endif %}" id="language{{ language.language_id }}">
                   
                   <div class="row">
                   <div class="col-md">
                    <div class="form-group required">
                      <label class="col-md control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                      <div class="col-md">
                        <input type="text" name="product_description[{{ language.language_id }}][name]" value="{{ product_description[language.language_id] ? product_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                        {% if error_name[language.language_id] %}
                          <div class="text-danger">{{ error_name[language.language_id] }}</div>
                        {% endif %}
                      </div>
                    </div>
                    </div>
                   <div class="col-md">
                    <div class="form-group required">
                      <label class="col-md control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                      <div class="col-md">
                        <input type="text" name="product_description[{{ language.language_id }}][meta_title]" value="{{ product_description[language.language_id] ? product_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control"/>
                        {% if error_meta_title[language.language_id] %}
                          <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                        {% endif %} </div>
                    </div>
                    </div>
                    </div>

                    <div class="tab-pane {% if language.language_id == '2' %} active {% endif %}" id="des_language{{ language.language_id }}">
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                      <div class="col-md">
                        <textarea name="product_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].description }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-tag{{ language.language_id }}"><span data-toggle="tooltip" title="{{ help_tag }}">{{ entry_tag }}</span></label>
                      <div class="col-md">
                        <input type="text" name="product_description[{{ language.language_id }}][tag]" value="{{ product_description[language.language_id] ? product_description[language.language_id].tag }}" placeholder="{{ entry_tag }}" id="input-tag{{ language.language_id }}" class="form-control"/>
                      </div>
                    </div>
                  </div>

                  </div>
            {% endfor %}         
        </div>
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3><i class="fas fa-cube"></i> {{ tab_data }}</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

          <div class="col-md">
          <div class="form-group">
            <label class="control-label" for="input-price">{{ entry_price }}</label>
              <div>
                <input type="number" name="price" value="{{ price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control"/>
              </div>
          </div>
          </div>

          <div class="col-md">
          <div class="form-group">
                <label class="control-label" for="input-product_cost">{{ entry_product_cost }}</label>
                <div>
                  <input type="number" name="product_cost" value="{{ product_cost }}" placeholder="{{ entry_product_cost }}" id="input-product_cost" class="form-control"/>
                </div>
          </div>
          </div>
          
          <div class="col-md">
            <div class="form-group required">
                <label class=" control-label" for="input-model">{{ entry_model }}</label>
                <div>
                  <input type="text" name="model" value="{{ model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control"/>
                  {% if error_model %}
                    <div class="text-danger">{{ error_model }}</div>
                  {% endif %}
                </div>
            </div>
          </div>
        
        </div>

        <div class="row">

            <div class="col-md">
              <div class="form-group">
                <label class="control-label" for="input-sku"><span data-toggle="tooltip" title="{{ help_sku }}">{{ entry_sku }}</span></label>
                  <div class="">
                    <input type="text" name="sku" value="{{ sku }}" placeholder="{{ entry_sku }}" id="input-sku" class="form-control"/>
                  </div>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
                <div>
                  <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control"/>
                </div>
              </div>
            </div>

            <div class="col-md">
              <div class="form-group">
                <label class="control-label">{{ entry_shipping }}</label>
                <div class="col-sm-10">
                  <div class="switch switch-sm switch-icon">
                    <label>
                      <input type="checkbox" name="shipping" value="1" {% if shipping %} checked="checked" {% endif %} />
                      <span></span>
                    </label>
                  </div>                      
                </div>
              </div>
            </div>

        </div>
        <div class="row">
        
              <div class="form-group col-md">
                <label class="control-label" for="input-category"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category }}</span></label>
                <div class="col-sm-10">
                    <select class="select2 form-control" id="input-category" name="product_category[]" multiple="multiple" style="width:100%!important;">
                    {% for product_category in product_categories %}
                      <option value="{{ product_category.category_id }}" selected="selected"> {{ product_category.name }}</option>
                    {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group col-md">
                <label class="control-label" for="input-manufacturer"><span data-toggle="tooltip" title="{{ help_manufacturer }}">{{ entry_manufacturer }}</span></label>
                <div class="col-sm-10">
                    <select class="select2 form-control" id="input-manufacturer" name="manufacturer_id">
                    {% if manufacturer_id and manufacturer %}
                      <option value="{{ manufacturer_id }}" selected="selected"> {{ manufacturer }}</option>
                    {% endif %}
                    </select>
                </div>
              </div>

        </div>

        <div class="row">

        <div class="col-md">      
              <div class="form-group">
                <label class="control-label" for="input-date-available">{{ entry_date_available }}</label>
                <div>
                  <div class="input-group date">
                    <input type="text" name="date_available" value="{{ date_available }}" placeholder="{{ entry_date_available }}" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control"/> <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-calendar"></i></button>
                    </span></div>
                </div>
              </div>
        </div>

        <div class="col-md">
         <div class="form-group">
                <label class="control-label">
                <span data-toggle="tooltip">{{ entry_store }}</span></label>
                <div class="col-sm-10">
                    <select class="form-control select2" name="product_store[]" multiple>
                    {% for store in stores %}
                    {% if store.store_id in product_store %}
                      <option value="{{ store.store_id }}" selected> {{ store.name }}</option>
                    {% else %}  
                      <option value="{{ store.store_id }}"> {{ store.name }}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
                </div>
          </div>
        </div>

        <div class="col-md">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
        </div>

        </div>

        <div class="row">
                <div class="col-sm-12 text-right">
                  <a id="dz-clear" class="btn btn-danger" style="display: none;"><i class="fa fa-trash"></i> {{ text_dropzone_clear_all }}</a>
                </div>
              </div>
              <div>
                <div class="card-body">
                  <div class="dropzone dz-sortable row justify-content-center clearfix mb-5" id="dz-element">
                    <div class="dz-message" data-dz-message>
                      <div class="dz-icon-wrapper"><i class="fa fa-2x fa-cloud-upload-alt"></i></div>
                      <div class="dz-text-wrapper">{{ text_dropzone_choose }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="dz-preview" class="d-none">
                <div class="col-sm-3">
                  <div class="dz-preview dz-file-preview card gutter-b">
                    <div class="card-heading">
                      <div class="card-title dz-details clearfix"><div class="dz-name" data-dz-name></div></div>
                    </div>
                    <div class="card-body">
                      <div class="dz-thumbnail clearfix">
                        <img class="img-thumbnail" data-dz-thumbnail />
                      </div>
                      <div class="dz-mark"><i class="fa fa-spin fa-spinner"></i></div>
                      <div class="dz-trash"><i class="fa fa-trash" title="Delete" data-dz-remove></i></div>
                    </div>
                    <div class="card-footer clearfix">
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" name="image" value="" id="input-image" />

    </div>
</div>

{% for store in stores %}
{% for language in languages %}
<input type="hidden" name="product_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if product_seo_url[store.store_id][language.language_id] %} {{ product_seo_url[store.store_id][language.language_id] }}{% else %}{{ sku }}{{ random() }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control"/>
{% endfor %}
{% endfor %}

</form>
</div>
<script type="text/javascript">
$('.select2').select2();
  // Category
  $("#input-category").select2({
    placeholder: "{{ entry_category }}",
    allowClear: false,
    ajax: {
        url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}',
        dataType: 'json',
        delay: 250,
        data: function(params) {
            return {
                filter_name: params.term
            };
        },
        processResults: function (data) {
            return {
                results: $.map(data, function(obj) {
                    return { id: obj.category_id, text: obj.name };
                })
            };
        },
        cache: true
    },
    minimumInputLength: 1,
  });
    // Manufacturer
  $("#input-manufacturer").select2({
    placeholder: "{{ entry_manufacturer }}",
    allowClear: false,
    ajax: {
        url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}',
        dataType: 'json',
        delay: 250,
        data: function(params) {
            return {
                filter_name: params.term
            };
        },
        processResults: function (data) {
            return {
                results: $.map(data, function(obj) {
                    return { id: obj.manufacturer_id, text: obj.name };
                })
            };
        },
        cache: true
    },
    minimumInputLength: 1,
  });


  $('#product-category').delegate('.fa-minus-circle', 'click', function() {
	  $(this).parent().remove();
  });

</script>
<script type="text/javascript"><!--
$(".dz-sortable").sortable();
function sort() {
  var a = $(".dz-sort-order[name]").length;
  for (i = 0; i < 0 + a; i++) {
    var b = i - 0;
    $(".dz-sort-order[name]").eq(b).val(i);
  }
}
Dropzone.autoDiscover = !1;
var dz = new Dropzone("#dz-element", {url:"index.php?route=catalog/product/upload&user_token=" + getURLVar("user_token") + "&product_id=" + getURLVar("product_id") + "&folder_name=" + getURLVar("product_id"), acceptedFiles:"image/jpeg,image/pjpeg,image/png,image/x-png,image/gif", maxFiles:10, previewTemplate:$("#dz-preview").html(), maxFilesize:10, timeout:0, thumbnailWidth:null, thumbnailHeight:null, init:function() {
  this.on("addedfile", function(a) {
    changed();
    sort();
  });
  this.on("error", function(a, b) {
    $(a.previewElement).find(".dz-preview").addClass("dz-error").find(".dz-mark").html('<i class="fa fa-times-circle" title="' + b + '"></i>');
    $(a.previewElement).find(".card-footer").text(b);
  });
  this.on("removedfile", function(a) {
    changed();
    sort();
    $(".dz-main-selector.btn-success").length || $("#input-image").attr("name", "image");
    $.ajax({
        type: 'POST',
        url: "index.php?route=catalog/product/rmimage&user_token=" + getURLVar("user_token"),
        data: {name: a.name, product_id: getURLVar("product_id")},
        dataType: 'json',
    }).done(function (response) {
      let _ref;
      return (_ref = a.previewElement) != null ? _ref.parentNode.removeChild(a.previewElement) : void 0;
    });
  });
  this.on("error", function(a, b) {
    $(a.previewElement).find(".dz-preview").addClass("dz-error").find(".dz-mark").html('<i class="fa fa-times-circle" title="' + b + '"></i>');
    $(a.previewElement).find(".card-footer").text(b);
  });
  this.on("success", function(a, b) {
    b.error && $(a.previewElement).find(".dz-preview").addClass("dz-error").find(".dz-mark").html('<i class="fa fa-times-circle" title="' + b.error + '"></i>');
    b.success && ($(a.previewElement).find(".dz-preview").addClass("dz-success").find(".dz-mark").html('<i class="fa fa-check-circle"></i>'), $(a.previewElement).find(".card-footer").append('<a class="dz-main-selector mb-2 btn btn-xs btn-default">{{ text_dropzone_set_mainimage }}</a><input class="input-image" type="hidden" name="product_image[' + counter + '][image]" value="' + b.image + '" /><input class="dz-sort-order" type="text" name="product_image[' + counter + '][sort_order]" placeholder="{{ text_dropzone_sort_order }}" value="" readonly />'), 
    counter++);
  });
  this.on("queuecomplete", function(a, b) {
    sort();
    "" != $("#input-image").val() || $(".dz-main-selector.btn-success").length || setTimeout(function() {
      $(".dz-main-selector:first").click();
    }, 100);
  });
}});
function loadImage(a, b, f, e, d) {
  d = void 0 === d ? !1 : d;
  var c = {name:a.substr(a.lastIndexOf("/") + 1)};
  dz.emit("addedfile", c);
  dz.emit("thumbnail", c, b);
  dz.files.push(c);
  $(c.previewElement).find(".dz-preview").addClass("dz-success").find(".dz-mark").html('<i class="fa fa-check-circle"></i>');
  $(c.previewElement).find(".card-footer").append('<a class="dz-main-selector mb-2 btn btn-xs btn-default">{{ text_dropzone_set_mainimage }}</a><input class="input-image" type="hidden" name="product_image[' + e + '][image]" value="' + a + '" /><input class="dz-sort-order" type="text" name="product_image[' + e + '][sort_order]" placeholder="{{ text_dropzone_sort_order }}" value="' + f + '" readonly />');
  d && setTimeout(function() {
    $(c.previewElement).find(".dz-main-selector").click();
  }, 100);
}
function updateSortable() {
  $(".dz-sortable").sortable({opacity:0.8, update:function(a, b) {
    sort();
  }});
}
function changed() {
  dz.files.length ? $("#dz-clear").fadeIn() : $("#dz-clear").fadeOut();
}
$('#dz-clear').on('click', function() {
	dz.removeAllFiles(true);
});
updateSortable();

{% set image_row = 0 %}
{% for product_image in product_images %}
  loadImage('{{ product_image.image }}', '{{ product_image.thumb }}', {{ product_image.sort_order }}, {{ image_row }});
  {% set image_row = image_row + 1 %}
{% endfor %}
{% if image != '' %}
loadImage('{{ image }}', '{{ thumb }}', 0, {{ image_row }}, true);
{% set image_row = image_row + 1 %}
{% endif %}

var counter = {{ image_row}};
$(document).on("click", ".dz-main-selector", function() {
  var c = $(this);
  c.toggleClass("btn-default btn-success");
  $(".dz-main-selector").not(c).removeClass("btn-success").addClass("btn-default");
  $(".dz-main-selector").each(function() {
    var d = $(this), a = d.parents(".dz-preview"), b = a.find(".input-image");
    a = a.find(".dz-sort-order");
    d.hasClass("btn-success") ? (b.attr({"data-name":b.attr("name"), name:"image"}), $("#input-image").removeAttr("name"), a.attr("data-name", a.attr("name")).removeAttr("name").hide()) : (b.attr("name", b.data("name")), a.attr("name", a.data("name")).show());
  });
  $(".dz-main-selector.btn-success").length || ($("#input-image").attr("name", "image"), $("#input-image").removeAttr("value"));
  sort();
});
</script>
  <script type="text/javascript"><!--
  $('.date').datetimepicker({
	  language: '{{ datepicker }}',
	  pickTime: false
  });

  $('.time').datetimepicker({
	  language: '{{ datepicker }}',
	  pickDate: false
  });

  $('.datetime').datetimepicker({
	  language: '{{ datepicker }}',
	  pickDate: true,
	  pickTime: true
  });
</script>
{{ footer }}