<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<style>
:root {
  --base_store:{{ base_color_store }};
}
</style>
<script src="https://files.lnasa.space/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="https://files.lnasa.space/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="https://files.lnasa.space/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://files.lnasa.space/view/javascript/webiarch/product-slider-zoom/jquery.elevatezoom.js" type="text/javascript"></script>
<script src="https://use.fontawesome.com/c0fa6131fd.js"></script>
<link href="https://files.lnasa.space/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% if direction=='rtl' %} <link href="https://files.lnasa.space/view/theme/default/stylesheet/rtl.css" rel="stylesheet"> {% endif %}
<script src="https://files.lnasa.space/view/javascript/webiarch/blog/lightbox-2.6.min.js" type="text/javascript"></script>
<link href="https://files.lnasa.space/view/javascript/webiarch/blog/lightbox.css" rel="stylesheet" type="text/css" />
<script src="https://files.lnasa.space/view/javascript/webiarch/custom.js" type="text/javascript"></script>
{% for style in styles %}
<link href="{{ style.href|replace({'catalog': 'https://files.lnasa.space'}) }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script|replace({'catalog': 'https://files.lnasa.space'}) }}" type="text/javascript"></script>
{% endfor %}
<script src="https://files.lnasa.space/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}

{% if 'image/catalog' in link.href %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% else %}
<link href="{{ link.href|replace({'catalog/': 'https://files.lnasa.space'}) }}" rel="{{ link.rel }}" />
{% endif %}

{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

				<script type="text/javascript" src="https://files.lnasa.space/view/javascript/lazyload/jquery.lazyload.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function() {
					$('img.lazy-load').lazyload({
						effect: "fadeIn",
						effectspeed: 3000,  
						threshold: 100,
						placeholder : "https://files.lnasa.space/view/javascript/lazyload/loading.gif"
					});
				});
				</script>
			
</head>
<body>
<div class="container-fluid store_background">
    <div class="container text-center" id="rHM">
         <h3 style="color:#fff;">احصل على خصم 30%  <i id="close_hn" class="fa fa-times" style="color:gray;padding:0 3px 0 3px;"></i></h3>
             <style>#menu .btn-navbar{top:55px!important;}</style>
    </div>
</div>
<script type="text/javascript">$('#close_hn').click(function(){$('#rHM').remove();});</script>
<nav id="top">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 hidden-xs">
      {{ header_left }}
    </div>
     <div class="col-sm-6 text-right">
      {{ language }}
      {{ currency }}
    </div>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-7">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 xs-se">{{ search }}</div>
      <div class="col-md-2 col-sm-3 col-xs-5 xs-head-right">
      <ul class="head-right">
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><img src="image/catalog/header/wish.png"></a></li>
        <li class="dropdown user-drop"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><img src="image/catalog/header/user.png"><span class="hidden-xs hidden-sm hidden-md"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}"><i class="fa fa-user"></i>{{ text_account }}</a></li>
            <li><a href="{{ order }}"><i class="fa fa-history"></i>{{ text_order }}</a></li>
            <li><a href="{{ transaction }}"><i class="fa fa-exchange"></i>{{ text_transaction }}</a></li>
            <li><a href="{{ download }}"><i class="fa fa-download"></i>{{ text_download }}</a></li>
            <li><a href="{{ logout }}"><i class="fa fa-sign-out"></i>{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}"><i class="fa fa-user-plus"></i>{{ text_register }}</a></li>
            <li><a href="{{ login }}"><i class="fa fa-lock"></i>{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li>{{ cart }}</li>
        </ul>
      </div>
    </div>
  </div>
</header>
{{ menu }}
