<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search hidden-lg hidden-md hidden-sm"></i><span class="hidden-xs">بحث</span></button>
  </span>
</div>