<style>
form {
    display:block;
}
</style>

<script>
    var wpwlOptions = {
    style: "{{ formStyle }}",
	paymentTarget: "_top",
	locale: "{{ language_code }}"
    };
    wpwlOptions.applePay = {
        merchantCapabilities: ["supports3DS"],
        supportedNetworks: {{ supportedNetworks }}
    };

</script>
{% if language_code == 'ar' %}
<style>
.wpwl-group{
	direction:ltr !important;
}
.wpwl-control-cardNumber{
direction:ltr !important;
text-align:right;
}
</style>
{% endif %}

<script>
$.ajaxSetup({
    // Disable caching of AJAX responses
    cache: true
});
</script>

<script src="{{ scriptURL }}"></script>

<div>
    <form action="{{ postbackURL }}" class="paymentWidgets"  data-brands="{{ payment_brands }}">

    </form>
</div>
<div class="buttons" style="display:none;">
  <div class="right"><a id="button-confirm" class="button" onclick="$('#payment').submit();"><span>{{ button_confirm }}</span></a></div>
</div>
