{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <h1> <i class="fa fa-box text-dark"></i> {{ text_add_package }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div id="msg"></div>
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <i class="fa fa-box"></i> {{ text_add_package }}
                </div>
            </div>
            <form id="_xP">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ text_add_text_arabic }}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="language/ar/ar.png">
                                </span>
                                    </div>
                                    <input type="text" required name="title[2]" value="{{ header_arabic }}" class="form-control" placeholder="{{ text_add_text_arabic }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ text_add_text_english }}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="language/en-gb/en-gb.png">
                                </span>
                                    </div>
                                    <input type="text" required name="title[1]" value="{{ header_english }}" class="form-control" placeholder="{{ text_add_text_english }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ text_add_description_arabic }}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="language/ar/ar.png">
                                </span>
                                    </div>
                                    <textarea required name="des[2]" placeholder="{{ text_add_description_arabic }}" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ text_add_description_english }}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="language/en-gb/en-gb.png">
                                </span>
                                    </div>
                                    <textarea required name="des[1]" placeholder="{{ text_add_description_english }}" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="inputFormRow">
                                <div class="input-group mb-3">
                                    <input type="text" name="inputs[]" class="form-control m-input" placeholder="{{ text_add_input_name }}" autocomplete="off">
                                    <div class="input-group-append">
                                        <button id="removeRow" type="button" class="btn btn-light-danger"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div id="newRow"></div>
                            <button id="addRow" type="button" class="btn btn-light-primary m-4"><i class="fa fa-plus"></i> {{ text_add_new_input }}</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label>{{ text_price }}</label>
                                <input class="form-control" name="price" type="number" placeholder="{{ text_price }}" required>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label>{{ text_sort_by }}</label>
                                <input class="form-control" name="sort_by" type="number" value="0" placeholder="{{ text_sort_by }}" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label>{{ text_badge }}</label>
                                <select required name="recommended" class="form-control">
                                        <option selected value="1"> {{ text_avaliable }}</option>
                                        <option value="0"> {{ text_unavaliable }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label>{{ text_status }}</label>
                                <select required name="status" class="form-control">
                                        <option selected value="1"> {{ text_avaliable }}</option>
                                        <option value="0"> {{ text_unavaliable }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> {{ text_add }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#addRow").click(function () {
        var html = '';
        html += '<div id="inputFormRow">';
        html += '<div class="input-group mb-3">';
        html += '<input type="text" name="inputs[]" class="form-control m-input" placeholder="{{ text_add_input_name }}" autocomplete="off">';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="btn btn-light-danger"><i class="fa fa-trash"></i></button>';
        html += '</div>';
        html += '</div>';
        $('#newRow').append(html);
    });
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });
    $('#_xP').submit(function(e){
        e.preventDefault();
        $.post('index.php?route=catalog/packages/_d&user_token={{ user_token }}',$(this).serialize(),function(data){
            $('#msg').html(data);
        });
    });
</script>
{{ footer }}
