{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <h1><i class="fa fa-box text-dark"></i> {{ text_packages }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="card card-custom gutter-b">
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark"><i class="fa fa-box"></i> {{ text_packages }}</span>
                    <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ results }}</span>
                </h3>
                <div class="card-toolbar">
                    <a href="{{ add }}" data-toggle="tooltip" title="{{ text_add }}" class="btn btn-light-primary m-1"><i class="fas fa-plus"></i></a>
                    <a href="{{ orders }}" data-toggle="tooltip" title="{{ text_orders }}" class="btn btn-light-primary m-1"><i class="fas fa-boxes"></i></a>
                    <a href="{{ settings }}" data-toggle="tooltip" title="{{ text_settings }}" class="btn btn-light-primary m-1"><i class="fas fa-cogs"></i></a>
                </div>
            </div>
            <div class="card-body py-0">
                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
                    <div class="table-responsive">
                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                            <thead>
                            <tr>
                                <td class="text-center">{{ text_package_title }}</td>
                                <td class="text-center">{{ text_price }}</td>
                                <td class="text-center">{{ text_badge }}</td>
                                <td class="text-center">{{ text_status }}</td>
                                <td class="text-center">{{ text_action }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if packages %}
                                {% for package in packages %}
                                    <tr>
                                        <td class="text-center">{{ package.title }}</td>
                                        <td class="text-center">{{ package.price }}</td>
                                        <td class="text-center">
                                            {% if package.recommended %}
                                               <div class="label label-light-info label-inline">{{ text_recommended }}</div>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ package.status }}</td>
                                        <td class="text-center">
                                            <a href="{{ package.edit }}" class="btn btn-light-primary"><i class="fas fa-pen"></i></a>
                                            <a href="{{ package.del }}" class="btn btn-light-danger"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="5">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <style>.pagination li{padding:2px 7px;margin: 3px;background: #e1f0ff;border-radius: 3px;color: #3699ff;}  .active{background:#3699FF!important;color:#fff!important;}</style>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div><br>
            </div>
        </div>
    </div>
</div>
{{ footer }}
