{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <h1> <i class="fa fa-boxes text-dark"></i> {{ text_orders }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div id="msg"></div>
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <i class="fa fa-hashtag text-dark"></i> {{ package.id }}
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>{{ text_package_title }}</td>
                        <td>{{ package.title }}</td>
                    </tr>
                    <tr>
                        <td>{{ text_inputs }}</td>
                        <td>
                            {% if package.inputs %}
                                {% for key,value in package.inputs %}
                                    <div class="mt-2"> <b> {{ key|replace({'_':' '}) }} :</b> {{ value }} <br> </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ text_status }}</td>
                        <td>
                            {% if package.status == 1 %}
                                <div class="label label-inline label-light-success">جاري التجهيز</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ text_date }}</td>
                        <td>{{ package.created_at }}</td>
                    </tr>
                    <tr>
                        <td>{{ text_price }}</td>
                        <td>{{ package.amount }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ footer }}
