<ul class="nav nav-tabs pro-tab">
      <li class="active"><a href="#feature" data-toggle="tab">{{ heading_title }}</a></li>
      <li class="tab-fe"><a href="#special" data-toggle="tab">{{ text_special }}</a></li>
      <li><a href="#best" data-toggle="tab">{{ text_bestseller }}</a></li>
</ul>
<style>
@media only screen and (max-width: 750px) {
    .product-thumb .caption{
            height: 80px!important;
            padding:0!important;
    }
    .product-thumb h4{
        white-space: normal!important;
    }
}
</style>
<div class="tab-content row">
<div class="tab-pane active" id="feature">
{% set temp = 0 %}
{% set setCol = 2 %}
{% set oneLine = 11 %}
{% set numPro = products|length %}
<!-- <h1>{{ numPro }}</h1> -->
<div id="featurep" class="owl-carousel owl-theme">
    {% for product in products %}
        {% set temp = temp + 1 %}

        {% if temp % setCol == 1 and numPro >= oneLine %}
            <div class="multi-row" id="webi-multi-row">
        {% endif %}
<!-- writ code Here -->
  <div class="product-layout col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img 
				class="lazy-load _xts" data-original="{{ product.thumb }}" {{ lazy_load_width_height }}
			 alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
        {% if product.price %}
          {% if product.special %}
               <div class="sale">Sale</div>
          {% endif %}
      {% endif %}
      </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name|length > 32 ? product.name|slice(0, 32) ~ '...' : product.name}}</a></h4>
      <!--   <p>{{ product.description }}</p> -->
        {% if product.price %}
        <h4>
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span>
          <span class="price-old">{{ product.price }}</span>
          {% endif %}
         <!--  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} -->
        </h4>
        {% endif %}
        {#
        <!--
         {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
            
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %} --> #}
      </div>
    <div class="button-group">
         <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="com"><i class="fa fa-compress"></i></button>
        <button type="button" data-toggle="tooltip"  title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');" class="cart"><i class="fa fa-shopping-bag"></i> <!-- <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> --></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="wish"><i class="fa fa-heart-o"></i></button>
      </div>
    </div>
  </div>
<!-- writ code Here End -->
        {% if temp % setCol == 0 and numPro >= oneLine %}
            </div>
        {% endif %}

    {% endfor %}

    {% if products|length % setCol != 0 and numPro >= oneLine %}
        </div>
    {% endif %}
</div>

</div>


<script type="text/javascript">
    $(document).ready(function() {
    if (jQuery(window).width() < 768){
        $('._xts').removeAttr('width');
        $('._xts').removeAttr('height');
        $('._xts').attr("width","170px");
        $('._xts').attr("height","200px");
    }
    $("#featurep").owlCarousel({
    itemsCustom : [
    [0, 2],
    [600, 2],
    [992, 3],
    [1401, 4],
    [1850, 5]
    ],
     // autoPlay: 2500,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>