<div id="contact" class="footer-collapse footcontact">
    <h5></h5>
    <div class="text-center">
{% if socialmedia_maroof %}
        <a target="_blank" href="{{ socialmedia_maroof }}"><img src="https://files.lanaapp.com/new/maarouf.png" width="60%"/></a><br><br>
{% endif %}
 <img src="image/catalog/icon/Pay/applepay.png"  width="" height="20" alt="" class="info-block-img">
 <span class="links-text"></span>
  <img src="image/catalog/icon/Pay/mada.png"  width="" height="20" alt="" class="info-block-img">
 <span class="links-text"></span>
  <img src="image/catalog/icon/Pay/MasterCard.png"  width="" height="20" alt="" class="info-block-img">
 <span class="links-text"></span>
  <img src="image/catalog/icon/Pay/paypal.png"  width="" height="20" alt="" class="info-block-img">
 <span class="links-text"></span>
  <img src="image/catalog/icon/Pay/Stc.png"  width="" height="20" alt="" class="info-block-img">
 <span class="links-text"></span>
  <img src="image/catalog/icon/Pay/Visa.png"  width="" height="20" alt="" class="info-block-img">
 <span class="links-text"></span>
    </div>
    <br>
<ul class="list-unstyled f-left">
{% if address %}
  <li><i class="fa fa-map-marker"></i>{{ address }}</li>
{% endif %}
{% if telephone %}
  <li><i class="fa fa-phone"></i><a href="tel:{{ telephone }}">{{ telephone }}</a></li>
{% endif %}
{% if email %}
  <li><i class="fa fa-envelope"></i><a href="mailto:{{ email }}">{{ email }}</a></li>
{% endif %}
</ul>
  </div>