<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title"><i class="fas fa-chart-bar"></i> {{ heading_title }}</h3>
    <div class="card-toolbar"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-calendar"></i> <i class="caret"></i></a>
      <ul id="range" class="dropdown-menu p-5 dropdown-menu-right p-5">
        <li class="nav-item"><a href="day">{{ text_day }}</a></li>
        <li class="nav-item"><a href="week">{{ text_week }}</a></li>
        <li class="active nav-item"><a href="month">{{ text_month }}</a></li>
        <li class="nav-item"><a href="year">{{ text_year }}</a></li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <!--<div id="chart-sale" style="width: 100%; height: 260px;"></div>-->
    <div id="chart" style="width: 100%; height: 260px;"></div>
  </div>
</div>
<script type="text/javascript" src="view/javascript/jquery/flot/jquery.flot.js"></script> 
<script type="text/javascript" src="view/javascript/jquery/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript"><!--
var options = {
          series: [{
          name: 'المبيعات',
          data: [31, 40, 28, 51, 42, 109, 100]
        }, {
          name: 'العملاء',
          data: [11, 32, 45, 32, 34, 52, 41]
        }],
          chart: {
          height: 260,
          type: 'area'
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'datetime',
          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
        },
        tooltip: {
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
/*
$('#range a').on('click', function(e) {
	e.preventDefault();
	
	$(this).parent().parent().find('li').removeClass('active');
	
	$(this).parent().addClass('active');
	
	$.ajax({
		type: 'get',
		url: 'index.php?route=extension/dashboard/chart/chart&user_token={{ user_token }}&range=' + $(this).attr('href'),
		dataType: 'json',
		success: function(json) {
            if (typeof json['order'] == 'undefined') { return false; }
			
			var option = {	
				shadowSize: 0,
				colors: ['#8950fc', '#f64e60'],
				bars: { 
					show: true,
					fill: true,
					lineWidth: 1
				},
				grid: {
					backgroundColor: '#FFFFFF',
					hoverable: true
				},
				points: {
					show: false
				},
				xaxis: {
					show: true,
            		ticks: json['xaxis']
				}
			}
			
			$.plot('#chart-sale', [json['order'], json['customer']], option);	
					
			$('#chart-sale').bind('plothover', function(event, pos, item) {
				$('.tooltip').remove();
			  
				if (item) {
					$('<div id="tooltip" class="tooltip top in"><div class="tooltip-arrow"></div><div class="tooltip-inner">' + item.datapoint[1].toFixed(2) + '</div></div>').prependTo('body');
					
					$('#tooltip').css({
						position: 'absolute',
						left: item.pageX - ($('#tooltip').outerWidth() / 2),
						top: item.pageY - $('#tooltip').outerHeight(),
						pointer: 'cusror'
					}).fadeIn('slow');	
					
					$('#chart-sale').css('cursor', 'pointer');		
			  	} else {
					$('#chart-sale').css('cursor', 'auto');
				}
			});
		},
        error: function(xhr, ajaxOptions, thrownError) {
           alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});

$('#range .active a').trigger('click');*/
//-->
</script>