<div class="card card-custom bg-success card-stretch gutter-b">
    <div class="card-body">
        <span class="svg-icon svg-icon-2x svg-icon-white">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"/>
                <rect fill="#000000" x="2" y="8" width="20" height="3"/>
                <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"/>
            </g>
        </svg><!--end::Svg Icon--></span>
        <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">
        <span class="pull-right">
          {% if percentage > 0 %}
          <i class="fas fa-arrow-up text-white"></i>
          {% elseif percentage < 0 %}
          <i class="fas fa-arrow-down text-white"></i>
          {% endif %}
          {{ percentage }}%</span>
        </span>
        <span class="font-weight-bold font-size-sm"><a href="{{ sale }}" class="text-white">{{ heading_title }}</a></span>
    </div>
</div>