{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-check-circle"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
    </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ heading_title }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-button-type">{{ entry_button_type }}</label>
            <div class="col-sm-10">
              <select name="module_amazon_login_button_type" id="input-button-type" class="form-control">

				{% if module_amazon_login_button_type == 'Login' %}

                <option value="LwA" >{{ text_lwa_button }}</option>
                <option value="Login" selected="selected">{{ text_login_button }}</option>
                <option value="A">{{ text_a_button }}</option>

				{% elseif module_amazon_login_button_type == 'A' %}

                <option value="LwA" >{{ text_lwa_button }}</option>
                <option value="Login" >{{ text_login_button }}</option>
                <option value="A" selected="selected">{{ text_a_button }}</option>

				{% else %}

                <option value="LwA" selected="selected">{{ text_lwa_button }}</option>
                <option value="Login" >{{ text_login_button }}</option>
                <option value="A">{{ text_a_button }}</option>

				{% endif %}

              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-button-colour">{{ entry_button_colour }}</label>
            <div class="col-sm-10">
              <select name="module_amazon_login_button_colour" id="input-button-colour" class="form-control">

				{% if module_amazon_login_button_colour == 'DarkGray' %}

                <option value="Gold" >{{ text_gold_button }}</option>
                <option value="DarkGray" selected="selected">{{ text_darkgray_button }}</option>
                <option value="LightGray">{{ text_lightgray_button }}</option>

				{% elseif module_amazon_login_button_colour == 'LightGray' %}

                <option value="Gold" >{{ text_gold_button }}</option>
                <option value="DarkGray">{{ text_darkgray_button }}</option>
                <option value="LightGray" selected="selected">{{ text_lightgray_button }}</option>

				{% else %}

                <option value="Gold" selected="selected">{{ text_gold_button }}</option>
                <option value="DarkGray">{{ text_darkgray_button }}</option>
                <option value="LightGray">{{ text_lightgray_button }}</option>

				{% endif %}

              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-button-size">{{ entry_button_size }}</label>
            <div class="col-sm-10">
              <select name="module_amazon_login_button_size" id="input-button-size" class="form-control">

				{% if module_amazon_login_button_size == 'small' %}
					
                <option value="small" selected="selected">{{ text_small_button }}</option>
                <option value="medium">{{ text_medium_button }}</option>
                <option value="large" selected="selected">{{ text_large_button }}</option>
                <option value="x-large">{{ text_x_large_button }}</option>

				{% elseif module_amazon_login_button_size == 'large' %}

                <option value="small" >{{ text_small_button }}</option>
                <option value="medium">{{ text_medium_button }}</option>
                <option value="large" selected="selected">{{ text_large_button }}</option>
                <option value="x-large">{{ text_x_large_button }}</option>

				{% elseif module_amazon_login_button_size == 'x-large' %}

                <option value="small">{{ text_small_button }}</option>
                <option value="medium">{{ text_medium_button }}</option>
                <option value="large">{{ text_large_button }}</option>
                <option value="x-large" selected="selected">{{ text_x_large_button }}</option>

				{% else %}

                <option value="small">{{ text_small_button }}</option>
                <option value="medium" selected="selected">{{ text_medium_button }}</option>
                <option value="large">{{ text_large_button }}</option>
                <option value="x-large">{{ text_x_large_button }}</option>

				{% endif %}

              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_amazon_login_status" id="input-status" class="form-control">

				{% if module_amazon_login_status %}

                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>

				{% else %}

                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>

				{% endif %}

              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
