{{ header }}{{ column_left }}
<div id="content" class="contianer">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-shipyaari_consignment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if token_error %}
        <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i> {{ token_error }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if cronsync_warning %}
        <div class="alert alert-warning alert-dismissible">
            <i class="fa fa-exclamation-circle"></i> {{ text_cron_sync_error }} <a href="https://github.com/Knawat/knawat-dropshipping-opencart/wiki/3.-Cron-Job-Integration" id="install_guide" target="_blank"> {{ cronjob }} </a> {{ trigger }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if ordersync_warning %}
        <div class="alert alert-warning alert-dismissible knawat_message">
            <i class="fa fa-exclamation-circle"></i>
            {{ warning_ordersync }} <a href="#" id="start_ordersync">{{ text_ordersync_botton }}</a>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success alert-dismissible">
            <i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="card-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_knawat_dropshipping_status" id="input-status" class="form-control">
                                {% if module_knawat_dropshipping_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                            {% if error_status %}
                            <div class="text-danger">{{ error_status }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-knawat-consumer-key">{{ entry_consumer_key }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_knawat_dropshipping_consumer_key" value="{{ module_knawat_dropshipping_consumer_key }}" placeholder="{{ consumer_key_placeholder }}"
                                class="form-control" id="input-knawat-consumer-key" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-knawat-consumer-secret">{{ entry_consumer_secret }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_knawat_dropshipping_consumer_secret" value="{{ module_knawat_dropshipping_consumer_secret }}"
                                placeholder="{{ consumer_secret_placeholder }}" class="form-control" id="input-knawat-consumer-secret"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_connection }}</label>
                        <div class="col-sm-10">
                            {% if token_valid %}
                            <h4><span class="label label-inline label-success">{{ text_connected }}</span></h4>
                            <small>{{ text_connected_desc }}</small>
                            {% else %}
                            <h4><span class="label label-inline label-danger">{{ text_notconnected }}</span></h4>
                            <small>{{ text_notconnected_desc }}</small>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_store }}</label>
                        <div class="col-sm-10">
                            <div class="well well-sm" style="height: 150px; overflow: auto;">
                                {% for store in stores %}
                                <div class="checkbox">
                                    <label> {% if store.store_id in module_knawat_dropshipping_store %}
                                        <input type="checkbox" name="module_knawat_dropshipping_store[]" value="{{ store.store_id }}" checked="checked" /> {{ store.name }} {% else %}
                                        <input type="checkbox" name="module_knawat_dropshipping_store[]" value="{{ store.store_id }}" /> {{ store.name }} {% endif %} </label>
                                </div>
                                {% endfor %}
                                </div>
                        </div>
                    </div>

                    {% if token_valid %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-knawat-consumer-secret">{{text_import_products}}</label>
                        <div class="col-sm-10 ajax_import">
                            <button id="run_import" class="btn btn-primary">{{text_run_import}}</button>
                            <div class="import_inprocess" style="display: none;">
                                <img src="{{knawat_ajax_loader}}" style="width:30px;" />
                                <strong style="margin-left: 10px;">{{text_import_inprogress}}</strong>
                                <div class="import_status" style="margin-top: 10px;">
                                    <p>{{text_import_stats}}:</p>
                                    <strong>{{text_imported}}:</strong> 0 {{text_products}}
                                    <br>
                                    <strong>{{text_updated}}:</strong> 0 {{text_products}}
                                    <br>
                                    <strong>{{text_failed}}:</strong> 0 {{text_products}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ text_import_note }}</label>
                        <div class="col-sm-10">
                            <h4><small>{{ cron_url_info }}</small></h4>
                            <b>{{ cron_url }}</b>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ footer }}

    <script type="text/javascript">
        var knawat_ajax_url = '{{ knawat_ajax_url }}';
        $(document).ready(function () {
            $('#run_import').on('click', function (e) {
                e.preventDefault();
                process_step();
                knawat_ajax_import_start();
            });
        });

        function process_step(data) {
            $.ajax({
                type: 'POST',
                url: knawat_ajax_url.replace(/&amp;/g, '&'),
                data: {
                    process_data: data
                },
                dataType: "json",
                success: function (response) {
                    if (response.is_complete) {
                        /* Done Operation here. */
                        knawat_ajax_import_stop();
                        jQuery(".page-header .container-fluid").append(
                            '<div class="knawat_import_message alert alert-success"><i class="fa fa-info-circle"></i> {{success_ajaximport}}</div>'
                        );
                        jQuery('.import_inprocess .import_status').html('');

                    } else {
                        /*Update import stats.*/
                        jQuery('.import_inprocess .import_status').html(
                            '<p>{{text_import_stats}}:</p><strong>{{text_imported}}:</strong> ' +
                            response.imported +
                            ' {{text_products}}<br><strong>{{text_updated}}:</strong> ' + response.updated +
                            ' {{text_products}}<br><strong>{{text_failed}}:</strong> ' + response.failed +
                            ' {{text_products}}')
                        /*Run next batch.*/
                        process_step(response);
                    }

                }
            }).fail(function (response) {
                if (window.console && window.console.log) {
                    console.log(response);
                }
                knawat_ajax_import_stop();
                jQuery(".page-header .container-fluid").append(
                    '<div class="knawat_import_message alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_ajaximport}}</div>'
                );
            });
        }

        function knawat_ajax_import_start() {
            jQuery(".page-header .container-fluid .knawat_import_message").remove();
            jQuery(".page-header .container-fluid").append(
                '<div class="knawat_import_message alert alert-warning"><i class="fa fa-info-circle"></i> {{warning_ajaximport}}</div>'
            );
            jQuery('#run_import').hide();
            jQuery('.ajax_import .import_inprocess').show();
        }

        function knawat_ajax_import_stop() {
            jQuery(".page-header .container-fluid .knawat_import_message").remove();
            jQuery('#run_import').show();
            jQuery('.ajax_import .import_inprocess').hide();
        }

        var knawat_ordersync_url = '{{ knawat_ordersync_url }}';
        $(document).ready(function () {
            $.ajaxSetup({
                headers : {
                    'CsrfToken': '{{csrf_token}}'
                }
            });
            $('#start_ordersync').on('click', function (e) {
                $('#start_ordersync').html('{{text_syncing}}');
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: knawat_ordersync_url.replace(/&amp;/g, '&'),
                    dataType: "json",
                    success: function (response) {
                        if ( 'success' === response.status) {
                            jQuery(".knawat_message").remove();
                            jQuery(".page-header .container-fluid").append(
                                '<div class="knawat_message alert alert-success"><i class="fa fa-info-circle"></i> {{success_ordersync}}</div>'
                            );
                        }else{
                            jQuery(".knawat_message").remove();
                            if (typeof response.error !== 'undefined') {
                                var order_error = response.error;
                                if( '1' === order_error ){
                                    order_error = '{{error_wrong}}';
                                }
                                jQuery(".page-header .container-fluid").append( '<div class="knawat_message alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + order_error + '</div>' );
                            }
                        }
                    }
                }).fail(function (response) {
                    if (window.console && window.console.log) {
                        console.log(response);
                    }
                    jQuery(".knawat_message").remove();
                    jQuery(".page-header .container-fluid").append(
                        '<div class="knawat_message alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_wrong}}</div>'
                    );
                });

            });
                window.onbeforeunload = function(){
                    if($(".import_inprocess:visible").length){
                            return false;
                    }
                };
        });
    </script>