{{ header }}{{ column_left }}
<div id="content" class="container">
      <div class="page-header">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <button type="submit" form="form-special" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
            <h1> {{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="card card-custom">
            <div class="card-body">
                <form action="{{ action }}" onclick="$('#form').submit();" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
                    <ul class="nav nav-tabs nav-tabs-line nav-bolder nav-tabs-line-2x mb-5">
                        <li class="nav-item active"><a class="nav-link" href="#tab-settings" data-toggle="tab">{{ tab_settings }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-order-status-sms" data-toggle="tab">{{ tab_order_status_sms }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-order-sms" data-toggle="tab">{{ tab_order_sms }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-accounts-sms" data-toggle="tab">{{ tab_accounts_sms }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-settings">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-userkey">
                                    <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_userkey_msegat_span }}">{{ entry_userkey_msegat }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="userkey_msegat" value="{{ userkey_msegat }}">
                                    {% if error_userkey_msegat %}
                                    <div class="text-danger">{{ error_userkey_msegat }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-userkey">
                                    <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_passkey_msegat_span }}">{{ entry_passkey_msegat }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="passkey_msegat" value="{{ passkey_msegat }}">
                                    {% if error_passkey_msegat %}
                                    <div class="text-danger">{{ error_passkey_msegat }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-userkey">
                                    {{ entry_httpapi_msegat }}
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="httpapi_msegat" value="https://www.msegat.com/gw/">
                                    {% if error_httpapi_msegat %}
                                    <div class="text-danger">{{ error_httpapi_msegat }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-userkey">
                                    <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_senderid_msegat_span }}">{{ entry_senderid_msegat }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="senderid_msegat" value="{{ senderid_msegat }}">
                                    {% if error_senderid_msegat %}
                                    <div class="text-danger">{{ error_senderid_msegat }}</div>
                                    {% endif %}</td>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-userkey">
                                    <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_smslimit_span }} ">{{ entry_smslimit }}</span>

                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="smslimit" value="{{ smslimit }}">{{ text_limit }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-userkey">
                                    <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ text_enable_verify_span }} ">{{ text_enable_verify }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="verify" class="form-control">
                                        {% if verify==0 %}
                                        <option value="0" selected="selected">{{ text_no }}</option>
                                        {% else %}
                                        <option value="0">{{ text_no }}</option>
                                        {% endif %}

                                        {% if verify==1 %}
                                        <option value="1" selected="selected">{{ text_yes }}</option>
                                        {% else %}
                                        <option value="1">{{ text_yes }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div id="verify-1" class="verify">
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-userkey">
                                        <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_code_digit_span }} ">{{ entry_code_digit }}</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="code_digit" value="{{ code_digit }}" onkeyup="this.value = this.value.replace(/\D+/, '')"/>
                                        {% if error_code_digit %}
                                        <div class="text-danger">{{ error_code_digit }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-userkey">
                                        <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_max_retry_span }} ">{{ entry_max_retry }}</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="max_retry" value="{{ max_retry }}" onkeyup="this.value = this.value.replace(/\D+/, '')"/>
                                        {{ entry_limit_blank }}

                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-userkey">
                                        <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_verify_code_span }}">{{ entry_verify_code }}</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <textarea id="input-meta-description1" class="form-control" name="message_code_verification" cols="47"
                                                  rows="5">{{ message_code_verification }}</textarea>
                                        {% if error_message_code_verification %}
                                        <div class="text-danger">{{ error_message_code_verification }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-userkey">
                                        <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_skip_group_span }} ">{{ entry_skip_group }}</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="skip_group_id[]" multiple="multiple" size="5">
                                            <option id="none" onClick="$('.nones').removeAttr('selected')" value="0" {% if 0 in skip_group_id %} {{ "selected" }} {% endif %} >None</option>
                                            {% for customer_group in customer_groups %}
                                            <option class="nones" onClick="$('#none').removeAttr('selected')" value="{{ customer_group.customer_group_id }}"
                                                    {% if customer_group.customer_group_id in skip_group_id %} {{ "selected" }} {% endif %} >{{ customer_group.name }}
                                                    {% endfor %}
                                    </select>{{ entry_skip_group_help }}
                                </div>
                            </div>
                        </div>


                    </div><!--end tab-settings-->

                    <div class="tab-pane" id="tab-order-status-sms">

              <div class="table-responsive">
                <table id="attribute" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_function }}</td>
                      <td class="text-left">{{ entry_template }}</td>
                      <td class="text-left">{{ entry_enable }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% set order_status_row = 0 %}
                  {% for order_status in order_statuses %}
                    <tr id="order-status-row{{ order_status_row }}">
                        <td class="text-center" style="width: 20%;"><b>{{ order_status.name }}</b></td>
                        <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <textarea name="mse_sms_template[{{language.language_id}}][{{order_status.order_status_id}}]" rows="5" placeholder="{{ entry_text }}" class="form-control">{{ mse_sms_template[language.language_id][order_status.order_status_id] }}</textarea>
                      </div>
                      {% endfor %}</td>
                      <td>
                          {% if mse_sms_status[order_status.order_status_id] == 1 %}
                          <input type="checkbox" name="mse_sms_status[{{order_status.order_status_id}}]" checked="checked" value="1" class="form-control">
                           {% else %}
                          <input type="checkbox" name="mse_sms_status[{{order_status.order_status_id}}]" value="1" class="form-control">
                          {{ mse_sms_status[order_status.order_status_id]}}
                          {% endif %}
                      </td>
                    </tr>

                  {% set order_status_row = order_status_row + 1 %}
                  {% endfor %}
                  </tbody>
                </table>
             </div>


                    </div><!--end order-status-sms-->

                    <div class="tab-pane" id="tab-order-sms">

                        <div class="table-responsive">
                          <table id="attribute" class="table table-striped table-bordered table-hover">
                            <thead>
                              <tr>
                                <td class="text-left">{{ entry_function }}</td>
                                <td class="text-left">{{ entry_template }}</td>
                              </tr>
                            </thead>
                            <tbody>
                           
                              <tr>
                                  <td class="text-center" style="width: 20%;"><span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_alert_order_span }}"><b>{{ entry_alert_order }}</b></span></td>
                                  <td class="text-left">
                               {% for language in languages %}
                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                  <textarea id="input-meta-description1" class="form-control" name="message_order[{{language.language_id}}][text]" cols="47" rows="5">{{ message_order[language.language_id].text }}</textarea>{{ entry_alert_blank }}
                                </div>
                                {% endfor %}</td>
                              </tr>

                              <tr>
                                  <td class="text-center" style="width: 20%;"><span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_alert_sms_span }} "><b>{{ entry_alert_sms }}</b></span></td>
                                  <td class="text-left">{% for language in languages %}
                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                  <textarea name="config_alert_sms[{{language.language_id}}][text]" id="input-meta-description1" class="form-control" >{{ config_alert_sms[language.language_id].text }}</textarea>{{ entry_alert_blank }}{{ entry_parsing }}
                                </div>
                                {% endfor %}</td>
                              </tr>

                              <tr>
                                  <td class="text-center" style="width: 20%;"><span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_additional_alert_span }}"><b>{{ entry_additional_alert }}</b></span></td>
                                  <td class="text-left">{% for language in languages %}
                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                  <textarea name="message_alert[{{language.language_id}}][text]" id="input-meta-description1" class="form-control">{{ message_alert[language.language_id].text }}</textarea>{{ entry_alert_blank }}
                                </div>
                                {% endfor %}</td>
                              </tr>
                           
                            </tbody>
                          </table>
                       </div>
                    



                    </div><!--end tab-order-sms-->

                    <div class="tab-pane" id="tab-accounts-sms">

                        <div class="table-responsive">
                            <table id="attribute" class="table table-striped table-bordered table-hover">
                              <thead>
                                <tr>
                                  <td class="text-left">{{ entry_function }}</td>
                                  <td class="text-left">{{ entry_template }}</td>                      
                                </tr>
                              </thead>
                              <tbody>

                                <tr>
                                    <td class="text-center" style="width: 20%;"><span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_alert_reg_span }}"><b>{{ entry_alert_reg }}</b></span></td>
                                    <td class="text-left">{% for language in languages %}
                                  <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                    <textarea name="message_reg[{{language.language_id}}][text]" rows="5" placeholder="{{ entry_text }}" class="form-control">{{ message_reg[language.language_id].text }}</textarea>
                                  </div>
                                  {% endfor %}</td>

                                </tr>

                                <tr>
                                    <td class="text-center" style="width: 20%;" ><span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_account_sms_span }}"><b>{{ entry_account_sms }}</b></span></td>
                                    <td class="text-left">{% for language in languages %}
                                  <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                    <textarea name="config_account_sms[{{language.language_id}}][text]" rows="5" placeholder="{{ entry_text }}" class="form-control">{{ config_account_sms[language.language_id].text }}</textarea>
                                  </div>
                                  {% endfor %}</td>

                                </tr>

                              </tbody>
                            </table>
                         </div>

                    </div><!--end tab-accounts-sms-->

                </div><!--end tab-content-->

                <!--<div class="card-body" id="setgate"></div>-->

        </div>
    </div>
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-pencil"></i>{{ intruction_title }}</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                {{ text_instruction }}
            </div>
        </div>
    </div>

    {{ footer }}

    <script type="text/javascript"><!--
        $('select[name=\'gateway\']').bind('change', function() {
            $('#setgate .gateway').hide();

            $('#setgate #gateway-' + $(this).val().replace('_', '-')).show();
        });

        $('select[name=\'gateway\']').trigger('change');


        $('select[name=\'status\']').bind('change', function() {
            $('.status').hide();
            console.log($(this).val().replace('_', '-'));
            $('#status-' + $(this).val().replace('_', '-')).show();
        });

        $('select[name=\'status\']').trigger('change');


        $('select[name=\'verify\']').bind('change', function() {
            $('.verify').hide();

            $('#verify-' + $(this).val().replace('_', '-')).show();
        });

        $('select[name=\'verify\']').trigger('change');

        //--></script>