<script type="text/javascript" src="view/javascript/checkLength.js"></script>
{{ header }}{{ column_left }}
<div id="content" class="container">
    <div class="page-header">
    <div class="subheader py-2 py-lg-6 subheader-transparent">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="pull-right">
                <button type="submit" form="form-special" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
            <h1> {{ heading_title }}</h1>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

<div class="container-fluid">
    {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
         </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
                    <div class="card card-custom">
                        <div class="card-body" id="sms">
                            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-to">
                                        <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_or }}">{{ entry_or }}</span>            	
                                    </label>
                                    <div class="col-sm-10" style="padding-top: 9px">
                                        <select name="to" id="input-status" class="form-control">
                                            <option value="">{{ text_none }}</option>
                                            <option value="nohp">{{ text_nohp }}</option>
                                            <option value="newsletter">{{ text_newsletter }}</option>
                                            <option value="customer_all">{{ text_customer_all }}</option>
                                            <option value="customer_group">{{ text_customer_group }}</option>
                                            <option value="customer">{{ text_customer }}</option>
                                            <option value="affiliate_all">{{ text_affiliate_all }}</option>
                                            <option value="affiliate">{{ text_affiliate }}</option>
                                            <option value="product">{{ text_product }}</option>
                                        </select>
             {% if error_nohp %}
                                        <div class="text-danger">{{ error_nohp }}</div>
              {% endif %}
                                    </div>
                                </div> 
                                <div class="form-group to" id="to-nohp">
                                    <label class="col-sm-2 control-label" for="input-nohp">
                                        <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_nohp }}">{{ entry_nohp }}</span>             	
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="nohp" value="" size="50" onkeyup="this.value = this.value.replace(/\D+/, '')" />
                                    </div>
                                </div>
                                <div class="form-group to" id="to-customer-group">
                                    <label class="col-sm-2 control-label" for="input-nohp">
            	{{ entry_customer_group }}           	
                                        </label>
                                        <div class="col-sm-10">
                                            <select name="customer_group_id" class="form-control">
                  {% for customer_group in customer_groups %}
                                                    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                  {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group to" id="to-customer">
                                            <label class="col-sm-2 control-label" for="input-nohp">
                                                <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="Autocomplete">{{ entry_customer }}</span>           	
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="customers" value="" />
                                                <ul class="dropdown-menu" style="display: none;"></ul>
                                                <div style="height: 150px; overflow: auto;" class="well well-sm scrollbox" id="customer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group to" id="to-affiliate">
                                            <label class="col-sm-2 control-label" for="input-nohp">
                                                <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="Autocomplete">{{ entry_affiliate }}</span>           	
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="affiliates" value="" />
                                                <ul class="dropdown-menu" style="display: none;"></ul>
                                                <div style="height: 150px; overflow: auto;" class="well well-sm scrollbox" id="affiliate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group to" id="to-product">
                                            <label class="col-sm-2 control-label" for="input-nohp">
                                                <span title="" data-container="#tab-general" data-toggle="tooltip" data-original-title="{{ entry_product }}">{{ entry_product}}</span>           	
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="products" value="" />
                                                <ul class="dropdown-menu" style="display: none;"></ul>
                                                <div style="height: 150px; overflow: auto;" class="well well-sm scrollbox" id="product">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-msg">
            	{{ entry_message}}          	
                                                </label>
                                                <div class="col-sm-10">
                                                    <textarea name="message" id="input-meta-description1" class="form-control" cols="47" rows="5" onChange="updateTextBoxCounter(this.form);" onKeyPress="updateTextBoxCounter(this.form);" onKeyUp="updateTextBoxCounter(this.form);" onKeyDown="updateTextBoxCounter(this.form);"></textarea>
                                                    <div ID="InfoCharCounter"></div>
          	  {% if error_message %}
                                                    <div class="text-danger">{{ error_message }}</div>
                 {% endif %}
                                                </div>
                                            </div>
                                    </div>


                                    </form>
                                </div>
                            </div>

                            <script type="text/javascript"><!--  
                           $('select[name=\'to\']').bind('change', function() {
                                    $('#sms .to').hide();

                                    $('#sms #to-' + $(this).val().replace('_', '-')).show();
                                });

                                $('select[name=\'to\']').trigger('change');
                                //--></script> 

                                <script type="text/javascript">

                                    $('input[name=\'products\']').autocomplete({
                                        delay: 500,
                                        source: function(request, response) {
                                            $.ajax({
                                                url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                                                dataType: 'json',
                                                success: function(json) {
                                                    response($.map(json, function(item) {
                                                        return {
                                                            label: item.name,
                                                            value: item.product_id
                                                        }
                                                    }));
                                                }
                                            });
                                        },
                                        select: function(item) {
                                            $('input[name=\'products\']').val('');

                                            $('#product' + item['value']).remove();


                                            $('#product').append('<div id="product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="products[]" value="' + item['value'] + '" /></div>');
                                        }

                                    });

                                    $('#product').delegate('.fa-minus-circle', 'click', function() {
                                        $(this).parent().remove();
                                    });

                                    $('input[name=\'customers\']').autocomplete({
                                        delay: 500,
                                        source: function(request, response) {
                                            $.ajax({
                                                url: 'index.php?route=sale/customer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                                                dataType: 'json',
                                                success: function(json) {
                                                    response($.map(json, function(item) {
                                                        return {
                                                            category: item.customer_group,
                                                            label: item.name,
                                                            value: item.customer_id
                                                        }
                                                    }));
                                                }
                                            });
                                        },
                                        select: function(item) {
                                            $('input[name=\'customers\']').val('');

                                            $('#customer' + item['value']).remove();


                                            $('#customer').append('<div id="customer' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="customers[]" value="' + item['value'] + '" /></div>');
                                        }

                                    });

                                    $('#customer').delegate('.fa-minus-circle', 'click', function() {
                                        $(this).parent().remove();
                                    });

                                    $('input[name=\'affiliates\']').autocomplete({
                                        delay: 500,
                                        source: function(request, response) {
                                            $.ajax({
                                                url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_affiliate=1&filter_name=' + encodeURIComponent(request),
                                                dataType: 'json',
                                                success: function(json) {
                                                    console.log(json);
                                                    response($.map(json, function(item) {
                                                        return {
                                                            label: item.name,
                                                            value: item.customer_id
                                                        }
                                                    }));
                                                }
                                            });
                                        },
                                        select: function(item) {
                                            $('input[name=\'affiliates\']').val('');

                                            $('#affiliate' + item['value']).remove();


                                            $('#affiliate').append('<div id="affiliate' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="affiliates[]" value="' + item['value'] + '" /></div>');
                                        }

                                    });

                                    $('#affiliate').delegate('.fa-minus-circle', 'click', function() {
                                        $(this).parent().remove();
                                    });



                                    //--></script> 
                                    <script type="text/javascript">
                                        function send(url) {
                                            $('textarea[name=\'message\']').html($('textarea[name=\'message\']').val());

                                            $.ajax({
                                                url: url,
                                                type: 'post',
                                                data: $('select, input, textarea'),
                                                dataType: 'json',
                                                beforeSend: function() {
                                                    $('#button-send').attr('disabled', true);
                                                    $('#button-send').before('<span class="wait"><img src="view/image/loading.gif" alt="" />&nbsp;</span>');
                                                },
                                                complete: function() {
                                                    $('#button-send').attr('disabled', false);
                                                    $('.wait').remove();
                                                },
                                                success: function(json) {
                                                    $('.success, .warning, .error').remove();

                                                    if (json['error']) {
                                                        if (json['error']['warning']) {
                                                            $('.box').before('<div class="warning" style="display: none;">' + json['error']['warning'] + '</div>');

                                                            $('.warning').fadeIn('slow');
                                                        }

                                                        if (json['error']['subject']) {
                                                            $('input[name=\'subject\']').after('<span class="error">' + json['error']['subject'] + '</span>');
                                                        }

                                                        if (json['error']['message']) {
                                                            $('textarea[name=\'message\']').parent().append('<span class="error">' + json['error']['message'] + '</span>');
                                                        }
                                                    }

                                                    if (json['next']) {
                                                        if (json['success']) {
                                                            $('.box').before('<div class="success">' + json['success'] + '</div>');

                                                            send(json['next']);
                                                        }
                                                    } else {
                                                        if (json['success']) {
                                                            $('.box').before('<div class="success" style="display: none;">' + json['success'] + '</div>');

                                                            $('.success').fadeIn('slow');
                                                        }
                                                    }
                                                }
                                            });
                                        }
                                        //--></script>

{{ footer }}