{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="submit" form="form-shipyaari_consignment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-pen"></i> {{ text_edit }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-shipyaari_consignment" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-9">
              <select name="smsa_status" id="input-status" class="form-control">
                {% if smsa_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-passkey">{{ entry_passkey }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_passkey" value="{{ smsa_passkey }}" placeholder="{{ entry_passkey }}" id="input-passkey" class="form-control" />
              {% if error_passkey %}
              <div class="text-danger">{{ error_passkey }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-mode">{{ entry_mode }}</label>
            <div class="col-sm-9">
              <select name="smsa_mode" id="input-mode" class="form-control">
                {% if smsa_mode %}
                <option value="1" selected="selected">{{ text_live }}</option>
                <option value="0">{{ text_test }}</option>
                {% else %}
                <option value="1">{{ text_live }}</option>
                <option value="0" selected="selected">{{ text_test }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <!-- <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-username">{{ entry_username }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_username" value="{{ smsa_username }}" placeholder="{{ entry_username }}" id="input-username" class="form-control" />
              {% if error_username %}
              <div class="text-danger">{{ error_username }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-password">{{ entry_password }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_password" value="{{ smsa_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
              {% if error_password %}
              <div class="text-danger">{{ error_password }}</div>
              {% endif %}
            </div>
          </div> -->
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-code">{{ entry_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_name" value="{{ smsa_name }}" placeholder="{{ entry_name }}" id="input-code" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-zone">{{ entry_contact }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_contact" value="{{ smsa_contact }}" placeholder="{{ entry_contact }}" id="input-zone" class="form-control" />
              {% if error_contact %}
              <div class="text-danger">{{ error_contact }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_telephone" value="{{ smsa_telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
              {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-address_1">{{ entry_address_1 }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_address_1" value="{{ smsa_address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address_1" class="form-control" />
              {% if error_address_1 %}
              <div class="text-danger">{{ error_address_1 }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-address_2">{{ entry_address_2 }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_address_2" value="{{ smsa_address_2 }}" placeholder="{{ entry_address_2 }}" id="input-address_2" class="form-control" />
              {% if error_address_2 %}
              <div class="text-danger">{{ error_address_2 }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-city">{{ entry_city }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_city" value="{{ smsa_city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control" />
              {% if error_city %}
              <div class="text-danger">{{ error_city }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-postcode">{{ entry_postcode }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_postcode" value="{{ smsa_postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" />
              {% if error_postcode %}
              <div class="text-danger">{{ error_postcode }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-country">{{ entry_country }}</label>
            <div class="col-sm-9">
              <input type="text" name="smsa_country" value="{{ smsa_country }}" placeholder="{{ entry_country }}" id="input-country" class="form-control" />
              {% if error_country %}
              <div class="text-danger">{{ error_country }}</div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
  $('.date').datetimepicker({
    pickTime: false
  });

  $('.time').datetimepicker({
    pickDate: false
  });

  $('.datetime').datetimepicker({
    pickDate: true,
    pickTime: true
  });
//--></script>
{{ footer }}