{{ header }}
<style>
@media (max-width: 768px) {
   .card-product-list .info-aside {
        border-left: none!important;
  }
}
</style>
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
    <div id="product-category" class="container">
      <div class="row">{{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <main id="content" class="{{ class }}">{{ content_top }}
            <div class="icontext align-items-start mr-4">
                 {% if thumb %}
            	<span class="icon icon-lg">
            		<img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
            	</span>
            	{% endif %}
            	<div class="text">
            		<h2 class="title">{{ heading_title }}</h2>
    		        {% if description %}
            		<p class="text-muted">{{ description }}</p>
            	    {% endif %}
            	</div>
            </div>
            <hr>
          {% if categories %}
          <div class="row">
              <div class="col-md-2"><h5>{{ text_refine }}</h5></div>
              <div class="col-md-10"> 
                  {% if categories|length <= 5 %}
                    <ul class="list-inline">
                    {% for category in categories %}
                        <li class="list-inline-item"><a href="{{ category.href }}">{{ category.name }}</a></li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    {% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
                        <ul class="list-inline">
                        {% for child in category %}
                            <li class="list-inline-item"><a href="{{ child.href }}">{{ child.name }}</a></li>
                        {% endfor %}
                        </ul>
                  {% endfor %}
              {% endif %}
          </div>
          {% endif %}
          {% if products %}
    		<div class="form-inline mb-5">
        	    <div class="form-group input-group mr-md-auto">
        		    <strong><a href="{{ compare }}" id="compare-total" class="btn btn-primary">{{ text_compare }}</a></strong>
        		</div>    			
                <div class="form-group input-group mr-3">
                    <label class="input-group-addon mr-2" for="input-sort">{{ text_sort }}</label>
                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                      {% for sorts in sorts %}
                          {% if sorts.value == '%s-%s'|format(sort, order) %}
                              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                          {% else %}
                              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                          {% endif %}
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group input-group mr-3">
                    <label class="input-group-addon mr-2" for="input-limit">{{ text_limit }}</label>
                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                      {% for limits in limits %}
                          {% if limits.value == limit %}
                              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                          {% else %}
                              <option value="{{ limits.href }}">{{ limits.text }}</option>
                          {% endif %}
                      {% endfor %}
                    </select>
                </div>
                <div class="d-none d-sm-block">
        			<div class="btn-group">
                        <button type="button" id="list-view" class="btn btn-light" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-bars"></i></button>
                        <button type="button" id="grid-view" class="btn btn-light" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
        			</div>
    			</div>
    		</div>
           <div class="row"> {% for product in products %}
               <div class="product-layout product-list col-md-12">
                    <article class="card card-product-list">
                    	<div class="row no-gutters">
                	    	<div class="product-thumb col-md-3">
                	    	    <a href="{{ product.href }}" class="img-wrap"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
                            </div>
                	    	<div class="product-description col-md-6">
                			    <div class="info-main">
                					<a href="{{ product.href }}" class="h5 title">{{ product.name }}</a>
                                    <ul class="rating-stars mt-1 mb-2">
                                        {% if product.rating %}
                						<li style="width:{{ ((product.rating/5)*100)|round }}%" class="stars-active"> 
                    	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/stars-active.svg" alt="{{ product.rating }}" />
                						</li>
                    				    {% endif %}
                						<li>
                    	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/starts-disable.svg" />
                						</li>
                                    </ul>
                                	<p class="title">{{ product.description }}</p>
                                </div>
                			</div>
                			<aside class="actions-aside col-md-3">
                    			<div class="product-actions info-aside">
                                    {% if product.price %}
                    				<div class="price-wrap">
                                        <div class="h5 price mt-2">
                                          {% if not product.special %}
                                          {{ product.price }}
                                          {% else %}
                                          <span class="price-new">{{ product.special }}</span> <del class="price-old">{{ product.price }}</del>
                                          {% endif %}
                                          {#{% if product.tax %}#}
                                          {#<p class="text-muted">{{ text_tax }} {{ product.tax }}</p>#}
                                          {#{% endif %}#}
                                        </div>
                    				</div>
                                    {% endif %}  
                    				{#<small class="text-warning">Paid shipping</small>#}

                                    <div class="w-100 mt-3">
                                       <button class="btn btn-outline-primary mb-2" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="d-none d-lg-inline">{{ button_cart }}</span></button>
                                       <button class="btn btn-light mb-2" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i> <span class="d-none d-lg-inline">{{ button_wishlist }}</span></button>
                                       <button class="btn btn-light mb-2" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i> <span class="d-none d-lg-inline">{{ button_compare }}</span></button>
                                    </div>

                    			</div>
                    		</aside>
            			</div>
            		</article>
            	</div>
            {% endfor %} </div>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
          {% endif %}
          {% if not categories and not products %}
          <p>{{ text_empty }}</p>
          <div class="buttons">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
          {% endif %}
          {{ content_bottom }}</main>
        {{ column_right }}</div>
    </div>
</section>
{{ footer }} 
