{{ header }}
<style>
@media (max-width: 768px) {
   .card-product-list .info-aside {
        border-left: none!important;
  }
}
</style>
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}        
        </ol>
    </div>
</section>
<section class="section-content bg-white padding-y">
    <div id="product-search" class="container">
      <div class="row">{{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
    <div id="content" class="{{ class }} acpage">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <label class="control-label" for="input-search">{{ entry_search }}</label>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
        </div>
        <div class="col-sm-3">
          <select name="category_id" class="form-control">
            <option value="0">{{ text_category }}</option>
            {% for category_1 in categories %}
            {% if category_1.category_id == category_id %}
            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
            {% else %}
            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
            {% endif %}
            {% for category_2 in category_1.children %}
            {% if category_2.category_id == category_id %}
            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% else %}
            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% endif %}
            {% for category_3 in category_2.children %}
            {% if category_3.category_id == category_id %}
            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% else %}
            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-3">
          <label class="checkbox-inline">
            {% if sub_category %}
            <input type="checkbox" name="sub_category" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="sub_category" value="1" />
            {% endif %}
            {{ text_sub_category }}</label>
        </div>
      </div>
      <p><br>
        <label class="checkbox-inline">
          {% if description %}
          <input type="checkbox" name="description" value="1" id="description" checked="checked" />
          {% else %}
          <input type="checkbox" name="description" value="1" id="description" />
          {% endif %}
          {{ entry_description }}</label>
      </p>
      <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary pull-right" />
      <br><br><hr>
      {% if products %}
    	<div class="form-inline mb-5">
    	    <div class="form-group input-group mr-md-auto">
    		    <strong><a href="{{ compare }}" id="compare-total" class="btn btn-primary">{{ text_compare }}</a></strong>
    		</div>
            <div class="form-group input-group mr-3">
                <label class="input-group-addon mr-2" for="input-sort">{{ text_sort }}</label>
                <select id="input-sort" class="form-control" onchange="location = this.value;">
                  {% for sorts in sorts %}
                      {% if sorts.value == '%s-%s'|format(sort, order) %}
                          <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                      {% else %}
                          <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                      {% endif %}
                  {% endfor %}
                </select>
            </div>
            <div class="form-group input-group mr-3">
                <label class="input-group-addon mr-2" for="input-limit">{{ text_limit }}</label>
                <select id="input-limit" class="form-control" onchange="location = this.value;">
                  {% for limits in limits %}
                      {% if limits.value == limit %}
                          <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                      {% else %}
                          <option value="{{ limits.href }}">{{ limits.text }}</option>
                      {% endif %}
                  {% endfor %}
                </select>
            </div>
            <div class="d-none d-sm-block">
    			<div class="btn-group">
                    <button type="button" id="list-view" class="btn btn-light" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-bars"></i></button>
                    <button type="button" id="grid-view" class="btn btn-light" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
    			</div>
    		</div>
    	</div>
       <div class="row"> {% for product in products %}
           <div class="product-layout product-list col-md-12">
                <article class="card card-product-list">
                	<div class="row no-gutters">
            	    	<div class="product-thumb col-md-3">
            	    	    <a href="{{ product.href }}" class="img-wrap"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
                        </div>
            	    	<div class="product-description col-md-6">
            			    <div class="info-main">
            					<a href="{{ product.href }}" class="h5 title">{{ product.name }}</a>
                                <ul class="rating-stars mt-1 mb-2">
                                    {% if product.rating %}
            						<li style="width:{{ ((product.rating/5)*100)|round }}%" class="stars-active"> 
                	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/stars-active.svg" alt="{{ product.rating }}" />
            						</li>
                				    {% endif %}
            						<li>
                	    				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/starts-disable.svg" />
            						</li>
                                </ul>
                            	<p class="title">{{ product.description }}</p>
                            </div>
            			</div>
            			<aside class="actions-aside col-md-3">
                			<div class="product-actions info-aside">
                                {% if product.price %}
                				<div class="price-wrap">
                                    <div class="h5 price mt-2">
                                      {% if not product.special %}
                                      {{ product.price }}
                                      {% else %}
                                      <span class="price-new">{{ product.special }}</span> <del class="price-old">{{ product.price }}</del>
                                      {% endif %}
                                      {#{% if product.tax %}#}
                                      {#<p class="text-muted">{{ text_tax }} {{ product.tax }}</p>#}
                                      {#{% endif %}#}
                                    </div>
                				</div>
                                {% endif %}  
                				{#<small class="text-warning">Paid shipping</small>#}

                                <div class="w-100 mt-3">
                                   <button class="btn btn-outline-primary mb-2" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="d-none d-lg-inline">{{ button_cart }}</span></button>
                                   <button class="btn btn-light mb-2" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i> <span class="d-none d-lg-inline">{{ button_wishlist }}</span></button>
                                   <button class="btn btn-light mb-2" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i> <span class="d-none d-lg-inline">{{ button_compare }}</span></button>
                                </div>

                			</div>
                		</aside>
        			</div>
        		</article>
        	</div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>      
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</section>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
  url = 'index.php?route=product/search';

  var search = $('#content input[name=\'search\']').prop('value');

  if (search) {
    url += '&search=' + encodeURIComponent(search);
  }

  var category_id = $('#content select[name=\'category_id\']').prop('value');

  if (category_id > 0) {
    url += '&category_id=' + encodeURIComponent(category_id);
  }

  var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

  if (sub_category) {
    url += '&sub_category=true';
  }

  var filter_description = $('#content input[name=\'description\']:checked').prop('value');

  if (filter_description) {
    url += '&description=true';
  }

  location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
  if (e.keyCode == 13) {
    $('#button-search').trigger('click');
  }
});

$('select[name=\'category_id\']').on('change', function() {
  if (this.value == '0') {
    $('input[name=\'sub_category\']').prop('disabled', true);
  } else {
    $('input[name=\'sub_category\']').prop('disabled', false);
  }
});

$('select[name=\'category_id\']').trigger('change');
--></script>
{{ footer }}