{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <a href="{{ back_to_order }}" class="btn btn-default" data-toggle="tooltip" title="{{ text_back_to_order }}"><i class="fas fa-reply"></i></a>
        {% if is_shipment  ==  1 %}
            <a href="{{ print_label_url }}" data-toggle="tooltip" title="{{ text_print_label }}" class="btn btn-primary" target="_blank"><i class="fas fa-print"></i></a>
            <a href="{{ tracking_url }}" data-toggle="tooltip" title="{{ text_track }}" class="btn btn-info" target="_blank"><i class="fas fa-paper-plane"></i></a>
            <button id="cancel-shipment-order" data-toggle="tooltip" title="{{ text_cancel_sipment }}" class="btn btn-danger"><i class="fas fa-times"></i></button>
        {% endif %}
      </div>
      <h1>{{ i525k_text_create_heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success_html and  success_html is not empty %}
    <div class="alert alert-success alert-dismissible"><i class="fas fa-check"></i> {{ success_html }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if eRRORS and  eRRORS is not empty %}
    <div class="alert alert-danger alert-dismissible">
      <h4 class="alert-heading"><i class="fas fa-exclamation-circle"></i> {{ text_error_heading }}</h4>
        {% for val in eRRORS %}
            <p>{{ val }}</p>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <form enctype="multipart/form-data" action="" method="post" id="525k_shipment" novalidate="novalidate" class="form-horizontal">
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-truck"></i> {{ text_shipment_details }}</h3>
      </div>
      <div class="card-body">
        {% if is_shipment %}
        <p>{{ text_shipping_submitted_message }}</p>
        {% endif %}
        <table class="table table-bordered" id="shipping_form_table_id" {% if is_shipment %} style="display:none;"{% endif %}>
            <tr>
                <td colspan="2"{% if is_shipment  ==  1 %} style="display:none"{% endif %}>
                    <fieldset id="525k_shipment_creation_sender_info">
                        <legend>{{ text_sender_details }}</legend>
                        <table class="table">
                            <tr>
                                <td>{{ text_sender_name }}</td>
                                <td>
                                    <input type="text" value="{{ sendername }}" disabled="disabled" name="sendername" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_email }}</td>
                                <td>
                                    <input type="text" value="{{ sendername }}" disabled="disabled" name="sendermail" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_phone }}</td>
                                <td>
                                    <input type="text" value="{{ senderphone }}" disabled="disabled" name="senderphone" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_address }}</td>
                                <td>
                                    <input type="text" value="{{ senderaddress }}" disabled="disabled" name="senderaddress" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_city }}</td>
                                <td>
                                    <input type="text" value="{{ sendercity }}" disabled="disabled" name="sendercity" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_sender_country }}</td>
                                <td>
                                    <input type="text" value="{{ sendercountry }}" disabled="disabled" name="sendercountry" class="form-control">
                                </td>
                            </tr>                                                                
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset id="525k_shipment_creation_receiver_info">
                        <legend>{{ text_receiver_details }}</legend>
                        <table class="table" id="receiver_details">
                            <tr>
                                <td>{{ text_receiver_name }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_name }}" name="c_name" id="c_name" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_email }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_email }}" name="c_email" id="c_email" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_mobile }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_mobile }}" name="c_mobile" id="c_mobile" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_address }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_streetaddress }}" name="c_streetaddress" id="c_streetaddress" class="form-control">
                                </td>
                            </tr>                                
                            <tr>
                                <td>{{ text_receiver_address2 }}</td>
                                <td><input type="text" value="{{ c_streetaddress2 }}" name="c_streetaddress2" id="c_streetaddress2" class="form-control">
                                </td>
                            </tr> 
                            <tr>
                                <td>{{ text_receiver_city }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_city }}" name="c_city" id="c_city" class="form-control">
                                </td>
                            </tr> 
                            <tr>
                                <td>{{ text_receiver_country }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ c_country }}" name="c_country" id="c_country" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_latitude }}</td>
                                <td><input type="text" value="{{ c_latitude }}" name="c_latitude" id="c_latitude" class="form-control">
                                </td>
                            </tr>      
                            <tr>
                                <td>{{ text_receiver_longitude }}</td>
                                <td><input type="text" value="{{ c_longitude }}" name="c_longitude" id="c_longitude" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_arrival_window_begin }} <span class="text-danger">*</span></td>
                                <td>
                                    <div class="input-group">
                                        <input type="datetime-local" value="{{ c_arrival_window_begin }}" name="c_arrival_window_begin" id="c_arrival_window_begin" class="form-control">
                                        <div class="input-group-append">
                                            <select  class="form-control" name="c_exclude_arrival_window_begin">
                                                <option value="0" {% if c_exclude_arrival_window_begin is empty or c_exclude_arrival_window_begin == 0 %} selected="selected" {% endif %}>{{ text_datetime_include }}</option>
                                                <option value="1" {% if c_exclude_arrival_window_begin is not empty and c_exclude_arrival_window_begin == 1  %} selected="selected" {% endif %}>{{ text_datetime_exclude }}</option>
                                            </select>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_receiver_arrival_window_end }} <span class="text-danger">*</span></td>
                                <td>
                                    <div class="input-group">
                                        <input type="datetime-local" value="{{ c_arrival_window_end }}" name="c_arrival_window_end" id="c_arrival_window_end" class="form-control">
                                        <div class="input-group-append">
                                            <select class="form-control" name="c_exclude_arrival_window_end">
                                                <option value="0" {% if c_exclude_arrival_window_end is empty or c_exclude_arrival_window_end == 0 %} selected="selected" {% endif %}>{{ text_datetime_include }}</option>
                                                <option value="1" {% if c_exclude_arrival_window_end is not empty and c_exclude_arrival_window_end == 1  %} selected="selected" {% endif %}>{{ text_datetime_exclude }}</option>
                                            </select>                                        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_delivery_instructions }} <small class="form-text text-muted">{{ help_delivery_instructions }}</small></td>
                                <td><input type="text" value="{{ c_instructions }}" name="c_instructions" id="c_instructions" class="form-control">
                                </td>
                            </tr>                  
                        </table>
                    </fieldset>
                </td>
                <td>
                    <fieldset id="525k_shipment_creation_pickup_info">
                        <legend>{{ text_pickup_details }}</legend>
                        <table class="table" id="pickup_details">
                            <tr>
                                <td>{{ entry_origin_name }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_name }}" name="p_name" id="p_name" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_origin_email }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_email }}" name="p_email" id="p_email" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_origin_phone }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_mobile }}" name="p_mobile" id="p_mobile" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_origin_address }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_streetaddress }}" name="p_streetaddress" id="p_streetaddress" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_origin_address2 }}</td>
                                <td>
                                    <input type="text" value="{{ p_streetaddress2 }}" name="p_streetaddress2" id="p_streetaddress2" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_origin_city }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_city }}" name="p_city" id="p_city" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_origin_country }} <span class="text-danger">*</span></td>
                                <td><input type="text" value="{{ p_country }}" name="p_country" id="p_country" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_origin_gps_latitude }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_latitude }}" name="p_latitude" id="p_latitude" class="form-control">
                                </td>
                            </tr>
                            <tr id="p_longitude_field">
                                <td>{{ entry_origin_gps_longitude }} <span class="text-danger">*</span></td>
                                <td>
                                    <input type="text" value="{{ p_longitude }}" name="p_longitude" id="p_longitude" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_pickup_arrival_window_begin }} <span class="text-danger">*</span></td>
                                <td>
                                    <div class="input-group">
                                        <input type="datetime-local" value="{{ p_arrival_window_begin }}" name="p_arrival_window_begin" id="p_arrival_window_begin" class="form-control">
                                        <div class="input-group-append">
                                            <select  class="form-control" name="p_exclude_arrival_window_begin">
                                                <option value="0" {% if p_exclude_arrival_window_begin is empty or p_exclude_arrival_window_begin == 0 %} selected="selected" {% endif %}>{{ text_datetime_include }}</option>
                                                <option value="1" {% if p_exclude_arrival_window_begin is not empty and p_exclude_arrival_window_begin == 1  %} selected="selected" {% endif %}>{{ text_datetime_exclude }}</option>
                                            </select>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>{{ text_pickup_arrival_window_end }} <span class="text-danger">*</span></td>
                                <td>
                                    <div class="input-group">
                                        <input type="datetime-local" value="{{ p_arrival_window_end }}" name="p_arrival_window_end" id="p_arrival_window_end" class="form-control">
                                        <div class="input-group-append">
                                            <select class="form-control" name="p_exclude_arrival_window_end">
                                                <option value="0" {% if p_exclude_arrival_window_end is empty or p_exclude_arrival_window_end == 0 %} selected="selected" {% endif %}>{{ text_datetime_include }}</option>
                                                <option value="1" {% if p_exclude_arrival_window_end is not empty and p_exclude_arrival_window_end == 1  %} selected="selected" {% endif %}>{{ text_datetime_exclude }}</option>
                                            </select>                                        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ entry_pickup_instructions }} <small class="form-text text-muted">{{ help_pickup_instructions }}</small></td>
                                <td><input type="text" value="{{ p_instructions }}" name="p_instructions" id="p_instructions" class="form-control">
                                </td>
                            </tr>    
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <fieldset id="525k_shipment_creation_shipment_info">
                        <legend>{{ text_shipment_information }}</legend>
                        <table class="table" width="100%">
                            <tr>
                                <td width="60%"><table class="table" id="shipment_infromation">
                                    <tr>
                                        <td width="60%">{{ entry_ref_id }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_ref_id }}</small></td>
                                        <td>
                                            <input type="text" value="{{ ref_id }}" name="ref_id" id="ref_id" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ entry_load_description }} <small class="form-text text-muted">{{ help_load_description }}</small></td>
                                        <td>
                                            <input type="text" value="{{ load_description }}" name="load_description" id="load_description" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ entry_full_truck }} <small class="form-text text-muted">{{ help_full_truck }}</small></td>
                                        <td>
                                            <select name="full_truck" id="input-full-truck" class="form-control">
                                                {% if full_truck %}
                                                <option value="1" selected="selected">{{ text_yes }}</option>
                                                <option value="0">{{ text_no }}</option>
                                                {% else %}
                                                <option value="1">{{ text_yes }}</option>
                                                <option value="0" selected="selected">{{ text_no }}</option>
                                                {% endif %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table class="table table-bordered" id="shipment_item_infromation">
                                            <tr>
                                                <td>{{ entry_packaging_type }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_packaging_type }}</small></td>
                                                <td>
                                                    <select name="packaging_type" id="input-packaging-type" class="form-control">
                                                        {% for ipackaging_type in packaging_types %}
                                                        {% if ipackaging_type.value == packaging_type %}
                                                        <option value="{{ ipackaging_type.value }}" selected="selected">{{ ipackaging_type.text }}</option>
                                                        {% else %}
                                                        <option value="{{ ipackaging_type.value }}">{{ ipackaging_type.text }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ entry_stackable }}</td>
                                                <td>
                                                    <select name="stackable" id="input-stackable" class="form-control">
                                                        {% if stackable %}
                                                        <option value="1" selected="selected">{{ text_yes }}</option>
                                                        <option value="0">{{ text_no }}</option>
                                                        {% else %}
                                                        <option value="1">{{ text_yes }}</option>
                                                        <option value="0" selected="selected">{{ text_no }}</option>
                                                        {% endif %}
                                                    </select>            
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ entry_dimension }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_dimension }}</small></td>
                                                <td width="60%">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                        <input type="number" name="item_length" value="{{ item_length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                        <input type="number" name="item_width" value="{{ item_width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                        <input type="number" name="item_height" value="{{ item_height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ text_shipment_quantity }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_item_quantity }}</small></td>
                                                <td>
                                                    <input type="number" value="{{ item_quantity }}" name="item_quantity" id="item_quantity" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ text_shipment_weight }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_item_weight }}</small></td>
                                                <td>
                                                    <input type="number" value="{{ item_weight }}" name="item_weight" id="item_weight" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ text_shipment_item_refid }} <small class="form-text text-muted">{{ help_item_refid }}</small></td>
                                                <td>
                                                    <input type="text" value="{{ item_refid }}" name="item_refid" id="item_refid" class="form-control">
                                                </td>
                                            </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ entry_shipment_value_amount }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_shipment_value_amount }}</small></td>
                                        <td>
                                            <input type="number" value="{{ shipment_value_amount }}" name="shipment_value_amount" id="shipment_value_amount" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ entry_shipment_value_currency }} <span class="text-danger">*</span> <small class="form-text text-muted">{{ help_shipment_value_currency }}</small></td>
                                        <td>
                                            <input type="text" value="{{ shipment_value_currency }}" name="shipment_value_currency" id="shipment_value_currency" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ entry_truck_type }} <small class="form-text text-muted">{{ help_truck_type }}</small></td>
                                        <td>
                                            <input type="text" value="{{ truck_type  }}" name="truck_type " id="truck_type " class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ entry_cod_value_amount }} <small class="form-text text-muted">{{ help_cod_value_amount }}</small></td>
                                        <td>
                                            <input type="number" value="{{ cod_value_amount }}" name="cod_value_amount" id="cod_value_amount" class="form-control" {% if not cashondelivery %} readonly="readonly" {% endif %}>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ entry_cod_value_currency }} <small class="form-text text-muted">{{ help_cod_value_currency }}</small></td>
                                        <td>
                                            <input type="text" value="{{ cod_value_currency }}" name="cod_value_currency" id="cod_value_currency" class="form-control" {% if not cashondelivery %} readonly="readonly" {% endif %}>
                                        </td>
                                    </tr>
                                </table></td>
                                <td width="50%" valign="top" style="vertical-align: top;">
                                    <table id="525k_items_table" class="table">
                                        <tr>
                                            <th class="525k_item_name">{{ text_product_item_name }}</th>
                                            <th class="525k_item_qty">{{ text_product_quantity }}</th>
                                        </tr>
                                        {% set qty = 0 %}
                                        {% for op in order_products %}
                                            <tr class="525k_item_tobe_shipped">
                                                <td class="525k_item_name">{{ op.comment }}</td>
                                                <td class="525k_item_qty">{{ op.quantity }}</td>
                                            </tr>
                                            {% set qty = qty + op.quantity %}
                                        {% endfor %}
                                        <tr>
                                            <td style="font-weight: bold;background: none repeat scroll 0% 0% rgb(224, 224, 224);">{{ text_no_of_products_shipped }}</td>
                                            <td><span id="items_tobe_shipped_number">{{ qty }}</span> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" value="{{ reference }}" name="order_id" class="">
                    <div class="form-group checkbox-inline">
                        {% if not is_shipment %}
                            <a class="btn btn-info mr-5" onclick=" $('#525k_shipment').submit();" id="525k_shipment_creation_submit_id">{{ text_button_create_shipment }}</a>
                            <label class="checkbox">
                                <input type="checkbox" value="yes" name="525k_email_customer">
                                <span></span>
                                {{ text_checkbox_notify_customer }}
                            </label>
                        {% else %}
                            <a class="btn btn-info mr-5" onclick=" $('#525k_shipment').submit();" id="525k_shipment_update_submit_id">{{ text_button_resubmit_shipment }}</a>
                        {% endif %}
                    <div>
                </td>
            </tr>
        </table>
      </div>
    </div>
    </form>
   </div>
</div>
{% if is_shipment %}
<div class="modal fade" id="525k-cancel-confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ text_cancel_shipment }}</h4>
            </div>
            <div class="modal-body">
                <h4 id="525k-cancel-confirm-modal-content">
                   {{ text_cancel_confirm_shipment }}
                </h4>
                <p id="525k-cancel-confirm-modal-processing"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
                <button id="525k-cancel-confirm-ok" type="button" class="btn btn-primary">{{ text_ok }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"><!--
$('#cancel-shipment-order').on('click', function() {
    modalConfirm();
});

let refreshPage = function() {
    document.location = document.location;
}
let modalConfirm = function() {
    $('#525k-cancel-confirm-modal').modal('show');
    $('#525k-cancel-confirm-ok').unbind().click(function() {
        $.ajax({
            url: 'index.php?route=extension/shipping/525k/json/cancel&user_token={{ user_token }}&order_id={{ order_id }}',
            dataType: 'json',
            beforeSend: function() {
                $('#cancel-shipment-order').prop('disabled', true);
                $('#525k-cancel-confirm-ok').prop('disabled', true);
                $('#525k-cancel-confirm-modal-processing').text('{{ text_processing }}');
            },
            complete: function() {
                $('#cancel-shipment-order').prop('disabled', false);
                $('#525k-cancel-confirm-ok').prop('disabled', false);
            },
            success: function(json) {
                if(json['response'] != 'Success') {
                    $('#525k-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_cancel_failed }}</span>');
                } else if(json['response'] == 'Success') {
                    $('#525k-cancel-confirm-modal-processing').html('<span class="text-success">{{ text_shipment_cancelled }}</span>');
                    setTimeout(function(){                         
                        $('#525k-cancel-confirm-modal').modal('hide');
                        document.location = 'index.php?route=sale/order/info&user_token={{ user_token }}&order_id={{ order_id }}';
                    }, 2000);
                } else {
                    {# $('#525k-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>'); #}
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                $('#525k-cancel-confirm-modal-processing').html('<span class="text-danger">{{ text_ajax_error_common }}</span>');
            }
        });
    });    
}
//--></script> 
{% endif %}
{{ footer }}