{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-report').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fas fa-filter"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-bar-chart"></i> {{ text_type }}</h3>
      </div>
      <div class="card-body">
        <div class="well">
          <div class="input-group">
            <select name="report" onchange="location = this.value;" class="form-control">
              
              {% for report in reports %}
              {% if code == report.code %}
              
              <option value="{{ report.href }}" selected="selected">{{ report.text }}</option>
              
              {% else %}
              
              <option value="{{ report.href }}">{{ report.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
            <span class="input-group-addon"><i class="fas fa-filter"></i> {{ text_filter }}</span></div>
        </div>
      </div>
    </div>
    <div>{{ report }}</div>
  </div>
</div>
{{ footer }} 