{% if result %}
<p><strong>AWB #{{ awbNo }}</strong></p>
<p><strong>Status :<span style="color:#1e91cf">{{ status }}</span></strong></p>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-hover list">
    <thead>
      <tr>
        <td>Date</td>
        <td>Activity</td>
        <td>Details</td>
        <td>Location</td>
      </tr>
    </thead>
    <tbody>
    {% for track in result %}
    <tr>
      <td class="text-left">{{ track.Date }}</td>
      <td class="text-left">{{ track.Activity }}</td>
      <td class="text-left">{{ track.Details }}</td>
      <td class="text-left">{{ track.Location }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>{{ text_empty }}</p>
{% endif %}
