{{ header }}
{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="pull-right">
        <button onclick="window.print()" class="btn btn-info"><i class="fas fa-print"></i> {{ button_invoice_print }}</button> 
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

<div class="container">
  {% for order in orders %}
		<!-- begin::Card-->
			<div class="card card-custom overflow-hidden">
				<div class="card-body p-0">
					<!-- begin: Invoice-->
					<!-- begin: Invoice header-->
						<div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
							<div class="col-md-9">
								<div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
									  <div>
                      <h1 class="display-4 font-weight-boldest mb-10">{{ text_invoice }} #{{ order.order_id }}</h1>
                      <h6><b>{{ text_date_added }}</b> {{ order.date_added }}</h6> 
                      <h6><b>{{ text_telephone }}</b> {{ order.store_telephone }}</h6>
                      {% if order.store_fax %}
                        </h6><b>{{ text_fax }}</b> {{ order.store_fax }}</h6>
                      {% endif %}
                      <h6><b>{{ text_email }}</b> {{ order.store_email }}</h6>
                    </div>
										<div class="d-flex flex-column align-items-md-end px-0">
										<!--begin::Logo-->
										<div class="text-center mb-5">
                    <img src="{{ store_logo }}" class="mb-2">
                    <h4>{{ order.store_name }}</h4>
                      {% if show_store_tax_number %}
                        {% if store_tax_number %}
                         <h6 class="text-center"> الرقم الضريبي {{ store_tax_number }}</h6>
                        {% endif %}
                      {% endif %}
                      <h6><a href="{{ order.store_url }}">{{ order.store_url }}</a></h6>
                      <h6><span>{{ order.store_address }}</span></h6>
										</div>
										<!--end::Logo-->
								</div>
							</div>
              <h5>{{ text_order_detail }}</h5>
							<div class="border-bottom w-100"></div>
								<div class="d-flex justify-content-between pt-6">
										<div class="d-flex flex-column flex-root">
                       {% if order.invoice_no %}
                         <span class="font-weight-bolder mb-2"><b>{{ text_invoice_no }}</b> {{ order.invoice_no }}</span>
                       {% endif %}
                       <h6><b>{{ text_payment_method }}</b> : {{ order.payment_method }}</h6>
                       <h6><b>{{ text_payment_address }}</b> : {{ order.payment_address }}</h6>
										</div>
										<div class="d-flex flex-column flex-root">
                       {% if order.shipping_method %}
                           <h6><b>{{ text_shipping_method }} : </b> {{ order.shipping_method }}</h6>
                       {% endif %}
                       <h6><b>{{ text_shipping_address }}</b> : {{ order.payment_address }}</h6>
										</div>
												</div>
											</div>
										</div>
										<!-- end: Invoice header-->
										<!-- begin: Invoice body-->
										<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-9">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th class="pl-0 font-weight-bold text-uppercase">{{ column_product }}</th>
																<th class="text-right font-weight-bold text-uppercase">{{ column_model }}</th>
																<th class="text-right font-weight-bold text-uppercase">{{ column_quantity }}</th>
																<th class="text-right pr-0 font-weight-bold text-uppercase">{{ column_price }}</th>
																<th class="text-right pr-0 font-weight-bold text-uppercase">{{ column_total }}</th>
															</tr>
														</thead>
														<tbody>
                              {% for product in order.product %}
															<tr class="font-weight-boldest">
																<td class="pl-0 pt-7">{{ product.name }}{% for option in product.option %}<br />
                                    &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
                                   {% endfor %}</td>
																<td class="text-right pt-7">{{ product.model }}</td>
																<td class="text-right pt-7">{{ product.quantity }}</td>
																<td class="text-danger pr-0 pt-7 text-right">{{ product.price }}</td>
																<td class="text-danger pr-0 pt-7 text-right">{{ product.total }}</td>
															</tr>
                              {% endfor %}
                               {% for voucher in order.voucher %}
                                 <tr>
                                   <td>{{ voucher.description }}</td>
                                   <td></td>
                                   <td class="pt-7">1</td>
                                   <td class="text-danger font-weight-bold pt-7">{{ voucher.amount }}</td>
                                   <td class="text-danger font-weight-bold pt-7">{{ voucher.amount }}</td>
                                  </tr>
                               {% endfor %}
                               {% for total in order.total %}
                                <tr>
                                  <td class="pt-7" colspan="4"><b>{{ total.title }}</b></td>
                                  <td class="text-danger font-weight-bold text-right pr-0 pt-7">{{ total.text }}</td>
                                </tr>
                               {% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- end: Invoice body-->
										<!-- end: Invoice-->
									</div>
								</div>
								<!-- end::Card-->
							</div>
  {% endfor %}
</div>
<script>
$('body').addClass('print-content-only');
$('.chaport-launcher').remove();
</script>
{{ footer }}