<fieldset id="form-smsa-awb">
<legend style="margin-bottom:0px;">{{ tab_waybill }}</legend>
  <table class="table table-bordered">
  <thead>
    <tr>
      <td class="text-left">{{ column_date_added }}</td>
      <td class="text-left">{{ column_reference_number }}</td>
      <td class="text-left">{{ column_awb_number }}</td>
      <td class="text-left">{{ column_shipment_label }}</td>
      <td class="text-left">{{ column_status }}</td>
      <!-- <td class="text-left">{{ column_action }}</td> -->
    </tr>
  </thead>
  <tbody>
  {% if consignment %}  
  {% for result in consignment %}
    <tr>
      <td class="text-left">{{ result.date_added }}</td>
      <td class="text-left">{{ result.reference_number }}</td>
      <td class="text-left">{{ result.awb_number }}</td>
      <td class="text-left">
        {% if result.shipment_label %}
        <a href="{{ result.shipment_label }}" data-toggle="tooltip" data-original-title="View" title="" target="_blank"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;&nbsp;<a href="{{ result.shipment_label }}" title="" download data-original-title="Download" data-toggle="tooltip"><i class="fa fa-download"></i></a>
        {% endif %}
      </td>
      <td class="text-left"><a class="agree btn-link" href="{{ result.track }}" data-toggle="tooltip" title="" class="btn btn-link">{{ result.status }}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if awb_btn %}
    <tr>
      <td colspan="1" class="text-right"><input id="smsa-weight" name="weight" value="" placeholder="Enter Weight in kg (Default 1 Kg)" class="form-control" type="number" min="0.1" step="0.1"></td>
      <td colspan="2" class="text-right"><input id="smsa-shipping_city" name="shipping_city" value="" placeholder="Enter shipping city in english, if not supported" class="form-control" type="text"></td>
      <td colspan="2" class="text-left"><button type="button" id="button-smsa-awb" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-truck"></i> {{ button_awb }}</button></td>
    </tr>
    {% else %}
    <tr>
      <td colspan="5" class="text-center">
        <div class="input-group col-sm-9">
          <input id="smsa-reason" name="reason" value="Order incomplete" placeholder="Reason required" class="form-control" type="text">
          <span class="input-group-btn">
            <button type="button" id="button-smsa-cancel" onclick="cancelShipment('{{ awb_number }}');" data-loading-text="{{ text_loading }}" class="btn btn-danger">{{ button_cancel }} <i class="fa fa-reply"></i></button>
          </span>
        </div>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
</fieldset>
<br>
<script type="text/javascript">
function cancelShipment(awb_number){
  $.ajax({
    url: 'index.php?route=sale/smsa/cancelShipment&user_token={{ user_token }}&order_id={{ order_id }}',
    type: 'post',
    dataType: 'json',
    data: {awb_number : awb_number, reason : $('#smsa-reason').val()},
    beforeSend: function() {
      $('#btn'+awb_number).button('loading');
    },
    complete: function() {
      $('#btn'+awb_number).button('reset');
    },
    success: function(json) {
      $('.text-success, .text-danger').remove();
      if (json['error']) {
        $("#form-smsa-awb legend").after('<div class="text-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $("#form-smsa-awb legend").after('<div class="text-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
        $('#smsa').load('index.php?route=sale/smsa&user_token={{ user_token }}&order_id={{ order_id }}');
      }
    }
  });
}
</script>
<script type="text/javascript">
 $('#button-smsa-awb').on('click', function() { 

  $.ajax({
    url: 'index.php?route=sale/smsa/addShip&user_token={{ user_token }}&order_id={{ order_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-smsa-awb").serialize(),
    beforeSend: function() {
      $('#button-smsa-awb').button('loading');
    },
    complete: function() {
      $('#button-smsa-awb').button('reset');
    },
    success: function(json) {
      $('.text-success, .text-danger').remove();
      if (json['error']) {
        $("#form-smsa-awb legend").after('<div class="text-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }
      if (json['success']) {
        $("#form-smsa-awb legend").after('<div class="text-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
        $('#smsa').load('index.php?route=sale/smsa&user_token={{ user_token }}&order_id={{ order_id }}');
      }
    }
  });
});
</script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});

$('.time').datetimepicker({
  pickDate: false
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});
/* Agree to Terms */
$(document).delegate('.agree', 'click', function(e) {
  e.preventDefault();

  $('#modal-agree').remove();

  var element = this;

  $.ajax({
    url: $(element).attr('href'),
    type: 'get',
    dataType: 'html',
    success: function(data) {
      html  = '<div id="modal-agree" class="modal">';
      html += '  <div class="modal-dialog">';
      html += '    <div class="modal-content">';
      html += '      <div class="modal-header">';
      html += '        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>';
      html += '        <h4 class="modal-title">SMSA Express Live Status</h4>';
      html += '      </div>';
      html += '      <div class="modal-body">' + data + '</div>';
      html += '      <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>';
      html += '    </div';
      html += '  </div>';
      html += '</div>';

      $('body').append(html);

      $('#modal-agree').modal('show');
    }
  });
});
//--></script>
