{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="subheader py-2 py-lg-6 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <h1><i class="fas fa-shopping-cart fa-1x text-dark"></i> {{ heading_title }}</h1>
      <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <!-- Start -->
    <div class="card card-custom gutter-b">
      <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label font-weight-bolder text-dark"><i class="fas fa-shopping-cart"></i>{{ heading_title }}</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm"> {{ results }} </span>
        </h3>
        <div class="card-toolbar">
          <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-light-primary m-1"><i class="fas fa-plus"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#_cf').toggle();" class="btn btn-light-info hidden-md hidden-lg m-1"><i class="fas fa-filter"></i></button>
        </div>
      </div>
      <div class="card-body py-0">
        <div class="bg-light-info border-info rounded shadow" id="_cf" style="display:none">
          <div class="card-body">
            <h3 class="card-title"><i class="fas fa-filter"></i> {{ button_filter }}</h3>
            <div class="row">
              <div class="col-md">
          <div class="form-group">
            <label class="control-label" for="input-order-id">{{ entry_order_id }}</label>
            <input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control" />
          </div>
              </div>
              <div class="col-md"> 
          <div class="form-group">
            <label class="control-label" for="input-customer">{{ entry_customer }}</label>
            <input type="text" name="filter_customer" value="{{ filter_customer }}" placeholder="{{ entry_customer }}" id="input-customer" class="form-control" />
          </div>
              </div>
              <div class="col-md">
          <div class="form-group">
            <label class="control-label" for="input-total">{{ entry_total }}</label>
            <input type="text" name="filter_total" value="{{ filter_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
          </div>
              </div>
              <div class="col-md">
          <div class="form-group">
            <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
            <div class="input-group date">
              <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fas fa-calendar"></i></button>
              </span> </div>
          </div>
              </div>
              <div class="col-md">
          <div class="form-group">
            <label class="control-label" for="input-date-modified">{{ entry_date_modified }}</label>
            <div class="input-group date">
              <input type="text" name="filter_date_modified" value="{{ filter_date_modified }}" placeholder="{{ entry_date_modified }}" data-date-format="YYYY-MM-DD" id="input-date-modified" class="form-control" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fas fa-calendar"></i></button>
              </span> </div>
          </div>
              </div>
              <div class="col-md">
                <div class="form-group">
            <label class="control-label" for="input-order-status">{{ entry_order_status }}</label>
            <select name="filter_order_status_id" id="input-order-status" class="form-control">
              <option value=""></option>
              {% if filter_order_status_id == '0' %}
              <option value="0" selected="selected">{{ text_missing }}</option>
              {% else %}
              <option value="0">{{ text_missing }}</option>
              {% endif %}
              {% for order_status in order_statuses %}
              {% if order_status.order_status_id == filter_order_status_id %}
              <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
              {% else %}
              <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-outline-info"><i class="fas fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <br>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-head-custom table-vertical-center table-hover">
              <thead>
              <tr>
                <td style="width: 1px;" class="text-center">
                  <label class="checkbox checkbox-lg checkbox-inline">
                    <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                    <span></span>
                  </label>
                </td>
                    <td class="text-center">{% if sort == 'o.order_id' %} <a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_order_id }}</a> {% else %} <a href="{{ sort_order }}">{{ column_order_id }}</a> {% endif %}</td>
                    <td class="text-center">{% if sort == 'customer' %} <a href="{{ sort_customer }}" class="{{ order|lower }}">{{ column_customer }}</a> {% else %} <a href="{{ sort_customer }}">{{ column_customer }}</a> {% endif %}</td>
                    <td class="text-center">{% if sort == 'order_status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                    <td class="text-center">{% if sort == 'o.total' %} <a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a> {% else %} <a href="{{ sort_total }}">{{ column_total }}</a> {% endif %}</td>
                    <td class="text-center">{% if sort == 'o.date_added' %} <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a> {% else %} <a href="{{ sort_date_added }}">{{ column_date_added }}</a> {% endif %}</td>
                    <td class="text-center">{% if sort == 'o.date_modified' %} <a href="{{ sort_date_modified }}" class="{{ order|lower }}">{{ column_date_modified }}</a> {% else %} <a href="{{ sort_date_modified }}">{{ column_date_modified }}</a> {% endif %}</td>
                    <td class="text-center text-dark">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody>
              {% if orders %}
                {% for order in orders %}
                  <tr>
                    <td class="text-center">
                      {% if order.order_id in selected 