  <div id="carousel{{ module }}" class="owl-carousel owl-theme">
    {% for banner in banners %}
      <div class="text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" class="img-responsive" width="100%"/></a>{% else %}<img src="{{ banner.image }}" class="img-responsive" width="100%"/>{% endif %}</div>
      {% endfor %}
  </div>
<script type="text/javascript">
    $(document).ready(function() {
    $("#carousel{{ module }}").owlCarousel({
    itemsCustom : [[0, 2],[600, 4],[992, 6],[1200, 7]],
        autoPlay: 3000,navigation:false,pagination:false
    });
    });
</script>