<section class="mt-4 mb-4">
    <div class="container">
        <div class="p-3 bg-white shadow-sm rounded">
            <div class="d-flex mb-3 align-items-baseline border-bottom">
                <h3 class="h5 fw-700 mb-0">
                    <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">{{ heading_title }}</span>
                </h3>
            </div>
            <div class="_xOwB slider-items-owl owl-carousel owl-theme">
                {% for product in products %}
                    <div class="item-slide">
                        <div class="product-layout col-xl-12">
                            <div class="card card-product-grid " style="border: none!important;">
                                <a href="{{ product.href }}" class="img-wrap">
                                    {% if product.special %}
                                        <span class="badge badge-danger">-{{ product.discount_rate }}%</span>
                                    {% endif %}
                                    <img data-original="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" {{ lazy_load_width_height }} class="lazy-load" />
                                </a>
                                <figcaption class="info-wrap text-center">
                                    <div><a href="{{ product.href }}" class="small text-dark text-truncate">{{ product.name }}</a></div>
                                    <ul class="rating-stars mt-1">
                                        {% if product.rating %}
                                            <li style="width:{{ ((product.rating/5)*100)|round }}%" class="stars-active">
                                                <img src="https://files.lnasa.space/view/theme/theme-1/image/icons/stars-active.svg" alt="{{ product.rating }}" />
                                            </li>
                                        {% endif %}
                                        <li><img src="https://files.lnasa.space/view/theme/theme-1/image/icons/starts-disable.svg" /></li>
                                    </ul>
                                    {% if product.price %}
                                        <div class="price mt-2">
                                            {% if not product.special %}
                                                {{ product.price }}
                                            {% else %}
                                                <span class="price-new">{{ product.special }}</span> <del class="price-old">{{ product.price }}</del>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </figcaption>
                                <div class="text-muted mb-3">
                                    <div class="button-group pull-right w-100 text-center">
                                        <button class="btn btn-light" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="d-none d-lg-inline">{{ button_cart }}</span></button>
                                        <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                                        <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fas fa-exchange-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>