<div class="offerbanner m-3">
	<div class="row">
			{% for banner in banners %}
				<div class="col-sm-12">
				<div class=" beffect">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive w-100"/>
				  	</a>
				  {% else %}
				  	<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive w-100" />{% endif %}
				</div>
		    </div>
			  {% endfor %}
	</div>
</div>