<article class="filter-group d-none d-sm-block">
<h6 class="title">
	<a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#onsale-left">{{ heading_title }}</a>
</h6>
<div class="filter-content collapse show" id="onsale-left">

{% set temp = 0 %}
{% set setCol = 4 %}
<div id="saleleft" class="owl-carousel owl-theme mt-4">

    {% for product in products %}
        {% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
<!-- writ code Here -->

        <div class="product-layout col-xs-12">
        	<div class="card card-product-grid m-3" style="border: none!important;">
                <a href="{{ product.href }}" class="img-wrap"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
            	<figcaption class="info-wrap">
            		<div>
            			<a href="{{ product.href }}" class="text-muted">{{ product.name }}</a>
                    	{#<p class="title">{{ product.description }}</p>#}
            		</div>
                    <ul class="rating-stars mt-1">
                        {% if product.rating %}
            			<li style="width:{{ ((product.rating/5)*100)|round }}%" class="stars-active"> 
            				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/stars-active.svg" alt="{{ product.rating }}" />
            			</li>
            		    {% endif %}
            			<li>
            				<img src="https://files.lnasa.space/view/theme/theme-1/image/icons/starts-disable.svg" />
            			</li>
                    </ul>
                    {% if product.price %}
                    <div class="price mt-2">
                      {% if not product.special %}
                      {{ product.price }}
                      {% else %}
                      <span class="price-new">{{ product.special }}</span> <del class="price-old">{{ product.price }}</del>
                      {% endif %}
                      {#{% if product.tax %}#}
                      {#<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>#}
                      {#{% endif %}#}
                    </div>
                    {% endif %}    
            	</figcaption>
                <div class="text-muted mb-3">
                    <div class="button-group pull-right w-100 text-center">
                       <button class="btn btn-light" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i></button>
                       <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                       <button class="btn btn-light" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                    </div>
                </div>
            </div>
        
        </div>
    
<!-- writ code Here End -->

        {% if temp % setCol == 0 %}
            </div>
        {% endif %}

    {% endfor %}

    {% if products|length % setCol != 0 %}
        </div>
    {% endif %}
</div>

</div>
</article>

<script type="text/javascript">
    $(document).ready(function() {
    $("#saleleft").owlCarousel({
    itemsCustom : [
    [0, 1],
    [600, 2],
    [768, 1]
    ],
       autoPlay: 4000,
    //   navigationText: ['<', '>'],
      navigation : false,
      pagination:false
    });
    });
</script>