<div class="card card-default">
  <div class="card-body" style="text-align: right;"> <span id="pp_login_container"></span>
    <script src="https://www.paypalobjects.com/js/external/api.js"></script>
    <script>
paypal.use(['login'], function(login) {
	login.render ({
		'appid': '{{ client_id }}',
		'authend': '{{ sandbox }}',
		'scopes': '{{ scopes }}',
		'containerid': 'pp_login_container',
		'locale': '{{ locale }}',
		'theme': '{{ button_colour }}',
		'returnurl': '{{ return_url }}'
	});
});
    </script>
  </div>
</div>
