<div class="container">
  <div class="row">
    {% for banner in banners %}
      <div class="col-sm-4 col-md-4 col-xs-12">
        <div>
          {% if banner.link %}
            <a href="{{ banner.link }}">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" width="100%" />
            </a>
          {% else %}
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" width="100%"/>{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>