<div id="carousel_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% set carousel_slide_index = 0 %}
    {% for banner in banners %}
    <li data-target="#carousel_indicator" data-slide-to="{{ carousel_slide_index }}" {% if carousel_slide_index == 0 %}class="active"{% endif %}></li>
    {% set carousel_slide_index = carousel_slide_index + 1 %}
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% set is_first_slide = true %}
    {% for banner in banners %}
        <div class="carousel-item{% if is_first_slide %} active{% set is_first_slide = false %}{% endif %}">
            {% if banner.link %}
                <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}"></a>
            {% else %}
                <img src="{{ banner.image }}" alt="{{ banner.title }}">
            {% endif %}
        </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel_indicator" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel_indicator" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>