<div class="card card-default">
  <div class="card-header">
      <h4 class="card-title">{{ heading_title }}</h4>
  </div>
  <div class="card-body">
      <p style="text-align: center;">{{ text_store }}</p>
      {% for store in stores %}
      {% if store.store_id == store_id %}<a href="{{ store.url }}"><b>{{ store.name }}</b></a><br />
      {% else %}<a href="{{ store.url }}">{{ store.name }}</a><br />
      {% endif %}
      {% endfor %}
  </div>
</div>
